<div id="footer">
    <footer class="helvetica-bold footer-color" style="background-image:url('images/travel-icons.png');">
        <div style="height: auto;background-color:rgba(0,0,0,0.77);">
            <div class="row-condensed page-container-responsive ">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 hidden-xs"></div>

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 hidden-xs margin-top-10 margin-bottom-5">
                    <h2 class="h5">Company</h2>
                    <ul class="list-layout" style="font-family:helvetica-regular;" >
                        <li><a href='main.html#/nav/about-us' class="link-contrast"  >About</a></li>
                        <li><a ui-sref="press" class="link-contrast" style="font-family:helvetica-regular;" >Press</a></li>
                        <li><a ui-sref="help" class="link-contrast">Help</a></li>
                        <li><a ui-sref="policies" class="link-contrast">Policies</a></li>
                        <li><a ui-sref="terms" class="link-contrast">Terms &amp; Privacy</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 hidden-xs margin-top-10 margin-bottom-5">
                    <h2 class="h5"style="padding-bottom:24px;" >About</h2>
                    <ul class="list-layout">
                        <li><a ui-sref="careers" class="link-contrast">Careers</a></li>
                        <li><a ui-sref="blog" class="link-contrast">Blog</a></li>
                        <li><a ui-sref="disclaimer" class="link-contrast">Disclaimer</a></li>
                        <li><a ui-sref="promises" class="link-contrast">Our Promises</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 hidden-xs margin-top-10 margin-bottom-5">
                    <h2 class="h5"style="padding-bottom:24px;" >Subleasing</h2>
                    <ul class="list-layout">
                        <li><a ui-sref="why-sublease" class="link-contrast">Why Subleasing</a></li>
                        <li><a ui-sref="responsible" class="link-contrast">Resposible Subleasing</a></li>
                        <li><a ui-sref="home-safety" class="link-contrast">Home Safety</a></li>
                        <li><a ui-sref="instant-book" class="link-contrast">Instant Book</a></li>
                    </ul>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
            </div>

            <hr class="footer-divider space-top-8 space-4">
            <div class="text-center padding-bottom-10 margin-top-5">
                <center>
                    <ul class="list-layout list-inline" itemscope="" itemtype="">
                        <link itemprop="url" href="">
                        <meta itemprop="logo" content="">
                        <li>
                            <a href="#" class="link-contrast footer-icon-container circular-image link-contrast-background" itemprop="sameAs" target="_blank">
                                <span class="screen-reader-only">Facebook</span>
                                <h4><i class="fa fa-facebook white" aria-hidden="true"></i></h4>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="link-contrast footer-icon-container circular-image link-contrast-background" itemprop="sameAs" target="_blank">
                                <span class="screen-reader-only">Google+</span>
                                <h4><i class="fa fa-google-plus white" aria-hidden="true"></i></h4>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="link-contrast footer-icon-container circular-image link-contrast-background" itemprop="sameAs" target="_blank">
                                <span class="screen-reader-only">Instagram</span>
                                <h4><i class="fa fa-instagram white" aria-hidden="true"></i></h4>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="link-contrast footer-icon-container circular-image link-contrast-background" itemprop="sameAs" target="_blank">
                                <span class="screen-reader-only">Pinterest</span>
                                <h4><i class="fa fa-pinterest-p white" aria-hidden="true"></i></h4>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="link-contrast footer-icon-container circular-image link-contrast-background" itemprop="sameAs" target="_blank">
                                <span class="screen-reader-only">Twitter</span>
                                <h4><i class="fa fa-twitter white" aria-hidden="true"></i></h4>
                            </a>
                        </li>
                    </ul>
                </center>
            </div>
        </div>
    </footer>
</div>
