<nav class="navbar-default-header nav-default navbar-static-top" style="margin-top: -11px;">
        <div class="navbar-header">
          <a class="navbar-brand " style=" height:113px;margin-left:18px;" href="index.html"><img src="images/logo0.png" style= "margin-top:7px; " alt="logo"></a>
        </div>
                

        <div id="navbar" class="navbar-collapse collapse" style="background-color:rgba(241, 241, 241,1);">
<!--
        <span  ng-controller="searchPlacesCtrl">
            
             <div class="input-group">
    
                 <span class="glyphicon glyphicon-search"></span>
                 
                 <input type="text" class="navbar-brand customize-input  form-control" id ="my_address" name="my_address"/>

                <span><i style="left:99px;"  ng-click="University()"></i></span>
                 
             </div>
             
            </span>
-->
            
            
            
            <ul class="nav navbar-nav pull-right" style="margin-right:20px;">
            <li id="hh">
<!--
              <button class="header-btn-transparent nav-color border-grey header-btn margin-top-20 navbar-brand" style="border-radius:7px"> 
                Sublease Your Place
              </button>
-->
            </li>
<!--            <div class="vertical-rule"></div>-->
            <li class="margin-top-20 text-center dropdown">

              <div class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

                <i class="fa fa-commenting-o icons margin-bottom-10" aria-hidden="true" style="margin-right:48px; padding-right:15px;margin-top:-5px; font-size:47px; padding-bottom:5px;" ></i><br>
                <b class="helvetica-bold" style="margin-left: -63px;" >Message</b>

              </div>

              <ul class="dropdown-menu message-dropdown text-center">
                <li class="margin-top-10">
                  <div class="container-fluid">
                    <div class="clearfix">
                      <div class="col-md-6 col-sm-6 col-xs-6">
                        <span class="pull-left width-full">Message (1)</span>
                      </div>

                      <div class="col-md-6 col-sm-6 col-xs-6" ui-sref='inbox'>
                        <span class="pull-right">View Inbox</span>
                      </div>
                    </div>
                  </div>
                </li>
                <hr>
                <li class="margin-top-10 margin-bottom-10">
                  <div class="container-fluid" ng-controller="notifies"  ng-click="notification()">
                    <div class="row">
                      <div class="col-md-6 col-sm-6 col-xs-6">
                        <span class="pull-left">Notification (1)</span>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-6">
                        <span class="pull-right">View Dashboard</span>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
<!--            <div class="vertical-rule"></div>-->
            <li class="margin-top-20 text-center" ui-sref="help" ui-sref='help.head' style="margin-right:24px; padding-right:15px;" ><i class="fa fa-life-ring icons margin-bottom-10" aria-hidden="true" style="font-size:47px;"></i><br><b class="helvetica-bold">Help</b></li>
<!--            <div class="vertical-rule"></div>-->
            <li class="margin-top-20 text-center"><i class="fa fa-exclamation-triangle icons margin-bottom-10" aria-hidden="true" style="margin-right:36px;margin-top:1px; font-size:47px;"></i><br><b class="helvetica-bold" style="margin-right: 31px; padding-right:15px; " >Disclaimer</b></li>
<!--            <div class="vertical-rule"></div>-->
            <li class="margin-top-5 text-center dropdown">
              <div class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="margin-top:12px;margin-right:-12px; ">
                <img class="profile-image circular-image" src="images/Woman Reading Study Plan.jpg"  style="margin-bottom:9px;">
                  <b class="helvetica-bold">Name</b>
              </div>
                  <ul class="dropdown-menu name-dropdown text-center">
                    <li class="margin-top-10"><a ui-sref="profile.edit">Edit Profile</a></li>
                    <li class="margin-top-10"><a ui-sref="wishlist">Wish Lists</a></li>
                    <li class="margin-top-10"><a href="#">Account Settings</a></li>
                    <li class="margin-top-10"><a href="/users/logout">Log Out</a></li>
                  </ul>
            </li>
          </ul>
      </div>
    </nav>
