<div class="navbar-wrapper static-header navbar-customized">
        <nav class="navbar navbar-static-top margin-bottom-0">
          
            <div class="navbar-header">
              <a class="navbar-brand side-panel margin-top-30 margin-left-30 margin-right-10" href="index.html">LOGO HERE</a>
            </div>
             <div class="vertical-rule"></div>
            <div class="search">
              <i class="fa fa-search left-195"></i>
<!--              <input type="text" class="form-control"	id ="my_address" name="my_address">-->
            </div>
            <div id="navbar" class="pull-right navbar-collapse collapse padding-top-20">
              <ul class="nav navbar-nav padding-header">
                 <li>
                  <button class="header-btn-transparent header-btn navbar-brand sublease-place-color">
                    Sublease Your Place
                  </button>
                </li>
                 <li class="header-menu dropdown">
                  <a href="#" class="dropdown-toggle no-bg" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Help</a>
                  <ul class="dropdown-menu help-dropdown">
                    <li class="search"><i class="fa fa-search help-search"></i><input type="text" name="" placeholder="How can we help you?" class="width-full no-border padding-10 grey-color"></li>
                    <li class="background-grey padding-10 margin-bottom-10">Suggested Articles</li>
                    <li><a href="#"><i class="fa fa-file-text-o margin-right-10" aria-hidden="true"></i>Getting started guide<hr class="help-hr"></a></li>
                    <li><a href="#"><i class="fa fa-file-text-o margin-right-10" aria-hidden="true"></i>Can I change a reservation as a host?<hr class="help-hr"></a></li>
                    <li><a href="#"><i class="fa fa-file-text-o margin-right-10" aria-hidden="true"></i>How is the price determined for my reservation?<hr class="help-hr"></a></li>
                    <li><a href="#"><i class="fa fa-file-text-o margin-right-10" aria-hidden="true"></i>How does Sublease U process payments?<hr class="help-hr"></a></li>
                    <li role="separator" class="divider margin-top-20"></li>
                    <li class="dropdown-header"> <a ui-sref="help.head">Help Center</a></li>
                  </ul>
                </li>
                <li class="header-menu"><a ui-sref="disclaimer">Disclaimer</a></li>
                <li class="header-menu" id="signUpBtn" ui-sref='signup'><a href="#contact">Sign Up</a></li>
                <li class="header-menu" id="logInBtn" ui-sref='signin'><a href="#contact">Log In</a></li>
              </ul>
            </div>
         
        </nav>
    </div>