<div class="navbar-wrapper transparent-header navbar-customized" style="position: initial;">
    <nav class="navbar navbar-static-top">
        <div class="navbar-header">
            <!-- <a class="navbar-brand" href="#" style="margin-top:-15px; margin-left:-106px;"><img src="images/logo0.png" alt="logo"></a>   -->
            <!-- <div class="icon icon-logo0"></div> -->
            <a class="navbar-brand" style="height:113px;margin-left:18px;" href="#"><img src="images/logo_new.png" style="height: 100px;" alt="logo"></a>
        </div>
        <div id="navbar" class="pull-right navbar-collapse collapse">
            <ul class="nav navbar-nav padding-header" style="margin-top:20px;">
                <li class="header-menu" id="hh">
                    <button class="heaer-btn margin-top-5 header-btn-transparent border-grey nav-color navbar-brand header-grey Dual-300" style="border-radius:6px; ">
                        Sublease Your Place
                    </button>
                </li>
                <li class="header-menu dropdown margin-top-5">
                    <a href="#" class="dropdown-toggle no-bg" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="font-family:jsef;">Help</a>
                    <ul class="dropdown-menu help-dropdown" style="max-height:411px;">
                        <li class="search"><i class="fa fa-search help-search"></i>
                            <input type="text" name="" placeholder="How can we help you?" class="width-full no-border padding-10 grey-color">
                        </li>
                        <li class="background-grey padding-10 margin-bottom-10" style="font-family:jsef;">Suggested Articles</li>
                        <li><a href="#"><i class="fa fa-file-text-o margin-right-10" aria-hidden="true"></i>Getting started guide<hr class="help-hr"></a></li>
                        <li><a href="#"><i class="fa fa-file-text-o margin-right-10" aria-hidden="true"></i>Can I change a reservation as a host?<hr class="help-hr"></a></li>
                        <li><a href="#"><i class="fa fa-file-text-o margin-right-10" aria-hidden="true"></i>How is the price determined for my reservation?<hr class="help-hr"></a></li>
                        <li><a href="#"><i class="fa fa-file-text-o margin-right-10" aria-hidden="true"></i>How does Sublease U process payments?<hr class="help-hr"></a></li>
                        <li role="separator" class="divider margin-top-20"></li>
                        <li class="dropdown-header"> <a href="help.html#/help/help-center">Help Center</a></li>
                    </ul>
                </li>
                <li class="header-menu margin-top-5 "><a ui-sref="about" style="font-family:jsef;">Disclaimer</a></li>
                <li class="header-menu margin-top-5 " id="signUpBtn"><a onclick="btn1()" style="font-family:jsef;margin-top:2px;">Sign Up</a></li>
                <li class="header-menu margin-top-5 " id="logInBtn"><a onclick="btn2()" style="font-family:jsef;margin-top:2px;">Log In</a></li>
            </ul>
        </div>
    </nav>
</div>
