doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='bootstrap/docs/favicon.ico')
    title Sublease U
    // Bootstrap core CSS
    link(href='bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    // Font Awesome CSS
    link(rel='stylesheet', href='font-awesome/css/font-awesome.min.css')
    // IE10 viewport hack for Surface/desktop Windows 8 bug
    link(href='bootstrap/docs/assets/css/ie10-viewport-bug-workaround.css', rel='stylesheet')
    // Just for debugging purposes. Don't actually copy these 2 lines!
    //if lt IE 9
      script(src='../../assets/js/ie8-responsive-file-warning.js')
    script(src='bootstrap/docs/assets/js/ie-emulation-modes-warning.js')
    // Custom styles for this template
    link(rel='stylesheet', href='css/styles.css')
  body
    .navbar-wrapper.transparent-header.navbar-customized
      nav.navbar.navbar-static-top
        .navbar-header
          a.navbar-brand.side-panel.margin-top-20.margin-left-30(href='#') LOGO HERE
        #navbar.pull-right.navbar-collapse.collapse
          ul.nav.navbar-nav.padding-header
            li.active.header-menu
              a(href='#') Help
            li.header-menu
              a(href='#about') Disclaimer
            li#signUpBtn.header-menu
              a(href='#contact') Sign Up
            li#logInBtn.header-menu
              a(href='#contact') Log In
    .row
      .col-md-6.width-half
        .half-opaque
          h4 Find a current lease at any university in the USA.
          .row.form-group
            label(for='sel1') Select a University:
            select#sel1.form-control
              option A
              option B
              option C
              option D
          .row.form-group
            .col-md-6
              label(for='sel1') Seeking a roommate:
              select#sel1.form-control
                option A
                option B
                option C
                option D
            .col-md-6
              label(for='sel1') No. of roommates:
              select#sel1.form-control
                option A
                option B
                option C
                option D
          .row.form-group
            .col-md-6
              label(for='sel1') Property Type:
              select#sel1.form-control
                option A
                option B
                option C
                option D
            .col-md-6
              label(for='sel1') Amenities:
              select#sel1.form-control
                option A
                option B
                option C
                option D
          .row.form-group
            .col-md-6
              label(for='sel1') Start Date:
              select#sel1.form-control
                option A
                option B
                option C
                option D
            .col-md-6
              label(for='sel1') End Date:
              select#sel1.form-control
                option A
                option B
                option C
                option D
          button.btn.green-button-bg
            | SEARCH
      .col-md-6
        .no-opaque
          h1 FIND A CURRENT LEASE
          button.header-btn.margin-top-20.sublease-box.header-btn-transparent.grey-color.border-grey.navbar-brand
            | Sublease Your Place
    //
      Carousel
      ==================================================
    #myCarousel.carousel.slide(data-ride='carousel')
      // Indicators
      ol.carousel-indicators
        li.active(data-target='#myCarousel', data-slide-to='0')
        li(data-target='#myCarousel', data-slide-to='1')
        li(data-target='#myCarousel', data-slide-to='2')
        li(data-target='#myCarousel', data-slide-to='3')
      .carousel-inner(role='listbox')
        .item.active.img-bg
          img.first-slide.opaque-carousel(src='images/Party_Chefit.jpg', alt='First slide')
        .item.img-bg
          img.second-slide.opaque-carousel(src='images/lifestyle_party.jpg', alt='Second slide')
        .item.img-bg
          img.third-slide.opaque-carousel(src='images/Student-traveller.jpg', alt='Third slide')
        .item.img-bg
          img.fourth-slide.opaque-carousel(src='images/Group-Of-Friends-Having-Dinner-Party-At-Home.jpg', alt='Fourth slide')
      a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
        span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
        span.sr-only Previous
      a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
        span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
        span.sr-only Next
    // /.carousel
    //
      Marketing messaging and featurettes
      ==================================================
    // Wrap the rest of the page in another container to center all the content.
    .text-center
      h2 Explore the World
      p See where people are travelling, all around the world.
    // /.row
    .row
      .col-md-4.padding-10
        img(src='images/49.East-Lansing-Michigan-College-Towns.jpg')
      .col-md-4.padding-10
        img.margin-10(src='images/48.Tuscaloosa-Alabama-College-Towns.jpg')
      .col-md-4.padding-10
        img.margin-10(src='images/47.Flagstaff-Arizona-College-Towns.jpg')
    // START THE FEATURETTES
    .row
      .col-md-6
        .pull-right
          img.block-image.width-70.first-img(alt='500x500', src='images/friends-at-home1.jpg', data-holder-rendered='true')
      .col-md-5.pull-right
        .block-padding.first-block.width-full.text-center
          h2.blue Sublease U for Travel
          p.lead
            | Across an ocean or across town, Garry & Lianne are always in search of local experiences
    .row
      .col-md-5.pull-left.no-padding
        .block-padding.second-block.width-full.text-center
          h2.orange Sublease U for Business
          p.lead
            | Feel at home, wherever your work takes you.
            br
            | Get your  team in Sublease U.
      .col-md-6.no-padding
        .pull-left
          img.block-image.width-70.second-img(src='images/landscape-1465999860-womansittingonsofa.jpg', data-holder-rendered='true')
    .row
      .col-md-6.no-padding
        .third-img
          img.width-full.img-responsive.center-block(src='images/4.JPG', data-holder-rendered='true')
      .col-md-6.no-padding
        .block-padding.third-block.text-center.width-full
          h2.white Subleasing opens a world of opportunity
          p.lead.white Earn money sharing your extra space with travelers
          button.header-btn.grey-color.bottom-text
            | See What You Can Earn
    // /END THE FEATURETTES
    .text-center.overflow-hide
      h2 BELONG ANYWHERE
      p See how Sublease U subleasors create a sense of belonging around the world
    .overflow-hide.padding-10
      img(src='images/GettyImages-457207785-570eedb73df78c7d9e5b5d01.jpg')
    // FOOTER
    #footer.container-brand-dark.footer-surround.footer-container
      footer.page-container-responsive
        .row-condensed
          .col-md-1
          .col-md-3.col-md-offset-1.hide-sm
            h2.h5 Company
            ul.list-layout
              li
                a.link-contrast(href='/about/about-us') About
              li
                a.link-contrast(href='/careers') Careers
              li
                a.link-contrast(href='/press/news') Press
              li
                a.link-contrast(href='http://blog.airbnb.com') Blog
              li
                a.link-contrast(href='/help?from=footer') Help
              li
                a.link-contrast(href='/policies') Policies
              li
                a.link-contrast(href='/disaster-response') Disaster Response
              li
                a.link-contrast(href='/terms') Terms & Privacy
          .col-md-3.hide-sm
            h2.h5 Discover
            ul.list-layout
              li
                a.link-contrast(href='/trust') Trust & Safety
              li
                a.link-contrast(href='/invite?r=6') Travel Credit
              li
                a.link-contrast(href='/wishlists/airbnb_picks') Airbnb Picks
              li
                a.link-contrast(href='/mobile') Mobile
              li
                a.link-contrast(href='https://www.airbnbaction.com?utm_source=airbnb&utm_medium=footer&utm_campaign=product', target='_blank') Airbnb Action
              li
                a.link-contrast(href='/business-travel?s=footer') Business Travel
              li
                a.link-contrast(href='/sitemaps') Site Map
          .col-md-3.hide-sm
            h2.h5 Hosting
            ul.list-layout
              li
                a.link-contrast(href='/host') Why Host
              li
                a.link-contrast(href='/hospitality') Hospitality
              li
                a.link-contrast(href='/help/responsible-hosting') Responsible Hosting
              li
                a.link-contrast(href='/home-safety') Home Safety
              li
                a.link-contrast(href='/host/instant') Instant Book
        hr.footer-divider.space-top-8.space-4.hide-sm
        .text-center
          ul.list-layout.list-inline(itemscope='', itemtype='http://schema.org/Organization')
            link(itemprop='url', href='https://www.airbnb.co.in')
            meta(itemprop='logo', content='https://a2.muscache.com/airbnb/static/logos/belo-200x200-4d851c5b28f61931bf1df28dd15e60ef.png')
            li
              a.link-contrast.footer-icon-container.circular-image.link-contrast-background(href='#', itemprop='sameAs', target='_blank')
                span.screen-reader-only Facebook
                h4
                  i.fa.fa-facebook(aria-hidden='true')
            li
              a.link-contrast.footer-icon-container.circular-image.link-contrast-background(href='#', itemprop='sameAs', target='_blank')
                span.screen-reader-only Google+
                h4
                  i.fa.fa-google-plus(aria-hidden='true')
            li
              a.link-contrast.footer-icon-container.circular-image.link-contrast-background(href='#', itemprop='sameAs', target='_blank')
                span.screen-reader-only Instagram
                h4
                  i.fa.fa-instagram(aria-hidden='true')
            li
              a.link-contrast.footer-icon-container.circular-image.link-contrast-background(href='#', itemprop='sameAs', target='_blank')
                span.screen-reader-only Pinterest
                h4
                  i.fa.fa-pinterest-p(aria-hidden='true')
            li
              a.link-contrast.footer-icon-container.circular-image.link-contrast-background(href='#', itemprop='sameAs', target='_blank')
                span.screen-reader-only Twitter
                h4
                  i.fa.fa-twitter(aria-hidden='true')
    // SIGNUP MODAL
    #mySignUpModal.modal
      // Modal content
      .modal-content
        span.close.close1 x
        .padding-30
          button.header-btn.margin-top-20.btn-primary.width-full
            i.fa.fa-facebook.pull-left.padding-5(aria-hidden='true')
            | 			    	Sign Up with Facebook
          button.header-btn.margin-top-20.header-btn-transparent.grey-color.border-grey.width-full
            img.google-icon-image.pull-left(src='icons/G_is_For_Google_New_Logo_Thumb.png')
            | 			    	Sign up with Google
          h4.hr-text
            span  Or 
          form(method='post', action='/users/register')
            input.width-full.padding-10.margin-top-10.input-border(type='text', name='username', placeholder='User Name')
            input.width-full.padding-10.margin-top-10.input-border(type='text', name='email', placeholder='Email Address')
            input.width-full.padding-10.margin-top-10.input-border(type='password', name='password', placeholder='Password')
            button.header-btn.margin-top-20.btn-danger.width-full
              | Sign Up
          hr
          .row
            .col-md-8.margin-top-10
              h5
                span.text-muted.padding-5  Already have an account?
            .col-md-4
              button.header-btn.border-red.header-btn-transparent.pull-right.width-full.margin-bottom-10.red-color
                | Log In
    // END MODAL
    // LOGIN MODAL
    #myLogInModal.modal
      // Modal content
      .modal-content
        span.close.close2 x
        .padding-30
          button.header-btn.margin-top-20.btn-primary.width-full
            i.fa.fa-facebook.pull-left.padding-5(aria-hidden='true')
            | 			    	Log In with Facebook
          button.header-btn.margin-top-20.header-btn-transparent.grey-color.border-grey.width-full
            img.google-icon-image.pull-left(src='icons/G_is_For_Google_New_Logo_Thumb.png')
            | 			    	Log In with Google
          h4.hr-text
            span  Or 
          input.width-full.padding-10.margin-top-10.input-border(type='text', name='email', placeholder='Email Address')
          input.width-full.padding-10.margin-top-10.input-border(type='text', name='password', placeholder='Password')
          .row.margin-top-10
            .col-md-6
              input.input-border(type='checkbox', name='remember', value='remember', checked='')
              |  Remember me
            .col-md-6.red-color
              | Forgot Password?
          button.header-btn.margin-top-20.btn-danger.width-full
            | Log In
          hr
          .row
            .col-md-7.margin-top-10
              h5
                span.text-muted.padding-5  Dont' have an account?
            .col-md-5
              button.header-btn.border-red.header-btn-transparent.pull-right.width-full.margin-bottom-10.red-color
                | Sign Up
    // END MODAL
    //
      Bootstrap core JavaScript
      ==================================================
    // Placed at the end of the document so the pages load faster
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script.
      window.jQuery || document.write('<script src="bootstrap/docs/assets/js/vendor/jquery.min.js"><\\/script>')
    script(src='bootstrap/docs/dist/js/bootstrap.min.js')
    // Just to make our placeholder images work. Don't actually copy the next line!
    script(src='bootstrap/docs/assets/js/vendor/holder.min.js')
    // IE10 viewport hack for Surface/desktop Windows 8 bug
    script(src='bootstrap/docs/assets/js/ie10-viewport-bug-workaround.js')
    script(type='text/javascript', src='js/index.js')
    script(src='js/profile.js')
    // <svg xmlns="http://www.w3.org/2000/svg" width="500" height="500" viewBox="0 0 500 500" preserveAspectRatio="none" style="display: none; visibility: hidden; position: absolute; top: -100%; left: -100%;"><defs><style type="text/css"></style></defs><text x="0" y="25" style="font-weight:bold;font-size:25pt;font-family:Helvetica, Arial, Open Sans, sans-serif">500x500</text></svg></body>
