@font-face {
    font-family: helvetica;
    src: url('../fonts/helvetica.otf')
}

@font-face {
    font-family: helvetica-bold;
    src: url(../fonts/Helvetica-Bold.ttf);
    src: url('../fonts/Helvetica-Bold.eot'), url('../fonts/Helvetica-Bold.otf'), url('../fonts/helvetica.ttf') format('truetype')
}

@font-face {
    font-family: Helvetica-CE;
    src: url(../fonts/Helvetica-CE.ttf);
}

@font-face {
    font-family: helvetica;
    src: url('../fonts/helvetica.otf');
}

@font-face {
    font-family: helvetica-bold;
    src: url(../fonts/Helvetica-Bold.ttf);
    src: url('../fonts/Helvetica-Bold.eot'), url('../fonts/Helvetica-Bold.otf'), url('../fonts/helvetica.ttf') format('truetype');
    /* Safari, Android, iOS */
    /*src: url('../fonts/Helvetica-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    */
    /*url('../fonts/Helvetica-Bold.woff2') format('woff2'), /* Super Modern Browsers */
    */
    /*url('../fonts/Helvetica-Bold.woff') format('woff'), /* Pretty Modern Browsers */
    */
    /*url('../fonts/Helvetica-Bold.svg#svgFontName') format('svg');*/
}

@font-face {
    font-family: Dual-300;
    src: url(../fonts/Dual-300.otf), url(../fonts/Dual-300.otf);
}

@font-face {
    font-family: Helvetica-CE;
    src: url(../fonts/Helvetica-CE.ttf);
}

@font-face {
    font-family: Helvetica-Black;
    src: url(../fonts/Helvetica-Black.ttf);
}

@font-face {
    font-family: Helvetica-Regular;
    src: url(../fonts/Helvetica-Regular.ttf);
}

@font-face {
    font-family: Helvetica-Narrow;
    src: url(../fonts/Helvetica-Narrow-SC-Bold.ttf);
}

@font-face {
    font-family: Helvetica-Black-Oblique;
    src: url(../fonts/Helvetica-Black-Oblique.ttf);
}

@font-face {
    font-family: Helvetica-Medium;
    src: url(../fonts/helvmn.ttf);
}

@font-face {
    font-family: Helvetica-Black-Italic;
    src: url(../fonts/Helvetica96-Black-Italic.ttf);
}

@font-face {
    font-family: Helvetica-extended-bold;
    src: url(../fonts/Helvetica73-Extended-Bold-Oblique.ttf);
}

@font-face {
    font-family: Leto-Regular;
    src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: Leto-Black;
    src: url(../fonts/Lato-Black.ttf);
}

@font-face {
    font-family: Leto-Thin;
    src: url(../fonts/Lato-Thin.ttf);
}

@font-face {
    font-family: 'Headericon';
}

@font-face {
    font-family: Helvetica-Black;
    src: url(../fonts/Helvetica-Black.ttf)
}

@font-face {
    font-family: Helvetica-Narrow;
    src: url(../fonts/Helvetica-Narrow-SC-Bold.ttf)
}

@font-face {
    font-family: Helvetica-Black-Oblique;
    src: url(../fonts/Helvetica-Black-Oblique.ttf)
}

@font-face {
    font-family: Helvetica-Medium;
    src: url(../fonts/helvmn.ttf)
}

@font-face {
    font-family: Helvetica-Black-Italic;
    src: url(../fonts/Helvetica96-Black-Italic.ttf)
}

@font-face {
    font-family: Helvetica-extended-bold;
    src: url(../fonts/Helvetica73-Extended-Bold-Oblique.ttf)
}

body {
    background-color: #f2f2f2;
    font-weight: normal;
    /*font-size: 26px;*/
    color: #989898;
    font-family: Helvetica-Regular;
    overflow-x: hidden;
}

.helvetica-bold {
    font-family: helvetica-bold !important
}

.helvetica-ce {
    font-family: Helvetica-CE !important
}


/*.JosefinSans-Regular{
    font-family: JosefinSans-Regular

}*/

@font-face {
    {
        font-family: JosefinSans-Regular;
        src: url(fonts/JosefinSans-Regular.ttf)
    }
}

@font-face {
    font-family: 'newsletter';
    src: url(../fonts/rez.ttf );
}

@font-face {
    font-family: 'jsef';
    src: url(../fonts/JosefinSans-Regular.ttf);
}

.helvetica-regular {
    font-family: Helvetica-Regular !important
}

.Dual-300 {
    font-family: jsef !important
}

.margin-top-60 {
    margin-top: 30% !important
}

.icon {
    font-size: 24px;
    top: 3px;
}

.icon-logo0:before {
    content: "\e900";
}

b,
li {
    font-family: 'helvetica-regular' !important;
    font-size: 17px;
}

a {
    color: #979797;
    text-decoration: none;
    background: transparent;
}

img {
    max-width: 100%;
    max-height: 100%;
}

hr {
    border: 0.1px solid #cacaca;
}

input {
    padding: 6px 12px;
}

.placeholdertext::-webkit-input-placeholder {
    color: #fff !important;
}

input[type=checkbox] {
    &:checked + label:after {
        opacity: 1
    }
}

3 input[type="date"]:before {
    content: attr(placeholder) !important
}

input[type="date"]:focus:before,
input[type="date"]:valid:before {
    content: ""
}

textarea {
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

/*h1,
h2,
h3,
h4,
h5,
h6,
.black-text {
    color: #4d4d4d;
    font-size: 35px;
}*/

li {
    cursor: pointer
}

.sublease-place-color {
    color: #ced7da
}

.search-color {
    color: #969696
}

.search-color-bg {
    background-color: #969696
}

.left-200 {
    left: 200px !important;
    top: 40px !important
}

.justify {
    text-align: justify
}

.display-inline {
    display: inline
}

.width-auto {
    width: auto !important
}

.pointer {
    cursor: pointer
}

.university-img {
    width: 100%
}

.profile-pic-univ {
    width: 245px;
    height: 245px;
    border: 2px solid white;
    margin-left: 14px;
    position: relative;
    top: -125px
}

.navbar {
    margin-bottom: 0px;
}

.navbar-nav>li.active>a {
    font-weight: bold;
    font-size: 20px;
    color: #323232;
    border-bottom: 2px solid #bebebe
}

.main-container {
    min-height: 250px
}

.list-style-none {
    list-style: none
}

.filter-list {
    padding-left: 180px
}

.filter-list>ul>li>input {
    margin-right: 25px;
    position: absolute;
    z-index: -1;
    opacity: 0
}

.control {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 16px
}

.control>input {
    position: absolute;
    z-index: -1;
    opacity: 0
}

.control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
    border: 1px solid grey
}

.control input:checked ~ .control__indicator {
    background: transparent;
    border: 1px solid grey;
    color: blue
}

.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
    background: #0e647d
}

.control input:disabled ~ .control__indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none
}

.control__indicator:after {
    content: '';
    position: absolute;
    display: none
}

.control input:checked ~ .control__indicator:after {
    display: block
}

.control--checkbox .control__indicator:after {
    left: 8px;
    top: 4px;
    width: 3px;
    height: 8px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg)
}

.control--checkbox input:disabled ~ .control__indicator:after {
    border-color: #7b7b7b
}

.active>a {
    font-weight: bold;
    font-size: 20px;
    color: #323232
}

.font-medium {
    font-size: 18px
}

.weight-normal {
    font-weight: normal
}

.bottom {
    bottom: 0px
}

.size-14 {
    font-size: 14px
}

.size-16 {
    font-size: 16px
}

.size-18 {
    font-size: 18px
}

.size-20 {
    font-size: 20px
}

.size-22 {
    font-size: 22px
}

.size-24 {
    font-size: 24px
}

.size-26 {
    font-size: 26px
}

.size-28 {
    font-size: 28px
}

.size-30 {
    font-size: 30px
}

.size-32 {
    font-size: 32px
}

.size-34 {
    font-size: 34px
}

.size-36 {
    font-size: 36px
}

.name-search-univ {
    margin: -114px 0px 0px 37px
}

.border-radius-5 {
    border-radius: 5px
}

.border-radius-50 {
    border-radius: 50%
}

.border-radius-10 {
    border-radius: 10px
}

.size-normal {
    font-size: 12px
}

.input-border {
    border: 1px solid #b3b3b3
}

.no-margin-ul {
    -webkit-padding-start: 15px
}

.no-margin-lr {
    margin-left: 0;
    margin-right: 0
}

.no-padding-lr {
    padding-left: 0;
    padding-right: 0
}

.border-radius-0 {
    border-radius: 3 !important
}

.no-border {
    border: none !important
}

.width-full {
    width: 100% !important
}

.width-90 {
    width: 90% !important
}

.width-80 {
    width: 80% !important
}

.width-70 {
    width: 70% !important
}

.width-65 {
    width: 65% !important
}

.width-half {
    width: 50% !important
}

.width-40 {
    width: 40% !important
}

.width-30 {
    width: 30% !important
}

.white {
    color: #fff
}

.black-bg {
    background-color: #000
}

.black {
    color: #000
}

.nav-color {
    color: #3d626d
}

.map {
    height: 500px;
    width: 100%
}

.img-bg {
    background-color: #253330
}

.white-bg {
    background-color: #fff
}

.red-color {
    color: #ed1c24
}

.light-grey-color {
    color: #808080 !important
}

.grey-color {
    color: #58585a !important
}

.header-grey {
    color: #e4e4e4 !important
}

.orange {
    color: #f5911e
}

.orange-bg {
    background-color: #f15a24
}

.yellow {
    color: #f5911e
}

.messenger-blue {
    background-color: #0071bc
}

.facebook-blue {
    background-color: #2e3192
}

.blue {
    color: #0071ba
}

.blue-mail {
    color: #29abe2
}

.green {
    color: #39b54a
}

.green-bg {
    background-color: #39b54a
}

.select {
    position: relative;
    display: inline-block;
    vertical-align: bottom
}

.no-container {
    padding: 0 !important;
    margin: 0 !important
}

.green-button-bg {
    background-color: #22b373;
    padding: 7px 13px;
    text-align: center;
}

.panel {
    border-radius: 0px;
    margin-bottom: 10px;
}

.panel-body {
    padding: 10px;
}

.icons {
    font-size: 35px
}

.border-side-none {
    border-left: none;
    border-right: none
}

.background-grey {
    background-color: #e6e6e6
}

.side-panel {
    border: 2px solid #d8d8d8
}

.side-panel-box {
    padding: 10px
}

.side-panel>a {
    color: #ed1c24
}

.green-check {
    background-color: #5cc732;
    height: 20px;
    width: 20px;
    color: #fff;
    font-size: 15px
}

.calendar-start {
    margin-left: 74%;
    margin-top: 4%;
    position: absolute;
    font-size: 20px
}

.calendar-end {
    margin-left: -13%;
    margin-top: 4%;
    position: absolute;
    font-size: 20px
}

.green-check-loc {
    left: 25px;
    top: 10px
}

.input-black>input::-webkit-input-placeholder {
    color: #555 !important
}

.input-black>input:-moz-placeholder {
    color: #555 !important
}

.input-black>input::-moz-placeholder {
    color: #555 !important
}

.input-black>input:-ms-input-placeholder {
    color: #555 !important
}

.search>input::-webkit-input-placeholder {
    color: #8ba1a8 !important
}

.search>input:-moz-placeholder {
    color: #8ba1a8 !important
}

.search>input::-moz-placeholder {
    color: #8ba1a8 !important
}

.search>input:-ms-input-placeholder {
    color: #8ba1a8 !important
}

.search>input:hover {
    border-color: #fff !important
}

.search {
    position: relative
}

.search input {
    text-indent: 30px
}

.search .fa-search {
    position: absolute;
    top: 43px;
    left: 93px;
    font-size: 22px;
    color: #8c8c8c
}

.search .help-search {
    top: 6px;
    left: 7px
}

.search .help-search-1 {
    font-size: 23px;
    left: 350px;
    top: 18px
}

.header-btn-transparent {
    background-color: transparent
}

.border-grey {
    border: 2px solid #d1d1d1
}

.border-bottom-grey {
    border-bottom: 2px solid #d1d1d1
}

.border-red {
    border: 2px solid #ed1c24
}

.sublease-box {
    margin-left: 25%
}

.btn-danger:focus,
.btn-danger:hover {
    background-color: #c12e2a;
    color: white !important;
}

.btn-blue:focus,
.btn-blue:hover {
    background-color: #2490c4;
    color: white !important;
}

.header-btn {
    border: 1px solid #607ecb;
    border-radius: 5px;
    background: transparent;
    color: #607ecb;
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    padding: 10px
}

.navbar-wrapper {
    background: rgba(31, 64, 72, 0.76)
}

.navbar-customized {
    color: #133e43
}

.navbar-nav>li {
    padding: 0px 15px
}

.vertical-rule {
    width: 1px;
    background-color: #999999;
    height: 7pc;
    float: left;
    margin-left: 3pc
}

.customize-input {
    border: none;
    border-left: none;
    width: 25%
}

.action-bar {
    margin-left: 4%
}

.bold {
    font-weight: bold !important
}

.login-color {
    background-color: #415F6A
}

.icon-size-2 {
    font-size: 2pc
}

.icon-color {
    color: #7B7D7D
}

.no-padding {
    padding: 0px
}

.padding-8 {
    padding: 8px
}

.padding-10 {
    padding: 10px;
    overflow: hidden
}

.padding-40-10 {
    padding: 40px 10px
}

.padding-top-10 {
    padding-top: 10px
}

.padding-top-20 {
    padding-top: 20px
}

.padding-top-30 {
    padding-top: 30px
}

.padding-bottom-0 {
    padding-bottom: 0px
}

.padding-bottom-10 {
    padding-bottom: 10px !important
}

.padding-bottom-20 {
    padding-bottom: 20px !important
}

.padding-bottom-30 {
    padding-bottom: 30px !important
}

.padding-bottom-80 {
    padding-bottom: 80px !important
}

.padding-bottom-120 {
    padding-bottom: 120px !important
}

.padding-lr-15 {
    padding-left: 15px !important;
    padding-right: 15px !important
}

.padding-lr-60 {
    padding-left: 60px !important;
    padding-right: 60px !important
}

.padding-60 {
    padding: 60px
}

.no-padding {
    padding: 0 !important
}

.margin-10 {
    margin: 10px
}

.margin-top-2 {
    margin-top: 2% !important
}

.margin-top-5 {
    margin-top: 5% !important
}


/*.margin-top-10 {
    margin-top: 10% !important
}*/

.margin-top-20 {
    margin-top: 20% !important
}

.margin-top-30 {
    margin-top: 30% !important
}

.margin-top-40 {
    margin-top: 40% !important
}

.margin-top-50 {
    margin-top: 50% !important
}

.margin-bottom-0 {
    margin-bottom: 0px !important
}


/*.margin-bottom-5 {
    margin-bottom: 2% !important
}*/

.margin-bottom-10 {
    margin-bottom: 10% !important
}

.margin-top-6 {
    margin-top: 6% !important
}

.margin-bottom-20 {
    margin-bottom: 20% !important
}

.margin-bottom-30 {
    margin-bottom: 30% !important
}

.margin-bottom-40 {
    margin-bottom: 40% !important
}

.margin-bottom-50 {
    margin-bottom: 50% !important
}

.margin-top-120 {
    margin-top: 60% !important
}

.margin-bottom-120 {
    margin-bottom: 60% !important
}

.margin-left--40 {
    margin-left: -40px
}

.margin-left-5 {
    margin-left: 5%;
}

.margin-left-10 {
    margin-left: 10%
}

.margin-left-20 {
    margin-left: 20%
}

.margin-right-10 {
    margin-right: 10%
}

.margin-right-50 {
    margin-right: 50%
}

.margin-left-30 {
    margin-left: 30%
}

.margin-left-50 {
    margin-left: 50%
}

.padding-5 {
    padding: 5px
}

.padding-15 {
    padding: 15px
}

.padding-30 {
    padding: 30px !important
}

.margin-section-box {
    margin: 120px 40px
}

.section-block-top {
    top: -128px;
    z-index: 2;
    margin: 0px 40px -25px;
    position: relative
}

.help-hr {
    margin: 0px 0px 10px 15px
}

.email-input {
    padding: 18px
}

.invite-block {
    position: absolute;
    width: 100%;
    padding: 20px;
    margin: 0px 0px 0px -236px;
    border: none
}

.copy-block {
    position: absolute;
    width: 100%;
    padding: 19px;
    margin: 0px 0px 0px -157px;
    border: 1px solid #b3b3b3;
    border-left: none
}

.textarea-input {
    height: 60px;
    width: 100%
}

.container-block-inside {
    top: 500px
}

.overflow-hide {
    overflow: hidden
}

.padding-header {
    padding-right: 5px
}

.navbar-default-header {
    background-color: #fff;
    color: #3d626d
}

.navbar-default-inbox {
    background-color: #3d626d;
    color: #cccccc
}

.header-menu >a {
    color: #e4e4e4;
    background-color: transparent !important
}

.dropdown-toggle:hover {
    background-color: transparent !important
}

.nav>li>a {
    background-color: transparent !important
}

.profile-image {
    height: 60px;
    width: 60px
}

.help-dropdown {
    max-height: 350px
}

.circular-image {
    border-color: #aaa;
    border-color: rgba(255, 255, 255, 0.2);
    display: block;
    border-width: 1px;
    border-style: solid;
    webkit-border-radius: 50%;
    moz-border-radius: 50%;
    border-radius: 50%;
    text-align: center
}

.list-layout {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none
}

.link-contrast {
    color: #fff !important;
    font: bold
}

.link-contrast:hover,
.link-contrast:focus,
.link-contrast:active {
    text-decoration: none;
    outline: none
}

.link-contrast:hover,
.link-contrast:focus {
    color: #bbb
}

.link-contrast-background {
    background-color: #545454
}

.footer-icon-container {
    height: 50px;
    width: 50px;
}

.screen-reader-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

.footer-color {
    background-color: #00303f
}

footer:before {
    opacity: 0.23
}

.img-repeat {
    background-repeat: repeat-x
}

.footer-opacity {
    opacity: 0.23
}

.page-container-responsive {
    z-index: 2;
    background: rgba(0, 0, 0, 0.23)
}

.container-image {
    width: auto
}

.h5 {
    color: #fff;
    /*margin-bottom: 20px;*/
    font-weight: bold
}

.block-padding {
    padding: 20px 20px 10px 20px
}

.block-image {
    height: 400px
}

.first-block {
    background-color: #bbcad2;
    height: 400px
}

.first-img {
    margin-top: 6%
}

.second-block {
    background-color: #e4e4e4;
    height: 400px;
}

.second-img {
    margin-top: 6%
}

.third-block {
    background-color: #ef5a24;
    height: auto
}

.third-img {
    padding: 0;
    height: auto
}

.footer-divider {
    border-top: 3px solid #545454;
    -moz-border-top: 3px solid #545454;
    -webkit-border-top: 3px solid #545454;
    width: 100%
}

.opaque-carousel {
    opacity: 0.5;
    z-index: 5 !important
}

.transparent-header {
    z-index: 10 !important;
    width: 100%;
    background: rgba(0, 0, 0, 0.80);
    border: 0
}

.static-header {
    width: 100%;
    position: relative;
    background: rgb(19, 62, 67);
    border: 0
}

.half-opaque {
    /*margin-left:67px;*/
    top: 100px;
    margin-top: 90px !important;
    background: rgba(35, 27, 31, 0.57);
    border-top-width: 0;
    box-shadow: none;
    box-sizing: border-box;
    border-bottom-width: 2px;
    border-radius: 9px;
    z-index: 5 !important;
    position: absolute;
    border: none;
    height: auto;
    width: 460px;
    padding: 4% 4% 4% 4%;
    margin: -100% 0px 20px 30px;
}

@font-face {
    font-family: 'jsef';
    src: url(../fonts/JosefinSans-Regular.ttf);
}

.headLine {
    top: 300px;
    right: 0px;
    position: absolute;
    float: right;
    color: #fff;
    font-weight: 150;
    margin-top: 20px;
    font-size: 39px;
    font-family: jsef;
}

.map-container {
    background: rgb(255, 255, 255);
    position: absolute;
    border: 0;
    min-height: 100%;
    height: auto;
    width: 80%;
    padding: 4% 4% 4% 4%;
    margin: 0% 10%
}

.no-opaque {
    z-index: 5 !important;
    position: absolute;
    border: 0;
    height: auto;
    padding: 184px 0px 0px 142px;
    color: #fff
}

.sign-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    width: 30%;
    height: auto;
    border: 1px solid #b7b7b7
}

.modal {
    border-radius: 2px;
    display: none;
    position: fixed;
    z-index: 60;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4)
}

.modal-content {
    background-color: #fff;
    margin: 55px auto;
    /*padding: 20px;*/
    width: 30%;
    height: auto;
    border: 1px solid #b7b7b7
}

.close {
    color: #aaa;
    position: relative;
    float: right;
    top: 2%;
    right: 2%;
    font-size: 28px;
    font-weight: bold
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer
}

.hr-text {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #b3b3b3;
    line-height: 0.1em;
}

.hr-text >span {
    background: #fff;
    color: #cacaca;
    padding: 0 10px
}

.google-icon-image {
    height: 25px;
    width: 25px
}

.bottom-text {
    position: relative;
    bottom: 20px;
    width: auto;
    text-align: center;
    color: #333333;
    margin-top: 40.3%
}

.help-boxes {
    height: 160px
}

.help-boxes:hover,
.help-boxes:active {
    background-color: white
}

.page-number-list {
    border: 0.5px solid #cacaca;
    background-color: #e6e6e6;
    margin: 0px 5px
}

.page-number-list:hover,
.page-number-list:active {
    background-color: #fff;
    color: #f5911e
}

.price-room {
    position: absolute;
    left: 305px;
    top: 30px;
    background: rgba(0, 0, 0, 0.6);
    width: 18%;
    padding: 6px
}

.search-city {
    padding-left: 188px
}

.univ-detail-name {
    height: 20%
}

.price-box-univ {
    background: rgba(77, 77, 77, 0.7);
    padding: 40px;
    top: -125px;
    position: absolute;
    width: 500px;
    z-index: 2;
    height: 143px
}

.price-box-2-univ {
    background: rgba(202, 202, 202, 1);
    padding: 40px;
    position: absolute;
    width: 500px;
    z-index: 2;
    height: 379px
}

.img-width-20 {
    width: 20px
}

.img-width-30 {
    width: 30px
}

.img-width-40 {
    width: 40px
}

.date-icon {
    margin: 0px 24px 0px -30px;
    font-size: 18px
}

.image {
    position: relative;
    width: 30%
}

.img-container {
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%
}

.overlay {
    z-index: 5;
    position: absolute;
}

.opacity-8 {
    opacity: 0.8
}

.form-control-index {
    height: auto;
    padding: 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #ededed;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

@media only screen and (max-width: 540px) {
    li {
        font-size: 10px
    }
    h2,
    h4 {
        font-size: 26px
    }
    .no-opaque {
        padding: 170px 0px 0px 95px
    }
}

@media only screen and (max-width: 767px) {
    .container-fluid.fill {
        padding-right: 0px;
        padding-left: 0px;
        margin-right: 0px;
        margin-left: 0px
    }
    .row-hidden {
        display: none
    }
    .half-opaque {
        top: 0px;
        width: 100%;
        position: inherit;
        margin: -10px 0px 0px 0px !important
    }
}

@media only screen and (max-width: 859px) {
    p {
        margin: auto
    }
    .xs-overflow-hidden {
        overflow: hidden;
    }
    .footer-divider {
        width: 100%
    }
    .navbar-nav>li {
        padding: 0px
    }
    .uni {
        text-align: center
    }
    .width-full {
        width: 100% !important
    }
    .width-auto {
        width: auto !important
    }
    .margin-top-60 {
        margin-top: 4px !important
    }
}

@media only screen and (max-width: 900px) {
    .half-opaque {
        margin: -105% 10%
    }
    #hh {
        display: none
    }
}

.width-full-img-index {
    width: 100%;
}

.bottom-space {
    margin-bottom: 60px;
}

.panel-title {
    color: black;
    text-transform: uppercase;
}

.list-group {
    margin-bottom: 0px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.list-group-item {
    border: 0px solid;
    padding: 0px 10px;
}

.filter li {
    font-size: 13px;
}

figure {
    display: block;
    position: relative;
    float: left;
    overflow: hidden;
}

figcaption {
    position: absolute;
    background: black;
    background: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 10px 20px;
    opacity: 0;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
}

figure:hover figcaption {
    opacity: 1;
}


/*figure:before {
  content: "?";
  position: absolute;
  font-weight: 800;
  background: black;
  background: rgba(255,255,255,0.75);
  text-shadow: 0 0 5px white;
  color: black;
  width: 24px;
  height: 24px;
  -webkit-border-radius: 12px;
  -moz-border-radius:    12px;
  border-radius:         12px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  -moz-transition: all 0.6s ease;
  opacity: 0.75;
}*/

figure:hover:before {
    opacity: 0;
}

.cap-left:before {
    bottom: 10px;
    left: 10px;
}

.cap-left figcaption {
    bottom: 0;
    left: -30%;
}

.cap-left:hover figcaption {
    left: 14px;
}

.cap-right:before {
    bottom: 10px;
    right: 10px;
}

.cap-right figcaption {
    bottom: 0;
    right: -30%;
}

.cap-right:hover figcaption {
    right: 0;
}

.cap-top:before {
    top: 10px;
    left: 10px;
}

.cap-top figcaption {
    left: 0;
    top: -30%;
}

.cap-top:hover figcaption {
    top: 0;
}

.cap-bot:before {
    bottom: 10px;
    left: 10px;
}

.cap-bot figcaption {
    left: 0;
    bottom: -30%;
}

.cap-bot:hover figcaption {
    bottom: 0;
}

@media only screen and (max-width:768px) {
    .block-image {
        height: auto !important;
    }
    .first-block {
        height: auto !important;
    }
    .second-block {
        height: auto !important;
    }
    .xxs-hidden {
        display: none;
    }
}

.newsletter {
    /*margin-top: 90px !important;*/
    background: rgba(35, 27, 31, 0.57);
    border-top-width: 0;
    box-shadow: none;
    box-sizing: border-box;
    border-bottom-width: 2px;
    border-radius: 9px;
    /*z-index: 5 !important;*/
    position: absolute;
    border: none;
    /*height: auto;*/
    /*width: 460px;*/
    padding: 4% 4% 4% 4%;
    /*margin: -100% 0px 20px 30px;*/
}


/*button{
    font-size: 14px;
}*/

/*##########################################*/

.helvetica-bold {
    font-family: helvetica-bold !important;
}

.helvetica-ce {
    font-family: Helvetica-CE !important;
}

.helvetica-regular {
    font-family: Helvetica-Regular !important;
}

.Dual-300 {
    font-family: Dual-300 !important;
}

li {
    font-family: Helvetica-Regular !important;
}

b {
    font-family: helvetica-bold !important;
}

a {
    color: #979797;
    text-decoration: none;
    background: transparent;
}

img {
    max-width: 100%;
    max-height: 100%;
}

hr {
    border: 0.1px solid #cacaca;
}

input {
    padding: 6px 12px;
}

input[type=checkbox] {
    &:checked + label:after {
        opacity: 1;
    }
}

input[type="date"]:before {
    content: attr(placeholder) !important;
}

input[type="date"]:focus:before,
input[type="date"]:valid:before {
    content: "";
}

textarea {
    overflow: auto;
    outline: none;
    resize: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.navbar {
    border-radius: 0px;
    margin-bottom: 5px;
    border-color: transparent;
}

.navbar-default .navbar-nav>li>a {
    color: #cccccc !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.black-text {
    color: #4d4d4d;
    font-family: helvetica-bold !important;
}

li > a {
    cursor: pointer;
}

li > a:hover {
    color: white!important;
}

.sublease-place-color {
    color: #ced7da;
}

.search-color {
    color: #969696
}

.search-color-bg {
    background-color: #969696
}

.left-195 {
    left: 195px !important;
}

.display-inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

.width-auto {
    width: auto !important;
}

.pointer {
    cursor: pointer;
}

.university-img {
    width: 100%;
}

.profile-pic-univ {
    width: 245px;
    height: 245px;
    border: 2px solid white;
    margin-left: 14px;
    position: relative;
    top: -125px;
}

.navbar-nav>li.active>a {
    font-weight: bold;
    font-size: 20px;
    color: #323232;
    border-bottom: 2px solid #bebebe;
}

.main-container {
    min-height: 250px;
}

.list-style-none {
    list-style: none;
}

.filter-list {
    padding-left: 180px;
}

.filter-list>ul>li>input {
    margin-right: 25px;
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.control {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 16px;
}

.control>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
    border: 1px solid grey;
}

.control input:checked ~ .control__indicator {
    background: transparent;
    border: 1px solid grey;
    color: blue;
}

.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
    background: #0e647d;
}

.control input:disabled ~ .control__indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}

.control__indicator:after {
    content: '';
    position: absolute;
    display: none;
}

.control input:checked ~ .control__indicator:after {
    display: block;
}

.control--checkbox .control__indicator:after {
    left: 8px;
    top: 4px;
    width: 3px;
    height: 8px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.control--checkbox input:disabled ~ .control__indicator:after {
    border-color: #7b7b7b;
}

.active>a {
    font-weight: bold;
    font-size: 20px;
    color: #323232;
}

.font-medium {
    font-size: 18px;
}

.weight-normal {
    font-weight: normal;
}

.bottom {
    bottom: 0px;
}

.size-14 {
    font-size: 14px;
}

.size-16 {
    font-size: 16px;
}

.size-18 {
    font-size: 18px;
}

.size-20 {
    font-size: 20px;
}

.size-22 {
    font-size: 22px;
}

.size-24 {
    font-size: 24px;
}

.size-26 {
    font-size: 26px;
}

.size-28 {
    font-size: 28px;
}

.size-30 {
    font-size: 30px;
}

.size-32 {
    font-size: 32px;
}

.size-34 {
    font-size: 34px;
}

.size-36 {
    font-size: 36px;
}

.name-search-univ {
    margin: -114px 0px 0px 37px;
}

.border-radius-5 {
    border-radius: 5px;
}

.border-radius-50 {
    border-radius: 50%;
}

.border-radius-10 {
    border-radius: 10px;
}

.size-normal {
    font-size: 12px;
}

.input-border {
    border: 1px solid #b3b3b3;
}

.no-margin-ul {
    -webkit-padding-start: 15px;
}

.no-margin-lr {
    margin-left: 0;
    margin-right: 0;
}

.no-padding-lr {
    padding-left: 0;
    padding-right: 0;
}

.border-radius-0 {
    border-radius: 0 !important;
}

.no-border {
    border: none !important;
}

.width-90 {
    width: 90% !important;
}

.width-80 {
    width: 80% !important;
}

.width-70 {
    width: 70% !important;
}

.width-65 {
    width: 65% !important;
}

.width-half {
    width: 50% !important;
}

.width-35 {
    width: 35% !important;
}

.width-40 {
    width: 40% !important;
}

.width-30 {
    width: 30% !important;
}

.width-15 {
    width: 15% !important;
}

.white {
    color: #fff;
}

.black-bg {
    background-color: #000;
}

.black {
    color: #000;
}

.nav-color {
    color: #3d626d;
}

.map {
    height: 500px;
    width: 100%;
}

.img-bg {
    background-color: #253330;
}

.white-bg {
    background-color: #fff;
}

.red-color {
    color: #ed1c24;
}

.light-grey-color {
    color: #808080 !important;
}

.grey-color {
    color: #58585a !important;
}

.header-grey {
    color: #e4e4e4 !important;
}

.orange {
    color: #f5911e;
}

.orange-dark {
    color: #F05A28;
}

.orange-bg {
    background-color: #f15a24;
}

.yellow {
    color: #f5911e;
}

.messenger-blue {
    background-color: #0071bc;
}

.facebook-blue {
    background-color: #2e3192;
}

.blue {
    color: #0071ba;
}

.blue-mail {
    color: #29abe2;
}

.green {
    color: #39b54a;
}

.green-bg {
    background-color: #39b54a;
}

.select {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
}

.no-container {
    padding: 0 !important;
    margin: 0 !important;
}

.green-button-bg {
    background-color: #22b373;
    padding: 10px 30px;
    text-align: center;
}

.icons {
    font-size: 35px;
}

.border-side-none {
    border-left: none;
    border-right: none;
}

.background-grey {
    background-color: #e6e6e6;
}

.side-panel {
    border: 2px solid #d8d8d8;
}

.side-panel-box {
    padding: 10px;
}

.side-panel>a {
    color: #ed1c24;
}

.green-check {
    background-color: #5cc732;
    height: 20px;
    width: 20px;
    color: #fff;
    font-size: 15px;
}

.calendar-start {
    margin-left: 74%;
    margin-top: 4%;
    position: absolute;
    font-size: 20px;
}

.calendar-end {
    margin-left: -13%;
    margin-top: 4%;
    position: absolute;
    font-size: 20px;
}

.green-check-loc {
    _left: 25px;
    _top: 10px;
}

.input-black>input::-webkit-input-placeholder {
    color: #555 !important;
}

.input-black>input:-moz-placeholder {
    /* Firefox 18- */
    color: #555 !important;
}

.input-black>input::-moz-placeholder {
    /* Firefox 19+ */
    color: #555 !important;
}

.input-black>input:-ms-input-placeholder {
    color: #555 !important;
}

.search>input::-webkit-input-placeholder {
    color: #8ba1a8 !important;
}

.search>input:-moz-placeholder {
    /* Firefox 18- */
    color: #8ba1a8 !important;
}

.search>input::-moz-placeholder {
    /* Firefox 19+ */
    color: #8ba1a8 !important;
}

.search>input:-ms-input-placeholder {
    color: #8ba1a8 !important;
}

.search>input:hover {
    border-color: #fff !important;
}

.search {
    position: relative;
}

.search input {
    text-indent: 30px;
}

.search .fa-search {
    position: absolute;
    top: 43px;
    left: 93px;
    font-size: 22px;
    color: #8c8c8c;
}

.search .help-search {
    top: 6px;
    left: 7px;
}

.search .help-search-1 {
    font-size: 23px;
    left: 27%;
    top: 18px;
}

.header-btn-transparent {
    background-color: transparent;
}

.border-grey {
    border: 2px solid #d1d1d1;
}

.border-bottom-grey {
    border-bottom: 2px solid #d1d1d1;
}

.border-red {
    border: 2px solid #ed1c24;
}

.sublease-box {
    margin-left: 25%;
}

.header-btn {
    border-radius: none;
    display: inline-block;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    padding: 10px;
}

.navbar-wrapper {
    background: rgba(31, 64, 72, 0.76);
}

.navbar-customized {
    color: #133e43;
}

.navbar-nav>li {
    padding: 5px 10px;
}

.vertical-rule {
    width: 1px;
    background-color: #999999;
    height: 7pc;
    float: left
}

.customize-input {
    /*border: 1px inset #ebebeb;*/
    border: none;
    border-left: none;
    width: 25%;
}

.action-bar {
    margin-left: 4%;
}

.bold {
    font-weight: bold !important;
}

.login-color {
    background-color: #415F6A;
}

.icon-size-2 {
    font-size: 2pc;
}

.icon-color {
    color: #7B7D7D;
}

.no-padding {
    padding: 0px;
}

.padding-8 {
    padding: 8px;
}

.padding-10 {
    padding: 10px;
    overflow: hidden;
}

.padding-30 {
    padding: 30px;
    overflow: hidden;
}

.padding-40-10 {
    padding: 40px 10px;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-top-20 {
    padding-top: 20px;
}

.padding-top-30 {
    padding-top: 30px;
}

.padding-bottom-0 {
    padding-bottom: 0px;
}

.padding-bottom-10 {
    padding-bottom: 10px !important;
}

.padding-bottom-20 {
    padding-bottom: 20px !important;
}

.padding-bottom-30 {
    padding-bottom: 30px !important;
}

.padding-bottom-80 {
    padding-bottom: 80px !important;
}

.padding-bottom-120 {
    padding-bottom: 120px !important;
}

.padding-left-195 {
    padding-left: 195px !important;
}

.padding-lr-15 {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.padding-lr-60 {
    padding-left: 60px !important;
    padding-right: 60px !important;
}

.padding-60 {
    padding: 60px;
}

.padding-bottom-p-30 {
    padding-bottom: 30% !important;
}

.no-padding {
    padding: 0 !important;
}

.margin-10 {
    margin: 10px;
}

.margin-30 {
    margin: 30px;
}

.margin-top-5 {
    margin-top: 5px !important;
}

.margin-top-10 {
    margin-top: 10px !important;
}

.margin-top-20 {
    margin-top: 20px !important;
}

.margin-top-30 {
    margin-top: 30px !important;
}

.margin-top-40 {
    margin-top: 40px !important;
}

.margin-top-50 {
    margin-top: 50px !important;
}

.margin-top-60 {
    margin-top: 60px !important;
}

.margin-bottom-0 {
    margin-bottom: 0px !important;
}

.margin-bottom-5 {
    margin-bottom: 5px !important;
}

.margin-bottom-10 {
    margin-bottom: 10px !important;
}

.margin-top--6 {
    margin-top: 6% !important;
}

.margin-bottom-20 {
    margin-bottom: 20px !important;
}

.margin-bottom-30 {
    margin-bottom: 30px !important;
}

.margin-bottom-40 {
    margin-bottom: 40px !important;
}

.margin-bottom-50 {
    margin-bottom: 50px !important;
}

.margin-bottom-60 {
    margin-bottom: 60px !important;
}

.margin-top-120 {
    margin-top: 120px !important;
}

.margin-bottom-120 {
    margin-bottom: 120px !important;
}

.margin-left--40 {
    margin-left: -40px;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-left-20 {
    margin-left: 20px;
}

.margin-left-20-p {
    margin-left: 20%;
}

.margin-right-10 {
    margin-right: 10px;
}

.margin-right-50 {
    margin-right: 50px;
}

.margin-left-30 {
    margin-left: 30px;
}

.margin-left-50 {
    margin-left: 50px;
}

.padding-5 {
    padding: 5px;
}

.padding-15 {
    padding: 15px;
}

.padding-30 {
    padding: 30px !important;
}

.margin-section-box {
    margin: 120px 40px;
}

.property-options {
    color: #A7A9AB !important;
    border-radius: 0;
    background-color: #fff;
    width: 65%;
    margin-bottom: 20px;
    height: 50px;
}

.property-options-textarea {
    color: #A7A9AB !important;
    border-radius: 0;
    background-color: #fff;
    width: 65%;
    margin-bottom: 20px;
    padding: 20px;
    height: 150px;
}

.property-options-extend {
    display: inline-block;
    margin-right: 2%;
    margin-left: 1%;
}

.upload-photos-property {
    padding: 1vw;
}

.section-block-top {
    top: -128px;
    z-index: 2;
    margin: 0px 40px -25px;
    position: relative;
}

.help-hr {
    margin: 0px 0px 10px 15px;
}

.email-input {
    padding: 18px;
}

.invite-block {
    position: absolute;
    width: 100%;
    padding: 20px;
    margin: 0px 0px 0px -236px;
    border: none
}

.copy-block {
    position: absolute;
    width: 100%;
    padding: 19px;
    margin: 0px 0px 0px -157px;
    border: 1px solid #b3b3b3;
    border-left: none;
}

.textarea-input {
    height: 60px;
    width: 100%;
}

.container-block-inside {
    top: 500px;
}

.overflow-hide {
    overflow: hidden;
}

.padding-header {
    padding-right: 20px;
}

.navbar-default-header {
    background-color: #fff;
    color: #3d626d;
}

.navbar-default {
    background-color: #3d626d;
    color: #cccccc;
}

.header-menu >a {
    color: #e4e4e4;
    background-color: transparent !important;
}

.dropdown-toggle:hover {
    background-color: transparent !important;
}

.nav>li>a {
    background-color: transparent !important;
}

.dashboard-img-block {
    height: 90%;
    width: 100%;
    padding: 5%;
    overflow: hidden;
}

.profile-image {
    height: 60px;
    width: 60px;
}

.help-dropdown {
    max-height: 350px;
}

.name-dropdown {
    height: auto;
    left: -100%;
}

.message-dropdown {
    height: auto;
    left: -250%;
    width: 340%;
}

.circular-image {
    border-color: #aaa;
    border-color: rgba(255, 255, 255, 0.2);
    display: block;
    border-width: 1px;
    border-style: solid;
    webkit-border-radius: 50%;
    moz-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
}

.list-layout {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.link-contrast {
    color: #fff !important;
    font: bold;
}

.link-contrast:hover,
.link-contrast:focus,
.link-contrast:active {
    text-decoration: none;
    outline: none;
}

.link-contrast:hover,
.link-contrast:focus {
    color: #bbb;
}

.link-contrast-background {
    background-color: #545454;
}

.footer-icon-container {
    height: 36px;
    width: 36px;
}

.screen-reader-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.footer-color {
    background-color: #00303f;
}


/*.container-brand-dark {
        padding:30px 0 10px 0; 
        background: rgba(0,48,63,0.23);
        background: url(../images/travel-icons.png);
        background-repeat: repeat-x;
    }*/

footer:before {
    opacity: 0.23;
}

.img-repeat {
    background-repeat: repeat-x;
}

.footer-opacity {
    opacity: 0.23;
}

.page-container-responsive {
    z-index: 2;
    background: rgba(0, 0, 0, 0.23);
}

.container-image {
    width: auto;
}

.h5 {
    color: #fff;
    margin-bottom: 20px;
    font-weight: bold;
}

.block-padding {
    padding: 20px 20px 10px 20px;
}

.block-image {
    height: 300px;
}

.first-block {
    background-color: #bbcad2;
    height: 400px;
}

.first-img {
    margin-top: 6%;
}

.second-block {
    background-color: #e4e4e4;
    height: 400px;
    margin-bottom: 30px;
}

.second-img {
    margin-top: 6%;
}

.third-block {
    background-color: #ef5a24;
    height: auto;
}

.third-img {
    padding: 0;
    height: auto;
}

/*.footer-divider {
    border-top: 3px solid #545454;
    width: 70%;
}*/

.opaque-carousel {
    opacity: 0.5;
    z-index: 5 !important;
}

.transparent-header {
    z-index: 10 !important;
    width: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.76);
    border: 0;
}

.static-header {
    width: 100%;
    position: relative;
    background: rgb(19, 62, 67);
    border: 0;
}


/*.half-opaque {
        background: rgba(255, 255, 255, 0.46);
        z-index: 5 !important;
        position: absolute;
        border: 0;
        height: 100%;
        width: 100%;
        padding: 15em 2em 23em 10em;
    }*/

.increment-sign {
    margin-left: -93px;
    padding: 17px;
}

.increment-sign:hover,
.decrement-sign:hover {
    border-left: 1px solid #cecece;
    border-right: 1px solid #cecece;
}

.decrement-sign {
    margin-left: 0px;
    padding: 17px;
}

/*.input-group-addon,
.input-group-btn {
    width: 0%;
}*/

.bathroom-radio-input {
    height: 50px;
    border: 1px solid #cecece;
    background-color: white;
    display: inline-block;
    margin-right: 1%;
    text-align: center;
    padding: 5px;
}

.bathroom-number-input {
    height: 50px;
    border: 1px solid #cecece
}

.map-container {
    background: rgb(255, 255, 255);
    position: absolute;
    border: 0;
    min-height: 100%;
    height: auto;
    width: 80%;
    padding: 4% 4% 4% 4%;
    margin: 0% 10%;
}

.no-opaque {
    z-index: 5 !important;
    position: absolute;
    border: 0;
    height: auto;
    padding: 184px 0px 0px 142px;
    color: #fff;
}

.sign-content {
    background-color: #fff;
    margin: 5% auto;
    /* 15% from the top and centered */
    padding: 20px;
    width: 30%;
    /* Could be more or less, depending on screen size */
    height: auto;
    border: 1px solid #b7b7b7
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1000;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content/Box */


.modal-content {
    /*background-color: #fff;*/
    /*margin: 15% auto;*/
    /* 15% from the top and centered */
    /*padding: 20px;*/
    /*width: 30%;*/
    /* Could be more or less, depending on screen size */
    /*height: auto;*/
    /*border: 1px solid #b7b7b7*/}


/* The Close Button */

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: relative;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/*------MODAL END------*/

.hr-text {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #b3b3b3;
    line-height: 0.1em;
    margin: 65px 0 20px;
}

.hr-text >span {
    background: #fff;
    color: #cacaca;
    padding: 0 10px;
}

.google-icon-image {
    background-color: #fff;
    height: 25px;
    width: 25px;
}

.bottom-text {
    position: relative;
    bottom: 20px;
    width: auto;
    text-align: center;
    color: #333333;
    margin-top: 40.3%;
}

.help-boxes {
    height: 160px;
}

.help-boxes:hover,
.help-boxes:active {
    background-color: white;
}

.page-number-list {
    border: 0.5px solid #cacaca;
    background-color: #e6e6e6;
    margin: 0px 5px;
}

.page-number-list:hover,
.page-number-list:active {
    background-color: #fff;
    color: #f5911e;
}

.price-room {
    position: absolute;
    top: 30px;
    background: rgba(0, 0, 0, 0.6);
    width: 18%;
    padding: 6px;
}

.search-city {
    padding-left: 188px;
}

.univ-detail-name {
    height: 20%;
}

.price-box-univ {
    background: rgba(77, 77, 77, 0.7);
    padding: 40px;
    top: -125px;
    position: absolute;
    z-index: 2;
    height: 143px;
}

.price-box-2-univ {
    background: rgba(202, 202, 202, 1);
    padding: 35px;
    position: absolute;
    z-index: 2;
    height: 379px;
}

.img-width-20 {
    width: 20px;
}

.img-width-30 {
    width: 30px;
}

.img-width-40 {
    width: 40px;
}

.date-icon {
    margin: 0px 24px 0px -30px;
    font-size: 18px;
}

.image {
    position: relative;
    width: 30%;
}

.img-container {
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
}

.opacity-8 {
    opacity: 0.8;
}

#inbox-reply-button {
    color: white;
    position: relative;
    float: right;
    right: 10.4%;
    bottom: 43px;
    border: 1px solid #f15a24;
    background: #f15a24;
}

.form-control-index {
    height: auto;
    padding: 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #ededed;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.property-img {
    height: 65px;
    padding-left: 20px;
}

#imageCanvas {
    width: 200px;
    height: 200px
}

@media only screen and (max-width: 540px) {
    .green-check-loc {
        left: 0px;
    }
    h1 {
        font-size: 21px;
    }
    #inbox-reply-button {
        bottom: 35px;
    }
    h2 {
        font-size: 10px;
    }
    .xxs-hidden-img {
        display: none;
    }
    button {
        font-size: 10px;
    }
    .row .padding-15 {
        width: auto;
    }
    .section-block-top {
        top: 7px;
    }
    .padding-lr-60 {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .margin-bottom-30 {
        margin-bottom: 0px;
    }
}

@media only screen and (max-width:767px) {
    .xxs-pull-left {
        float: left !important;
    }
    .xs-hidden {
        display: none;
    }
    .search {
        display: none;
    }
    .xs-img-hidden {
        display: none;
    }
    .xs-visible {
        visibility: hidden;
    }
}

@media only screen and (max-width: 892px) {
    .price-box-2-univ {
        width: 300px;
    }
    .price-box-univ {
        width: 300px;
    }
    .xs-font {
        font-size: 11px !important;
    }
    .padding-left-195 {
        padding-left: 100px !important;
    }
    .margin-bottom-40 {
        margin-bottom: 30px !important;
    }
    .padding-lr-60 {
        padding-left: 20px;
    }
    .navbar-nav>li {
        padding: 5px 3px;
    }
    .heading-inbox {
        font-size: 13px;
    }
    .xs-header {
        display: none;
    }
}

@media only screen and (max-width: 991px) {
    .xs-sm-block {
        display: initial !important;
    }
    .block {
        width: 100%;
        display: block;
        text-align: center;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 1199px) {
    .md-font {
        font-size: 13px;
    }
    .arrow-right {
        display: none;
    }
    .sm-letter {
        font-size: 10px;
    }
}

.kv-avatar .file-preview-frame,
.kv-avatar .file-preview-frame:hover {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    text-align: center;
}

.kv-avatar .file-input {
    display: table-cell;
    max-width: 220px;
}

i[class='glyphicon glyphicon-hand-down text-warning'] {
    display: none;
}

i[class='glyphicon glyphicon-zoom-in'] {
    display: none;
}

button[class='kv-file-zoom btn btn-xs btn-default'] {
    display: none;
}


/*button[class='btn btn-default fileinput-remove fileinput-remove-button']{
    display: none;
}*/

.btn.btn-default.fileinput-upload.fileinput-upload-button {
    border: none !important;
    background-color: #f15a24;
    color: #fff;
}

.file-preview {
    padding: 10px;
}
