.profile-btn {
	border-radius: none;
	display: inline-block; 
     font-size: 14px; 
     font-weight: 400; 
     line-height: 1.42857143; 
     text-align: center; 
     white-space: nowrap; 
     vertical-align: middle; 
    -ms-touch-action: manipulation;
     touch-action: manipulation; 
     cursor: pointer; 
     -webkit-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none; 
    width: 70%;
}


.sidebar-module-inset {
    padding: 15px;
    background-color: transparent;
    border-radius: 4px;
}

.sidebar-module {
    padding: 15px;
    margin: 0 -15px 15px;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.padding-left-10 {
    padding-left: 10px !important ; 
}

.padding-20 {
    padding: 20px;
    overflow: hidden;
}

.margin-right-30 {
	margin-right: 30px !important; 
}

.margin--5 {
    margin-left: -5px;
}

.margin-30 {
    margin: 30px;
}

.width-20 {
    width: 20%;
}

.width-10 {
    width: 10%;
}

.verified-contact {
    margin-right: 20px;
}

.confirm-block {
    padding: 9px 14px;
}

.review-img {
    height: 50px;
    width: 70px;
}

.no-navbar-nav {
    float: none !important;
}

.bottom-5 {
    bottom: 5px;
}

.margin-top-0 {
    margin-top: 0;
}