@font-face {
    font-family: helvetica;
    src: url(../fonts/Helvetica-Bold.ttf);
    src: url('../fonts/Helvetica-Bold.eot'), 
    	 url('../fonts/helvetica.ttf')  format('truetype'); /* Safari, Android, iOS */
  	/*src: url('../fonts/Helvetica-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */*/
       /*url('../fonts/Helvetica-Bold.woff2') format('woff2'), /* Super Modern Browsers */*/
       /*url('../fonts/Helvetica-Bold.woff') format('woff'), /* Pretty Modern Browsers */*/
       
       /*url('../fonts/Helvetica-Bold.svg#svgFontName') format('svg');*/
}

body {
	background-color: #f2f2f2;
	font-weight: normal;
	font-size: 14px;
	color: #989898;
	font-family: helvetica;
}

a {
	color: #979797;
	text-decoration: none;
	background: transparent;
}

img {
	max-width:100%;
	max-height:100%;
}

hr {
	border: 1px solid #b3b3b3;
}

input {
	padding: 6px 12px;
}

input[type=checkbox] {
    &:checked + label:after {
      opacity: 1;
    }    
}

textarea {
    
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

h1, h2, h3, h4, h5, h6, .black-text {
	color: #4d4d4d;
}

li {
	cursor: pointer;
}

.sublease-place-color {
	color: #ced7da;
}

.search-color {
	color: #969696
}

.search-color-bg {
	background-color: #969696
}

.left-195 {
	left: 195px !important;
}

.display-inline {
	display: inline;
}

.width-auto {
	width: auto !important;
}

.pointer {
	cursor: pointer;
}

.navbar-nav>li.active>a {
	font-weight: bold;
	font-size: 20px;
	color: #323232;
	border-bottom: 2px solid #bebebe;
}

.main-container {
	min-height: 250px;
}

.list-style-none {
	list-style: none;
}

.active>a {
	font-weight: bold;
	font-size: 20px;
	color: #323232;
}

.font-medium {
	font-size: 18px;
}

.weight-normal {
	font-weight: normal;
}

.bottom {
	bottom: 0px;
}

.border-radius-5 {
	border-radius: 5px;
}

.border-radius-10 {
	border-radius: 10px;
}

.size-normal {
	font-size: 12px;
}

.input-border {
	border: 1px solid #b3b3b3;
}

.border-radius-0 {
	border-radius: 0 !important;
}

.no-border {
	border: none !important;
}

.width-full {
	width: 100% !important;
}

.width-80 {
	width: 80% !important;
}

.width-70 {
	width: 70% !important;
}

.width-65 {
	width: 65% !important;
}

.width-half {
	width: 50% !important;
} 

.width-40 {
	width: 40% !important;
}

.width-30 {
	width: 30% !important;
}

.white {
	color: #fff;
}

.black-bg {
	background-color: #000;
}

.black {
	color: #000;
}

.map {
	height: 300px;
	width: 100%;
}

.img-bg {
	background-color: #253330;
}

.white-bg {
	background-color: #fff;
}

.red-color {
	color: #ed1c24;
}

.grey-color {
	color: #58585a !important ;
}

.orange {
	color: #f5911e;
}

.orange-bg {
	background-color: #f15a24;
}

.messenger-blue {
	background-color: #0071bc;
}

.facebook-blue {
	background-color: #2e3192;
}

.blue {
	color: #0071ba;
}

.blue-mail {
	color: #29abe2;
}

.green {
	color: #39b54a;
}

.green-bg {
	background-color: #39b54a;
}

.select {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
}

.no-container {
	padding: 0 !important;
	margin: 0 !important;
}

.green-button-bg {
	background-color: #22b373;
	border-radius: none;
	/*border: 1px solid #c0c0c0;*/
	margin: 20px 0px 0px 100px;
	padding: 20px;
	text-align: center;
}

.icons {
	font-size: 35px;
}

.border-side-none {
	border-left: none;
	border-right: none; 
}

.background-grey {
	background-color: #e6e6e6;
}

.side-panel {
	border: 2px solid #d8d8d8;
}

.side-panel-box {
	padding: 10px;
}

.side-panel>a {
	color: #ed1c24;
}

.green-check {
	background-color: #5cc732;
	height: 20px;
	width: 20px;
	color: #fff;
	font-size: 15px;
}

.green-check-loc {
	left: 25px;
	top: 10px;
}

.search>input::-webkit-input-placeholder {
color: #8ba1a8 !important;
}
 
.search>input:-moz-placeholder { /* Firefox 18- */
color: #8ba1a8 !important;  
}
 
.search>input::-moz-placeholder {  /* Firefox 19+ */
color: #8ba1a8 !important;  
}
 
.search>input:-ms-input-placeholder {  
color: #8ba1a8 !important;  
}

.search { 
	position: relative; 
}

.search input { 
	text-indent: 30px;
}

.search .fa-search { 
  position: absolute;
  top: 43px;
  left: 93px;
  font-size: 22px;
  color: #8c8c8c;
}

.search .help-search {
	top: 6px;
	left: 7px;
}

.search .help-search-1 {
 	font-size: 23px;
 	left: 350px;
 	top: 18px;
}

.header-btn-transparent {
	background-color: transparent;
}

.border-grey {
	border: 2px solid #d1d1d1;
}

.border-red {
	border: 2px solid #ed1c24;
}

.sublease-box {
	margin-left: 25%;
}

.header-btn {
	border-radius: none;
	display: inline-block; 
     margin-bottom: 0; 
     font-size: 20px; 
     font-weight: 400; 
     line-height: 1.42857143; 
     text-align: center; 
     white-space: nowrap; 
     vertical-align: middle; 
    -ms-touch-action: manipulation;
     touch-action: manipulation; 
     cursor: pointer; 
     -webkit-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none; 
    padding: 10px;
}

.navbar-wrapper {
	background: rgba(31, 64, 72, 0.76);
}

.navbar-customized {
	color: #133e43;
}

.navbar-nav>li {
	padding: 10px 15px; 
}

.vertical-rule {
  width: 1px; 
  background-color: #999999;
  height: 110px;
  float: left; 
}

.customize-input {
	/*border: 1px inset #ebebeb;*/
	border: none;
	border-left: none;
	width: 25%;
}

.action-bar {
	margin-left: 4%;
}

.bold {
	font-weight: bold !important;
}

.login-color {
	background-color: #415F6A;
}

.icon-size-2 {
	font-size: 2pc;
}

.icon-color {
	color: #7B7D7D;
}

.padding-8 {
	padding: 8px;
}

.padding-10 {
	padding: 10px;
	overflow: hidden;
}

.padding-30 {
	padding: 30px;
	overflow: hidden;
}

.padding-40-10 {
	padding: 40px 10px;
}

.padding-top-10 {
	padding-top: 10px;
}

.padding-top-20 {
	padding-top: 20px;
}

.padding-top-30 {
	padding-top: 30px;
}

.padding-bottom-0 {
	padding-bottom: 0px;
}

.padding-bottom-10 {
	padding-bottom: 10px !important;
}

.padding-bottom-20 {
	padding-bottom: 20px !important;
}

.padding-bottom-30 {
	padding-bottom: 30px !important;
}

.padding-bottom-80 {
	padding-bottom: 80px !important;
}

.padding-bottom-120 {
	padding-bottom: 120px !important;
}

.padding-lr-60 {
	padding: 0px 60px;
}

.padding-60 {
	padding: 60px;
}

.no-padding {
	padding: 0 !important;
}

.margin-10 {
	margin: 10px;
}

.margin-top-5 {
	margin-top: 5px !important;
}

.margin-top-10 {
	margin-top: 10px !important;
}

.margin-top-20 {
	margin-top: 20px !important;
}

.margin-top-30 {
	margin-top: 30px !important;
}

.margin-top-40 {
	margin-top: 40px !important;
}

.margin-bottom-0 {
	margin-bottom: 0px !important ;
}

.margin-bottom-5 {
	margin-bottom: 5px !important ;
}

.margin-bottom-10 {
	margin-bottom: 10px !important ;
}

.margin-bottom-20 {
	margin-bottom: 20px !important ;
}

.margin-bottom-30 {
	margin-bottom: 30px !important ;
}

.margin-bottom-40 {
	margin-bottom: 40px !important ;
}

.margin-bottom-50 {
	margin-bottom: 50px !important ;
}

.margin-top-120 {
	margin-top: 120px !important ;
}

.margin-bottom-120 {
	margin-bottom: 120px;
}

.margin-left--40 {
	margin-left: -40px
}

.margin-left-10 {
	margin-left: 10px
}

.margin-left-20 {
	margin-left: 20px
}

.margin-right-10 {
	margin-right: 10px
}

.margin-left-30 {
	margin-left: 30px
}

.padding-5 {
	padding: 5px;
}

.padding-15 {
	padding: 15px;
}

.padding-30 {
	padding: 30px !important ; 
}

.margin-section-box {
	margin: 120px 40px;
}

.section-block-top {
	top:-128px;
	z-index: 2;
	margin: 0px 40px -25px;
	position: relative;	
}

.help-hr {
	margin: 0px 0px 10px 15px;
}

.email-input {
	padding: 18px;
}

.invite-block {
	position: absolute;
	width: 100%;
	padding: 20px;
	margin: 0px 0px 0px -236px;
	border: none
}

.copy-block {
	position: absolute;
	width: 100%;
	padding: 19px;
	margin: 0px 0px 0px -157px;
	border: 1px solid #b3b3b3;
    border-left: none;
}

.textarea-input {
	height: 60px;
	width: 100%;
}

.container-block-inside {
	top:500px;
}

.overflow-hide {
	overflow: hidden;
}

.padding-header {
	padding-right: 20px;
}

.navbar-default-header {
	background-color: #fff;
	color: #3d626d;
}

.navbar-default-inbox {
	background-color: #3d626d;
	color: #cccccc;
}

.header-menu >a {
	color: #e4e4e4;
	background-color: transparent !important;
}

.dropdown-toggle:hover {
	background-color: transparent !important;
}

.nav>li>a {
	background-color: transparent !important;
}

.profile-image {
	height: 60px;
	width: 60px;
}

.help-dropdown {
	max-height: 350px;
}

.circular-image {
	border-color: #aaa;
	border-color: rgba(255, 255, 255, 0.2);
	display: block;
	border-width: 1px;
	border-style: solid;
	webkit-border-radius: 50%;
	moz-border-radius: 50%;
	border-radius: 50%;
	text-align: center;
}

.list-layout {
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
}

.link-contrast {
	color: #fff;
	font: bold;
}

.link-contrast:hover, .link-contrast:focus, .link-contrast:active{
	text-decoration: none;
	outline: none;
}

.link-contrast:hover, .link-contrast:focus {
	color: #bbb;
}

.link-contrast-background {
	background-color: #545454;
}

.footer-icon-container {
	height: 36px;
	width: 36px;
}

.screen-reader-only {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.container-brand-dark {
	padding:30px 0 10px 0; 
	background-image: url(../images/travel-icons.png);
	background-color: #02475d;
	/*opacity: 0.2;*/
}

.page-container-responsive {
	z-index: 2;
}

.container-image {
	width: auto;
}

.h5 {
	color: #fff;
	margin-bottom: 20px;
	font-weight: bold;
}

.block-padding {
	padding: 20px 20px 10px 20px;
}

.block-image {
	height: 300px;
}

.first-block {
	background-color: #bbcad2;
	height: 400px;
}

.first-img {
	margin-left: 52%;
	margin-top: 6%;
}

.second-block{
	background-color: #e4e4e4;
	height: 400px;
	margin-bottom: 30px;
}

.second-img {
	margin-top:6%;
}

.third-block {
	background-color: #ef5a24;
	height: 400px;
}

.third-img {
	padding: 0;
	height: 400px;
}

.footer-divider {
	border-top: 3px solid #545454;
	width: 70%;

}

.opaque-carousel {
	opacity: 0.5;
	z-index: 5 !important;
}

.transparent-header {
    z-index: 10 !important;
    width: 100%;
    position: absolute;
    background: rgba(19, 62, 67, 0.76);
    border: 0;
}

.static-header {
	width: 100%;
    position: relative;
    background: rgb(19, 62, 67);
    border: 0;
}

.half-opaque {
	background: rgba(255, 255, 255, 0.46);
	z-index: 5 !important;
	position: absolute;
	border: 0;
	height: auto;
	padding: 243px 142px;
}

.no-opaque {
	z-index: 5 !important;
	position: absolute;
	border: 0;
	height: auto;
	padding: 328px 0px 0px 142px;
	color: #fff;
}

.sign-content {
    background-color: #fff;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 30%; /* Could be more or less, depending on screen size */
    height: auto;
    border: 1px solid #b7b7b7   
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fff;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 30%; /* Could be more or less, depending on screen size */
    height: auto;
    border: 1px solid #b7b7b7   
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/*------MODAL END------*/

.hr-text {
	width:100%; 
	text-align:center; 
	border-bottom: 1px solid #b3b3b3; 
	line-height:0.1em; 
	margin:25px 0 20px;
}

.hr-text >span {
	background:#fff; 
	color:#cacaca;
	padding:0 10px;
}

.google-icon-image {
	background-color: #fff;
	height:25px; 
	width:25px;
}

.bottom-text {
	position: absolute; 
	bottom: 20px; 
	width: auto; 
	text-align: center;
	color: #333333;
}

.help-boxes {
	height: 160px;
}

.help-boxes:hover, .help-boxes:active {
	background-color: white;
}
