 <!-- Static navbar -->
<nav class="navbar-default-inbox navbar-static-top">
        <div id="navbar" class="navbar-collapse collapse action-bar">
          <ul class="nav navbar-nav">
            <li><a ui-sref="about">About</a></li>
            <li><a ui-sref="press">Press</a></li>
            <li><a ui-sref="careers">Careers</a></li>
            <li><a ui-sref="blog">Blog</a></li>
          </ul>
        </div>
      </nav>