<nav class="navbar-default-header navbar-static-top">
        <div class="navbar-header">
          <a class="navbar-brand margin-top-30 margin-top-10 margin-top-5" href="index.html">LOGO</a>
        </div>
        <div class="vertical-rule"></div>
          
    <div class="search">
            <i class="fa fa-search"></i>
<!--            <input type="text" class="form-control"	id ="my_address" name="my_address">-->
    </div>
    
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav pull-right">
            <li>
              <button class="header-btn-transparent grey-color border-grey header-btn margin-top-20 navbar-brand">
                Sublease Your Place
              </button>
            </li>
            <div class="vertical-rule"></div>
            <li class="margin-top-20 text-center dropdown">
              <div class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-commenting-o icons margin-bottom-10" aria-hidden="true"></i><br>
                Message
              </div>
              <ul class="dropdown-menu message-dropdown text-center">
                <li class="margin-top-10">
                  <div class="container-fluid">
                    <div class="clearfix">
                      <div class="col-md-6 col-sm-6 col-xs-6">
                        <span class="pull-left width-full">Message (1)</span>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-6" ui-sref='inbox'>
                        <span class="pull-right">View Inbox</span>
                      </div>
                    </div>
                  </div>
                </li>
                <hr>
                <li class="margin-top-10 margin-bottom-10">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-md-6 col-sm-6 col-xs-6">
                        <span class="pull-left">Notification (1)</span>
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-6" ui-sref='dashboard'>
                        <span class="pull-right">View Dashboard</span>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
            <div class="vertical-rule"></div>
            <li class="margin-top-20 text-center" ui-sref="help" ui-sref='help.head'><i class="fa fa-life-ring icons margin-bottom-10" aria-hidden="true"></i><br>Help</li>
            <div class="vertical-rule"></div>
            <li class="margin-top-20 text-center"><i class="fa fa-exclamation-triangle icons margin-bottom-10" aria-hidden="true"></i><br>Disclaimer</li>
            <div class="vertical-rule"></div>
            <li class="margin-top-5 text-center dropdown">
              <div class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <img class="profile-image circular-image" src="images/Woman Reading Study Plan.jpg" >
                  Name
              </div>
                  <ul class="dropdown-menu name-dropdown text-center">
                    <li class="margin-top-10"><a ui-sref="profile.edit">Edit Profile</a></li>
                    <li class="margin-top-10"><a ui-sref="wishlist">Wish Lists</a></li>
                    <li class="margin-top-10"><a href="#">Account Settings</a></li>
                    <li class="margin-top-10"><a href="/users/logout">Log Out</a></li>
                  </ul>
            </li>
          </ul>
      </div>
    </nav>

    <!-- Static navbar -->
    <nav class="navbar-default-inbox navbar-static-top">
        <div id="navbar" class="navbar-collapse collapse action-bar">
          <ul class="nav navbar-nav">
            <li><a ui-sref="about">About</a></li>
            <li><a ui-sref="press">Press</a></li>
            <li><a ui-sref="careers">Careers</a></li>
            <li><a ui-sref="blog">Blog</a></li>
          </ul>
        </div>
    </nav>
    