 <!-- Static navbar -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      
      <ul class="nav navbar-nav">

            <li><a ui-sref="dashboard">Dashboard</a></li>
            <li><a ui-sref="inbox">Inbox</a></li>
            <li><a ui-sref="property">Your Property</a></li>
            <li><a ui-sref="prospective">Prospective Subleases</a></li>
            <li><a ui-sref="profile">Profile</a></li>
            <li><a ui-sref="account">Account</a></li>
      
      </ul>

    </div>
  </div>
</nav>