<div id="footer" class="">
    
    <footer class=" footer-color" style="background-image:url('images/travel-icons.png');">
        
        <div style="height:auto;background-color:rgba(0,0,0,0.77);" >
		  
		  <div class="row-condensed page-container-responsive" >
		    
		    <div class="col-md-2 col-sm-2 col-xs-2 hide-sm"></div>

		    <div class="col-md-2 col-md-offset-1 hidden-xs margin-top-10 margin-bottom-5">
		      <h2 class="h5">Company</h2>
		      <ul class="list-layout">
		          <li><a href="about-us" class="link-contrast">About</a></li>
		          <li><a href="press" class="link-contrast">Press</a></li>
		          <li><a href="help" class="link-contrast">Help</a></li>
		          <li><a href="policies" class="link-contrast">Policies</a></li>
		          <li><a href="terms" class="link-contrast">Terms &amp; Privacy</a></li>
		      </ul>
		    </div>

		    <div class="col-md-2 hidden-xs margin-top--6 margin-bottom-5">
		      <h2 class="h5" ></h2>
		      <ul class="list-layout margin-top-30">
		          <li><a href="careers" class="link-contrast">Careers</a></li>
		          <li><a href="blog" class="link-contrast">Blog</a></li>
		          <li><a href="disclaimer" class="link-contrast">Disclaimer</a></li>
		          <li><a href="promises" class="link-contrast">Our Promises</a></li>
		      </ul>
		    </div>

		    <div class="col-md-2 hidden-xs margin-top-10 margin-bottom-5">
		      <h2 class="h5">Subleasing</h2>
		      <ul class="list-layout">
		          <li><a ui-sref="why-sublease" class="link-contrast">Why Subleasing</a></li>
		          <li><a ui-sref="responsible" class="link-contrast">Resposible Subleasing</a></li>
		          <li><a ui-sref="home-safety" class="link-contrast">Home Safety</a></li>
		          <li><a ui-sref="instant-book" class="link-contrast">Instant Book</a></li>
		      </ul>
		    </div>
		    <div class="col-md-4 hidden-sm"></div>
		  </div>


		    <hr class="footer-divider space-top-8 space-4  hidden-xs">

		    <div class="text-center padding-bottom-10 margin-top-5">
		    <center>
		      
		      <ul class="list-layout list-inline" itemscope="" itemtype="">
		        <link itemprop="url" href="">
		        <meta itemprop="logo" content="">
		          <li>
		            <a href="#" class="link-contrast footer-icon-container circular-image link-contrast-background" itemprop="sameAs" target="_blank">
		              <span class="screen-reader-only">Facebook</span>
		              <h4><i class="fa fa-facebook white" aria-hidden="true"></i></h4>
					</a>
				  </li>
		          
		          <li>
		            <a href="#" class="link-contrast footer-icon-container circular-image link-contrast-background" itemprop="sameAs" target="_blank">
		              <span class="screen-reader-only">Google+</span>
		              <h4><i class="fa fa-google-plus white" aria-hidden="true"></i></h4>
					</a>
				  </li>

				  <li>
		            <a href="#" class="link-contrast footer-icon-container circular-image link-contrast-background" itemprop="sameAs" target="_blank">
		              <span class="screen-reader-only">Instagram</span>
		              <h4><i class="fa fa-instagram white" aria-hidden="true"></i></h4>
					</a>
				  </li>

				  <li>
		            <a href="#" class="link-contrast footer-icon-container circular-image link-contrast-background" itemprop="sameAs" target="_blank">
		              <span class="screen-reader-only">Pinterest</span>
		              <h4><i class="fa fa-pinterest-p white" aria-hidden="true"></i></h4>
					</a>
				  </li>

		          <li>
		            <a href="#" class="link-contrast footer-icon-container circular-image link-contrast-background" itemprop="sameAs" target="_blank">
		              <span class="screen-reader-only">Twitter</span>
		              <h4><i class="fa fa-twitter white" aria-hidden="true"></i></h4>
					</a>
				  </li>
		      </ul>

		    </center>
		    </div>
		    </div>
		</footer>
  	 </div>