<!-- LOGIN MODAL -->
    <div id="myLogInModal" class="modal">

	  <!-- Modal content -->
	  <div class="modal-content">
	    <span class="close close2">x</span>
	    <div class="padding-30">
			<button class="header-btn margin-top-20 btn-primary width-full">
				<i class="fa fa-facebook pull-left padding-5" aria-hidden="true"></i>
			    	Log In with Facebook
			</button>
			<button class="header-btn margin-top-20 header-btn-transparent grey-color border-grey width-full">
				<img class="google-icon-image pull-left" src="icons/G_is_For_Google_New_Logo_Thumb.png">
			    	Log In with Google
			</button>
			<h4 class="hr-text"><span> Or </span></h4>
				<input type="text" name="email" placeholder="Email Address" class="width-full padding-10 margin-top-10 input-border">
			    <input type="text" name="password" placeholder="Password" class="width-full padding-10 margin-top-10 input-border">
			    <div class="row margin-top-10">
			    	<div class="col-md-6">
			    		<input class="input-border" type="checkbox" name="remember" value="remember" checked> Remember me
			    	</div>
			    	<div class="col-md-6 red-color">
			    		Forgot Password?
			    	</div>
			    </div>
	    	<button class="header-btn margin-top-20 btn-danger width-full">
	    		Log In
	    	</button>
	    	<hr>
	    	<div class="row">
	    		<div class="col-md-7 margin-top-10">
	    			<h5><span class="text-muted padding-5"> Dont' have an account?</span></h5>
	    		</div>
	    		<div class="col-md-5">
	    			<button class="header-btn border-red header-btn-transparent pull-right width-full margin-bottom-10 red-color">
	    				Sign Up
	    			</button>
	    		</div>
	    	</div>
	    </div>
	  </div>
	</div>
	<!-- END MODAL -->