<div class="padding-lr-60">
    
    <h3 class="orange">Rseources for the 2015 US Tax Season?</h3>
    <br>
    
    <div class="margin-left-10">

	    <p>
	    	
	    	As a host, your earnings may be subject to US income taxes. We expect all hosts to comply with the tax regulations in their area, and encourage you to consult a tax professional if you need advice on reporting your income.	
	    
	    </p>
	    <p>

	    	H&R Block will provide a $20 discount on in-person tax preparation services and a 35% discount on online tax preparation services for Sublesae U hosts who use the service between January 1, 2016 and April 18, 2016. <span class="orange">Visit hrblock.com/Partner/SubleaseU to learn more </span> .	

	    </p>
	    <p>
	    	
	    	Ernst and Young (“EY”) has prepared an overview of tax considerations for Airbnb hosts relating to the US taxation of rental income. This information provides an overview of how to complete your US income tax return as well as some of your tax responsibilities as an Sublease U host. <span class="orange"> Access EY’s “General guidance on the taxation of rental income” here </span> .


	    </p>
	    <p>
	    	
	    	Disclaimer: Sublesae U presentation of EY and H&R Block is not an endorsement. Tax advice is complicated, and you should do your own diligence when receiving advice. Airbnb is not responsible for any tax or other advice provided by any outside entity.


	    </p>

    </div>
	
	<br>

	<h3 class="orange">
		
		Should I expect to receive a tax form from Sublesae U?


	</h3>

	<br>

    <div class="margin-left-10">
    	
	<p>
		
		Depending on your account status, forms submitted to Sublesae U, and other factors, you may receive a tax form from Sublease U.


	</p>
	<p>
		
		As always, we encourage you to consult a tax professional for assistance reporting your income. If you think you've submitted the wrong information, you can <span class="orange">make changes to taxpayer information </span> you've already submitted.

	</p>
	<p>
		
		Sublease U expects to issue tax forms to the following categories of persons:


	</p>


	<p>
		
		<b class="black-text">
			
			US persons who have earned over $20,000 and had 200+ reservations


		</b>

	</p>
	<p>
		
		The Internal Revenue Service (IRS) requires that all US companies processing payments, including Sublesae U, report the gross earnings of US customers that earn over $20,000 and have 200+ transactions in the calendar year. If you cross both IRS thresholds in a calendar year, Sublease U will provide you with a Form 1099-K.

	</p>

	<p>
		
		<b class="black-text">
			
			Delivery of Form 1099-K


		</b>


	</p>
	<p>
		
		Any Form 1099-K issued to you will be available in your Payout Preferences. You'll receive an email notification when your form is ready, typically in late January of each year. We also mail a copy to the address you provided along with your taxpayer information, unless you opted for electronic delivery only. You may receive more than one Form 1099-K if your taxpayer information is listed on multiple Sublease U accounts.


	</p>
	<p>
		

		<b class="black-text">
			
			Non-US persons who have submitted a Form W-8


		</b>


	</p>
	<p>
		

		Hosts with US sourced earnings who have filled out a Form W-8 will be provided a Form 1042-S.



	</p>
	<p>
		
		<b class="black-text">
			
			Delivery of Form 1042-S


		</b>


	</p>
	<p>
		
		You'll receive a Form 1042-S in the mail at the address you entered when you submitted your tax information, typically in late February of each year. The IRS requires that we mail Form 1042-S by the end of March.



	</p>
	<p>
		

		<b class="black-text">
			
			Hosts that had funds withheld from their payouts for taxes


		</b>

	</p>
	<p>
		
		If taxes were withheld from your payouts during the calendar year, you’ll be provided with the appropriate tax form so that you may account for the withholdings on your income tax return. Read more about withheld taxes.

	</p>
	<p>
		
		<b class="black-text">
			
			Sublease U service providers (photographers, translators, others)


		</b>


	</p>
	<p>
		
		Sublease U service providers, including photographers, translators, and additional service providers, will receive a Form 1099-MISC.



	</p>
	<p>
		

		<b class="black-text">
			Delivery of Form 1099-MISC
		</b>

	</p>
	<p>
		
		Any Form 1099-MISC issued to you will be available in your Payout Preferences. You'll receive an email notification when your form is ready, typically in late January of each year. We also mail a copy to the address you provided along with your taxpayer information, unless you opted for electronic delivery only.

	</p>

    </div>
    
    <h3 class="orange">Where do I find my Airbnb earnings for tax purposes?</h3>

    <br>

    <div class="margin-left-10">
    
    <p>
    	Whether you’re looking for detailed information on a specific transaction or a static report, you can view your earnings at any time from your Sublease U account.
    </p>	
    <p>
    	
    	It's your responsibility to determine what, from your total amount earned, to report as taxable income on your tax return. We encourage you to consult a tax advisor if you need assistance <span class="orange">deducting any non-taxable income</span>.

    </p>
    <p>
    	
    	<b class="black-text">
    		
    		Transaction history

    	</b>

    </p>
    <p>
    	
    	You can filter transactions by payout method, listing, and date from your <span class="orange"> Transaction History </span> . Your transaction history includes completed and future transactions, along with an option to view gross earnings.

    </p>
    <p>
    	
    	<b class="orange">

    		Learn more about how to use your transaction history.

    		
    	</b>

    </p>


    </div><br>

    <h3 class="orange">
    	
    	How do I change my taxpayer information?

    </h3><br>

    <div class="margin-left-10">
    	
    	<p>

    	To update your taxpayer information:

    		
    	</p>
    	<p>

    		<li>Log into Sublease U.com from your desktop computer</li>
    		<li>Go to your <span class="orange"> Payout Preferences </span> </li>
    		<li>To the right of your Taxpayer Information, click <b class="black-text">Options</b>  </li>
    		<li>Select <b class="black-text">Edit</b></li>
    		
    	</p>
    	<p>
    		
    		Don't forget to click <b class="black-text"> Submit </b> after making any changes, and you're all set!

    	</p>
    	<p>
    		
    		Some fields aren't editable, so if you're trying to change your tax ID number, tax classification, or enter a different taxpayer entirely, please <span class="orange"> add a new taxpayer </span> .

    	</p>
    	<p>
    		
    		If you’ve added more than one taxpayer, you’ll be able to remove any record that is not your default by clicking <b class="black-text"> Options > Delete </b> .

    	</p>

    </div><br>

    <h3 class="orange">

    	Can I correct an error on my tax form?
    	
    </h3><br>
    
    <div class="margin-left-10">

    <p>

    	You can edit your taxpayer information or change the way your earnings are assigned between multiple taxpayers from your <span class="orange"> Payout Preferences </span> , but changes made after December 31st, 2015 will be applied to the 2016 tax year.

    </p>
    <p>
    	
    	If the earnings shown on an issued tax form show a higher amount than you were expecting, it's most likely the difference between your net and gross earnings. We're required to print gross earnings (inclusive of our 3% host fee) on all tax forms.


    </p>
    
    </div>
    
    <h3 class="orange">How do I split income between multiple people?</h3><br>

    <div class="margin-left-10">

    	<p>

    	To divide Sublease U income between multiple people, each person needs to be paid with a separate payout method. Once each payout method has a <b class="black-text"> Ready </b> status, you'll have the option to split your payouts by property, percentage, or both.

    		
    	</p>
    	<p>
    		
    		<b class="black-text">
    			Split payouts using routing rules
    		</b>

    	</p>
    	<p>
    		
    		Routing rules let you split your payouts between two payout methods per listing. To add a routing rule:

    	</p>
    	<p>

	    	<li>Go to <span class="orange"> Payout Preferences </span> on SublesaeU.com</li>
	    	
	    	<li>Under <b class="black-text"> Payout Routing Rules </b> click <b class="black-text"> Add Payout Routing Rule </b> and direct your payouts to each payout method</li>

    		
    	</p>
    	<p>

    		<b class="black-text">
    		
    		Assign taxpayer information to each payout method


    		</b>
    		
    	</p>
    	<p>
    		
    	Only one taxpayer can be assigned to each payout method. To assign taxpayer information to a payout method:
	

    	</p>

    	<p>
    		
    		<li>Go to <span class="orange"> Payout Preferences </span> on SublesaeU.com</li>
    		<li>Under Taxpayer Information click Add taxpayer and add taxpayer information for each individual or entity who receives earnings from your account</li>
    		<li>Under <b class="black-text"> Payout Methods </b> click <b class="black-text"> Options </b> and select <b class="orange"> Assign taxpayer </b></li>
    		<li>Under <b class="black-text"> Assigned to taxpayer </b> select a taxpayer for the payout method</li>

    	</p>
    	<p>

	    	New payout methods, and those that haven't been assigned to a specific taxpayer, are assigned to the default taxpayer. To change your default taxpayer:
	    		
    	</p>
    	<p>
    		<li>Go to <span class="orange"> Payout Preferences </span> on SublesaeU.com</li>
    		<li>Under <b class="black-text"> Taxpayer Information </b> click <b class="black-text"> Options </b> and select <b class="black-text"> Make default </b> </li>


    	</p>
    	
    </div><br>
    
    <h3 class="orange">

    Why is Sublease U requesting my taxpayer information?

    </h3><br>
    
    <div class="margin-left-10">
    	<p>
    	As a US company processing payments, we're required by US law to collect taxpayer information from hosts who appear to have US-sourced income. To add your taxpayer information, go to your Payout Preferences and <span class="orange"> complete the appropriate form </span>. It only takes a minute or two!</p>

    	<p>

    	Even if you're not a US person and have no US listings, we may be required to collect certain documentation from you to find out if your earnings through Sublease U are subject to US tax.

    			
    	</p>
    	<p>
    		
    		Depending on your tax status, total earnings for the year, and number of reservations, we may provide you with a tax form showing your earnings.



    	</p>
    	<p>
    		
    		Whether or not you receive a form from us, it remains your responsibility to determine what amount to report as taxable income on your US income tax return. We encourage you to consult a tax professional if you need advice on reporting your income. One resource for an overview of your US income tax responsibilities and information on how to complete your US income tax return is <span class="orange"> Ernst and Young’s "General guidance on the taxation of rental income."</span>

    	</p>

    </div><br>

    <h3 class="orange">
    	
    	Why are taxes being withheld from my payouts?


    </h3><br>

    <div class="margin-left-10">

    	<p>

	    	If you received a request to submit your taxpayer information and haven't provided it yet, we're required to withhold 28% from your payouts and remit the withholdings to the Internal Revenue Service in Washington, DC. You can avoid this by <span class="orange"> submitting your taxpayer information.</span>
    		
    	</p>
    	<p>
    		
    		Once we receive your information, we won't withhold from your future payouts. However, any amounts that have already been withheld and remitted to the IRS cannot be returned to you by Sublease U.


    	</p>
    	<p>

	    	The total amount withheld will be included on any tax forms issued to you so that you may account for these withholdings on your income tax return. We encourage you to consult a tax advisor if you need assistance accounting for any withholdings that have been remitted to the IRS on your behalf.

    		
    	</p>
    	<p>
    		
    		<b class="black-text">W-8BEN Taxpayers (Non-US persons with US listings)</b>


    	</p>
    	<p>
    	
	    	Unless valid tax treaty benefits have been claimed on your W-8BEN, Sublease U is required to withhold 30% on all payouts from US listings hosted by non-US persons and remit the funds directly to the IRS. At the end of the year, Sublease U will report the total amount withheld and earnings to you on a Form 1042-S.
    		
    	</p>
    	<p>

    		You may review or revise your Sublease U taxpayer information in your <span class="orange"> Payout Preferences</span>.

    		
    	</p>
    	
    </div>


</div>