<div class="col-lg-9 col-md-9 col-xs-9 col-sm-9 padding-20 margin-top-30">
    
          <div class="border-grey white-bg margin-bottom-20">
            <div class="navbar-header width-full border-side-none background-grey padding-5">
              <h4>Payment Methods</h4>
            </div>
            <div class="padding-10">
              <div class="row margin-left-20 text-center">
                  <div class="margin-top-10 margin-bottom-30">
                  
                  </div>
                  <div class="row icon-color weight-normal margin-bottom-20">
                    <div class="col-lg-4 col-md-4 col-xs-4 col-sm-4 padding-bottom-20 ">
                      <div class="border-grey padding-40-10 help-boxes pointer">
                        <i class="fa fa-plus icon-size-2 padding-bottom-30" aria-hidden="true"></i>
                        <br>
                        Add Payment Method
                      </div>
                    </div>
                    <div class="col-md-8"></div>
                  </div>
                <p class="pull-left"><b class="black-text">Remember:</b> Sublease U will never ask you to wire money.<a href="#" class="orange">Learn more.</a></p>
              </div>
            </div>
          </div>
          <div class="border-grey white-bg margin-top-30 ">
            <div class="navbar-header width-full border-side-none background-grey padding-5">
              <h4>Sublease U Gift Card</h4>
            </div>
            <div class="padding-10">
              <div class="row margin-left-20">
                <p><b class="black-text">Sublease U gift card balance: </b>$0</p>
                <p>The credit balance from gift cards will be automatically applied when you book a trip.</p>
              </div>
              <div class="row margin-left-20 margin-top-30">
                <input type="text" class="width-30" placeholder="Enter Sublease U gift card code">
                <button class="orange-bg white border-radius-5 width-30 padding-8 margin-left-20">
                  Apply to Account
                </button>
              </div>
              <p class="orange margin-top-20 margin-left-20">Sublease U gift card help</p>
            </div>
          </div>
</div>