<div class="container">

      <div class="row margin-section-box white-bg padding-top-30">

        <div class="col-md-6 col-xs-12 col-sm-12 col-lg-6">
          
          <div class="padding-60 text-center"> 
            
            <h1 class="bold">Choose your next trip</h1>
            <h5 class="bold">Spread the word with your link or over social media</h5>
            <button class="orange-bg border-radius-0 no-border padding-10 margin-top-10 width-65 white" ui-sref='prospective-invite'>
              Invite Friends
            </button>

          </div>

        </div>

        <div class="col-md-6">
          <img src="images/Untitled-1.png" class="pull-left">
        </div>

      </div><!-- /.row -->

    </div><!-- /.container -->