<div data-ng-include="'partials/partial-help-head.html'"></div>
    <div class="text-center container">
      <center>
        <div class="margin-top-5 margin-bottom-10">
          <div class="border-grey width-half padding-10">
            <p>Please log in or sign up for more help</p>
            <button class="login-color margin-right-10" ui-sref='signin'>
              LOG IN
            </button>
            <button class="white-bg margin-left-10" ui-sref='signup'>
              SIGN UP
            </button>
          </div>
        </div>
      </center>
      <h4 class="margin-bottom-10">Help Center</h4>
      <div class="row icon-color weight-normal">
        <div class="col-md-1"></div>
        <div class="col-md-2 padding-bottom-20">
          <div class="border-grey padding-40-10 help-boxes" ui-sref='edit'>
            <i class="fa fa-pencil-square-o icon-size-2 padding-bottom-30" aria-hidden="true"></i>
            <br>
            Edit Profile
          </div>
        </div>
        <div class="col-md-2 padding-bottom-20">
          <div class="border-grey padding-40-10 help-boxes" ui-sref='problem'>
            <i class="fa fa-flag-o icon-size-2 padding-bottom-30" aria-hidden="true"></i>
            <br>
            Reporting a Problem
          </div>
        </div>
        <div class="col-md-2 padding-bottom-20">
          <div class="border-grey padding-40-10 help-boxes" ui-sref='payment'>
            <i class="fa fa-credit-card icon-size-2 padding-bottom-30" aria-hidden="true"></i>
            <br>
            Payments
          </div>
        </div>
        <div class="col-md-2 padding-bottom-20">
          <div class="border-grey padding-40-10 help-boxes" ui-sref='offer'>
            <i class="fa fa-star-o icon-size-2 padding-bottom-30" aria-hidden="true"></i>
            <br>
            Special Offers
          </div>
        </div>
        <div class="col-md-2 padding-bottom-20">
          <div class="border-grey padding-40-10 help-boxes" ui-sref='tax'>
            <i class="fa fa-file-text-o icon-size-2 padding-bottom-30" aria-hidden="true"></i>
            <br>
            Tax
          </div>
        </div>
        <div class="col-md-1"></div>
      </div>
      <div class="row icon-color weight-normal margin-bottom-10">
        <div class="col-md-1"></div>
        <div class="col-md-2 padding-bottom-20">
          <div class="border-grey padding-40-10 help-boxes" ui-sref='travelling'>
            <i class="fa fa-pencil-square-o icon-size-2 padding-bottom-30" aria-hidden="true"></i>
            <br>
            Travelling
          </div>
        </div>
        <div class="col-md-2 padding-bottom-20">
          <div class="border-grey padding-40-10 help-boxes" ui-sref='booking'>
            <i class="fa fa-credit-card-alt icon-size-2 padding-bottom-30" aria-hidden="true"></i>
            <br>
            Booking Modifying a Reservation
          </div>
        </div>
        <div class="col-md-2 padding-bottom-20">
          <div class="border-grey padding-40-10 help-boxes" ui-sref='cancel'>
            <i class="fa fa-times icon-size-2 padding-bottom-30" aria-hidden="true"></i>
            <br>
            Cancelling a Reservation
          </div>
        </div>
        <div class="col-md-2 padding-bottom-20">
          <div class="border-grey padding-40-10 help-boxes" ui-sref='terms'>
            <i class="fa fa-list-alt icon-size-2 padding-bottom-30" aria-hidden="true"></i>
            <br>
            Terms & Policies
          </div>
        </div>
        <div class="col-md-2 padding-bottom-20">
          <div class="border-grey padding-40-10 help-boxes" ui-sref='reviews'>
            <i class="fa fa-commenting-o icon-size-2 padding-bottom-30" aria-hidden="true"></i>
            <br>
            Reviews
          </div>
        </div>
        <div class="col-md-1"></div>
      </div>
      <hr class="margin-bottom-10">
    </div>