<div data-ng-include="'partials/partial-help-head.html'"></div>
    <div class="container margin-bottom-120">
      
      <div class="margin-top-10 margin-bottom-30 text-center">
        Changes & Cancellations
      </div>

      <div class="row icon-color weight-normal margin-bottom-20 text-center">
        <div class="col-md-5"></div>
        <div class="col-md-2 padding-bottom-20">
          <div class="border-grey padding-40-10 help-boxes">
            <i class="fa fa-times icon-size-2 padding-bottom-30" aria-hidden="true"></i>
            <br>
            Cancelling a Reservation
          </div>
        </div>
        <div class="col-md-5"></div>
      </div>
      <div class="padding-lr-60">
        
        <h3 class="orange">Extenuating Circumstances Policy</h3>

        <div class="margin-left-10">

           <p>Sublease U empowers hosts to set and manage their cancellation policies. If a host or guest needs to cancel a reservation, it’s their responsibility to cancel as soon as possible. At times, certain circumstances outside of a host or guest’s control can impact their ability to meet the terms of a reservation.</p><br>

          <p>In rare instances, if Sublease U determines that a Guest’s reason for cancellation falls within Sublease U Extenuating Circumstances Policy, Sublease U may override the Host's cancellation policy (ex: flexible, moderate, strict) and make refund decisions. If Sublease U determines that a Host’s reason for cancellation falls within Sublease U Extenuating Circumstances policy, Sublease U may waive the host cancellation penalties outlined in Sublesae U Terms of Service and Sublease U Payments Terms of Service.</p><br>


          <p>
              <b class="black-text">What might be covered?</b>
          </p><br>

          <p>
              <b>Valid extenuating circumstances include:</b>

          </p><br>

          <p>
            
            <li>Unexpected death or serious illness of a host, guest or immediate family member</li>
            <li>Serious injury that directly restricts a guest’s ability to travel or a host’s ability to host</li>
            <li>Significant natural disasters or severe weather incidents impacting the location of destination or location of departure</li>
            <li>Urgent travel restrictions or severe security advisories issued after the time of booking, by an appropriate national or international authority (such as a government office or department)</li>
            <li>Endemic disease declared by a credible national or international authority (such as the US Center for Disease Control or the World Health Organization)</li>
            <li>Severe property damage or unforeseen maintenance issues that directly impact the ability to host safely</li>
            <li>Government-mandated obligations issued after the time of booking</li><br>

          </p>


          <p>
              <b class="black-text">If you need to make a claim</b>
          
          </p>

          <br>

          <p class="margin-left-10">
          
          Claims can only be considered after a reservation has been canceled. Once you have informed your host or guest and canceled a reservation, if you feel that your reason for cancellation is covered by Sublease U Extenuating Circumstances Policy, contact Sublease U for consideration. We generally require claims to be submitted no later than 14 days from the original check-in date and we may require valid supporting documentation.

          </p>

          
        </div>

        <h3 class="orange">How do I edit or remove a Special Offer?</h3><br>

        <div class="margin-left-10">
          
                <p>You can still make changes or cancel a Special Offer as long as a guest hasn't accepted it.</p><br>

              <p><b class="black-text">Cancel a Special Offer</b></p><br>

              <p>To cancel a Special Offer:</p>

              <p>
                
                <li> 1. Go to <span class="orange">Your Messages</span></li><br>
                <li> 2. Open the message from the guest you sent a Special Offer to</li><br>
                <li> 3. Click <span class="black">Remove Special Offer</span> within the message thread</li><br>

              </p>
              
              <p><b class="black-text">Edit a Special Offer</b></p><br>

              <p>To edit a Special Offer:</p><br>

              <p>

                  <li>1. Go to <span class="orange">Your Messanges</span></li><br>
                  <li>2. Open the message from the guest you sent a Special Offer to</li></br>
                  <li>3. On the left side of the page under <b class="black-text"> Payment </b> click <b class="black-text"> Send special offer </b></li>
                  <li>4. In the <b class="black-text"> Subtotal </b> field, enter the new price you’d like to offer your guest for their stay (be sure to include cleaning fee or your additional guest fee in this subtotal)</li>
                  <li>5. Click <b class="black"> Send special offer </b> </li><br>

              
              </p>
              
              <p class="margin-left-10">
        
                  If the guest has already booked your place, use the <span class="orange">alterations tool </span>to make changes to accepted reservations.
        
              </p>
        
        </div>
        
        <h3 class="orange">
          
          What should I do if I'm uncomfortable hosting someone?


        </h3>

        <div class="margin-left-10">

        <p>
          Your safety and comfort are always a priority. If you find that a guest isn't a fit for your space or hosting style, you can decline their reservation request or cancel the reservation.
        </p>

        <br>

        <p>
            <b class="black-text">
              Before you've accepted a reservation
            </b>
        </p>

        <br>
        
        <p>

          We encourage you to take advantage of the <span class="orange"> safety features </span>we've built to help give you peace of mind and help you get to know potential guests.
          
        </p>

        <br>
        
        <p>

           Declining an individual reservation request won't negatively impact your listing's placement in search results—however, if you decline many or most reservation requests, your <span class="orange"> search result placement</span> may be negatively impacted. 
        
        </p>

        <br>

        <p>
        
            <b class="black-text">

              After you've accepted a reservation
              
            </b>
        
        </p>

        <br>

        <p>

            If you've already accepted the reservation, you can <span class="orange">cancel it.</span> You may be subject to <span class="orange">cancellation penalties.</span>

          
        </p>

        <br>

        <p>
           
            You won't be eligible for <span class="orange">Superhost status </span> if you cancel a confirmed reservation—unless it’s under extenuating circumstances.
        
        </p>

        <p>
            <b class="black-text">
              Flagging inappropriate messages
            </b>
        
        </p>

        <br>

        <p>

        If a message from a guest makes you uncomfortable, let us know by flagging it. To flag a message, <span class="orange">open the message thread</span> and click the flag icon  next to the message you want to flag to Sublease U for review.

        </p>

        <br>

        <div class="border-grey white-bg" style="margin:10px 10%;padding:20px 40px">

              <b class="black-text">Remember</b>
              <span class="margin-left-10">
                  : In an emergency situation, or if your personal safety is threatened, contact local police or emergency services immediately.
              </span>
          
        </div>

        <br>
  
    </div>

        <h3 class="orange">How do I remove a pre-approval that I've sent to a guest?</h3><br>


        <b class="black-text">Remove a pre-approval</b>

        <br><br>

        <p class="margin-left-10">
        
        If a guest hasn’t accepted a pre-approval and your situation has changed, you can remove a pre-approval. At the moment, you can only remove a pre-approval on a computer.

        </p>
        
        <li>
            1. Go to your <span class="orange">Inbox</span></li>
        <li>
            2. Open the message thread with the guest  
        </li>
        <li>

            3. Click <b class="black-text">Remove Pre-approval</b>
          
        </li><br>

        <p class="margin-left-10">

          You can't edit a pre-approval. If a guest wants to change their travel dates, they'll need to <span class="orange">request a reservation </span> for those dates.
          
        </p>
        
        <br>
        
        <b class="black-text">Why can’t I send a pre-approval?</b>

        <br><br>
        <p class="margin-left-10">

          If you don't see the option to pre-approve a guest, it means that your calendar is blocked for some or all of the guest’s reservation dates.
          
        </p>
        
        <br>

        <p class="margin-left-10">

        To send a pre-approval, <span class="orange">edit your calendar</span> to reflect that your listing is available.

          
        </p>


        <br>

        <h3 class="orange">What does it mean to enforce or waive my cancellation policy?</h3><br>

        <div class="margin-left-10">

        <p>If your guest <span class="orange"> changes a long-term reservation </span> with less than 30 days notice, you have the option to either enforce or waive your cancellation policy.

        </p><br>

        <p>
            
            If you enforce your cancellation policy:


        </p><br>

        <p>
          
          <li>Your guest is charged for the remaining nights of the original reservation up to 30 nights from the date of the alteration request</li>

          <li>Your cancellation policy is immediately reinstated after the alteration is accepted</li>
          
          <li>Your calendar will be updated with the new dates</li>


        </p><br>

        <p>

        If you waive your cancellation policy:
          
        </p>

        <p>
          
          <li>Your guest is only charged for the actual nights stayed</li>

          <li>

          Your cancellation policy is only waived temporarily to allow for the alteration, but it’s not waived for the entire reservation
            
          </li>

          <li>

            Your cancellation policy is immediately reinstated after the alteration is accepted
            
          </li>
          
          <li>
            
            Your calendar is updated according to the new dates


          </li>


        </p><br>

        <p>
          
          If your guest alters the dates of a long-term reservation with more than 30 days notice, you won't see the option to accept or decline the alteration request since the long-term cancellation policy already covers those 30 nights.

        </p>


        </div><br>

        <h3 class="orange">

            What happens if my guest cancels?

          
        </h3><br>

        <div class="margin-left-10">

          <p>

          If your guest cancels their reservation, we’ll notify you and automatically unblock the dates on your calendar so that you can host other guests. Any payout for a canceled reservation will be released 24 hours after the originally scheduled check-in date.
            

          </p><br>

          <p>
            
          If the reservation status hasn’t changed to Canceled in <span class="orange">Your Reservations</span>, it's still considered active, and will appear on your calendar.


          </p><br>

          <b class="black-text">
            
            Guest refunds

          </b><br><br>

          <p>

          Guests who cancel are automatically refunded according to your cancellation policy—unless the cancellation qualifies as an <span class="orange">extenuating circumstance </span> or a <span class="orange"> Guest Refund Policy </span> case.
            

          </p><br>

          <p>

            If you’d like to offer your guest more money back, learn how to issue an additional refund.

            
          </p><br>

          <b class="black-text">
            
              Cancellations after check-in

          </b><br><br>

          <p>
          
          If your guest cancels after they’ve already checked in:
          
          </p>

          <p>

          <li>They’re required to to leave your space as soon as they cancel</li>

          <li>
            
            The terms of your cancellation policy will still apply

          </li>

          <li>
            
          You must make any <span class="orange">security deposit claims </span> within 48 hours of the original checkout date, which you can check in your <span class="orange"> Transaction History </span>


          </li>
            


          </p>



        </div>

        <div class="margin-left-10">


            <h3 class="orange">Cancel a reservation as a host</h3><br>

            <p>
            
            If you need to cancel a guest’s reservation:
            
            </p>

            <b class="black-text">
              
                On your computer


            </b><br>

            <p>
              
              <li>
                  1. Go to Your <span class="orange"> Reservations</span>
              </li>
              
              <li>
                2. Find the reservation you need to cancel
              </li>

              <li>
                
                3. Select <b class="black-text">Change or Cancel </b> to start the cancellation process


              </li><br>
              </p>

              <p>

              <b class="black-text">
                On the Sublease U app
              </b><br>
              </p>

              <p>

              <li>
                1. Go to <span class="orange"> Host Home </span> section of the mobile app

              </li>

              <li>

              2. Select the reservation you need to cancel

                
              </li>

              <li>
                
                  3. Tap <b class="black-text">Cancel Reservation </b> to start the cancellation process


              </li>



            </p><br>

            <p>

                <b class="black-text">On mobile browser</b>
              

            </p><br>

            <p>

                You can’t currently cancel a reservation on Sublease U mobile website. Use your desktop computer or download our <span class="orange">iPhone or Android app </span>to cancel a reservation.
              
            </p><br>
            <p>
            <b class="black-text">
                
                Cancellation Penalties

            </b></p><br>

            <p>
              
              Canceling a guest's reservation can have serious implications on their trip, so <span class="orange"> penalties </span> will be applied unless there is an <span class="orange"> extenuating circumstance</span>.

            </p>
          
        </div>

        <div class="margin-left-10">
          
          <h3 class="orange">
          
              Can I change a reservation as a host?
          
          </h3>

          <br>

          <p>

            If you need to make a change to a confirmed reservation, you can submit a change request to your guest.


          </p><br>

          <p>
            
            <b class="black-text">
              
                Change a reservation

            </b>

          </p><br>

          <p>
         
              <li>1. Go to <span class="orange"> Your Reservations </span> </li>
              <li>2. Click <b class="black-text"> Change or Cancel </b> next to the reservation you want to change.</li>
              <li>3. Choose <b class="black-text"> Change Reservation. </b> </li>
              <li>4. Click Submit Alteration.</li>
              <li>5. If the guest accepts your request, the reservation will be updated and they'll be charged or refunded if necessary. If the request is declined or you don’t receive a response, the reservation will stay the same.</li>   

          </p><br>

          <p>
            
            There are a couple of other things to know about submitting change requests:


          </p><br>

          <p>
            
            <li>
            
              Your chosen <span class="orange"> cancellation policy </span> will apply based on the new dates.
            
            </li>

            <li>
              
              If the dates of the reservation have already passed, you can’t make any changes to the reservation.


            </li>
            <li>
                
              If you want to change the details of your requested changes, you’ll have to repeat the steps above and remove your 
              request, and then submit a new one.

            </li>
            <li>
              
              If you changed your pricing, the new reservation will reflect this pricing if your change request is accepted.


            </li>
            <li>
              
              To request additional funds from your guest, you can do so directly from the Resolutions Center.



            </li>


          </p>


        </div>

        

      </div>
    </div>