<div class="container margin-bottom-120">
      
      <div class="padding-lr-60">
        
        <h3 class="orange">What is VAT and how does it apply to me?</h3>

        <div class="margin-left-10">
        <p>
          
          Value Added Tax, or VAT, is a tax assessed on the supply of goods and services. In Japan, Japanese Consumption Tax, or JCT, is applicable instead of VAT. JCT is a tax assessed on the supply of digital services.


        </p>

        <p>
          
          VAT and JCT rates are calculated according to the local rate of the customer's country of residence. Sublease U charges VAT on its service fees for customers from the European Union, Switzerland, Norway, Iceland, and South Africa. Sublease U charges JCT on its service fees for customers from Japan.

        </p>
        <p>
          
          <b class="black-text">Guests</b>


        </p>
        <p>
          
          VAT or JCT is charged at the time of payment and is based on the total guest service fee for a reservation. If you change your reservation, VAT adjusts to reflect any change in the service fee.
        </p>

        <p>
          
          <b class="black-text">
            
            Hosts


          </b>

        </p>
        <p>
          
          VAT or JCT is deducted from your payout and is based on the total host service fee for a reservation. If you change your reservation, VAT adjusts to reflect any change in the service fee.

        </p>

      </div><br>

      <h3 class="orange">
        Where do I find my VAT invoice?
      </h3>

      <div class="margin-left-10">
        
        <p>A VAT invoice is provided whenever VAT is assessed on Sublease U service fees. An invoice is finalized and issued when a reservation is accepted, and includes your information (name, address, etc) as you entered it in your Sublease U account. Sublease U is not able to modify a VAT invoice after it's been issued.</p>

        <p>
          
          <b class="black-text">
            
            Guests



          </b>


        </p>

        <p>
          
            To access the VAT invoice for your reservation:

        </p>
        <p>
          

        <li>
        Go to <span class="orange"> Your Listings </span> on SubleaseU.com 
        </li>
        <li>
           Select <b class="black-text"> Your Reservations </b> on the left
        </li>
        <li>
          If the reservation you're looking for isn't displayed, click <b class="black-text"> View all reservation history</b>
        </li>
        <li>
          To the right of the reservation, click <b class="black-text">View VAT Invoices </b>
        </li>
        <li>
          Select <b class="black-text"> Host Invoice</b>
        </li>


        </p>
        <p>
          
          If you add a verified VAT ID number to your account, it will be included on VAT invoices created after the addition. For reservation details, reference your host confirmation.


        </p>


      </div><br>

      <h3 class="orange">
        How do I provide my VAT ID number?
      </h3>

      <div class="margin-left-10">
        
        <p>
          
          f you have a VAT ID number registered with the European Commission, you may want to associate that number with your Sublease U account. You can do this whether you're a host operating as a business, or a guest paying with an employer's payment method. This option is not available in Ireland.


        </p>

        <p>
          
          To provide a valid VAT Information Exchange System (VIES) VAT ID number for your account:




        </p>

        <p>
          
          <li> 
            Go to Edit Profile on SubleaseU.com
          </li>
          <li>
            Under <b class="black-text"> Optional </b>, click <b class="black-text"> Add VAT ID Number</b>
          </li>
          <li>
            Enter your VAT ID number verification information
          </li>
          <li>
            Click <b class="black-txt"> Verify</b>
          </li>
          <li>
            Click <b class="black-text"> Save </b>
          </li>


        </p>
        <p>
          
          When your VAT ID number is successfully verified by the European Commission, you won't be charged VAT on our service fees. It will be your responsibility to self-assess whether you need to pay VAT for the use of our services.

        </p>
        <p>
          
          <b class="black-text">
            
            Problems verifying VAT ID number


          </b>


        </p>
        <p>
          
          If your VAT ID number isn't successfully verified by the European Commission, you may want to try re-entering your information. Sublesae U isn't able to associate a VAT ID number with your account without this verification, and can't troubleshoot problems. For a list of correct formats for VAT ID numbers by member state and additional information, please see the European <span class="orange">Commission's VIES FAQ.</span>

        </p>
        <p>
          
          If your VAT ID number can't be verified and you determine you need to self-assess VAT on our service fees, we encourage you to consult a tax advisor for assistance.

        </p>


      </div>

    </div>

</div>