<div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="row">
        	<div class="col-md-3 col-xs-12 col-sm-3 col-lg-3">
        		<div class="container">
        			<div class="row side-panel">
        				<img src="images/Woman Reading Study Plan.jpg" width="100%" height="100%">
        			</div>
        			<div class="row side-panel-box side-panel white-bg text-center">
        				<h2>User Name</h2>
        				<a href="">View Profile</a><br>
        				<a href="">Edit Profile</a>
        			</div>

        			<div class="row side-panel white-bg">
        				
                        <div class="navbar-header width-full border-side-none background-grey padding-5">
        					<h4 class="heading-inbox">Verification <i class="fa fa-question-circle pull-right" aria-hidden="true"></i></h4>

        				</div>

        				<div class="row padding-15">
        					
                            <div class="col-md-4 col-xs-12 col-sm-4 col-lg-4 green-check-loc block padding-10">
        					
                                <center>
                                    
                                    <i class="fa fa-check green-check circular-image" aria-hidden="true"></i>


                                </center>
                            	
        					
                            </div>

        					<center>
                            
                                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 padding-10">
        					                                                   
                                    <b>Email address</b><br>
                                    <span class="text-muted">Verified</span>
                            
                                </div>
                            
                            </center>
                            
	        			</div>

	        			<div class="row padding-15">
	        				
                            <div class="col-md-4 col-xs-12 col-sm-4 col-lg-4 green-check-loc block padding-10">
	        				
                            <center>
                                
                                <i class="fa fa-check green-check circular-image" aria-hidden="true"></i>


                            </center>
                            	
	        				
                            </div>
	        				
                            
                            <center>
                            
                                <div class="col-md-8 col-xs-12 col-sm-12 col-lg-8 padding-10">
	        				   
                            
                               
                                   <b>Facebook</b><br>
                                   <span class="text-muted">1900 Friends</span>   
	        				
                            
                                </div>
                            
                            </center>

	        			</div>

        			</div>
                    
                    <div class="row side-panel white-bg">
                        
                        <div class="navbar-header width-full border-side-none background-grey padding-5">
                            
                            <h4 class="heading-inbox">Trip Details <i class="fa fa-question-circle pull-right" aria-hidden="true"></i></h4>
                            <small>Close To The Airport</small> 
                        </div>

                        <hr>

                        
                            
                            
                        <div class="container">

                            <div class="row">
                                        
                                        <div class="col-md-5 col-xs-6 col-sm-5 col-lg-5">
                                            
                                            <div style="height:100%;">

                                                <div>Check in</div>

                                                
                                                <div style="margin-top:100%;">Thu, 18th Aug</div>

                                            </div>

                                        </div>


                                    <div class="col-md-2 col-xs-4 col-sm-2 col-lg-2 arrow-right">

                                        <i class="fa fa-chevron-right" style="margin-top:43px;" aria-hidden="true"></i>
                                
                                    </div>

                                    <div class="col-md-5 col-xs-6 col-sm-5 col-lg-5">
                                            
                                            <div style="height:100%;">

                                                <div>Check Out</div>

                                                

                                                <div style="margin-top:100%;">Wed, 24th Aug</div>

                                            </div>

                                    </div>

                                </div>

                        </div>

                      
                        

                        <hr>

                        <div style="margin:5px;">
                        <h7>Guests</h7><br>
                        <small>1 guest</small>
                        </div>

                    </div>

                     <div class="row side-panel white-bg padding-5 sm-letter">
                        
                       
                        Protect your payments. Never pay for a reservation outside the Sublease U website.<i class="fa fa-question-circle" aria-hidden="true"></i>

                     </div>


        		
                </div>
        	</div>

        	<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
        		
                <div class="container">

        			<div class="row">
               
                    <div class="border-grey" style="background:#eee;margin:10px 10%;padding:20px 40px">

                    <div class="row">

                            <div class="text-center">
                                
                                <div style="color:#f15a24;">Ready To Book</div>

                            </div>
                    </div>
                    
                    <div class="row">
                            <div class="text-center">

                                <div>Sarah guests book instantly</div>
                                
                            </div>
                    </div>

                    <div class="row" style="height:80px">
                     


                    </div>

                    <div class="row">
                    
                                <div class="text-center">
                                    <button style="background:#f15a24;color:white;border:1px solid #f15a24;">Confirm Booking</button>
                                </div>

                    </div>

                    </div>
                    

                    </div>
                    
                    <div class="row"></div>

                    <div class="row">
                        
                        <div class="border-grey white-bg" style="margin:10px 10%;padding:20px 40px;height:200px">
                            
                            <div class="row">

                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 xxs-hidden-img">
                                
                                <img src="images/original.jpg" alt="HEHEHEHEHEHE">
                            
                            </div>
                            
                            <div class=" col-xs-10 col-sm-10 col-md-10 col-lg-10">
                               
                                   <div class="row">
                                       
                                       
                                       <div class="col-xs-7 col-sm-8 col-md-9 col-lg-9" style="padding-left:0px;">
                                       <b style="color:black">Jennifer</b></div>
                                       
                                       <div class="col-xs-5 col-sm-4 col-md-3 col-lg-3">
                                           20/11/2016
                                       </div>
                                       
                                   
                                   </div>

                                   <div class="row">
                                       Hey!!!!!
                                   </div>
                            

                            </div>
                                
                            </div>

                            <div class="row" style="margin-top:15px"></div>


                            <div class="row">

                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 xxs-hidden-img">
                                
                                    
                                        <img src="images/55-google.jpg" alt="HEHEHEHEHEHE">
                                
                                    
                                </div>
                            
                            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                               
                               <div class="row">
                                   
                                   <div class="col-xs-7 col-sm-8 col-md-9 col-lg-9" style="padding-left:0px;">
                                   
                                       <b style="color:black">Jennifer2</b></div>
                                   
                                   <div class="col-xs-5 col-sm-4 col-md-3 col-lg-3">
                                   
                                       20/11/2016
                                 
                                   </div>
                                   
                               
                               </div>
                               
                                <div class="row">
                                
                                    Hey!!!!!
                                
                                </div>
                            

                            </div>



                            </div>
                          



                        </div>

                        

                    </div>

                    <div class="row">
                        
                        <div style="width:100%">
                            
                            <textarea class="border-grey white-bg" style="margin:10px 10%;width:80%;padding:20px 40px;"></textarea>

                            <button id="inbox-reply-button">Reply</button>

                        </div>    
                    
                    </div>


        		</div>


        	</div>
        </div>
      </div>

    </div>