<div data-ng-include="'partials/partial-help-head.html'"></div>
    <div class="container margin-bottom-120">
      <div class="text-center margin-top-10 margin-bottom-30">
        
      </div>
      <div class="text-center row icon-color weight-normal margin-bottom-20">
        <div class="col-md-5"></div>
        <div class="col-md-2 padding-bottom-20">
          <div class="border-grey padding-40-10 help-boxes">
            <i class="fa fa-commenting-o icon-size-2 padding-bottom-30" aria-hidden="true"></i>
            <br>
            Reviews
          </div>
        </div>
        <div class="col-md-5"></div>
      </div>
      <div class="padding-lr-60">
        
        <h3 class="orange">How do reviews work?</h3>
        <div class="margin-left-10">
          <p>All the reviews on Sublease U are written by hosts and travelers from our community, so any review you see is based on a stay that a guest had in a host's listing.<br><br>

          You have 14 days after checkout to write a review for a trip.</p><br>

          <b class="black-text">Writing a review</b><br><br>
          <p>
            To leave a review for a recent trip, go to your <span class="orange">Reviews.</span> Reviews are limited to 500 words and must follow Sublesae U <span class="orange">review guidelines.</span> You can edit your review for up to 48 hours, or until your host or guest completes their review.
          </p><br>

          <b class="black-text">Review history</b><br><br>
          <p>
          To see reviews you've written or reviews about you, go to your <span class="orange">Reviews.</span> You'll also see any private feedback that people have left you.<br><br>

          Our community relies on honest, transparent reviews. We will <span class="orange">remove or alter</span> a review if we find that it violates our <span class="orange">review guidelines.</span>
          </p><br>
        </div>

      </div>
    </div>