<div class="padding-lr-60">
    
    <h3 class="orange">What if I can't get in touch with my host?</h3>
	
	<br>
	<div class="margin-left-10">
	<p>
		If you’re having trouble getting in touch with your host after you’ve made a reservation, consider a few things:
	</p>
	
	<p>
		<li>
		Most hosts respond within a few hours.</li>

		<li>We recommend giving the host a few days to respond. Sometimes things come up or your host might be on a different schedule from you.</li>

		<li>
		Try contacting your host using a different form of communication. For example, you can try reach ing them through:</li>	

	
		<p>
		
		<b class="black-text">Sublease U message: </b> Find your host in your <span class="orange"> Messages </span> and send them a note.
		
		</p>
		
		<p>
		
		<b class="black-text">Email or phone:</b> Go to <span class="orange"> Prospective Sublease U </span>, click View Itinerary next to your reservation, and use the email address or phone number listed.

		</p>

		<li>If your trip is starting or about to start, <span class="orange"> contact us </span>.</li>

	</p>

	</div><br>

	<h3 class="orange">
	How do I share trip details with others?</h3>

	<br>

	<div class="margin-left-10">
		
		<p>
		If you want to share your trip plans with the people traveling with you, add them to your reservation, which allows them to see your itinerary.</p>


		<p>
			
			<ol>
				
				<li>On Sublease U.com, go to <span class="orange">Prospective Sublease U</span></li>

				<li>Next to the trip you want to share, click View itinerary</li>

				<li>Next to Guests, choose Manage Guests</li>

				<li>Add the name and email address of the person coming with you</li>

				<li>Click Send Invites</li>

				<li>An email will be sent to the traveler and they can see your full itinerary by signing in (or signing up) for Sublease U.</li>


			</ol>

		</p>
		
		<p>
			
			If you want to share your itinerary with people not going on your trip, you can add their emails in the message that appears after you’ve confirmed a reservation.

		</p>

	</div><br>

	<h3 class="orange">How can I be a considerate guest?</h3><br>

	<div class="margin-left-10">
	
			<p>Traveling with Sublease U provides an opportunity to stay in unique spaces and connect with other members of our community. Like millions of travelers before you, we hope you find that experiencing a destination like a local creates memories, stories, and a feeling of belonging no matter how far you journey from home.</p>

			<p>To help you prepare, here are a few tips to help enhance your experience with your listing and your host.</p>

			<p>
				
				<b class="orange">
				Before you book</b>

			</p>

			<p>

				
					
					<li>Share your story in the bio section of your profile, and get a <span class="orange"> Verified ID </span>. Hosts prefer to know who's asking to stay with them, and as a result you may have a better chance of your requests being accepted.</li>


					<li>Sublease U has a diversity of listings, from shared rooms to entire homes. Make sure the space, <span class="orange">house rules </span>, and hosting style match your needs.</li>

					<li>Spend some time reviewing your host's listing to make sure the place is a good match for you.</li>

					<li>Get a sense of the strengths and weaknesses of the listing by reading reviews from other travelers.</li>

					<li>Feel free to <span class="orange"> contact a host </span> with any questions you have about a listing.</li>
				
			</p>

			<p>
				<b class="orange">Before your trip</b>

			</p>
			
			<p>
				Communicate clearly with your host about any expectations or special needs you may have.
			</p>
			
			<p>
				
				Always let your host know if you're likely to arrive late for check-in.

			</p>

			<p>
				<b class="orange">On your trip</b>

			</p>
			
			<p>
				
				<li>Honor your commitments (including arrival time) and any house rules.</li>
				<li>Enjoy your host's home as if you were staying with friends. Be respectful of your neighbors.</li>

				<li>Explore the neighborhood and support local businesses. It's a great way to feel more like a local. Try asking your host about their favorite neighborhood spots!</li>
				
				<li>Get your host's permission before having guests over.</li>
				
				<li>When in doubt, reach out to your host with any questions or problems that arise.</li>

			</p>

			<p>
				
				<b class="orange">
				After your trip</b>

			</p>
			
			<p>
				<li>Always leave an honest <span class="orange">review </span> for your host to help guide future guests. Sublease U is built on community, and your host will also be invited to leave a review for you.</li>
			</p>

	</div><br>

	<h3 class="orange">
	How does check-in work?</h3><br>

	<div class="margin-left-10">
		
		<p>

				Guests and hosts work out details for checking in, exchanging keys, and checking out directly with each other. There is no online check-in or checkout process.

			
		</p>

		<p>
			
			Read below for some guidelines to help you have a smooth check-in.


		</p>
		
		<p>
			<b class="orange">Communication is essential</b>

		</p>

		<p>
			
			Before the start of the reservation, <span class="orange">message your host </span> to figure out check-in and checkout times, make plans for the key exchange, and ask any other questions. Keeping communication in your message thread gives you and Sublease U a clear reference if any issues come up.

		</p>
		
		<p>
			
			Also, confirm your contact information and arrival details so you can reach each other in case plans change. Make sure to let each other know if you'll be without access to a phone or the Internet.

		</p>

		<p>
			
			<b class="orange">Know your reservation details</b>

		</p>
		
		<p>
			
			After a reservation is <span class="orange">confirmed</span>, refer to your <span class="orange">itinerary</span> for useful information about your reservation, such as the check-in and checkout time, the listing's address, your host's contact information, and your billing receipt. If there's no check-in or check-out time specified within a listing's description, check-in is 3:00 PM local time and checkout is 12:00 PM local time.
		
		</p>

		<p>
			<b class="orange">Stay tuned to flight information and weather forecasts</b>

		</p>
		
		<p>
			Look up travel advisories to make sure there is nothing impacting your reservation. With road closures and flight delays, guests and hosts might need a little extra time to safely meet up to exchange keys.

		</p>
		
		<p>
			<b class="orange">Key exchange</b>
		</p>

		<p>

		Many hosts greet guests in person to exchange keys. Others send keys and instructions in the mail, leave them in a lockbox, or have a neighbor meet a guest. The host can decide whether or not to give a guest a key. But, our <span class="orange">Guest Refund Policy </span> states that guests need to have reasonable access to the listing they booked. If you decide not to provide keys, you should mention in your listing’s description and house rules that keys will not be available to the guests so people are aware of the situation before booking.

			
		</p>


	</div>


</div>