<div class="orange-bg text-center padding-bottom-20">
    <h1 class="white bold margin-top-0 padding-top-10">How can we help you?</h1>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col-lg-offset-4">
            <div class="input-group">
                <span class="input-group-addon" style="background:#fff;border: 0px solid;">
                <i class="fa fa-search" aria-hidden="true"></i>
            </span>
                <input type="text" class="form-control" style="border: 0px solid #fff;box-shadow: 0px 0px 0px inset;" placeholder="Search for anything in the subleaseu" />
            </div>
            <!-- /input-group -->
        </div>
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
</div>
