<div class="col-sm-9 padding-20 margin-top-30">
          <div class="border-grey white-bg margin-bottom-20">
            <div class="navbar-header width-full border-side-none background-grey padding-5">
              <h4>Push Notification Settings</h4>
            </div>
            <div class="padding-10">
              <div class="row">
                <div class="col-md-4 padding-right-10">
                  Receive Push Notifications to your iPhone, iPad or Android device.
                </div>
                <div class="col-md-8">
                  Download the <a href="" class="orange">Sublease U App </a>to receive push notifications instead of plain text messages. Once you enable push notifications on your mobile device, the settings will appear here.
                </div>
              </div>
            </div>
          </div>
          <div class="border-grey white-bg margin-top-30 ">
            <div class="navbar-header width-full border-side-none background-grey padding-5">
              <h4>Text Message Settings</h4>
            </div>
            <div class="padding-10">
              <div class="row">
                <div class="col-md-4">
                  Receive mobile updates by regular SMS text message.
                </div>
                <div class="col-md-8">
                  <div class="row">
                    <div class="col-md-6">
                      Receive SMS notifications to:
                    </div>
                    <div class="col-md-6">
                      <input type="tel" name="" placeholder="+91 ** *** ** 490">
                    </div>
                  </div>
                  <p><a href="" class="orange margin-bottom-10">Change phone numbers </a></p>
                  <ul class="list-style-none">
                    <li>
                      <div class="row margin-bottom-5">
                        <div class="col-md-1">
                          <input type="checkbox" width="20px" checked>
                        </div>
                        <div class="col-md-11">
                          <b class="black-text">Messages</b><br>
                          From hosts and guests
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="row margin-bottom-5">
                        <div class="col-md-1">
                          <input type="checkbox" width="20px" checked>
                        </div>
                        <div class="col-md-11">
                          <b class="black-text">Reservations</b><br>
                          Requests, confirmations, changes and more
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="row margin-bottom-5">
                        <div class="col-md-1">
                          <input type="checkbox" width="20px" checked>
                        </div>
                        <div class="col-md-11">
                          <b class="black-text">Others</b><br>
                          Feature updates and more
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="border-grey white-bg margin-top-30">
            <div class="navbar-header width-full border-side-none background-grey padding-5">
              <h4>Email Settings</h4>
            </div>
            <div class="padding-10">
              <div class="row">
                <div class="col-md-4 padding-right-10">
                  <p><b class="margin-bottom-20 black-text ">I want to receive</b></p>
                  <p>You can disable these at any time.</p>
                </div>
                <div class="col-md-8">
                  <form method="get">
                    <div class="row margin-bottom-5">
                      <div class="col-md-1">
                        <input type="checkbox" width="20px" checked>
                      </div>
                      <div class="col-md-11">
                        General promotions, updates, news about Sublease U or general promotions for partner campaigns and services, users surveys, inspiration, and love from Sublease U.<br>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-1">
                        <input type="checkbox" width="20px" checked>
                      </div>
                      <div class="col-md-11">
                        Reservations and review reminders.<br>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="border-grey white-bg margin-top-30">
            <div class="navbar-header width-full border-side-none background-grey padding-5">
              <h4>Phone Preferences</h4>
            </div>
            <div class="padding-10">
              <div class="row">
                <div class="col-md-4 padding-right-10">
                  <p><b class="margin-bottom-20 black-text">I want to receive</b></p>
                  <p>You can change this at any time.</p>
                </div>
                <div class="col-md-8">
                  <ul class="list-style-none">
                    <li>
                      <div class="row">
                      <div class="col-md-1">
                        <input type="checkbox" width="20px" checked>
                      </div>
                      <div class="col-md-11">
                        <b class="black-text">Calls about my account, listings, reservations, or the Sublease U community</b><br>
                        <p>If you opt out, we may still call you about your account if it's urgent or if previous email's didn't reach you.</p>
                      </div>
                    </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
    <div class="row padding-20">
      <button class="pull-right orange-bg padding-10 width-20 white border-radius-10">
        Save
      </button>
    </div>
</div>