<div class="container margin-bottom-120">
     
     <div class="padding-lr-60">
    
      <h3 class="orange">Extenuating Circumstances Policy</h3>
  
      <br>
        
        <div class="margin-left-10">
        
        	<p>
        		Sublease U empowers hosts to set and manage their cancellation policies. If a host or guest needs to cancel a reservation, it’s their responsibility to cancel as soon as possible. At times, certain circumstances outside of a host or guest’s control can impact their ability to meet the terms of a reservation.

        	</p>

        	<p>In rare instances, if Sublease U determines that a Guest’s reason for cancellation falls within Sublease U Extenuating Circumstances Policy, Sublease U may override the Host's cancellation policy (ex: flexible, moderate,strict) and make refund decisions. If Sublease U determines that a Host’s reason for cancellation falls within Extenuating Circumstances policy, Sublease U may waive the host cancellation penalties outlined in Sublease U Terms of Service and Sublease U Payments Terms of Service.</p> 

        	<p>
        		
        		<b class="orange">What might be covered?</b>

        	</p>

        	<p>
        		Valid extenuating circumstances include:

        	</p>

        	<p>
        		
        		<li>Unexpected death or serious illness of a host, guest or immediate family member</li>

        		<li>Serious injury that directly restricts a guest’s ability to travel or a host’s ability to host</li>

        		<li>Significant natural disasters or severe weather incidents impacting the location of destination or location of departure</li>

        		<li>Urgent travel restrictions or severe security advisories issued after the time of booking, by an appropriate national or international authority (such as a government office or department)</li>

        		<li>Endemic disease declared by a credible national or international authority (such as the US Center for Disease Control or the World Health Organization)</li>

        		<li>Severe property damage or unforeseen maintenance issues that directly impact the ability to host safely</li>

        		<li>Government-mandated obligations issued after the time of booking</li>


        	</p>

        	<p>
        		
        		<b class="orange">If you need to make a claim</b>

        	</p>

        	<p>
        		
        		Claims can only be considered after a reservation has been canceled. Once you have informed your host or guest and canceled a reservation, if you feel that your reason for cancellation is covered by Sublease U Extenuating Circumstances Policy, contact Airbnb for consideration. We generally require claims to be submitted no later than 14 days from the original check-in date and we may require valid supporting documentation.

        	</p>
        
        </div><br>

        <h3 class="orange">
        	Can I change a reservation as a guest?
        </h3><br>
        
        <div class="margin-left-10">
        
        <p>

        	If you need to make a change to a confirmed reservation, you can submit a change request to your host.

        	
        </p>

        <p>
        
        	<b class="orange">Change your reservation</b>

        </p>

        <p>
        	
        	<ol>
        		
        		<li>Go to Prospective Sublease
        		</li>
        		<li>Next to the reservation you want to change, click Change or Cancel.</li>
        		<li>Choose Change Reservation.</li>
        		<li>Change the dates of your stay or the number of guests.</li>
        		<li>Click Submit Alteration.</li>
        		<li>If the host accepts your request, your reservation will be updated and you’ll be charged or refunded if necessary. If the request is declined or you don’t receive a response, your reservation will stay the same. 
				</li>

        	</ol>


        </p>

        <p>There are a couple of other things to know about submitting change requests:</p>
        
        <p>
        	<li>If the dates of your reservation have already passed, you can’t make any changes.</li>
        	
        	<li>If you want to change the details of your requested changes, you’ll have to repeat the steps above and remove your request, and then submit a new one.</li>

        	<li>If the host altered their pricing before you requested the change, your new reservation will reflect this pricing.</li>

        </p>

        </div>

        <br>

        <h3 class="orange">Can I change a reservation as a host?</h3><br>

        <div class="margin-left-10">
        	
        	<p>If you need to make a change to a confirmed reservation, you can submit a change request to your guest.</p>

        	<p>

        	<b class="orange">
        		Change a reservation
	
        	</b>

        	</p>

        	<p>

        		<ol>
        			
        			<li>Go to <span class="orange">Your Reservations</span>.</li>
        			<li>Click Change or Cancel next to the reservation you want to change.</li>
					<li>Choose Change Reservation.</li>
					<li>Click Submit Alteration.</li>
					<li>If the guest accepts your request, the reservation will be updated and they'll be charged or refunded if necessary. If the request is declined or you don’t receive a response, the reservation will stay the same.</li>
        		
        		</ol>
        		
        	</p>

        	<p>There are a couple of other things to know about submitting change requests:</p>

        	<p>
        		<li>Your chosen <span class="orange">cancellation policy</span> will apply based on the new dates.</li>
        		<li>If the dates of the reservation have already passed, you can’t make any changes to the reservation.</li>
        		<li>If you want to change the details of your requested changes, you’ll have to repeat the steps above and remove your request, and then submit a new one.</li>
        		<li>If you changed your pricing, the new reservation will reflect this pricing if your change request is accepted.</li>
        		<li>To request additional funds from your guest, you can do so directly from the<span class="orange"> Resolutions Center.</span></li>
        	
        	</p>

        </div><br>

        <h3 class="orange">Cancel a reservation as a guest</h3>
        <br>

        <div class="margin-left-10">
        	
        	<p>Before canceling a reservation, you should check your host’s cancellation policy to see if you’re eligible for a refund.</p>

        	<p>
        		
        		<ol>
        			
        			<li>Go to <span class="orange">Prospective Sublease</span>.</li>

        			<li>Next to the reservation you want to cancel, click View Itinerary.</li>

        			<li>Under “Cancellation Policy”, find the host’s policy.</li>


        		</ol>


        	</p>
        	
        	<p>
        		
        		See more information on the different <span class="orange">cancellation policies</span>.

        	</p>

        	<p>
        		<b class="orange">
        			
        			Cancel a reservation
	
        		
        		</b>
        	
        	</p>
        	
        	<p>
        		<ol>
        			
        			<li>Go to <span class="orange"> Prospective Sublease</span>.</li>

        			<li>Next to the reservation you want to cancel, click Change or Cancel.</li>

        			<li>Choose Cancel Reservation.</li>

        		</ol>

        	</p>
        
        </div><br>

        <h3 class="orange">
        	Can I get a refund?
        </h3><br>

        <div class="margin-left-10">
        	
        	<p>When guests cancel a reservation, their refund is issued in accordance with the listing's <span class="orange"> cancellation policy</span>.</p>

        	<p>If you’d like to request an additional refund from your host, you can use our <span class="orange"> Resolution Center</span>. The Resolution Center allows you to open a refund request with your host and request mediation from Sublease U if you’re unable to reach an agreement.</p>

        	<p>If you canceled because of an extenuating circumstance or an issue with the listing, learn more about our <span class="orange">Extenuating Circumstances Policy</span> and our <span class="orange">Guest Refund Policy</span>.</p>

        </div><br>

        <h3 class="orange">Can I make changes to a pending reservation request?</h3><br>

        <div class="margin-left-10">
        
        	<p>Yes. If the request hasn’t been <span class="orange">accepted by the host</span>, you can cancel the request and send a new one with the updated reservation details.</p>

        	<p>
        		<b class="orange">To change a reservation request</b>
        	</p>

        	<p>
        		<ol>
        			<li>Go to Prospective Sublease.</li>
        			<li>Find your reservation request under Pending Trips.</li>
        			<li>Click Cancel Request and then OK to confirm</li>
        			<li>If you want,<span class="orange"> send a new request</span> with your changed dates or number of guests.</li>
        		
        		</ol>

        	</p>
        
        </div><br>

        <h3 class="orange">Can a guest alter or cancel a long-term reservation?</h3>

        <br>

        <div class="margin-left-10">
        	
        	<p>The <span class="orange">Long Term cancellation policy</span> is automatically applied to all long-term reservations of 28 nights or more and requires a 30-day notice for both changes and cancellations.</p>

        	<p>
        	
	        	<b class="orange">
	        		Changes to long-term reservation.
	        	</b>

        	</p>

        	<p>If a guest wants to change their reservation, they must <span class="orange">submit a change request</span> to the host.</p>

        	<p>If the guest gives more than 30-days notice, the changes will happen automatically and the guest will be charged or refunded accordingly. If the guest gives less than 30-days notice, or wants to extend their stay, the host will need to accept or decline the changes.</p>

        	<p>Sublease U service fees are also adjusted if any changes are made to the reservation price.</p>

        	<p>
        		<b class="orange">Canceling long-term reservations</b>
        	</p>

        	<p>If a guest cancels a long-term reservation before the check-in date, the first scheduled payment is paid to the host 
in full, and the guest is refunded the remaining amount. If the guest cancels during their stay, they'll only receive a 
refund for the nights of the reservation that start 30 days after the cancellation is made.</p>

        </div><br>

        <h3 class="orange">What is the Sublease U cancellation policy?</h3><br>

        <div class="margin-left-10">
        	
        	<p>Sublesae u allows hosts to choose among three standardized <span class="orange">cancellation policies</span> (Flexible, Moderate, and Strict) that we enforce to protect both hosts and guests.</p>

        	<p>The three main cancellation policies include:</p>

        	<p>
        		<li>Flexible: Full refund 1 day prior to arrival, except fees</li>
        		
        		<li>Moderate: Full refund 5 days prior to arrival, except fees</li>
        		<li>Strict: 50% refund up until 1 week prior to arrival, except fees</li>

        	</p>

        	<p>A host's cancellation policy can be found in the Prices section of their listing page. Guests must agree to the host's cancellation policy when they make a reservation.</p>

        	<p>The Long Term cancellation policy applies to all reservations of 28 nights or more. Each listing and reservation on our site will clearly state the cancellation policy. Guests may cancel and review any penalties by viewing their travel plans and then clicking 'Cancel' on the appropriate reservation.</p>

        </div><br>

        <h3 class="orange">What if a host informs me that the listing I already paid for is now unavailable but they have an alternative?</h3><br>


        <div class="margin-left-10">
        	
        	<p>Even if you’ve already booked your reservation, it’s your choice whether to accept or decline a host’s offer to book an alternate listing.</p>
        
        	<p>
        		
        		<b class="orange">Before paying for a reservation</b>

        	</p>

        	<p>

	        	If you don’t yet have a confirmed reservation and the host offers you a different listing from the one you discussed, you can book your reservation at this listing or simply look for a new place. You have no obligation to accept the new listing and you should make sure that it would work for your trip before booking.

        	</p>

        	<p>
        		
        		<b class="orange">After you’ve paid for your reservation</b>

        	</p>

        	<p>
        		
        		If your host is asking you to stay in a different listing than you originally booked and you’re okay with a switch, either you or your host can <span class="orange"> change your reservation</span>. Make sure to check the details of the new listing before accepting a change.

        	</p>
        	
        	<p>
        		If you’re not okay with a switch or your host is asking you to switch without officially changing the reservation on Sublease U, ask the host to cancel your reservation so you can get a full refund or find another home that better accommodates your stay.
        	</p>

        	<p>
	        	<b class="orange">After you’ve checked in</b>
        	</p>

        	<p>If you’ve already checked in and you feel the listing is not what you booked on the site,<span class="orange"> follow the steps to document</span> the issue and our<span class="orange"> Guest Refund Policy</span> will make sure you either get the listing you booked or receive a refund.</p>

        </div>

    </div>

</div>