<style type="text/css">
.full {
    background: url('images/home_large.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 100%;
    filter: grayscale(50%);
}
</style>
<div header-mainn></div>
<div class="container-fluid" style="position: relative;top: -5px;">
    <div class="row">
        <div class="container-fluid full">
            <div class="row" style="margin-top:100px;">
                <div class="col-md-4"></div>
                <div class="col-md-4 text-center">
                    <i class="fa fa-home" style="font-size:200px" aria-hidden="true"></i>
                </div>
                <div class="col-md-4"></div>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 text-center">
                    <div> <b> <h3 style="color:white;display:inline;"> Sublease U </h3> </b> helps to make
                        <h2 class="white" style="display:inline">Safer Homes</h2>
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>
            <div class="row" style="margin-top:200px"></div>
        </div>
        <!-- <img src="images/search/fdg.jpg" class="university-img img-responsive"> -->
    </div>
    <div class="row white-bg">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="text-center">
                <h3 class="orange"><b>Warm, Cozy and Inviting Homes</b></h3>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row white-bg">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div>Using Sublease U depends on a warm and hospitable home experience. Safety security and privacy are essential qualities in a household so we want to encourage them in yours.</div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row" style="margin-top:50px"></div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 white-bg">
            <div class="row">
                <div class="text-center">
                    <h3><b>A Good Place to Start</b></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <p>From a single hotel in May 2013 to over 6500+ hotels at present, ours has been an inspirin</p>
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 text-center">
                    <h3><b>Our Community to Safety</b></h3>
                </div>
                <div class="col-md-4"></div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <p>We are India's largest branded network of hotels spread across 223 cities with 6500+ hotels offering standardized stay experiences at an unmatched price.Standardized OYO Rooms promises to provide the same amenities and the same awesome experience across all its rooms.Affordable OYO offers rooms at prices that no other player in the budget segment offers today.</p>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row" style="margin-top:30px;">
        <div class="col-md-1"></div>
        <div class="col-md-10 white-bg">
            <div class="row">
                <div class="text-center">
                    <h3><b>To Help Meet Our Goal</b></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <p>
                        It’s been said that everyone has goals, whether we know it or not. We have goals to keep our current job, or to get a different one. We have goals to save for the future, or to travel, take a vacation, or purchase the things we need and want to make our lives more enjoyable. An important distinction, however, is that top achievers are very intentional and focused on their goals, while many of the rest of us are not.</p>
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="row">
                <div class="border-grey white-bg" style="margin:10px 10%;padding:20px 40px">
                    <b class="black-text"><h5>Free Smoke & CO Detector</h5></b>
                    <div class="margin-left-10">
                        In an emergency situation, or if your personal safety is threatened, contact local police or emergency services immediately.
                    </div>
                    <br>
                    <div>
                        Activate a listing to become eligible
                    </div>
                    <br>
                    <div>
                        <button style="background:#f15a24;border:1px solid #f15a24;color:white;">Activate a listing to become eligible</button>
                    </div>
                    <br>
                    <div>
                        Eligible hosts<span class="orange"> Restrictions apply</span>.
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <p>Some restrictions apply one per eligible host ( any host who has an active listing), offer good while supplies list or until December 31, 2016, whichever comes first , See <span class="orange" ui-sref="home-tc">Terms ans Conditions</span></p>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row" style="margin-top:30px">
        <div class="col-md-1"></div>
        <div class="col-md-10 white-bg">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="text-center">
                        <h3><b>Do you already have a smoke and CO detector?</b></h3>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <p>Great! Let everyone know by updating your listing amenities. We encourage all hosts around the world to confirm that they have a smoke and CO detector installed. Update My Listing</p>
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="row" style="margin-bottom:30px">
                <div class="col-md-4"></div>
                <div class="col-md-4 text-center">
                    <button style="padding:5px;;background:#f15a24;border:1px solid #f15a24;color:white;">Update My Property</button>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row" style="margin-top:30px">
        <div class="col-md-1"></div>
        <div class="col-md-10 white-bg" style="height:300px;">
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row" style="margin-top:5px;">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <p>Visit our <span class="orange">Sublease community groups</span> to join on the conversation about safety in our homes or check out our <span class="orange" ui-sref="help-center">Help Center</span> for more ideas.</p>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<div footer-index></div>
<!-- <div class="container univ-detail-name">
	<div class="row justify">
		<div class="col-md-3">
			<img src="images/Woman Reading Study Plan.jpg" class="profile-pic-univ">
			<p class="size-36 black-text name-search-univ">Sarah Paton</p>
		</div>
		<div class="col-md-4 margin-top-20">
			<p class="black-text size-30">Chill place in Brooklyn</p>
		<p class="size-18 ">
			Brooklyn Law School<br>
			Brooklyn, NY, United States
		</p>
		</div>
		<div class="col-md-5">
			<div class="price-box-univ">
				<div class="">
					<p class="white margin-top-20"><span class="pull-left size-20">Price per month</span><span class="pull-right size-26">$ 2240</span></p>
				</div>
			</div>
			<div class="price-box-2-univ">
				<input type="text" name="" placeholder="Start Date"><i class="fa fa-calendar green date-icon" aria-hidden="true"></i>
				<input type="text" name="" placeholder="End Date"><i class="fa fa-calendar red-color date-icon" aria-hidden="true"></i>
				<div class="padding-20">
					
						<div class="row white-bg padding-top-20">
							<div class="col-md-6">
								<p class="pull-left size-20 black-text">Total</p><br><br>
								<p class="size-12">with taxes and fees</p>
							</div>
							<div class="col-md-6">
								<p class="size-24 black-text pull-right">$ 2240*</p>
							</div>
						</div>
					
				</div>
				<center>
					<button class="orange-bg no-border padding-20 white margin-top-60">
						Request to Book
					</button>
				</center>
			</div>
		</div>
	</div>
	<br>
	<p class="margin-top-20 black-text"><span class="margin-right-10 size-18"><img src="images/icon-2-storey-extension-House-icon-128x128.png" class="img-width-40 black-text"> Townhome</span> <span class="margin-left-10 size-18"><i class="fa fa-users size-22" aria-hidden="true"></i> 4 Guests</span></p>
</div> -->
<!-- <div class="padding-30 white-bg ">
	<div class="container black-text margin-top-120">
		<h4>About this property</h4><br><br>
		<p class="margin-bottom-30">ColivingClub is a beautifully curated living space in New York with a wide range of amenities: free workspace, Wi-Fi, fully equipped kitchen, dinner and living space, backyard, coffee, soda, shampoo, showergel. Everything is included in our flat fee.
		</p>
		<hr class="width-90">
		<div class="row margin-top-30 margin-bottom-30">
			<div class="col-md-4">
				<h4 class="margin-top-20 pull-left light-grey-color"> The Property</h4>
			</div>
			
			<div class="col-md-7 black-text">
				<img src="images/icon-2-storey-extension-House-icon-128x128.png" class="img-width-20 light-grey-color" style="margin-left:-24px;"> Property type : Townhome<br>
				Roommates : 4<br>
				<span class="orange">House Rules</span>
			</div>
			
		</div>
		<hr class="width-90">
		<div class="row margin-top-30 margin-bottom-30">
			<div class="col-md-4">
				<h4 class="margin-top-20 pull-left light-grey-color">Amenities</h4>
			</div>
			
			<div class="col-md-2 black-text">
				<img src="images/2433_-_Cooking_Stove-128.png" class="img-width-20 light-grey-color" style="margin-left:-24px;"> Gas<br>
				<img src="images/images.png" class="img-width-20 light-grey-color" style="margin-left:-24px;">  TV
			</div>
			<div class="col-md-6 black-text">
				<i class="fa fa-wifi" aria-hidden="true" style="margin-left:-24px;"></i>&nbsp Wifi<br>
				<img src="images/vacation_27-512 (1).png" class="img-width-20 light-grey-color" style="margin-left:-24px;"> Pool<br><br>
				<p class="orange">+ More</p>
			</div>
			
		</div>
		<hr class="width-90">
		<div class="row margin-top-30 margin-bottom-30">
			<div class="col-md-4">
				<h4 class="margin-top-20 pull-left light-grey-color"> Prices</h4>
			</div>
			
			<div class="col-md-4 black-text">
				<p class="black-text">Extra people: $30 / night after the first guest<br>
				Weekly discount: 0%<br>
				Cancellation: Long Term</p>
			</div>
			<div class="col-md-4 black-text">
				<p class="black-text">Cleaning Fee: $20<br>
				Monthly discount: 10%<br>
			</div>
			
		</div>
		<hr class="width-90">
		<div class="row margin-top-30 margin-bottom-30">
			<div class="col-md-4">
				<h4 class="margin-top-20 pull-left light-grey-color"> Safety Features</h4>
			</div>
			<div class="col-md-4 black-text">
				<p class="black-text">Smoke Detector<br>
				Fire Extinguisher</p>
			</div>
			<div class="col-md-4 black-text">
				<p class="black-text">Carbon Monoxide Detector<br>
			</div>
			
		</div>
		<hr class="width-90">
		<div class="row margin-top-30 margin-bottom-30">
			<div class="col-md-4">
				<h4 class="margin-top-20 pull-left light-grey-color"> Availability</h4>
			</div>
			
			<div class="col-md-4 black-text">
				<p class="black-text margin-top-20">1 night minimum stay <br>
			</div>
			<div class="col-md-4 black-text">
				<p class="orange margin-top-20">View Calendar<br>
			</div> 
			
		</div>
		<hr class="width-90">
	</div>
</div> -->
<!-- <div class="white-bg padding-bottom-30">
<div class="container">
	<div class="row margin-bottom-20">
		<div class="col-md-6">
			<div class="pull-right">
				<img src="images/search/fdg.jpg" alt="" />
			</div>
		</div>
		<div class="col-md-6">
			<div class="pull-right">
				<img src="images/search/gxv.jpg" alt="" />
			</div>
		</div>
	</div>
	<div class="row">
		<div class="">
			<div class="image pull-right">
				<img src="images/search/fv.jpg" alt="" class="opacity-8" />
      			<span class="img-container text-center white size-28">See all 12 photos</span>
			</div>
		</div>
	</div>
</div>
</div>

<div class=" white-bg padding-bottom-20">
	<div class="navbar-header width-full border-side-none border-bottom-grey background-grey padding-5">
		<div class="container">
	    	<div class="row">
	    		<h4>2 Reviews</h4><i class="fa fa-star yellow" aria-hidden="true"></i><i class="fa fa-star yellow" aria-hidden="true"></i><i class="fa fa-star yellow" aria-hidden="true"></i><i class="fa fa-star-o yellow" aria-hidden="true"></i><i class="fa fa-star-o yellow" aria-hidden="true"></i>
	    	</div>
    	</div>
    </div>
    <div class="padding-10 black-text"> 
              <div class="row">
                <div class="col-md-2 padding-10">
                  <img src="images/10.jpg" class="pull-right review-img no-border">
                </div>
                <div class="col-md-9">

                  <div class="margin-top-10 margin-bottom-30">
                    <p>Jennifer Grassick <span class="pull-right">13/06/2016</span></p>
                    
                    <p>I enjoyed the stay at Sara's place very much, though I stayed only for 2 nights but I had everything I needed and more would definitely stay there again!</p>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <img src="images/Woman Reading Study Plan.jpg" class="pull-right review-img no-border">
                    </div>
                    <div class="col-md-10">
                      <div class="margin-top-10 margin-bottom-30">
                        <p>Sarah Paton <span class="pull-right">16/06/2016</span></p>
                      
                        <p>Thank you so much jennifer..i'm glad you liked it. Hope you stay here again :)</p>
                      </div>
                    </div>
                  </div>
                  <hr>
                </div>
              </div>
    </div>
    <div class="padding-10 black-text"> 
              <div class="row">
                <div class="col-md-2 padding-10">
                  <img src="images/10.jpg" class="no-border pull-right review-img">
                </div>
                <div class="col-md-9">
                  <div class="margin-top-10 margin-bottom-30">
	                  <p>John Martin <span class="pull-right">13/06/2016</span></p>
	                  
	                  <p>Sara is a gem of a person, casual, smart, friendly, humorous and obliging. Made me feel very welcome. Lovely house on a quiet road. Can highly recommend.</p>
                  </div>
                  <div class="row">
                    <div class="col-md-2">
                      <img src="images/Woman Reading Study Plan.jpg" class="no-border pull-right review-img">
                    </div>
                    <div class="col-md-10">
                      <div class="margin-top-10 margin-bottom-30">
                        <p>Sarah Paton <span class="pull-right">16/06/2016</span></p>
                      
                        <p>Thank you so much john..i'm glad you liked it. Hope you stay here again :)</p>
                      </div>
                    </div>
                  </div>
                  <hr>
                </div>
              </div>
    </div>
     <div class="padding-10 black-text"> 
        <div class="row">
        	<div class="pull-right margin-right-50">
        		<span class="margin-right-50 size-18">
        			<span class="padding-5 padding-lr-15 border-radius-5 size-22 white orange-bg">
						2
					</span>
					&nbsp Reviewed
        		</span>
				<span class=" size-18">
					<i class="padding-5 fa fa-check border-radius-50 white green-bg size-22" aria-hidden="true"></i>
					Verified
				</span>
        	</div>        
        </div>
    </div>
</div>

<div class="padding-20">
	<p>Explore other options in New York</p>
	<p class="orange">United States > New York<br><span class="black-text">Places Nearby:</span></p>
	<br>
	<div class="row">
		<div class="col-md-4">
			Southhampton Vacation Rentals
		</div>
		<div class="col-md-4 search-city">
			Bronx
		</div>
		<div class="col-md-4 search-city">
			Toronto
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			Washington
		</div>
		<div class="col-md-4 search-city">
			Boston
		</div>
		<div class="col-md-4 search-city">
			Queens
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			Montreal
		</div>
		<div class="col-md-4 search-city">
			Long Island City
		</div>
		<div class="col-md-4 search-city">
			Staten Island
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			West New York
		</div>
		<div class="col-md-4 search-city">
			Astoria
		</div>
		<div class="col-md-4 search-city">
			Brooklyn
		</div>
	</div>
</div> -->
