<div class="container margin-bottom-120">
      
      <div class="padding-lr-60">

              <h3 class="orange">How do taxes work for hosts?</h3><br>
              
              <div class="margin-left-10">
              
                  <p> 

                      <b class="orange">Local Tax</b>

                  </p>

                  <p>

                  If you determine that you need to collect tax, you can usually either incorporate it into your nightly price, add it within a <span class="orange">Special 
                  Offer,</span> or ask your guests to pay it in person. In each case, it's important that guests are informed of the exact tax amount prior to 
                  booking. If you choose to collect tax outside of your listing's rates, please note that it should be collected only upon arrival and 
                  that we are unable to assist with collection.
                    
                  </p>

                  <p>

                    In some locations, Sublease U hosts may have a <span class="orange"> collect and remit feature </span> available to handle occupancy tax. Hosts should not collect occupancy taxes separately for those jurisdictions.
                    

                  </p>

                  <p>
                    
                      <b class="orange">Learn more about Local Tax.</b>


                  </p>

                  <p>
                    
                    <b class="orange">Value Added Tax</b>


                  </p>

                  <p>
                    
                    If your country of residence is part of the European Union, you may need to assess Value Added Tax (VAT) on the services you provide. We encourage you to consult a tax advisor in your area for more insight or if you need assistance assessing VAT on the services you provide.


                  </p>

                  <p>

                    Additionally, Airbnb is required to collect VAT or JCT on its service fees in countries that tax Electronically Supplied Services. 
                    Currently, that includes all countries in the EU, Switzerland, Norway, Iceland, South Africa, and Japan.

                    
                  </p>
                  
                  <p>
                    
                    <b class="orange">Learn more about Value Added Tax.</b>


                  </p>

                  <p>
                    

                    <b class="orange">US Income Taxes</b>


                  </p>

                  <p>
                    
                    As a host, your earnings may be subject to US income taxes. To assist with US tax compliance, we may collect your taxpayer 
                    information. Even if you're not a US taxpayer, we may still require certain information from you.


                  </p>

                  <p>
                    
                    To add new taxpayer information, go to your <span class="orange">Payout Preferences </span> and complete the appropriate form.



                  </p>

                  <p>
                    
                    <b class="black-text">US persons</b>(including domestic corporations) may fill out a Form W-9. At the end of January, we will provide hosts who've 
                    earned over $20,000 and had 200+ reservations with a Form 1099-K showing their reportable earnings from the previous year.

                  </p>

                  <p>
                    

                    <b class="black-text">Non-US persons who have a US Taxpayer Identification Number </b> (either a Social Security Number or Employer Identification 
                    Number) may fill out a Form W-8ECI. We'll provide hosts who submit a W-8ECI with a Form 1042-S showing any US sourced earnings from the previous year.



                  </p>

                  <p>
                    
                    <b class="black-text">Non-US persons who do not have a US Taxpayer Identification Number </b> may fill out a Form W-8BEN to certify their foreign 
                    status. Sublease U is required to withhold 30% on all payouts from US listings hosted by non-US persons unless valid tax treaty 
                    benefits have been claimed. We'll provide hosts who have submitted a W-8BEN with a Form 1042-S showing any US sourced 
                    earnings from the previous year.



                  </p>

                  <p>
                    
                    You can learn more about how the IRS classifies taxpayers for US tax purposes at <span class="orange">irs.gov.</span> If you're unsure of which form to submit, we encourage you to consult a tax professional who can clarify your tax status. If you've received a request to submit your taxpayer information and haven't provided it yet, we may be required to withhold a percentage of your earnings.

                  </p>

                  <p>
                    
                    We expect all hosts to comply with the tax regulations in their area.



                  </p>

                  <p>
                    
                    <b class="orange">
                      
                      Learn more about US Federal tax.


                    </b>


                  </p>

                  
              </div>
              <br>
              <h3 class="orange">How do taxes work for guests?</h3><br>

              <div class="margin-left-10">
                
              <p>
                
                There are a few instances where an Sublease U guest may need to pay tax.

              </p>

              <p>
                
                Some hosts are required by their local regulations to charge a tax. We recommend they include the tax in the price of the reservation, but some may require the tax to be paid directly upon check-in. We ask that hosts explain any taxes they may be required to collect in their listing description and their communication with guests prior to booking.

              </p>

              <p>
                
                n some locations, Sublease U has made agreements with government officials to collect and remit certain local taxes on behalf of hosts. The taxes vary and, depending on the local law, may include calculations based on a flat rate or percentage rate, the number of guests, number of nights, or property type booked. When you book a listing in one of these locations, the local taxes collected will be displayed automatically when you pay and appear on your receipt once your reservation is confirmed.

              </p>
              <p>
                
                Additionally, Sublease U is required to collect VAT or a VAT equivalent (i.e. Japanese Consumption Tax) on its service fees in countries that tax Electronically Supplied Services. Currently, that includes all countries in the EU, Switzerland, Norway, Iceland, South Africa, and Japan. <span class="orange"> Learn more about Value Added Tax.</span>

              </p>



              </div><br>

              <h3 class="orange">How do taxes work for photographers and other service providers?</h3><br>
              
              <div class="margin-left-10">

              <p>
                
                If you are a photographer, translator, or other service provider paid through your Sublease U account, please be sure to <span class="orange"> complete your taxpayer information </span> so that we can process your payouts.


              </p>

              <p>
                
                <b class="black-text">US Persons</b> may fill out a Form W-9. In January, if you've submitted a Form W-9 and earned $600 or more during the previous year, we'll provide you with a Form 1099-MISC showing your earnings under "Box 7 - Nonemployee compensation." Corporate service providers will not receive a tax form.

              </p>
              <p>
                
                <b class="black-text">Non-US persons </b> may submit a Form W-8 to certify that their earnings are not subject to US tax.If you're unsure of what form to submit, we encourage you to consult a tax professional who can clarify your tax status.



              </p>

              <p>
                
              <b class="orange">Click here for more information specific to US Federal tax.</b>


              </p>

              </div>
              

      </div>


</div>