<div class="container padding-top-30 ">
    <div class="row">
        <div class="col-sm-3 margin-top-30">
          <div class="sidebar-module">
            <ol class="list-unstyled">
              <li><a ui-sref=".notification">Notifications</a></li>
              <li><a ui-sref=".paymentMethods">Payment Methods</a></li>
              <li><a ui-sref=".paymentPreferences">Payment Preferences</a></li>
              <li><a ui-sref=".transaction">Transaction History</a></li>
              <li><a ui-sref=".privacy">Privacy</a></li>
              <li><a ui-sref=".security">Security</a></li>
              <li><a ui-sref=".connected">Connected Apps</a></li>
              <li><a ui-sref=".settings">Settings</a></li>
              <li><a ui-sref=".badges">Badges</a></li>
            </ol>
          </div>
          <div class="sidebar-module">
            <button class="profile-btn white-bg margin-top-30" ui-sref='profileView'>
              View Profile
            </button>
          </div>
        </div>
        <div ui-view></div>

      </div>
</div>