<div style="position: relative;margin-top: 100px;">
    <div data-ng-include="'partials/partial-help-head.html'"></div>
    <div class="container">
        <div class="text-center orange">
            <h3>Responsible Hosting</h3>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-9">
                <p>We encourage hosts to think carefully about their responsibilities. Hosting offers rich experiences, but it comes with a certain level of commitment. In addition to the <span class="orange"> Hospitality Standards</span>, here are some ways you can be a responsible host. *</p>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="border-grey white-bg" style="margin:10px 10%;padding:20px 40px">
                    <h3><b class="black-text">Safety</b></h3>
                    <h7 class="orange">What can i do to make my space safe for guests?</h7>
                    <h5>Emergency Procedures</h5>
                    <p>
                        <b class="black-text">Contact Info:</b>
                    </p>
                    <p>
                        Indicate local emergency numbers and the nearest hospital. Provide a clear emergency contact number for yourself, as well as backup, for easy guest reference. Also make clear how you should be contacted if the guest has questions or issues arise.
                    </p>
                    <p>
                        <b class="black-text">Supplies:</b>
                    </p>
                    <p>
                        Make a first aid kit easily available.
                    </p>
                    <p>
                        <b class="black-text">
                                   Fire Prevention
                            </b>
                    </p>
                    <p>
                        Ensure you have a functioning smoke alarm and carbon monoxide detector, and that your property meets government safety guidelines for your area (e.g., International Building Code). Ensure you provide a functioning fire extinguisher and complete required maintenance.
                    </p>
                    <p>
                        <b class="black-text">
                                   Exits:
                            </b>
                    </p>
                    <p>
                        Ensure you have a clearly marked fire escape route, and post a map in your home.
                    </p>
                    <p>
                        <h3>Minimize Hazards</h3>
                    </p>
                    <p>
                        <b class="black-text">
                                   Privacy:
                            </b>
                    </p>
                    <p>
                        Always be mindful of your guests' privacy. Fully disclose whether there are security cameras or other surveillance equipment at or around your listing. Make sure you are aware of and comply with applicable federal, state, and local laws.
                    </p>
                    <p>
                        <b class="black-text">
                                   
                                   Occupancy:

                            </b>
                    </p>
                    <p>
                        Establish safe occupancy limits - your local government may have guidelines.
                    </p>
                    <p>
                        <b class="black-text">
                                   Access:
                            </b>
                    </p>
                    <p>
                        Go through your home to identify any areas where guests might trip or fall and either remove the hazard or mark clearly. Fix any exposed wires. Ensure stairs are safe and have railings. Remove or lock up any objects that may be dangerous to your guests.
                    </p>
                    <p>
                        <b class="black-text">
                                   
                                   Child-Proofing:

                            </b>
                    </p>
                    <p>
                        Ensure your home is safe for children, or else notify guests of potential hazards.
                    </p>
                    <p>
                        <b class="black-text">
                                   Climate:
                            </b>
                    </p>
                    <p>
                        Ensure your home is properly ventilated and that temperature control is clearly marked and functional. Ensure guests are clear about how to safely use the heater.
                    </p>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="border-grey white-bg" style="margin:10px 10%;padding:20px 40px">
                    <h3><b class="black-text">Neighbors</b></h3>
                    <h7>How can I be mindful of my neighbors?</h7>
                    <br>
                    <br>
                    <p>
                        <b class="black-text">Building Rules:</b>
                    </p>
                    <p>
                        Ensure you relay your building's common area rules to your guest. You may want to even notify your neighbors that you will have guests, and remind guests not to bother your neighbors (e.g., don't knock on their door or buzz them to let you in).
                    </p>
                    <p>
                        <b class="black-text">Smoking:</b>
                    </p>
                    <p>
                        If you don't allow smoking, we suggest posting signs to remind guests. If you do allow smoking, ensure you have ashtrays available in designated areas.
                    </p>
                    <p>
                        <b class="black-text">Parking:</b>
                    </p>
                    <p>
                        Ensure you relay parking rules for your building and neighborhood to your guest.
                    </p>
                    <p>
                        <b class="black-text">Noise:</b>
                    </p>
                    <p>
                        Remind guests about keeping noise down. You may want to consider whether you allow babies, pets, or parties. Develop a policy about guests inviting other people over, and ensure your guests are clear about your 'party policy.'
                    </p>
                    <p>
                        <b class="black-text">Pets:</b>
                    </p>
                    <p>
                        If you allow pets, ensure guests are educated about things like local parks and local customs (e.g., cleaning up after your dog). Have a backup plan in case a guest's pet upsets the neighbors (such as the number of a nearby pet hotel).
                    </p>
                    <p>
                        <b class="black-text">House Rules:</b>
                    </p>
                    <p>
                        To avoid surprises, you may want to include the information covered above in your House Rules in your Sublease U listing profile.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="border-grey white-bg" style="margin:10px 10%;padding:20px 40px">
                    <h3><b class="black-text">Permissions</b></h3>
                    <h7>Whom should I notify that I'm hosting on Sublease U?</h7>
                    <br>
                    <br>
                    <p>
                        <b class="black-text">Contracts:</b>
                    </p>
                    <p>
                        Check your HOA or Co-Op Board regulations to make sure there is no prohibition against subletting--or any other restriction against hosting. Read your lease agreement and check with your landlord if applicable. You may consider adding a rider to your contract that addresses the concerns of these parties and outlines the responsibilities and liabilities of all parties.
                    </p>
                    <p>
                        <b class="black-text">Roommates:</b>
                    </p>
                    <p>
                        If you have roommates, consider a roommate agreement in writing which outlines things like how often you plan to host, how you'll ensure guests follow House Rules, and even whether you'll share revenue if that makes sense for you.
                    </p>
                    <p>
                        <b class="black-text">
                                   Neighbors:
                            </b>
                    </p>
                    <p>
                        Consider whether you should notify your neighbors about your plans to host, along with your plan for how to make sure your guests are not disruptive.
                    </p>
                    <p>
                        <b class="black-text">
                                   
                                   Subsidized Housing:

                            </b>
                    </p>
                    <p>
                        If you live in public or subsidized housing there may be special rules that apply to you. The manager of the property may be able to answer questions about this.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="border-grey white-bg" style="margin:10px 10%;padding:20px 40px">
                    <h3><b class="black-text">General Regulations</b></h3>
                    <h7>What local regulations apply to me?</h7>
                    <br>
                    <br>
                    <p>
                        <b class="black-text">
                                   
                                   Taxes:

                            </b>
                    </p>
                    <p>
                        Ensure you look up any local taxes or business license requirements that may apply. This may include things like hotel/transient occupancy tax, sales, and other turnover taxes such as Value Added Tax (VAT) or Goods and Services Tax (GST), or income tax.
                    </p>
                    <p>
                        <b class="black-text">Registration of Guests:</b>
                    </p>
                    <p>
                        Local regulations require maintaining a register for guest check-in and check-out records, including passport details in the case of foreign tourists. Additionally, any Hotel / Guest House / Dharmashala / Individual House / University / Hospital / Institute (“host”) that provides accommodation to foreigners must submit the details of the residing foreigner in <span class="orange"> Form C </span> (Arrival Report) to the registration authorities within 24 hours of the arrival of the foreigner at the premises. In some areas you may be able to submit the <span class="orange"> Form C </span> online. The regulations also require the host complete and maintain the Form F (Registration of Foreigners) as a corresponding register.
                        <p>
                            You can read more <span class="orange">here</span>.
                        </p>
                    </p>
                    <p>
                        <b class="black-text">
                                   Permits or Registrations:
                            </b>
                    </p>
                    <p>
                        Ensure you look up any permitting, zoning, safety, and health regulations that may apply. The governing authorities that regulate the use and development of property in your area may have useful information on such regulations.
                    </p>
                    <p>
                        <b class="black-text">Rent Control/Rent Stabilization:</b>
                    </p>
                    <p>
                        If you live in rent controlled or stabilized housing, there may be special rules that apply to you. Contact your local Rent board to ask questions about this topic.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="border-grey white-bg" style="margin:10px 10%;padding:20px 40px">
                    <h3><b class="black-text">Insurance</b></h3>
                    <h7>What insurance should I get to cover my home?</h7>
                    <br>
                    <br>
                    <p>
                        <b class="black-text">
                            
                                   Host Guarantee:

                            </b>
                    </p>
                    <p>
                        Sublease U offers you our <span class="orange" ui-sref="hostGuarantee">Host Guarantee</span>, but note this does not take the place of homeowners or renters insurance.
                    </p>
                    <p>
                        <b class="black-text">
                                   Basic Coverage:
                            </b>
                    </p>
                    <p>
                        Review your renters or homeowners policy with your insurance carrier to make sure you have adequate coverage.
                    </p>
                    <p>
                        <b class="black-text">
                                   Liability:
                            </b>
                    </p>
                    <p>
                        Ensure you have adequate liability coverage as well as property protection.
                    </p>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-8">
                    <p>
                        <b class="black-text">For more information on how Sublease U works, <span class="orange">visit our FAQs</span>.</b>
                    </p>
                    <p>
                        * Please note that Sublease U has no control over the conduct of Hosts and disclaims all liability. Failure of Hosts to satisfy their responsibilities may result in suspension of activity or removal from the Sublease U website.
                    </p>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
</div>
