<div data-ng-include="'partials/partial-help-head.html'"></div>
    <div class="container margin-bottom-120">
      <div class="text-center margin-top-10 margin-bottom-30">
        Finding a Place
      </div>
      <div class="text-center row icon-color weight-normal margin-bottom-20">
        <div class="col-md-5"></div>
        <div class="col-md-2 padding-bottom-20">
          <div class="border-grey padding-40-10 help-boxes">
            <i class="fa fa-car icon-size-2 padding-bottom-30" aria-hidden="true"></i>
            <br>
            Travelling
          </div>
        </div>
        <div class="col-md-5"></div>
      </div>
      
      <div class="padding-lr-60">
        
        <h3 class="orange">How do I manage my wishlist?</h3><br>

        <div class="margin-left-10">
        	<p>
	        	Once you've created a wish list to keep track of listings you like, you can share it with others, add and remove listings, or delete the wish list altogether.
	        </p>
        	<p>
        		<b class="black-text">Share a wish list</b>
        		
        	</p>
        	<p>
        		
        		You can share a wish list with the people you want to travel with and allow them to add listings and notes to the list.


        	</p>
        	<p>
        	
        		<li>On SubleaseU.com, go to <span class="orange"> Wish Lists </span> .</li>
        		<li>At the top of the page, choose <b class="black-text"> My Wish Lists </b> .</li>
        		<li>Open your wish list.</li>
        		<li>At the top of the list, click the plus button.</li>
        		<li>Add the email addresses for the people you want to plan with and add a note.</li>
        		<li>Click <b class="black-text"> Send Invites</b>.</li>
        	
        	</p>
        	<p>
        		To remove someone from the wish list, hover over their profile picture in the wish list and click <b class="black-text"> Remove </b>.
        		
        	</p>
        	<p>
        		The people you’ve shared with can now add and remove listings on the wish list and make comments on the existing listings.
        		
        	</p>
        	<p>
        		
        		<b class="black-text">Remove a listing from a wish list</b>


        	</p>
        	<p>
        		
        		<li>On SubleaseU.com, go to <span class="orange"> Wish Lists </span> </li>
        		<li>At the top of the page, choose <b class="black-text"> My Wish Lists</b></li>
        		<li>Open the wish list you want to delete </li>
        		<li> Next to the name of the wish list at the top, click <b class="black-text"> Edit </b> On the right, click <b class="black-text"> Delete Wish List > OK</b></li>

        	</p>
        
        </div>

        <br>
	    
	        <h3 class="orange">
	        	How do I book a place on Sublease U?
	        </h3>

	    <br>

        <div class="margin-left-10">
        	
        	<p>
        		
        		When you book a place on Sublease U, you’re making arrangements to stay in someone’s home. Each host has their own style of hospitality, starting with how they like to get to know their guests. Some hosts want to approve reservations, while others are comfortable letting you book their place instantly without waiting for approval.


        	</p>
        	<p>
        		
        		<b class="orange">1. Complete Your Profile</b>

        		<p>In either case, it’s important to know that Sublease U is a community that relies on trust. Complete your profile before you request a reservation with a host, so they can know a little bit about you when they confirm. Your profile should include photos and verifications, especially because some hosts require guests to have a <span class="orange"> profile photo </span> or <span class="orange"> Verified ID </span> in order to book.</p>


        	</p>
        	<p>
        		
        		<b class="orange">
        			2. Find the Right Place
        		</b>

        		<p>With over 800,000 unique listings around the world, you’ll want to make sure the place you choose has everything you need for a comfortable and memorable trip.</p>

        		<p>When <span class="orange"> searching for a place </span> , make sure to include your dates and number of guests to get the most accurate pricing. Read reviews, descriptions, house rules, and amenities for each place to see if it’s the right fit for your trip. You can always <span class="orange"> contact the host </span> if you have any questions about their home.</p>


        	</p>
        	<p>
        		
        		<b class="orange">
        			3. Book It!
        		</b>

        		<p>You’ve found the perfect place, and now it’s time to make it official. This is where the host’s preferred way of booking will determine how you’ll confirm your reservation.</p>

        		<p><b class="black-text">Instant Book</b></p>

        		<p>For hosts who don’t want to approve each reservation, you’ll see a button on their listing that says Instant Book. Like the name suggests, you can confirm a reservation at these places right away. Learn more about <span class="orange"> Instant Book </span>.</p>

        		<p><b class="black-text">Request to Book</b></p>

        		<p>Many hosts prefer to approve reservations before they’re final. In this case, you’ll see a button on their listing that says Request to Book. To submit a reservation request, you’ll need to enter your payment details. Hosts have 24 hours to accept your request, and your reservation is automatically confirmed once they do. Learn more about <span class="orange"> submitting a reservation request</span>.</p>

        		<p><b class="black-text">Pre-approvals and Special Offers</b></p>

        		<p>If you decide to contact the host to ask questions before attempting to book, the host may respond to your message by inviting you to make a reservation with either a pre-approval or Special Offer. A pre-approval is an invitation to finish booking for the dates and number of guests you noted in your message. A Special Offer gives the host the opportunity to provide special pricing, dates, and other reservation details before you book. Learn more about <span class="orange"> booking a pre-approval or Special Offer </span> .</p>


        	</p>



        </div>

        <br>
		<h3 class="orange">How do I use search filters?</h3><br>
        
        <div class="margin-left-10">
        	
        	<p>
        		
        		If you want to narrow down your choices when looking for a place to stay, you can use search filters.

        	</p>
        	<p>
        		
        		<b class="black-text">
        			
        			Descriptions for filters

        		</b>

        	</p>
        	<p>
        		
        		For the most accurate results, always start your search by choosing your destination, number of guests, and dates.


        	</p>
        	<p>
        		
        		Other filters are available as well, some of which can be found by selecting <b class="black-text"> More Filters </b> below the filters that are showing.


        	</p>
        	<p>
        		
        		<li><b class="black-text">Room type:</b> Choose the type of space you'd like to book, for example a shared room or an entire home.</li><br>

        		<li><b class="black-text">Price:</b> Use the sliding scale to find listings in your price range. </li><br>

        		<li><b class="black-text">Price:</b> Use the sliding scale to find listings in your price range.</li><br>

        		<li><b class="black-text">Size:</b>Pick the number of bedrooms, bathrooms, or beds you need.</li><br>

        		<li><b class="black-text">Instant Book:</b> Find places that you can book instantly.</li><br>

        		<li><b class="black-text">Neighborhoods:</b> Choose the parts of town that interest you the most, if available. For detailed information on some popular cities, check out our Neighborhood guides.</li><br>

        		<li><b class="black-text">Amenities:</b> Select the amenities you want for your stay, for example breakfast or a hot tub.</li><br>

				<li><b class="black-text">Property type:</b> Find a specific type of space, like a treehouse, cabin, or even an igloo!</li><br>

				<li><b class="black-text">Host Language:</b> Choose hosts who speak a language you're comfortable with.</li>


        	</p><br>

        	<p>
        		
        		<b class="black-text">Note: </b><span>At this time, there is no way to search using keywords.</span>

        	</p>



        </div><br>

        <h3 class="orange">How do I create a wish list?</h3><br>

        <div class="margin-left-10">

        	<p>
        		To keep track of listings you’re thinking of booking, or simply find fun and inspiring spaces, you can create a wish list.
        	</p>
        	<p>
        	
	        	<b class="black-text">Create a wish list</b>

        	</p>
        	<p>
        		From a listing page:
        	</p>
        	<p>
        		
        		<ol>
        			<li>
        				
        				On a listing you want to add to a wishlist, click <b class="black-text">Save to Wish List </b> under the pricing details

        			</li>

        			<li>
        				Click the drop-down menu > <b class="black-text"> Create new</b>

        			</li>
        			<li>
        				Give your new wish list a name (for example, “Los Angeles Trip” or “Romantic Getaway”) and choose whether to keep the wish list private or public
        			</li>
        			<li>
        				
        				Click <b class="black-text">Save</b>

        			</li>
        			
        		</ol>

        	</p>

        	<p>To add more listings to this wish list, click <b class="black-text"> Save to Wish List </b> on a listing page and choose your wish list.</p>

        	
        	<p>
        	
        	<b class="black-text">Note:</b> <span>New wish lists may take a couple minutes to show up on the website.</span>
        	
        	</p>

        </div><br>

        <h3 class="orange">
        	How do I search for listings?
        </h3><br>

        <div class="margin-left-10">
        
        	<p>When you search for a place to stay on Sublease U, you can narrow your options by using filters and reading the descriptions of places to check if they’d be a good fit for your trip.</p>

        	<p>To search for a place to stay:</p>	
        	<p>

	        	<ol>

	        		<li>On SubleaseU.com, enter your destination, travel dates, and number of guests.</li>

	        		<li>Click <b class="black-text"> Search </b>.</li>

	        		<li> If you want, use the filters (for example, price range) to narrow your options. Click <b class="black-text"> More Filters </b> to see all available filters.</li>

	        		<li>Scroll through the listings or use the map to find listings in the location you want.</li>

	        		<li>Click on a listing to open it. To learn more about it, read the description, check the available amenities, review the House Rules, and see reviews that other guests have left for the host.</li>

	        		<li>If you have any questions, send the host a message. Or, if you’re ready to book, request to book the listing (or use Instant Book if the host has it turned on).</li>
	        		

	        	</ol>
        		
        	</p>
        	<p>
        		
        		You can also save your favorite places to a <span class="orange"> Wish List </span> , which you can save for later or share with your friends.


        	</p>
        
        </div>

        <br>
        <h3 class="orange">What does the room type of a listing mean?</h3><br>

        <div class="margin-left-10">

        <p>
        	
        	Hosts on Sublease U offer a wide variety of spaces, ranging from shared rooms to private islands.

        </p>
        <p>
        	
        	While you can filter searches to look for something more specific (like boats or castles), all listings are grouped into the following three room types:

        </p>
        <p>
        	
        	<li>Shared rooms</li>
        	<li>Private rooms</li>
        	<li>Entire homes/apartment</li>

        </p>
        <p>
        	<b class="black-text">
        		
        		Shared rooms

        	</b>

        </p>
        <p>

        	Shared rooms are for when you’d like a comfy, communal experience, and don't mind sharing a space with others. When you book a shared room, you'll be sharing your bedroom and the entire space with other people. These rooms work best for the flexible traveler looking for new friends and a budget-friendly stay.	

        </p>
        <p>

        	<b class="black-text">
        		Private rooms
        	</b>


        </p>
        <p>
        	
        	Private rooms are great for when you prefer a little privacy, but still value a local connection. When you book a private room, 
			you'll have a bedroom to yourself, but will share some spaces with others. With a private room, you'll be able to wake up to 
			greet your new friends in the kitchen and have the freedom to bid them adieu at bedtime.


        </p>
        <p>

        	<b class="black-text">

        		Entire homes/apartments

        	</b>
        	
        </p>
        <p>
        	Entire homes/apartments are best if you're seeking a home away from home with complete privacy and the freedom to cook breakfast in your pajamas. With an entire home/apartment, you'll have the whole space to yourself. You can be your own host, make your own dinner, and remember to treat your listing with the respect and courtesy you would at your own home.


        </p>

        </div>

        <br>
        
        <h3 class="orange">
        	How do I know if a listing is available?
	
        </h3>
        
        <br>
        
        <div class="margin-left-10">
        
        <p>
        	
        	As long as you enter your destination, travel dates, and number of dates when searching on Sublease U, all listings that appear should be available for your trip.


        </p>
        <p>
        	
        	While we strongly encourage all hosts to keep their calendars up to date, consider sending a message to hosts to double check that their home is still available. You can also message the host to ask them about other details about their space you are wondering about.

        </p>

        </div>

        <br>

        <h3 class="orange">
        	
        	How can I tell if a listing is pet-friendly?

        </h3>
        
        <br>

        <div class="margin-left-10">
        	
	        <p>
	        If you want to see if a space would allow you to bring a pet on your trip, you can check the Amenities section of the listing description or contact the host.</p>

	        <p>
	        	
	        	<b class="black-text">Check the amenities</b>

	        </p>
	        
	        <p>
	        	
	        	Each listing on the site includes a section for amenities. Under the <b class="black-text"> Amenities </b> section below the listing description, check to see if <b class="black-text">Pets Allowed </b> is listed. If you don’t see it, or it’s crossed out, it means the host doesn’t allow guests to bring their pets along on their trip. This includes service animals.


	        </p>
	        
	        <p>

		        <b class="black-text">Contact the host</b>

	        </p>
	        <p>
	        	Whether or not the listing says that pets are allowed, you should <span class="black-text"> contact the host </span> to double check. In some situations, they may be willing to make exceptions. But sometimes allergies are an issue, so many hosts can’t accept pets.

	        </p>

	        <p>
	        	
	        	<b class="black-text">Pets already at the listing</b>

	        </p>
	        <p>
	        	If you want to know if the hosts have a pet at the listing, you can also check In the <b class="black-text"> Amenities </b> section of the listing. If you see Pet Owner listed, that means the host has a pet on the premises, although it doesn’t necessarily mean that a guest can bring a pet. Contact the host with any questions about pets at the listing.

	        </p>

        </div>

        <br>

        <h3 class="orange">
        What are Neighborhoods?</h3><br>

        <div class="margin-left-10">
        	
        	<p>
        		Neighborhoods are a way to help travelers make informed decisions about where to stay when planning a trip. When visiting a new city, it can be helpful to know which neighborhoods may fit your interests and the purpose of your trip.
        	</p>
        	<p>
        		<b class="black-text">How neighborhoods are determined</b>

        	</p>
        	<p>
        		
        		On Sublease U, neighborhoods boundaries are based on research with locals and city experts. A cartographer helps make sure these boundaries are accurate and up-to-date. This research also informs the detailed descriptions, photos, and stories about each neighborhood.

        	</p>
        	<p>
        		<b class="black-text">Search by neighborhood</b>
        	</p>
        	<p>
        		
        		You can <span class="orange"> search by neighborhood </span> to narrow your options when looking for a listing. You can also get additional information about neighborhoods, such as location, access to transportation, and map, by browsing all available neighborhoods for the city you're interested in.


        	</p>

        	<p>
        		
        		<b class="black-text">
        			Give direct feedback or suggest changes
        		</b>

        	</p>
        	<p>
        		
        		Neighborhood information is updated partly by using feedback from the community. If you feel that neighborhood information is incorrect, you can <span class="orange"> give us direct feedback </span>. While we can’t respond to everything, we encourage you to share your knowledge and opinions because the Neighborhoods team uses feedback to improve our platform.

        	</p>
        	
        	<p>
        		
        		<b class="black-text">
        			Can’t find a neighborhood
        		</b>

        	</p>
        	<p>
        		
        	While we’ve recently updated neighborhood information for popular travel destinations worldwide, not all locations have neighborhoods on Sublease U.


        	</p>

        </div><br>

        <h3 class="orange">
        	How do I search by neighborhood?
        </h3>
		
		<br>
		<div class="margin-left-10">
			
			<p>
				To help you decide where to stay, you can search by neighborhood for a number of cities.
			</p>
			<p>
				To search by neighborhood:
			</p>
			<p>
				<li>Search for a city on SubleaseU.com.</li>
				<li>Under the price range slider, click <b class="black-text"> More Filters.</b></li>
				<li>Next to the <b class="black-text"> Neighborhoods </b> section, choose a neighborhood you want to search. If you don’t see this section, that city doesn’t have any neighborhoods recorded on Sublease U.</li>

			</p>
			<p>
				
				You can also browse neighborhoods by clicking different locations on the map.


			</p>
			<p>
				
				<b class="black-text">

				How do I know which neighborhood to choose?


				</b>

			</p>

			<p>
				
				If you’re not sure which neighborhood is the best fit for your trip, you can use the <span class="orange">Neighborhoods page </span> for your destination to get a description of each neighborhood based on research with locals and city experts.

			</p>
			<p>
				
				In the Sublease U app, you can also provide extra information about your trip to see more personalized homes and neighborhoods. You can choose filters such as property type (for example, apartment or castle) and neighborhood type (for example, “hip” or “quiet”). You can also indicate if you’re traveling with any children or pets. Using this information, along with a number of other search and ranking factors, we’ll display neighborhoods and homes for your specific trip, as well as “Popular” listings based on our existing ranking factors.

			</p>


		</div><br>

		<h3 class="orange">What's a Guidebook?</h3><br>

		<div class="margin-left-10">
			
			<p>Guidebooks let hosts suggest local spots, like restaurants, grocery stores, parks, and attractions. If you add a Guidebook to your listing, your recommended places will appear on the map on your public listing page.</p>

			<p>Some cities also have city guidebooks, which are combined lists of recommendations that hosts have added to their own guidebooks.</p>

			<p>
				<b class="black-text">Add a host guidebook to a listing</b>
			</p>
			
			<p>To create your guidebook:</p>

			<p>

			<ol>
				
				<li>Go to <span class="orange">Manage Listings</span></li>

				<li>Click <b class="black-text">Manage Listing and Calendar </b> on the listing you want to edit.</li>

				<li>Hover on the left side of the page to open the menu.</li>

				<li>Click <b class="black-text">Guidebook</b>.</li>

				<li>Under a category, enter a business name or address of a favorites place.</li>

				<li>Write a short recommendation and any tags that apply.</li>

				<li>Click <b class="black-text">Add</b>.</li>


			</ol>
				
			</p>
			<p>
				
				You'll need to create a separate host guidebook for each of your listings. You can only create a host guidebook once you've completed the steps to list your space.


			</p>

			<p>
				Since these guidebooks are public, you’ll have to remove your recommendations if you don’t want them to appear for all guests.

			</p>

			<p>
				<b class="black-text">Edit or delete a host guidebook</b>

			</p>
			<p>
				You can edit or remove recommendations from your guidebook, or delete your guidebook altogether.
			</p>
			<p>
				
				<ol>
					
					<li>Go to <span class="orange">Manage Listings</span></li>
					<li>Click <b class="black-text">Manage Listing and Calendar</b> on the listing you want to edit</li>
					<li>Hover on the left side of the page to open the menu</li>
					<li>Click <b class="black-text">Guidebook</b></li>
					<li>Next to the business you want to edit, click <b class="black-text"> Edit</b></li>
					<li>If you want to remove the business, click Delete. Otherwise, you can edit your recommendation.</li>

				</ol>


			</p>

			<p>To delete your guidebook, you need to remove each recommendation individually.</p>

			<p><b class="black-text">Host recommendations in city guidebooks</b></p>

			<p>With city guidebooks, recommendations from host guidebooks are used to provide a detailed picture of what guests can do in that city. Three recommendations will be featured and will include a link to the host’s guidebook and listing. These featured recommendations will change over time.</p>

			<p>To determine which recommendations to use, our algorithms look at the most interesting content created around each location, based on informativeness, uniqueness, and representation of the place. We then show the most helpful recommendations which seem to provide the most compelling information for guests.</p>

			<p>The best way to be featured in city guidebooks is to continue expanding your own host guidebook with your favorite places in the area.</p>

			<p>
				<b class="black-text">
					
					Can’t find a city guidebook

				</b>
			</p>
			<p>
				
				At this time, not all cities have a city guidebook but we’re actively looking to add more. The best way to help your city get a guidebook is to expand your own host guidebook with your recommendations. Once enough hosts create robust guidebooks, this information can be gathered together in a city guidebook.


			</p>
			<p>
				
			<b class="black-text">Leave feedback about guidebooks</b>

			</p>
			<p>
				If you have any thoughts or concerns about guidebooks, you can provide us <span class="orange"> direct feedback </span>. While not all feedback will make it to the site or receive a response, we encourage you to share your knowledge and opinion

				
			</p>

		</div>


      </div>


    </div>