<div class="col-sm-8 col-xs-12 padding-20 margin-top-30" ng-controller="profileCtrl">
          <div class="border-grey white-bg">
            <div class="navbar-header width-full border-side-none background-grey padding-5">
              <h4>Profile Photo*</h4>
            </div>
            <div class="padding-10"> 
              
              <div class="row margin-left-20">
                
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                  
                  <!-- <img src="images/10.jpg" class="border-grey"> -->
                  <div id="kv-avatar-errors-2" class="center-block" style="width:800px;height: 500px;display:none"></div>

                  <form class="text-center" action="" method="">
                      
                      <div class="kv-avatar">

                          <input id="avatar-1" name="avatar-1" type="file" class="file-loading">
                      
                      </div>
                      <!-- include other inputs if needed and include a form submit (save) button -->
                  </form>

                </div>

                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 grey-color">
                  
                  <div class="margin-top-10 margin-bottom-30">
                    <p>Clear frontal face photos are an important way for Subleasors and guests to learn about each other.<br>Please upload a photo that clearly shows your face.</p>
                  </div>

                  <!-- <button class="header-btn header-btn-transparent margin-right-10 btn btn-default fileinput-remove fileinput-remove-button">
                    <i class="fa fa-remove pull-left padding-5" aria-hidden="true"></i>
                    Remove photo
                  
                  </button> -->

                  <button class="header-btn btn btn-default header-btn-transparent" tabindex="-1" ng-click="profileupload()">
                    
                    <i class="fa fa-upload pull-left padding-5" aria-hidden="true"></i>
                    Upload photo
                  
                  </button>
 
                </div>
              
              </div>

            </div>
            <div class="navbar-header width-full border-side-none background-grey padding-5 margin-top-10 margin-bottom-10">
              <h4>Required*<p class="pull-right red-color size-normal">We use this data for analysis and never share it with other users.*</p></h4>
            </div>
            <div class="padding-10">
              <div class="row">
                  
                <div class="col-lg-1 col-md-1"></div>  
                <div class="col-lg-2 col-md-2 col-xs-12 col-sm-12">
                  <label>First Name</label>
                </div>
                
                  <div class="col-lg-9 col-md-9 col-xs-12 col-sm-12">
                  
                      <input class="width-full" ng-model="getdetails[0].firstname"  type="text" name="firstname" placeholder="Enter First Name">
                
                  </div>
              
                </div>
                
              <div class="row margin-top-10">
                  <div class="col-lg-1 col-md-1"></div>  
                <div class="col-lg-2 col-md-2 col-xs-12 col-sm-12">
                  <label>Last Name</label>
                </div>
                <div class="col-lg-9 col-md-9 col-xs-12 col-sm-12">
                  <input class="width-full" ng-model="getdetails[0].lastname"  type="text" name="lastname" placeholder=" Enter Last Name">
                </div>
              </div>
              
                <div class="row margin-top-10">
                  <div class="col-lg-1 col-md-1"></div>  
                <div class="col-lg-2 col-md-2">
                  <label>I Am</label>
                </div>
                
                  <div class="col-lg-9 col-md-9 col-xs-12 col-sm-12">
                  <select class="form-control width-full border-radius-0 input-border" ng-model="getdetails[0].gender" name="gender">
                    <option>Male</option>
                    <option>Female</option>
                    <option>Other</option>
                  </select>
                </div>
                  
              </div>
              <div class="row margin-top-10">
                <div class="col-lg-1 col-md-1"></div>  
                <div class="col-lg-2 col-md-2 col-xs-12 col-sm-12">
                  <label>Birth Date</label>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <div class="select">
                      <select class="form-control border-radius-0 input-border" ng-model="getdetails[0].dob" name="dob">
                        <option value="1">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                      </select>
                    </div>
                    <div class="select">
                      <select class="form-control border-radius-0 input-border" ng-model="getdetails[0].dob" name="dob">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                      </select>
                    </div>

                    <div class="select">

                      <select class="form-control border-radius-0 input-border" ng-model="getdetails[0].dob" name="dob">
                        
                        <option value="1998">2000</option>
                        <option value="1998">1999</option>
                        <option value="1998">1998</option>
                        <option value="1997">1997</option>
                        <option value="1996">1996</option>
                        <option value="1995">1995</option>
                        <option value="1994">1994</option>
                        <option value="1993">1993</option>
                        <option value="1992">1992</option>
                        <option value="1991">1991</option>
                        <option value="1990">1990</option>
                        <option value="1989">1989</option>
                        <option value="1988">1988</option>
                        <option value="1987">1987</option>
                        <option value="1986">1986</option>
                        <option value="1985">1985</option>
                        <option value="1984">1984</option>
                        <option value="1983">1983</option>
                        <option value="1982">1982</option>
                        <option value="1981">1981</option>
                        <option value="1980">1980</option>
                        <option value="1979">1979</option>
                        <option value="1978">1978</option>
                        <option value="1977">1977</option>
                        <option value="1976">1976</option>
                        <option value="1975">1975</option>
                        <option value="1974">1974</option>
                        <option value="1973">1973</option>
                        <option value="1972">1972</option>
                        <option value="1971">1971</option>
                        <option value="1970">1970</option>
                        <option value="1969">1969</option>
                        <option value="1968">1968</option>
                        <option value="1967">1967</option>
                        <option value="1966">1966</option>
                        <option value="1965">1965</option>
                        <option value="1964">1964</option>
                        <option value="1963">1963</option>
                        <option value="1962">1962</option>
                        <option value="1961">1961</option>
                        <option value="1960">1960</option>
                        <option value="1959">1959</option>
                        <option value="1958">1958</option>
                        <option value="1957">1957</option>
                        <option value="1956">1956</option>
                        <option value="1955">1955</option>
                        <option value="1954">1954</option>
                        <option value="1953">1953</option>
                        <option value="1952">1952</option>
                        <option value="1951">1951</option>
                        <option value="1950">1950</option>
                        <option value="1949">1949</option>
                        <option value="1948">1948</option>
                        <option value="1947">1947</option>
                        <option value="1946">1946</option>
                        <option value="1945">1945</option>
                        <option value="1944">1944</option>
                        <option value="1943">1943</option>
                        <option value="1942">1942</option>
                        <option value="1941">1941</option>
                        <option value="1940">1940</option>
                        <option value="1939">1939</option>
                        <option value="1938">1938</option>
                        <option value="1937">1937</option>
                        <option value="1936">1936</option>
                        <option value="1935">1935</option>
                        <option value="1934">1934</option>
                        <option value="1933">1933</option>
                        <option value="1932">1932</option>
                        <option value="1931">1931</option>
                        <option value="1930">1930</option>
                        <option value="1929">1929</option>
                        <option value="1928">1928</option>
                        <option value="1927">1927</option>
                        <option value="1926">1926</option>
                        <option value="1925">1925</option>
                        <option value="1924">1924</option>
                        <option value="1923">1923</option>
                        <option value="1922">1922</option>
                        <option value="1921">1921</option>
                        <option value="1920">1920</option>
                        <option value="1919">1919</option>
                        <option value="1918">1918</option>
                        <option value="1917">1917</option>
                        <option value="1916">1916</option>
                      
                      </select>

                    </div>
                </div>
              </div>
              <div class="row margin-top-10">
                <div class="col-lg-1 col-md-1"></div>  
                <div class="col-lg-2 col-md-2 col-xs-12 col-sm-12">
                  <label>Email Address</label>
                </div>
                <div class="col-lg-9 col-md-9 col-xs-12 col-sm-12">
                  <input class="pull-left width-full" ng-model="getdetails[0].email"  type="text"  placeholder="">
                </div>
              </div>
              <div class="row margin-top-10">
                 <div class="col-lg-1 col-md-1"></div>  
                <div class="col-lg-2 col-md-2 col-xs-12 col-sm-12">
                  <label>Phone Number</label>
                </div>
                <div class="col-lg-9 col-md-9 col-xs-12 col-sm-12">
                  <input type="tel" ng-model="getdetails[0].phone" maxlength="10" placeholder=" +91 ** *** ** 508">
                    <span class="green background-grey input-border confirm-block margin--5"> 
                      Confirmed
                      <i class="fa fa-check-circle-o grey-color " aria-hidden="true"></i>
                    </span>
                </div>
              </div>
              <div class="row margin-top-10">
                 <div class="col-lg-1 col-md-1"></div>  
                <div class="col-lg-2 col-md-2 col-xs-12 col-sm-12">
                  <label>Preferred Language</label>
                </div>
                <div class="col-lg-9 col-md-9 col-xs-12 col-sm-12">
                  <div class="select">
                    <select class="form-control border-radius-0 input-border" ng-model="getdetails[0].language" name="language">
                      <option value="en">English</option>
                      <option value="id">Bahasa Indonesia</option>
                      <option value="ms">Bahasa Melayu</option>
                      <option value="ca">Català</option>
                      <option value="da">Dansk</option>
                      <option value="de">Deutsch</option>
                      <option value="es">Español</option>
                      <option value="el">Eλληνικά</option>
                      <option value="fr">Français</option>
                      <option value="it">Italiano</option>
                      <option value="hu">Magyar</option>
                      <option value="nl">Nederlands</option>
                      <option value="no">Norsk</option>
                      <option value="pl">Polski</option>
                      <option value="pt">Português</option>
                      <option value="fi">Suomi</option>
                      <option value="sv">Svenska</option>
                      <option value="tr">Türkçe</option>
                      <option value="is">Íslenska</option>
                      <option value="cs">Čeština</option>
                      <option value="ru">Русский</option>
                      <option value="th">ภาษาไทย</option>
                      <option value="zh">中文 (简体)</option>
                      <option value="zh-TW">中文 (繁體)</option>
                      <option value="ja">日本語</option>
                      <option value="ko">한국어</option></select>
                  </div><br>
                  <span class="text-muted size-normal">We'll send you messages in this language.</span>
                </div>
              </div>
              <div class="row margin-top-10">
                <div class="col-lg-1 col-md-1"></div>  
                <div class="col-lg-2 col-md-2 col-xs-12 col-sm-12">
                  <label>Preferred Currency</label>
                </div>
                <div class="col-lg-9 col-md-9 col-xs-9 col-sm-9">
                  <div class="select">
                    <select class="form-control border-radius-0 input-border" ng-model="getdetails[0].currency" name="currency">
                      <option value="INR">INR</option>
                      <option value="AED">AED</option>
                      <option value="ARS">ARS</option>
                      <option value="AUD">AUD</option>
                      <option value="BGN">BGN</option>
                      <option value="BRL">BRL</option>
                      <option value="CAD">CAD</option>
                      <option value="CHF">CHF</option>
                      <option value="CLP">CLP</option>
                      <option value="CNY">CNY</option>
                      <option value="COP">COP</option>
                      <option value="CRC">CRC</option>
                      <option value="CZK">CZK</option>
                      <option value="DKK">DKK</option>
                      <option value="EUR">EUR</option>
                      <option value="GBP">GBP</option>
                      <option value="HKD">HKD</option>
                      <option value="HRK">HRK</option>
                      <option value="HUF">HUF</option>
                      <option value="IDR">IDR</option>
                      <option value="ILS">ILS</option>
                      <option value="JPY">JPY</option>
                      <option value="KRW">KRW</option>
                      <option value="MAD">MAD</option>
                      <option value="MXN">MXN</option>
                      <option value="MYR">MYR</option>
                      <option value="NOK">NOK</option>
                      <option value="NZD">NZD</option>
                      <option value="PEN">PEN</option>
                      <option value="PHP">PHP</option>
                      <option value="PLN">PLN</option>
                      <option value="RON">RON</option>
                      <option value="RUB">RUB</option>
                      <option value="SAR">SAR</option>
                      <option value="SEK">SEK</option>
                      <option value="SGD">SGD</option>
                      <option value="THB">THB</option>
                      <option value="TRY">TRY</option>
                      <option value="TWD">TWD</option>
                      <option value="UAH">UAH</option>
                      <option value="USD">USD</option>
                      <option value="UYU">UYU</option>
                      <option value="VND">VND</option>
                      <option value="ZAR">ZAR</option>
                    </select>
                  </div><br>
                  <span class="text-muted size-normal">We'll show you prices in this currency.</span>
                </div>
              </div>
              <div class="row margin-top-10">
                <div class="col-lg-1 col-md-1"></div>  
                <div class="col-lg-2 col-md-2 col-xs-12 col-sm-12">
                  <label>Where You live</label>
                </div>
                <div class="col-lg-9 col-md-9 col-xs-9 col-sm-9">
                  <input class="pull-left width-full size-normal" type="text" ng-model="getdetails[0].location" name="location" placeholder="e.g. Paris, France / Brooklyn, NY / Chicago">
                </div>
              </div>
              <div class="row margin-top-10">
                <div class="col-lg-1 col-md-1"></div>  
                <div class="col-lg-2 col-md-2 col-xs-12 col-sm-12">
                  <label>Describe Yourself</label>
                </div>
                <div class="col-lg-9 col-md-9 col-xs-12 col-sm-12">
                  <textarea class="pull-left width-full weight-normal" type="text" height="20" ng-model="getdetails[0].describe" name="describe" placeholder=""></textarea>
                </div>
              </div>
            </div>
            <div class="navbar-header width-full border-side-none background-grey padding-5 margin-top-10 margin-bottom-10">
              <h4>Optional<p class="pull-right red-color size-normal bottom">We use this data for analysis and never share it with other users.*</p></h4>
            </div>
            <div class="padding-10">
              <div class="row">
                <div class="col-lg-1 col-md-1"></div>  
                <div class="col-lg-2 col-md-2 col-xs-12 col-sm-12">
                  <label>School</label>
                </div>
                <div class="col-lg-9 col-md-9 col-xs-12 col-sm-12">
                  <input class="pull-left width-full" type="text" ng-model="getdetails[0].school" name="school" placeholder="">
                </div>
              </div>
              <div class="row margin-top-10">
               <div class="col-lg-1 col-md-1"></div>  
                <div class="col-lg-2 col-md-2 col-xs-12 col-sm-12">
                  <label>Work</label>
                </div>
                <div class="col-lg-9 col-md-9 col-xs-12 col-sm-12">
                  <input class="pull-left width-full" type="text" ng-model="getdetails[0].work" name="work"  placeholder="">
                </div>
              </div>
              <div class="row margin-top-10">
                 <div class="col-lg-1 col-md-1"></div>  
                <div class="col-lg-2 col-md-2 col-xs-12 col-sm-12">
                  <label>Time Zone</label>
                </div>
                <div class="col-lg-9 col-md-9 col-xs-12 col-sm-12">
                  <input class="pull-left" type="text" ng-model="getdetails[0].timezone" name="timezone" placeholder="Your home time zone">
                </div>
              </div>
              <div class="row margin-top-10">
                  <div class="col-lg-1 col-md-1"></div>  
                <div class="col-lg-2 col-md-2 col-xs-12 col-sm-12">
                  <label>Language</label>
                </div>
                <div class="col-lg-9 col-md-9 col-xs-12 col-sm-12">
                  <input class="pull-left width-65" type="text" ng-model="getdetails[0].addlanguage" name="addlanguage" placeholder=""><br><br>
                  <span class="text-muted size-normal">Add any languages that others can use to speak with you on Sublease U</span>
                </div>
              </div>
              <div class="row margin-top-10">
                  <div class="col-lg-1 col-md-1"></div>  
                <div class="col-lg-2 col-md-2 col-xs-12 col-sm-12">
                  <label>Emergency Contact</label>
                </div>
                <div class="col-lg-9 col-md-9 col-xs-12 col-sm-12">
                    <input type="tel" ng-model="getdetails[0].emergency" name="emergency" placeholder=" +91 ** *** ** 508">
                      <span class="green background-grey input-border confirm-block"> 
                        Confirmed
                        <i class="fa fa-check-circle-o grey-color " aria-hidden="true"></i>
                      </span>
                </div>
              </div>
              <div class="row margin-top-10">
                <div class="col-lg-1 col-md-1"></div>  
                <div class="col-lg-2 col-md-2 col-xs-12 col-sm-12">
                  <label>Shipping Address</label>
                </div>
                <div class="col-lg-9 col-md-9 col-xs-12 col-sm-12">
                  <input class="pull-left width-65" type="text" ng-model="getdetails[0].shipping" name="shipping placeholder="">
                </div>
              </div>
              <center>
                <button class="green-bg white padding-10 margin-30 no-border width-20" ng-click="addpost()">
                  SAVE
                </button>
              </center>
            </div>
          </div>
</div>