<div class="col-sm-9 padding-20 margin-top-30">
          <div class="border-grey white-bg margin-bottom-40">
            <div class="navbar-header width-full border-side-none background-grey padding-5">
              <h4>Country of Residence</h4>
            </div>
            <div class="padding-20 padding-top-10">
              <div class="row">
                <div class="col-md-3">
                  <label class="pull-right margin-top-5 black-text">Country of Residence <i class="fa fa-question-circle" aria-hidden="true"></i></label>
                </div>
                <div class="col-md-5">
                  <select class="form-control width-auto display-inline" id="">
                    <option value="" disabled selected>Choose Country</option>
                    <option>India</option>
                    <option>United States</option>
                    <option>n/A</option>
                    <option>N/a</option>
                  </select>
                </div>
                <div class="col-md-4">
                  <p>Click ‘Save Country of Residence’ to confirm.</p>
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-12">
                <button class="orange-bg white width-30 margin-right-30 margin-bottom-20 padding-10 pull-right no-border">
                  Save Country of Residency
                </button>
              </div>
            </div>
          </div>
          <div class="border-grey white-bg margin-bottom-20">
            <div class="navbar-header width-full border-side-none background-grey padding-5">
              <h4>Cancel Account</h4>
            </div>
            <div class="padding-20 padding-bottom-0">
              <div class="row margin-bottom-5">
                <div class="col-md-1">
                  
                </div>
                <div class="col-md-11 ">
                  <button class="orange-bg white width-20 padding-10 pull-left no-border">
                    Cancel my account
                  </button>
                </div>
              </div>
          </div>
          
</div>
