<div data-ng-include="'partials/partial-help-head.html'"></div>
<div class="container margin-bottom-120">
    <div class="padding-lr-60">
        <center>
            <h3 class="orange">I'm a host. What are some safety tips I can follow?</h3></center>
        <br>
        <div class="margin-left-10">
            <p>Being a host comes with certain responsibilities. Here are some resources to help support you along the way</p>
            <p class="black-text">Interact smartly</p>
            <p>We are India's largest branded network of hotels spread across 223 cities with 6500+ hotels offering standardized stay experiences at an unmatched price.</p>
            <p class="black-text">Fill out your House Rules, Home Safety Card, and House Manual</p>
            <p>
                From a single hotel in May 2013 to over 6500+ hotels at present, ours has been an inspiring journey from a smart idea to India's largest branded network of hotels with the dream of becoming the world's largest branded network of hotels.From a single hotel in May 2013 to over 6500+ hotels at present, ours has been an inspiring journey from a smart idea to India's largest branded network of hotels with the dream of becoming the world's largest branded network of hotels.
            </p>
            <p class="black-text">Make sure you're insured</p>
            <p>
                From a single hotel in May 2013 to over 6500+ hotels at present, ours has been an inspiring journey from a smart idea to India's largest branded network of hotels with the dream of becoming the world's largest branded network of hotels.From a single hotel in May 2013 to over 6500+ hotels at present, ours has been an inspiring journey from a smart idea to India's largest branded network of hotels with the dream of becoming the world's largest branded network of hotels.From a single hotel in May 2013 to over 6500+ hotels at present, ours has been an inspiring journey from a smart idea to India's largest branded network of hotels with the dream of becoming the world's largest branded network of hotels.From a single hotel in May 2013 to over 6500+ hotels at present, ours has been an inspiring journey from a smart idea to India's largest branded network of hotels with the dream of becoming the world's largest branded network of hotels.
            </p>
            <p class="black-text">Set requirements for your listing</p>
            <p>From a single hotel in May 2013 to over 6500+ hotels at present, ours has been an inspiring journey from a smart idea to India's largest branded network of hotels with the dream of becoming the world's largest branded network of hotels.From a single hotel in May 2013 to over 6500+ hotels at present, ours has been an inspiring journey from a smart idea to India's largest branded network of hotels with the dream of becoming the world's largest branded network of hotels.From a single hotel in May 2013 to over 6500+ hotels at present, ours has been an inspiring journey from a smart idea to India's largest branded network of hotels with the dream of becoming the world's largest branded network of hotels.From a single hotel in May 2013 to over 6500+ hotels at present, ours has been an inspiring journey from a smart idea to India's largest branded network of hotels with the dream of becoming the world's largest branded network of hotels.From a single hotel in May 2013 to over 6500+ hotels at present, ours has been an inspiring journey from a smart idea to India's largest branded network of hotels with the dream of becoming the world's largest branded network of hotels.</p>
            <p class="black-text">Read Sublease u Responsible Hosting page</p>
            <p>From a single hotel in May 2013 to over 6500+ hotels at present, ours has been an inspiring journey from a smart idea to India's largest branded network of hotels with the dream of becoming the world's largest branded network of hotels.</p>
            <p>
                <div class="border-grey white-bg" style="margin:10px 10%;padding:20px 40px">
                    <b class="black-text">Remember</b>
                    <span class="margin-left-10">
                  : In an emergency situation, or if your personal safety is threatened, contact local police or emergency services immediately.
              </span>
                </div>
            </p>
        </div>
    </div>
</div>
