<div data-ng-include="'partials/partial-help-head.html'"></div>
     <div class=" container margin-bottom-120">
      <div class="text-center margin-top-10 margin-bottom-30">
        Manage your profile
      </div>
      <div class="text-center row icon-color weight-normal margin-bottom-20">
        <div class="col-md-3"></div>
        <div class="col-md-2 padding-bottom-20">
          <div class="border-grey padding-40-10 help-boxes" ui-sref='.profile'>
            <i class="fa fa-user icon-size-2 padding-bottom-30" aria-hidden="true"></i>
            <br>
            Profile
          </div>
        </div>
        <div class="col-md-2 padding-bottom-20">
          <div class="border-grey padding-40-10 help-boxes" ui-sref='.verify'>
            <i class="fa fa-file-text-o icon-size-2 padding-bottom-30" aria-hidden="true"></i>
            <br>
            Verifications
          </div>
        </div>
        <div class="col-md-2 padding-bottom-20">
          <div class="border-grey padding-40-10 help-boxes" ui-sref='.reference'>
            <i class="fa fa-book icon-size-2 padding-bottom-30" aria-hidden="true"></i>
            <br>
            References
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>
    
      <div ui-view></div>
    </div>