<div data-ng-include="'partials/partial-help-head.html'"></div>
<div class="container margin-bottom-120">
      <div class="text-center  margin-top-10 margin-bottom-30">
        Tax
      </div>
      <div class="text-center  row icon-color weight-normal margin-bottom-20">
        <div class="col-md-2"></div>
        <div class="col-md-2 padding-bottom-20">
          <div class="border-grey padding-40-10 help-boxes" ui-sref='.works'>
            <i class="fa fa-file-word-o icon-size-2 padding-bottom-30" aria-hidden="true"></i>
            <br>
            How Tax Works?
          </div>
        </div>
        <div class="text-center  col-md-2 padding-bottom-20">
          <div class="border-grey padding-40-10 help-boxes" ui-sref='.local'>
            <i class="fa fa-home icon-size-2 padding-bottom-30" aria-hidden="true"></i>
            <br>
            Local Tax
          </div>
        </div>
        <div class="text-center  col-md-2 padding-bottom-20">
          <div class="border-grey padding-40-10 help-boxes" ui-sref='.federal'>
            <i class="fa fa-usd icon-size-2 padding-bottom-30" aria-hidden="true"></i>
            <br>
            US Federal Tax
          </div>
        </div>
        <div class="text-center col-md-2 padding-bottom-20">
          <div class="border-grey padding-40-10 help-boxes" ui-sref='.valueAdded'>
            <i class="fa fa-percent icon-size-2 padding-bottom-30" aria-hidden="true"></i>
            <br>
            Value Added Tax
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
      <div ui-view></div>
</div>