<div data-ng-include="'partials/partial-help-head.html'"></div>
<div class="container margin-bottom-120">
      <div class="text-center  margin-top-10 margin-bottom-30">
        Prospective Subleases
      </div>
      <div class="text-center  row icon-color weight-normal margin-bottom-20">
        <div class="col-md-2"></div>
        <div class="col-md-2 padding-bottom-20">
          <div class="border-grey padding-40-10 help-boxes" ui-sref='.preparing'>
            <i class="fa fa-credit-card icon-size-2 padding-bottom-30" aria-hidden="true"></i>
            <br>
            Preparing for your trip
          </div>
        </div>
        <div class="text-center  col-md-2 padding-bottom-20">
          <div class="border-grey padding-40-10 help-boxes" ui-sref='.duringTrip'>
            <i class="fa fa-car icon-size-2 padding-bottom-30" aria-hidden="true"></i>
            <br>
            During your Trip
          </div>
        </div>
        <div class="text-center  col-md-2 padding-bottom-20">
          <div class="border-grey padding-40-10 help-boxes" ui-sref='.change'>
            <i class="fa fa-pencil-square-o icon-size-2 padding-bottom-30" aria-hidden="true"></i>
            <br>
            Change of Plans 
          </div>
        </div>
        <div class="text-center col-md-2 padding-bottom-20">
          <div class="border-grey padding-40-10 help-boxes" ui-sref='.resolve'>
            <i class="fa fa-check-square icon-size-2 padding-bottom-30" aria-hidden="true"></i>
            <br>
            Resolve a Problem
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
      <div ui-view></div>
</div>