<div class="container" ng-controller="profileCtrl">

      <!-- Main component for a primary marketing message or call to action -->
        <div class="row margin-top-30 margin-bottom-120">
        	<div class="col-md-3 col-sm-12 col-xs-12">
        			<div class="side-panel margin-bottom-10">
        				<img src="images/Woman Reading Study Plan.jpg" width="100%" height="100%">
        			</div>
        			<div class="side-panel white-bg margin-bottom-10">
        				<div class="navbar-header width-full border-side-none background-grey padding-5">
        					<h4>Verification <i class="fa fa-question-circle pull-right" aria-hidden="true"></i></h4>
        				</div>
        				<div class="row padding-15">

                <center>
        				
                	<div class="col-md-3 col-xs-12 col-sm-12 green-check-loc">
        						<i class="fa fa-check green-check circular-image" aria-hidden="true"></i>
        					</div>
        				
                </center>

                <center>

                  <div class="col-md-9 col-xs-12 col-sm-12 margin-top-10">
        						<b>Email address</b><br>
	        				<span class="text-muted">Verified</span>
	        				</div>
                
                </center>
                  
	        			</div>
	        			<div class="row padding-15">
	        			
                <center>
                
                  <div class="col-md-3 col-xs-12 col-sm-12 green-check-loc">
	        					<i class="fa fa-check green-check circular-image" aria-hidden="true"></i>
	        				</div>

                </center>
	        			
                <center>
                  <div class="col-md-9 col-xs-12 col-sm-12 margin-top-10">
	        					<b>Facebook</b><br>
	        				<span class="text-muted">1900 Friends</span>
	        				</div>
                </center>

	        			</div>
                
                <div class="red-color margin-left-10 padding-top-10">
                    Add verification
                  </div>
        			</div>
              <div class="side-panel white-bg margin-bottom-10">
                <div class="navbar-header width-full border-side-none background-grey padding-5">
                  <h4>About Me</h4>
                </div>
                <div class="row padding-15">
                  <div class="col-md-12">
                    <b>School</b><br>
                  <span class="text-muted">{{getdetails[0].school}}</span>
                  </div>
                </div>
                <div class="row padding-15">
                  <div class="col-md-12">
                    <b>Languages</b><br>
                  <span class="text-muted">{{getdetails[0].language}}</span>
                  </div>
                </div>
              </div>
              <div class="side-panel background-grey">
                <div class="navbar-header width-full border-side-none background-grey padding-5">
                  <h4>My Properties</h4>
                </div>
                <div class="margin-bottom-10">
                  <img src="images/93df8d2e_original.jpg" width="100%" height="100%">
                </div>
                <div class="margin-bottom-10">
                  <img src="images/2.jpg" width="100%" height="100%">
                </div>
              </div>
        	</div>
          <div class="col-md-1 col-sm-1"></div>
        	<div class="col-md-8 col-sm-8 margin-left-10">
            <div class="row margin-bottom-120">
                
                
              <div class="col-md-7 col-xs-12 col-sm-12" style="margin-top:10px;">
                <h1 class="margin-top-0">Hey, I'm Sara Paton!</h1>
                <h4>US | Member since August 2016</h4>
              </div>
              
                <div class="col-md-5">
                
                    <div class="pull-right">
                  
                        Report this user<br>
                  
                        <span class="red-color" ui-sref='profile.edit'>Edit Profile</span>
                
                    </div>
              
                </div>
                
            </div>
                
            <div class="border-grey white-bg padding-20 margin-bottom-20">
              A warm welcome awaits in Newyork in my lovely old house "ROMA" which Bonnie Pronce Charlie once stayed in many years ago around the time of the 1745 Jacobite Rebellion when it was the COACHHOUSE ;-)
             </div>
            <div class="border-grey white-bg">
              <div class="navbar-header width-full border-side-none background-grey padding-5">
                <h4>2 Reviews</h4>
              </div>
              <div class="padding-10"> 
                
                  <div class="row padding-20">
                  
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 padding-10">
                    
                        <img src="images/10.jpg" class=" review-img no-border">
                  
                    </div>
                    
                  <div class="col-lg-10 col-md-10 col-xs-10 col-sm-10">

                    <div class="margin-top-10 margin-bottom-30">
                      <p>Jennifer Grassick <span class="pull-right">13/06/2016</span></p>
                      
                      <p>I enjoyed the stay at Sara's place very much, though I stayed only for 2 nights but I had everything I needed and more would definitely stay there again!</p>
                      <div class="row ">
                        <div class="col-md-12">
                          <div class="pull-right">
                            Reply
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                        <img src="images/Woman Reading Study Plan.jpg" class="pull-right review-img no-border">
                      </div>
                      <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">
                        <div class="margin-top-10 margin-bottom-30">
                          <p>Sarah Paton <span class="pull-right">16/06/2016</span></p>
                        
                          <p>Thank you so much jennifer..i'm glad you liked it. Hope you stay here again :)</p>
                        </div>
                      </div>
                    </div>
                    <hr>
                  </div>
                </div>
              </div>
              <div class="padding-10">
                  
                <div class="row padding-20">
                    
                  <div class="col-lg-2 col-md-2 col-xs-2 col-sm-2 padding-10">
                    <img src="images/10.jpg" class="no-border review-img">
                  </div>
                  
                    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                    
                      <div class="margin-top-10 margin-bottom-30">
                        
                    <p>John Martin <span class="pull-right">13/06/2016</span></p>
                    
                    <p>Sara is a gem of a person, casual, smart, friendly, humorous and obliging. Made me feel very welcome. Lovely house on a quiet road. Can highly recommend.</p>
                      <div class="row ">
                        <div class="col-md-12">
                          <div class="pull-right">
                            Reply
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                        
                      <div class="col-lg-2 col-md-2 col-xs-3 col-sm-3 ">
                        <img src="images/Woman Reading Study Plan.jpg" class="no-border review-img">
                      </div>
                        
                      <div class="col-lg-10 col-md-10 col-xs-9 col-sm-9">
                        <div class="margin-top-10 margin-bottom-30">
                          <p>Sarah Paton <span class="pull-right">16/06/2016</span></p>
                        
                          <p>Thank you so much john..i'm glad you liked it. Hope you stay here again :)</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>        
    </div>