<div ui-view>
    
<div style="margin:10% 0;">
	<center>
		<h3 class="orange">Get someone to sublease your space! </h3>
		<p class="black-text">An email has been sent to your email so that you can review and change any details at anytime.</p>
	</center>
</div>

<div class="container-fluid">
	
	<div class="row">

		<div class="">

		
				<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3  border-grey pointer white-bg">
					
					<div class="" ui-sref='.head.property-step-1' ui-sref-opts="{reload:true}">


						<div class="pull-left xs-img-hidden" style="padding-top:5px;">
						
                            <img src="images/hometheatre-128.png" class=" img-responsive text-center size-20 property-img">	
						
                        </div>

						<div class="pull-right xxs-pull-left">
						
							
							<h3 class="text-muted md-font">Step 1</h3>
							<b class="black-text md-font">Start with the Basics</b><br>
							<span class="black-text md-font">(Roommates, Amenities etc.)</span>


						</div>
								
												
					</div>

				</div>

				<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 border-grey pointer white-bg">
					
					
						
						<div class="pull-left xs-img-hidden" style="padding-top:5px;">
							<img src="images/nopic.png" class="img-responsive text-center size-20 property-img">
						</div>

						<div class="pull-right xxs-pull-left">
								<h3 class="text-muted md-font">Step 2</h3>
								<b class="black-text md-font">Show them your place</b><br>
								<span class="black-text md-font">(Photos, Description etc.)</span>
						</div>

					

				</div>

				<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 border-grey pointer white-bg">
					
						<div class="">

							<div class="pull-left xs-img-hidden" style="padding-top:5px;">

								<img src="images/calendar-icon-in-black_318-9776.png" class="img-responsive text-center size-20 property-img">

							</div>
							
							<div class="pull-right xxs-pull-left">
							
								<h3 class="text-muted md-font">Step 3</h3>
								<b class="black-text md-font">Setup Price, Calendar</b><br>
								<span class="black-text md-font"> (Conditions, Cancellation)</span>

							</div>

					</div>
				</div>

				<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 border-grey pointer white-bg">
					
						<div>
                            
							<div class="pull-left xs-img-hidden" style="padding-top:5px">
								
                                <img src="images/Credit_Card_Payment_Safe_Secure_Shopping_Ecommerce_Pay-512.png" class="img-responsive text-center size-20 property-img">	
							
                            </div>
							
							<div class="pull-right xxs-pull-left">
                                
								<h3 class="text-muted md-font">Step 4</h3>
								<b class="black-text md-font">Payment</b><br>
								<span class="black-text md-font">(Credit Card, Net Banking etc.)</span>
							
							</div>
						
                    </div>
					
				</div>

		</div>

	</div>

</div>

</div>