<div class="margin-top-40 container" ng-controller='searchCtrl'>
	

    <div class="row">
		<div class="orange-dark pull-right">
			<b>Save &amp Exit</b>
		</div>
	</div>
	
    <div class="row">
		<h2 class="orange-dark margin-bottom-40 padding-lr-60">Start with the Basics</h2>
	</div>
	
        <!--<form ng-submit='submit()' class="padding-left-195" ng-controller='searchCtrl'>-->
    
        <form class="padding-left-195" name="fstep1" id="fstep1">
        
		<label class="black-text margin-bottom-20">In which location are you subleasing?</label><br>
		
            <div>
            
                <input type="text" class="form-control property-options margin-bottom-20" id="my_address_step1" name="my_address_step1" ng-model="user.my_address_step1" required/>    
        
            </div>
            
		<label class="black-text margin-bottom-20">Guest Preference?</label><br>
		<select class="form-control property-options" name="guest_preference" ng-model='user.guest_preference' ng-options='x for x in preference' required>
			<option ng-if="!selectPropertyPreference" value="">Looking for</option>
		</select>
		<label class="black-text margin-bottom-20">How many guests can your place accomodate?</label><br>
		
            <select class="form-control property-options" name="guest" ng-model='user.guest' ng-options='x for x in number' required>
            
			
                <option ng-if="!selectPropertyNumber" value="">Number of guests</option>
		
            </select>
		
            <label class="black-text margin-bottom-20">What kind of the property you have?</label><br>
		
		
            <select class="form-control property-options" name="property_type" ng-model='user.property_type' ng-options='x for x in type' required>
			
                <option ng-if="!selectPropertyType" value="">Property Type</option>
		
            </select>
		
		<div ng-switch="selectPropertyType">
		     
		     <div ng-switch-when="House">
		        <input class="form-control property-options " name="street" ng-model='user.street' placeholder="Street">
				<input class="form-control property-options width-30 property-options-extend" name="city" ng-model='user.City' placeholder="City">
				<input class="form-control property-options width-30 property-options-extend" name="state" ng-model='user.State' placeholder="State">
				<input class="form-control property-options width-30" name="zip" ng-model='user.Zip' placeholder="Zip Code">
		     </div>

		     <div ng-switch-when="Townhome">
		        <select class="form-control property-options" ng-model='selectedComplex' ng-options='x for x in complex'>
					<option ng-if="!model" value="">Complex Name</option>
				</select>
				<div ng-switch='selectedComplex'>
					<div ng-switch-when='Add a Complex'>
						<input class="form-control property-options" name="complexname" ng-model='user.complexName' placeholder="Complex Name">
						<input class="form-control property-options" name="complexaddress" ng-model='user.complexAddress' placeholder="Complex Address">
						<input class="form-control property-options width-30 property-options-extend" name="buildingnum" ng-model='user.buildingNumber' placeholder="Building Number">
						<input class="form-control property-options width-30 property-options-extend" name="unitnum" ng-model='user.uunitNumber' placeholder="Unit Number">
						<div class="margin-left-20-p">
							<button class="width-30 no-border padding-20 orange-bg white">
								SUBMIT
							</button>
						</div>
					</div>
				</div>
		     </div>
		     
		     <div ng-switch-when="Apartment" id="complex" ng-controller="complexctrl">
		        <select class="form-control property-options" ng-model='selectedApartmentComplex' ng-options='x for x in complex'>
					<option ng-if="!model" value="">Complex Name</option>
				</select>
				<div ng-switch='selectedApartmentComplex'>
					<div ng-switch-when='Add a Complex'>
						<input class="form-control property-options" name="apartmentname" ng-model='user.apartmentName' placeholder="Complex Name">
						<input class="form-control property-options" name="apartmentaddress" ng-model='user.apartmentAddress' placeholder="Complex Address">
						<input class="form-control property-options width-30 property-options-extend" name="buildingnum" ng-model='user.apartmentBuildingNumber' placeholder="Building Number">
						<input class="form-control property-options width-30 property-options-extend" name="unitnum" ng-model='user.apartmentUnitNumber' placeholder="Unit Number">
						<div class="margin-left-20-p">
							<button class="width-30 no-border padding-20 orange-bg white" ng-click="hideme()">
								SUBMIT
							</button>
						</div>
					</div>
				</div>
		     </div>
		     <div ng-switch-when="Duplex">
		        <div id="duplex" ng-controller="complexctrl">
				        <input class="form-control property-options " name="street" ng-model='user.duplexStreet' placeholder="Street">
						<input class="form-control property-options width-30 property-options-extend" name="city" ng-model='user.duplexCity' placeholder="City">
						<input class="form-control property-options width-30 property-options-extend" name="state" ng-model='user.duplexState' placeholder="State">
						<input class="form-control property-options width-30" name="zip" ng-model='user.duplexZip' placeholder="Zip Code">
						<div class="margin-left-20-p">
							<button class="width-30 no-border padding-20 orange-bg white" ng-click="hideme()">
										SUBMIT
							</button>
						</div>

				</div>
		     </div>
		</div>
            
		<div class="margin-top-20">
            
			<div class="row width-full inline-block">

			<span class="col-lg-6 col-md-6 col-sm-6 col-xs-12">


					<label class="black-text margin-bottom-20">How many beds?</label><br>
                
                
                <div class="input-group">
      
                    <span class="input-group-btn">
        
          
                        <button class="btn btn-default" ng-click="user.bedCount = user.bedCount - 1" ng-if="user.bedCount>0" aria-hidden="true" type="button" id="btn-plus" style="height:50px">
              
                            <span class="glyphicon glyphicon-minus"></span>
                        
                        </button>
      
                    </span>
      
                    <span>
                    
                        <input type="number" class="bathroom-number-input" min=0 name="beds" ng-model="user.bedCount" ng-init="user.bedCount=0"  placeholder="{{user.bedCount}}" value="{{user.bedCount}}" style="width: 76px;" readonly required>
            
                        
                    </span>
                    
                    <span class="input-group-btn">
        
          
                        <button class="btn btn-default" ng-click="user.bedCount = user.bedCount + 1" type="button" id="btn-minus" aria-hidden="true" style="height:50px">
              
                            <span class="glyphicon glyphicon-plus"></span>
                        
                        </button>
      
                    </span>
    
                </div>
					

			</span>
				
                
<!--
                <input type="text" class="bathroom-number-input" min=0 name="beds" ng-model="user.bedCount" ng-init="user.bedCount=0"  placeholder="{{user.bedCount}}" value="{{user.bedCount}}" required>
                
                <i class="fa fa-minus increment-sign"  ng-click="user.bedCount = user.bedCount - 1" aria-hidden="true"></i>
                <i class="fa fa-plus decrement-sign" ng-click="user.bedCount = user.bedCount + 1" aria-hidden="true"></i><br>
			
-->
           
			<span class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				
                <label class="black-text margin-bottom-20">How many bathrooms?</label><br>
				
                
                 
                <div class="input-group">
      
                    <span class="input-group-btn">
        
          
                        <button class="btn btn-default" type="button" ng-if="user.bathroomCount>0" ng-click="user.bathroomCount = user.bathroomCount - 1" aria-hidden="true" style="height:50px">
              
                            <span class="glyphicon glyphicon-minus"></span>
                        
                        </button>
      
                    </span>
      
                    <span>
                    
                        <input type="number" class="bathroom-number-input" min=0 name="bathrooms" ng-model="user.bathroomCount" ng-init="user.bathroomCount=0" placeholder="{{user.bathroomCount}}" value="{{user.bathroomCount}}" style="width: 76px;" readonly required>
            
                        
                    
                    </span>
                    
                    <span class="input-group-btn">
        
          
                        <button class="btn btn-default" type="button" ng-click="user.bathroomCount = user.bathroomCount + 1" aria-hidden="true" style="height:50px">
              
                            <span class="glyphicon glyphicon-plus"></span>
                        
                        </button>
      
                    </span>
    
                </div>
                


                </span>
<!--
                <input type="number" class="bathroom-number-input" min=0 name="bathrooms" ng-model="user.bathroomCount" ng-init="user.bathroomCount=0" placeholder="{{user.bathroomCount}}" value="{{user.bathroomCount}}" required>
                
                <i class="fa fa-minus increment-sign" ng-if="user.bathroomCount>0" ng-click="user.bathroomCount = user.bathroomCount - 1" aria-hidden="true"></i>
                <i class="fa fa-plus decrement-sign" ng-click="user.bathroomCount = user.bathroomCount + 1" aria-hidden="true"></i><br>
-->
			
            </div>
            
             
            
            <br>
          
			
            <div class="row margin-top-20 width-full inline-block">
                
            	<span class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></span>
				
				<span class="bathroom-radio-input">
			    	<input id="sharedBathroom" type="radio" name="bathtype" ng-model="user.bathtype" value="shared" required/> Shared
			    </span>
                
			    
			    <span class="bathroom-radio-input">
			    	<input id="privateBathroom" type="radio" name="bathtype" ng-model="user.bathtype" value="private" > Private
			    </span>
            
                
			</div>
		
       </div>
            
            
		<label class="black-text margin-bottom-20">What are the amenities you want to provide?</label><br>
		
            <select class="form-control property-options" name="amenities" ng-model='user.selectPropertyAmenities' ng-options='x for x in amenities' required>
			
                <option ng-if="!selectPropertyAmenities" value="">Amenities</option>
		
            </select>
            
		
            <label class="black-text margin-bottom-20">What are the safety features you want to provide?</label><br>
		
            <select class="form-control property-options" name="safety_features" ng-model='user.selectPropertySafetyFeatures' ng-options='x for x in safetyFeatures' ng-multiple='true'>
			
                <option ng-if="!selectPropertySafetyFeatures" value="" selected="true" >Safety Features</option>
		
            </select>
	
            <center>
               
                <button class="no-border orange-bg white padding-20 margin-top-30 width-30"  ng-click="fstep1.$valid && step1()" >
                
                    Save &amp Continue to STEP 2
               
                </button>
                
            </center>
    
    </form>


</div>

