<div class="col-sm-8 padding-20 margin-top-30">
          <div class="border-grey white-bg">
            <div class="navbar-header width-full border-side-none background-grey padding-5">
              <h4>2 Reviews</h4>
            </div>
            <div class="padding-10"> 
              <div class="row">
                
                  <div class="col-md-2 padding-10 xxs-pull-left">
                  
                      <img src="images/10.jpg" class="review-img no-border">
                
                  </div>
                  
                <div class="col-md-8">

                  <div class="margin-top-10 margin-bottom-30">
                    <p>Jennifer Grassick <span class="pull-right">13/06/2016</span></p>
                    
                    <p>I enjoyed the stay at Sara's place very much, though I stayed only for 2 nights but I had everything I needed and more would definitely stay there again!</p>
                    <div class="row ">
                      <div class="col-md-12">
                        <div class="pull-right">
                          Reply
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2 xxs-pull-left">
                      <img src="images/Woman Reading Study Plan.jpg" class="review-img no-border">
                    </div>
                    <div class="col-md-10">
                      <div class="margin-top-10 margin-bottom-30">
                        <p>Sarah Paton <span class="pull-right">16/06/2016</span></p>
                      
                        <p>Thank you so much jennifer..i'm glad you liked it. Hope you stay here again :)</p>
                      </div>
                    </div>
                  </div>
                  <hr>
                </div>
              </div>
            </div>
            <div class="padding-10"> 
              <div class="row">
                <div class="col-md-2 padding-10 xxs-pull-left">
                  <img src="images/10.jpg" class="no-border review-img">
                </div>
                <div class="col-md-8">
                  <div class="margin-top-10 margin-bottom-30">
                  <p>John Martin <span class="pull-right">13/06/2016</span></p>
                  
                  <p>Sara is a gem of a person, casual, smart, friendly, humorous and obliging. Made me feel very welcome. Lovely house on a quiet road. Can highly recommend.</p>
                    <div class="row ">
                      <div class="col-md-12">
                        <div class="pull-right">
                          Reply
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-2 xxs-pull-left">
                      <img src="images/Woman Reading Study Plan.jpg" class="no-border review-img">
                    </div>
                    <div class="col-md-10">
                      <div class="margin-top-10 margin-bottom-30">
                        <p>Sarah Paton <span class="pull-right">16/06/2016</span></p>
                      
                        <p>Thank you so much john..i'm glad you liked it. Hope you stay here again :)</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>