<div style="margin:10% 0 32%;">
	<center>
		<h3 class="orange">Congratulations on posting your property! </h3>
		<p class="black-text">An email has been sent to your email so that you can review and change any details at anytime.</p>
	</center>
</div>