<div class="margin-top-40 container">
	
	<div class="row">
		<h2 class="orange-dark margin-bottom-40 padding-lr-60">Payment” (Secure Connection)</h2>
	</div>
	<center>
		<p>We provide a 2 week free trial before our $10a month fee that we have in order to keep your listing on our website.</p>
	</center>
    
	<form action="users/paynow" method="post" id="paypalForm">
		<br>
		<div class="container">
		    <div class='row'>
		        <div class='col-md-2'></div>
		        <div class='col-md-8'>
		          <div class='col-md-12 form-group'>
					  
<!--					    <hr class="featurette-divider"></hr></div>-->
                				            
				            <div class='row'>
				              <div class='col-md-12 form-group'>
				                         <hr class="featurette-divider"></hr>
				                      
				              
                                <div class='error form-group hide'>
				                
                                    <div class='alert-danger alert'>
				                  
                                        Please correct the errors and try again.
				              
				              
                                    </div>
				            
                                </div>
				  
                            
                            </div>
				
                            </div>
		        
                    <div class='col-md-2'></div>

		    
                </div>
		
            </div>
        </div>
        
        <center>
	   
        <button class="no-border orange-bg white padding-20 margin-top-30 width-30" type="submit" >
            Pay
        </button>
    
    </center>
        
</form>