<div class="padding-10">
  <div class="row margin-left-20 text-center">
    <div class="margin-top-10 margin-bottom-30">
        <div class="form-group">
          <select class="form-control width-auto display-inline" id="sel1">
            <option value="" disabled selected>  </option>
            <option>2016</option>
            <option>2015</option>
            <option>2014</option>
            <option>2013</option>
          </select>
          <label>From:</label>
          <select class="form-control width-auto display-inline" id="sel1" >
            <option value="" disabled selected>  </option>
            <option>January</option>
            <option>February</option>
            <option>March</option>
            <option>April</option>
            <option>May</option>
            <option>June</option>
            <option>July</option>
            <option>August</option>
            <option>September</option>
            <option>October</option>
            <option>November</option>
            <option>December</option>
          </select>
          <label>To:</label>
          <select class="form-control width-auto display-inline" id="sel1">
            <option value="" disabled selected>  </option>
            <option>January</option>
            <option>February</option>
            <option>March</option>
            <option>April</option>
            <option>May</option>
            <option>June</option>
            <option>July</option>
            <option>August</option>
            <option>September</option>
            <option>October</option>
            <option>November</option>
            <option>December</option>
          </select>
        </div>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Type</th>
          <th>Details</th>
          <th>Gross Earnings<i class="fa fa-question-circle" aria-hidden="true"></i></th>
          <th>Occupacy Taxes<i class="fa fa-question-circle" aria-hidden="true"></i></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <h5 class="text-center">No Transactions</h5> 
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-1">
            <div class="input-border padding-5 width-auto border-radius-5">
              <i class="fa fa-angle-double-left" aria-hidden="true"></i>
            </div>
          </div>
          <div class="col-md-1">
            <div class="input-border padding-5 width-auto border-radius-5">
              <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </div>
          </div>
        </div>
  </div>
</div>