  <div class="navbar-wrapper transparent-header navbar-customized">
   <nav class="navbar navbar-static-top">
          
            

            <div class="navbar-header">

              <a class="navbar-brand side-panel margin-top-60 margin-left-30 width-auto" href="index.html">LOGO HERE</a>
            </div>
            
            <div id="navbar" class="pull-right navbar-collapse collapse">
              
              <ul class="nav navbar-nav padding-header">
              	
              	<li class="header-menu" id="hh">

              		<button class="heaer-btn margin-top-30 header-btn-transparent border-grey nav-color navbar-brand header-grey Dual-300">
		          		Sublease Your Place
		          	</button>

              	</li>
                
                <li class="header-menu dropdown margin-top-10 margin-top-3">
                	
                	<a href="#" class="dropdown-toggle no-bg" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Help</a>
                	
                	<ul class="dropdown-menu help-dropdown">
                	  <li class="search"><i class="fa fa-search help-search"></i><input type="text" name="" placeholder="How can we help you?" class="width-full no-border padding-10 grey-color"></li>
	                  <li class="background-grey padding-10 margin-bottom-10">Suggested Articles</li>
	                  <li><a href="#"><i class="fa fa-file-text-o margin-right-10" aria-hidden="true"></i>Getting started guide<hr class="help-hr"></a></li>
	                  <li><a href="#"><i class="fa fa-file-text-o margin-right-10" aria-hidden="true"></i>Can I change a reservation as a host?<hr class="help-hr"></a></li>
	                  <li><a href="#"><i class="fa fa-file-text-o margin-right-10" aria-hidden="true"></i>How is the price determined for my reservation?<hr class="help-hr"></a></li>
	                  <li><a href="#"><i class="fa fa-file-text-o margin-right-10" aria-hidden="true"></i>How does Sublease U process payments?<hr class="help-hr"></a></li>
	                  <li role="separator" class="divider margin-top-20"></li>
	                  <li class="dropdown-header"> <a href="help.html#/help/help-center">Help Center</a></li>
	                </ul>
                </li>

                <li class="header-menu margin-top-10 margin-top-3"><a ui-sref="about">Disclaimer</a></li>
                <li class="header-menu margin-top-10 margin-top-3" id="signUpBtn"><a onclick="btn1()">Sign Up</a></li>
                <li class="header-menu margin-top-10 margin-top-3" id="logInBtn"><a onclick="btn2()">Log In</a></li>
              
              </ul>

            </div>
        
        </nav>
        </div>