<div class="col-sm-8">
          <div class=" no-border">
            <ul class="nav navbar-nav no-navbar-nav">
              <li class="active">
               <a href="#"> Reference Request</a>
              </li>
              <li>
                <a href="#">Reference About You</a>
              </li>
              <li>
                <a href="#">Reference By You</a>
              </li>
            </ul>
          </div>
          <div class="border-grey white-bg padding-top-20 margin-top-30">
            <div class="padding-10"> 
              <div class="margin-top-30 margin-bottom-10">
                <div class="row margin-left-10 padding-10">
                  <div class="col-md-12 padding-left-30">
                    <p>Sublease U is built on Trust nd Reputation. You can request references from your personal network, and the references will appear publicly on your Sublease profile to help other members get to know you. You should only request references from people who know you well.</p>
                  </div>
                </div>
              </div>
            </div>
              <div class="navbar-header width-full border-side-none background-grey padding-5 margin-top-10 margin-bottom-10 ">
              <h4 class="margin-left-10">E-mail your friends</h4>
            </div>
            <div class="padding-10">
              <div class="row margin-left-10 padding-10">
                <div class="col-md-12">
                    <p>Friends you email can sign up on Sublease U to write you a personal reference. You can review new references and either accept or ignore them before they are displayed on your public profile.</p>
                    <center>
                      <input type="email" name="" placeholder="Enter Email Address" class="width-65" /><br>
                      <button class="profile-btn white-bg margin-top-30">
                        Import your contacts
                      </button>
                      <button class="profile-btn white-bg margin-top-30">
                        Send request Emails
                      </button>
                    </center>
                </div>
              </div>
            </div>
            <div class="navbar-header width-full border-side-none background-grey padding-5 margin-top-10 margin-bottom-10">
              <h4 class="margin-left-10">Sublease U friends</h4>
            </div>
            <div class="padding-10">
              <div class="row margin-left-10 padding-10">
                <div class="col-md-12">
                  <p>Connect your Facebook account to see which of your friends are on Sublease U. You will be able to request references from them here. </p>
                  <center>
                    <button class="header-btn margin-top-20 btn-primary ">
                      <i class="fa fa-facebook pull-left padding-5" aria-hidden="true" style="margin-top:-4px;"></i>
                          Connect with Facebook
                    </button>
                  </center>
                </div>
              </div>
            </div>
          </div>
        </div>