<div class="padding-lr-60">
    
    <h3 class="orange">What is Occupancy Tax? Do I need to collect or pay it</h3>
	
	<br>
	<div class="margin-left-10">
	<p>
		<b class="orange">What is Occupancy Tax?</b>
	</p>
	<p>
		Occupancy tax is a tax on the rental of rooms that your state or locality may require. In many places this is known as an occupancy tax, but may also be known as a lodging tax, a room tax, a sales tax, a tourist tax, or a hotel tax.

	</p>
	<p>
		Occupancy tax rates and rules vary by city, county, state, and country. They’re generally owed on the accommodations price plus any fees for other items, like cleanings or extra guests. In some places, occupancy tax is required on a per person, per night basis. There are typically long-term stay exceptions that exempt reservations over a certain number of nights. Occupancy tax is generally paid by the guest, but the obligation to remit the taxes to the government usually falls on the host. We expect all hosts to familiarize themselves with and follow their local laws and regulations.

	</p>
	<p>
		<b class="orange">What are my options to collect and pay occupancy tax?</b>
	</p>
	<p>
		As an Sublease U host, if you determine that you need to collect occupancy tax, you can collect Occupancy Taxes by either incorporating it into your nightly price, adding it within a <span class="orange"> Special Offer, </span> or asking your guests to pay it in person. In each case, it's important that guests are informed of the exact tax amount prior to booking. If you choose to collect Occupancy Taxes in person, please note that it should be collected only upon arrival and that we’re unable to assist with collection.

	</p>
	<p>

		In some locations, like Amsterdam, Portland and San Francisco, Airbnb automatically collects occupancy tax from guests and sends it to the tax authority on hosts’ behalf. For these areas, Occupancy Tax amounts will appear as a line item on your listing’s public page, and you should not collect taxes separately for those jurisdictions. <span class="orange"> Learn more </span>. To confirm if you listing is included in a collection area:
		
	</p>
	<p>
	
		<li>1. Go to <span class="orange"> Your Listings</span></li>
		<li>2. Click <b class="black-text"> Manage Listing and Calendar </b> for the listing you'd like to view</li>
		<li>3. Select <b class="black-text"> Location </b> on the left</li>
	
	</p>
	<p>

		If occupancy taxes are being collected and remitted on your behalf, they'll be listed at the bottom of the page.

		

	</p>
	<p>
		<b class="orange">		
		When will Sublease U start collecting occupancy tax in my area?</b>

	</p>
	<p>
		
		We’ll let you know if an occupancy tax related feature becomes available for your listing.


	</p>
	<p>
		
		We want to help hosts follow the laws relevant to them, and we understand that many of these rules are complex and difficult to follow. We're continuing to work with governments across the world to explore ways to help facilitate occupancy tax collection in as many locations as possible.

	</p>

	</div>
	
	<div class="margin-left-10">

		<h3 class="orange">How does Occupancy Tax Collection and Remittance by Sublease U work?</h3><br>
		
		<p>
			
		In areas that Sublease U has made agreements with governments to collect and remit local taxes on behalf of hosts, Sublesae U calculates applicable local taxes and collects those taxes from guests at the time of booking. Sublease U then takes care of remitting collected taxes to the applicable tax authority on the hosts' behalf.



		</p>
		<p>

		This doesn’t change which taxes are due, but automating the process makes tax collection easier for all parties involved.

			

		</p>
		<p>

		If occupancy tax is being collected for your area, it appears as a line item on your listing’s public page. You can also confirm what taxes are being collected and remitted by looking for occupancy tax details in <span class="orange"> Manage Listing > Location </span>, underneath the Address section.

			

		</p>
		<p>
			
		Taxes collected on reservations do not affect the amount of host payouts. Hosts continue to get their payout of accommodation fees minus Sublease U service fees.


		</p>
		<p>
		
		Collected Occupancy Taxes are listed in the Gross Earnings section of hosts’ transaction history, and appear as a line item on all guest receipts.	


		</p>
		
	</div><br>
	 
	 <h3 class="orange">In what areas is Occupancy Tax Collection and Remittance by Sublesae U available?</h3><br>
	 
	 <div class="margin-left-10">
	 	
	 <p>
	 	
	 	Currently, Sublease U is collecting and remitting taxes on behalf of the host in the following locations:



	 </p>

	 <p>
	 	
		<b class="orange">United States</b>

	 </p>
	 <p>
	 	
	 	Alabama


	 </p>
	 <p>
	 	
	 	<b class="black-text">State of Alabama</b>
	 	<p>

	 		Guests who book Sublease U listings that are located in the State of Alabama will pay the following taxes as part of their reservation:
	 		
	 	</p>
	 	<p>
	 		<li>Alabama State Lodging Tax: 4-5% of the listing price including any cleaning fee for reservations 179 nights and shorter. For detailed information, visit Sales and Use Tax at the <span class="orange"> Alabama Department of Revenue website.</span> </li>
	 		<br>
	 		<li>County Lodging and Rental Tax collected by the State: 1-6% of the listing price including any cleaning fee for reservations 179 nights and shorter. For detailed information, visit Local Sales, Use, Lodgings & Rental Tax Rates at the <span class="orange"> Alabama Department of Revenue website.</span> </li>
	 		<br>
	 		<li>Municipality Local Lodging Tax collected by the State: 2-12% of the listing price including any cleaning fee for reservations 179 nights and shorter. For detailed information, visit Local Sales, Use, Lodgings & Rental Tax Rates at the <span class="orange"> Alabama Department of Revenue website. </span> </li>
	 		<br>
	 		<li>Hosts are responsible for collecting any city and county taxes that are not collected by the state.</li>

	 	</p>

	 </p>

	 <p>

	 	<b class="orange">Alaska</b>

	 	
	 </p>
	 <p>
	 	
	 	<b class="black-text">Anchorage</b>

	 </p>
	 <p>
	 	
	 	Guests who book Sublease U listings that are located in Anchorage, AK will pay the following taxes as part of their reservation:


	 </p>
	 <p>
	 	
	 	<li>Anchorage Room Tax: 12% of the listing price including any cleaning fee for reservations 29 nights and shorter. For detailed information, visit the <span class="orange">Municipality of Anchorage Room Tax </span> website.</li>


	 </p>
	 <p>
	 	
	 	<b class="orange">Arizona</b>

	 </p>
	 <p>
	 	
	 	<b class="black-text">Phoenix</b>


	 </p>
	 <p>
	 	
	 	Guests who book Sublease U listings that are located in Phoenix, AZ will pay the following taxes as part of their reservation:



	 </p>
	 <p>
	 	
	 Phoenix Hotel/Motel Tax: 3% of the listing price including any cleaning fee for reservations 29 nights and shorter.Phoenix Transaction Privilege (Sales) Tax: 2.3% of the listing price including any cleaning fee for all reservations. For detailed information, visit <span class="orange"> Phoenix.gov </span> .


	 </p>
		 <p>
		 	<b class="orange">California</b>
		 </p><br>
		 <p>
		 	<b class="black-text">Humboldt Country</b>
		 </p>
		 <p>
		 	
		 	Guests who book Sublease U listings that are located in unincorporated Humboldt County, CA (does not include the incorporated cities of Arcata, Blue Lake, Eureka, Ferndale, Fortuna, Rio Dell and Trinidad) will pay the following taxes as part of their reservation

		 </p>
		 <p>
		 	
		 <li>Humboldt County Transient Occupancy Tax: 10% of the listing price including any cleaning fee for reservations 30 nights and shorter. For detailed information, visit the <span class="orange"> Humboldt County Tax Collector </span>website.</li>

		 </p>
		 <p>

			 <b class="black-text">
			 Santa Cruz County
			 </b>

		 </p>
		 <p>
		 	
		 	Guests who book Sublease U listings that are located in unincorporated Santa Cruz County, CA (does not include the incorporated cities of Capitola, Santa Cruz, Scotts Valley or Watsonville) will pay the following taxes as part of their reservation:
		 </p>
		 <p>
		 	<li>
		 		
		 		Transient Occupancy Tax: 11% of the listing price including any cleaning fees for 30 nights and shorter. For detailed information, please visit the <span class="orange"> Santa Cruz County Treasurer </span> website.

		 	</li>

		 </p>
		 <p>
		 	
		 	<b class="black-text">
		 		
		 		Tuolumne County


		 	</b>


		 </p>
		 <p>
		 	
		 	Guests who book Sublease U listings that are located in Tuolumne County, CA (does not include the incorporated city of Sonora) will pay the following taxes as part of their reservation:

		 </p>
		 <p>
		 	
		 	<li>
		 		
		 		Transient Occupancy Tax: 10% of the listing price including any cleaning fee for reservations 30 nights and shorter. For detailed information, visit the <span class="orange"> Tuolumne County Transient Occupancy Tax site </span> .

		 	</li>


		 </p>
		 <p>
		 	
		 	<b>Los Angeles</b>

		 </p>
		 <p>
		 	
		 	Guests who book Sublesae U listings that are located in Los Angeles, CA will pay the following taxes as part of their reservation:


		 </p>
		 <p>
		 	
		 	Transient Occupancy Tax: 14% of the listing price including any cleaning fees, for reservations 30 nights and shorter. For detailed information, visit the <span class="orange"> City of Los Angeles, Office of Finance </span> website.


		 </p>
		 <p>

		 Malibu

		 	
		 </p>
		 <p>
		 	
		 	Guests who book Sublease U listings that are located in Malibu, CA will pay the following taxes as part of their reservation:

		 </p>
		<p>
		 <li>
		 	
		 	Malibu Transient Occupancy Tax: 12% of the listing price including any cleaning fee for reservations 30 nights and shorter. For detailed information, visit <span class="orange"> MalibuCity.org </span> .

		 </li> 	
		</p>
		
		<p>
			
			<b class="black-text">
				
				Oakland

			</b>


		</p>
		<p>
			
			Guests who book Sublease U listings that are located in Oakland, CA will pay the following taxes as part of their reservation:

		</p>
		<p>
			

		<li>Oakland Transient Occupancy Tax: 14% of the listing price including any cleaning fee for reservations 30 nights and shorter. For detailed information, visit <span class="orange">Oakland's FAQ page </span>.</li>


		</p>
		<p>
			
		<b class="black-text">Palm Desert</b>

		</p>
		<p>
			
			Guests who book Sublesae U listings that are located in Palm Desert, CA will pay the following taxes as part of their reservation:

		</p>
		<p>
			
			Palm Desert Transient Occupancy Tax: 9% of the listing price including any cleaning fee for reservations 30 nights and shorter. For detailed information, visit the <span class="orange"> City of Palm Desert website </span>.

		</p>
		<p>
			
			<b class="black-text">
				Palo Alto
			</b>
		</p>
		<p>
			
			Guests who book Sublease U listings that are located in Palo Alto, CA will pay the following taxes as part of their reservation:

		</p>
		<p>
			<li>
				
				Palo Alto Transient Occupancy Tax: 14% of the listing price including any cleaning fee and guest fee for reservations 30 nights and shorter. For detailed information, visit <span class="orange">CityofPaloAlto.org </span> .

			</li>


		</p>
		<p>
			
			<b class="black-text">
			
			San Diego

			</b>

		</p>
		<p>
			
			Guests who book Sublease U listings that are located in San Diego, CA will pay the following taxes as part of their reservation:

		</p>
		<p>
			
			<li>
				
			San Diego Transient Occupancy Tax: 10.5% of the listing price including any cleaning fee for reservations 30 nights and shorter.


			</li>
			<li>
				San Diego Tourism Marketing District Assessment: 0.55% of the listing price including any cleaning fee for reservations 30 nights and shorter. For detailed information, visit SanDiego.gov.
			</li>

		</p>
		<p>
			
			<b class="black-text">San Francisco</b>

		</p>
		<p>
			Guests who book Sublesae U listings that are located in San Francisco, CA will pay the following taxes as part of their reservation:
		</p>
		<p>
			
			<li>
				
				San Francisco Transient Occupancy Tax: 14% of the listing price including any cleaning fee and guest fee for reservations 29 nights and shorter. 14% is the tax rate imposed by the City and County of San Francisco (the tax jurisdictions are one and the same). For detailed information, visit <span class="orange"> SFtreasurer.org </span> .

			</li>

		</p>
		<p>
			
			<b class="black-text">
				
				San Jose


			</b>


		</p>
		<p>
			
			Guests who book Sublesae U listings that are located in San Jose, CA will pay the following taxes as part of their reservation:


		</p>
		<p>
			
		<li>
			
			San Jose Transient Occupancy Tax: 10% of the listing price including any cleaning fee for reservations 30 nights and shorter. For detailed information, visit <span class="orange"> SanJoseCa.gov </span> .

		</li>


		</p>

		<p>

			<b class="orange">Connecticut</b>

		</p>
		<p>
			
			<b class="black-text">State of Connecticut</b>

		</p>
		<p>
			
			Guests who book Sublease U listings that are located in the State of Connecticut will pay the following taxes as part of their reservation:

		</p>
		<p>
			
			Connecticut State Room Occupancy Tax: 15% of the listing price including any cleaning fee for the first 30 nights of any reservation. For detailed information, visit the <span class="orange">Connecticut Department of Revenue website </span> .

		</p>
		<p>
			
			<b class="orange">District of Columbia</b>

		</p>
		
		<p>
			
			<b class="black-text">District of Columbia</b>

		</p>

		<p>

			Guests who book Sublease U listings that are located in the District of Columbia will pay the following taxes as part of their reservation:

			
		</p>

		<p>
			
				<li>
					DC Sales Tax on Hotels (transient accommodations): 14.5% of the listing price including any cleaning fee and guest fee for reservations 90 nights and shorter. For detailed information, visit <span class="orange"> DC.gov</span>.


				</li>

		</p>
	 
	 </div>

</div>