<div data-ng-include="'partials/partial-help-head.html'"></div>
    <div class=" container margin-bottom-120">
      <div class="text-center margin-top-10 margin-bottom-30">
        Pre-approvals and Special Offers
      </div>
      <div class="text-center row icon-color weight-normal margin-bottom-20">
        <div class="col-md-5"></div>
        <div class="col-md-2 padding-bottom-20">
          <div class="border-grey padding-40-10 help-boxes">
            <i class="fa fa-star-o icon-size-2 padding-bottom-30" aria-hidden="true"></i>
            <br>
            Pre-approvals / Special Offers
          </div>
        </div>
        <div class="col-md-5"></div>
      </div>
      <div class="padding-lr-60">
        
        <h3 class="orange">How do I book a pre-approval or special offer?</h3>
        <div class="margin-left-10">
          <p>If you contact a host about their space before requesting to book it, the host has the option to invite you to book a couple of ways:<br><br>

          • <b class="black-text">Pre-approval:</b> The host invites you to book for the dates and prices shown when you contacted the host<br>
          • <b class="black-text">Special offer:</b> The host chooses a custom price (or other details) and invites you to book with the new details<br><br>

          <b class="black-text">Note:</b> A special offer will not include the guest service fee or relevant taxes charged for each reservation.</p><br>

          <b class="black-text">Find your pre-approval or special offer</b><br><br>
          <p>
          You'll get an email notification when you receive a pre-approval or special offer. You can also check your reservation status by looking in the <span class="orange">message thread</span> where you're talking with the host.
          </p><br>

          <b class="black-text">Book a pre-approval or special offer</b><br><br>
          <p>
          You won’t automatically be booked when you receive a pre-approval or a special offer. You still need to add your payment details and confirm the reservation.<br><br>

          1. On SubleaseU.com, go to your Inbox<br>
          2. Click the conversation with the host to open the message thread<br>
          3. Find the box that shows the details of your pre-approval or special offer<br>
          4. Click Book It!<br>
          5. Add your payment details, and click Book now<br>
          6. You’ll receive a confirmation email with your itinerary and a billing receipt<br><br>

          You have 24 hours to book a pre-approval or special offer before it expires. If 24 hours have passed, you can still accept the pre-approval but your host will have to approve your request before your reservation is confirmed.
          </p><br>

          <b class="black-text">Change your dates</b><br><br>
          <p>
            If you've already been pre-approved or given a special offer, you can still change your dates. On the listing page, click <b class="black-text">Contact Host</b> to send the host a new message and change the dates before sending the message. The host will then have the ability to pre-approve or give a special offer for your new dates.

          </p><br>

          <b class="black-text">The option to book isn’t available</b><br><br>
          <p>
            A host has the ability to pre-approve or extend a special offer to multiple people at once for a set of dates. If someone else booked the space before you, you won’t see the option to accept the reservation.

          </p><br>
        </div>

        <h3 class="orange">What is a pre-approval?</h3>
        <div class="margin-left-10">
          <p>A pre-approval is a way for host to let guests know that their listing is available when asked about a potential reservation. Once pre-approved, the guest can automatically confirm a booking for the specific dates provided.<br><br>

          <b class="black-text">Hosts</b><br><br>
          <p>
          When you pre-approve a guest’s inquiry, you give them permission to automatically confirm a booking for specific dates. The dates won’t be blocked on your calendar, so you can pre-approve multiple guests at one time.<br><br>

          Guests have 24 hours to confirm a booking that has been pre-approved. After 24 hours, the guest can still request to book your listing with the price offered during the pre-approval, unless you remove the pre-approval. You can remove the pre-approval at any time in the message thread.
          </p><br>

          <b class="black-text">Guests</b><br><br>
          <p>
          If a host has sent you a pre-approval, your booking isn’t confirmed until you’ve clicked Book It in the message thread with the host and added your payment information. Hosts can send pre-approvals to many potential guests, so if you’ve found the perfect space, make sure to complete the booking process as soon as possible.<br><br>

          You have 24 hours to accept a pre-approval before it expires. If 24 hours have passed, you can still accept the pre-approval but your host will have to approve your request before your reservation is confirmed.
          </p><br>
        </div>

      </div>
    </div>