<!DOCTYPE html>
<html>
<head>


	<title></title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="../lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="../lib/font-awesome/css/font-awesome.min.css">
		<style type="text/css">
			
.funkyradio div {
  clear: both;
  overflow: hidden;
}

.funkyradio label {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #D1D3D4;
  font-weight: normal;
}

.funkyradio input[type="checkbox"]:empty {
  display: none;
}

.funkyradio input[type="checkbox"]:empty ~ label {
  position: relative;
  line-height: 2.5em;
  text-indent: 3.25em;
  margin-top: 2px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.funkyradio input[type="checkbox"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: #4a148c;
  border-radius: 3px 0 0 3px;
}

.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
  color: #888;
}

.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #C2C2C2;
}

.funkyradio input[type="checkbox"]:checked ~ label {
  color: #777;
}

.funkyradio input[type="checkbox"]:checked ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #333;
  background-color: #ccc;
}

.funkyradio input[type="checkbox"]:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}

.funkyradio-default input[type="checkbox"]:checked ~ label:before {
  color: #333;
  background-color: #2e7d32;
}
.email{
	margin-top:10px;
}

		</style>

		<script src="../lib/jquery/jquery.min.js"></script>
	    <script src="../lib/angular/angular.js"></script>
	    <script src="../lib/angular/checklist-model.js"></script>
	    <script src="../lib/bootstrap/dist/js/bootstrap.min.js"></script>
    	<script type="text/javascript">
    
    	angular.module('invite',["checklist-model"]).controller('cinvite', function($scope,$http) {

		 		$http.get("../emaillist.json").then(function(response) {
		        
				        $scope.roles = response.data.records;

				        console.log($scope.roles);
		    
		    	});
		  
				  $scope.user = {
				    
				    roles: ['Email']

				  };

		});

  		</script>

</head>

<body>


 <div ng-app="invite" class="container-fluid email" ng-controller="cinvite">


      	 <div class="row" ng-repeat="role in roles">

         <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12">

      	 	<div class="funkyradio">
        			
        			<div class="funkyradio-default">
				            
				            <input type="checkbox" name="checkbox{{role.id}}" id="checkbox{{role.id}}" checklist-model="user.roles" checklist-value="role"/>
				            <label for="checkbox{{role.id}}">{{role.Email}}</label>
        			</div>

        	</div>
  
        </div>


      	 </div>
      
    <!-- <p ng-model="user.roles"> {{ user.roles }}</p> -->


</div>

</body>
</html>

	