<div ui-view >
<div ng-if='property.items == "0"'>
	<div style="margin:10% 0 30%">
		<center>
			<h3 class="orange">You don’t have a property! </h3>
			<p class="margin-bottom-50">Get your space subleased so you’re free to do what you want.</p>
			<button class="white orange-bg no-border padding-20 width-30" ui-sref='.post'>
				Post a new property
			</button>
		</center>
	</div>
</div>

<!-- <div ng-if='property.items > 0'> -->
	<div style="margin:5% 0;">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-xs-12 col-sm-3 col-lg-3">
					<ol class="list-unstyled">
		              <li><a ui-sref=".trust" class="black-text margin-bottom-10">Your Property</a></li>
		              <li><a ui-sref=".reviews" class="black-text margin-bottom-10">Your Roommates</a></li>
		              <li class="margin-top-30">
		              <button class="padding-10 orange-bg white no-border" ui-sref='.post'>
		              	Post a new property
		              </button>
		              </li>
		            </ol>
				</div>

				<div class="col-md-9 col-sm-12 col-xs-12">
					<div class="border-grey white-bg margin-bottom-40">
			            <div class="navbar-header width-full border-side-none background-grey padding-5">
			              <h4>In Progress</h4>
			            </div>
			            <div class="container-fluid">
				            <div class="row white-bg padding-10">
								
								<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
									
									<center>
										
										<h4 class="black-text margin-bottom-20">BK CHARM~Clean Modern</h4>
										<h5 class="orange margin-top-30">You're almost done with your property listing.</h5>
										<div class="padding-10" style="width:300px; height: 50px; ">
											<div class="container-fluid">
												<div class="row border-grey">
													
													<div class="col-md-8">
														<div class="orange-bg"></div>
													</div>

													<div class="col-md-8">
														<div class="white-bg"></div>
													</div>
												</div>
											</div>
										</div>
										<p class="text-muted margin-bottom-10">Last updated on 23 Aug 2016</p>
										<button class="white-bg padding-10 margin-right-10 margin-bottom-20 black-text">
											Finish the listing
										</button>
										<button class="white-bg padding-10 margin-bottom-20 black-text">
											Preview
										</button>
									
									</center>

								</div>
								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
									<div class="dashboard-img-block">
										 <img src="images/4.JPG">
									</div>			
								</div>
							</div>

						</div>
					</div>
					<div class="border-grey white-bg">
			            <div class="navbar-header width-full border-side-none background-grey padding-5" >
			              <h4>Listed</h4>
			            </div>
			            <div class="container-fluid" >
				            <div class="row white-bg padding-10" >
								<div ng-controller='yourproperty' ng-init='myproperty()'>
								<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12"  ng-repeat='x in user'>
									<center>
                                        
										<h4 class="black-text margin-bottom-20">{{x.name_place}}</h4>
										<h5 class="black-text margin-top-10">{{x.property_type}}</h5>
										<p class="text-muted margin-top-30 margin-bottom-10">Last updated on 23 Aug 2016</p>
										<button class="white-bg padding-10 margin-right-10 black-text">
											Calender &amp more
										</button>
										<button class="white-bg padding-10 black-text">
											Preview
										</button>
                                        
									</center>
								
                                </div>

								<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
									<div class="dashboard-img-block">
										 <img src={{x.upload_photo[0]}}>
									</div>			
								</div>
                              </div>  
							</div>
						</div>
			            <hr>
			            <div class="container-fluid">
				            <div class="row white-bg padding-10">
								<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
									
                                    <center>
										
                                        <h4 class="black-text margin-bottom-20">Beach Side Duplex </h4>
										<h5 class="black-text margin-top-10">Ohio Unievrsity, NY</h5>
										<p class="text-muted margin-top-30 margin-bottom-10">Last updated on 16 Aug 2016</p>
										<button class="white-bg padding-10 margin-right-10 black-text">
											Calender &amp more
										</button>
										<button class="white-bg padding-10 black-text">
											Preview
										</button>
                                        
									
								</center>
                                    
                                 
                                
                                
                                        
                                </div>
                                
                                   <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
									
                                        <div class="dashboard-img-block">
										
                                            <img src="images/search/1.jpg">
									
                                        </div>			
								    
                                    </div>
                                
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

</div>