<div class="padding-lr-60">
    <h3 class="orange">What are the profile Verifications and how do i get them?</h3>
	<div class="margin-left-10">
		<p>Profile verifications are a way to connect your Sublease U profile to other information about you, such as facebook profile, phone number email address, or photo ID.</p><br>
		<b class="black-text">Adding Verifications</b><br><br>
		<p>
		1. Go to the <span class="orange">Profile.</span><br>
		2. Tap Verifications.<br>
		3. Under Add More Verifications choose a verification to add.<br><br>

		Certain verifications like <span class="orange">reviews</span> and <span class="orange">photography</span> can’t be added from this page.
		</p><br>

		<b class="black-text">Available Verifications</b><br><br>

		<p>
		Available verifications include:<br><br>
		<b class="black-text">• Email address:</b> Confirm that you recieve email notifications and messages.<br>
		<b class="black-text">• Phone number:</b> We’ll share your phone number with your host or guest once a reservation is accepted.<br>
		<b class="black-text">• Online ID:</b> Connect your Sublease U profile with your other social media id like on Facebook, Google, Linkedln, verify with pre- existing reviews or with Amex.<br>
		<b class="black-text">• Reviews:</b> Build a Reputation in the Sublease U from your Reviews tab after completing reservations.

		</p><br>

		<b class="black-text">Verified ID</b><br>
		<p>
			You may also want to get a <span class="orange">Verified ID badge.</span> To get a Verified ID badge, go to the trust and verification area of your profile and click the Verify Me button or visit our <span class="orange">Verified ID</span> page.  
		</p><br>
	</div>

	<h3 class="orange">What is verified ID?</h3>
	<div class="margin-left-10">
		<p>We created the verified ID process to build trust in our community and help give you more information when you’re deciding who to host or stay with.</p><br>
		<b class="black-text">How verified ID works?</b><br><br>
		<p>
		Verified ID connects your Sublease U profile with other information about you. As part of verified ID, you might be asked to:<br><br>

		1. Take a photo or upload an image of government- issued ID, such as your driving license or passport.<br>
		2. Connect other online profile to your Sublease U account, such as Google, Facebook or Linkedln account.<br>
		3. Upload an Sublease U profile photo and provide a phone number and email address.<br><br>

		Visit <span class="orange">Sublease.com/verify</span> to get  started at any time.
		</p><br>

		<b class="black-text">When you’ll need to complete it?</b><br><br>

		<p>
		Under some circumstances, you might be required to complete Verified ID.<br>
		If your host requires you to complete your Verified ID, you’ll be directed to complete your process right after you send your reservation request, and will have 24 hours to complete it.

		</p><br>

		<b class="black-text">The Verified ID Badge</b><br><br>
		<p>
			Whem you complete you verified ID, you’ll earn a batch on your profile. Many hosts and guests looks for badge when deciding whether to host or stay with someone. But it’s not an endorsement or gurantees of someone’s identity.
		</p><br>

		<b class="black-text">Privacy and encryption</b><br><br>

		<p>
		We take privacy seriously. When you provide your personal information during this process is <span class="orange">encrypted</span> and governed by our <span class="orange">Privacy.</span><br><br>
		We won’t share the governed ID or personal details you provide during Verified ID with your host or guest—they'll only know that you’ve successfully completed the process. And we’ll never post to your Facebook, Google, LinkedIn, or other connected accounts without your permission.

		</p><br>

		<b class="black-text">Other ways your ID info is used</b><br><br>
		<p>
			Where permitted by applicable law, we may also provide information from your government ID, such as your full name and date of birth, to our service providers to run checks against public records for criminal convictions and sex offender registrations. For now, these checks are limited to users in the United States about whom we have adequate identifying information, such as the user’s full name and date of birth. While we believe these checks help us deter fraud and misuse of our services, they don’t guarantee that interactions with people who book through Airbnb will be safe or problem-free. Please carefully review our notice about the <span class="orange">limitations of background and registered sex offender checks.</span>             
		</p><br>
	</div>

	<h3 class="orange">How do I verify my phone number?</h3>
	<div class="margin-left-10">
		<b class="black-text">To verify your phone number:</b><br><br>
		<p>
		1. Go to <span class="orange">Profile.</span><br>
		2. Next to Phone Number, click Add a phone number.<br>
		3. Use the drop-down menu to select your country, and we’ll automatically insert the right country code.<br>
		4. Enter your area code and phone number.<br>
		5. Click Verify via SMS or Verify via Call. We'll send you a 4-digit code via text message (SMS) or an automated phone call.<br>
		6. Enter your code and click Verify.<br><br>

		If you don’t see a confirmation message, try refreshing the page. If the method you chose isn't working, try the other one.<br><br>

		After verifying your phone number, you can manage <span class="orange">text message notifications</span> by going to <span class="orange">Account</span> and choosing <span class="orange">Notifications</span> on the left. As always, standard message and data rates may apply for any calls or messages sent or received. For questions about these rates, get in touch with your phone provider.

		</p><br>

		<b class="black-text">Why verify?</b><br><br>

		<p>
		Having a verified phone number gives your hosts, guests, and Sublease U a way to contact you about your reservations or your account.<br>
		Hosts are required to verify their phone numbers before listing their homes, and guests must have a verified phone number before booking a reservation. You also need a verified phone number to complete <span class="orange">Verified ID.</span>

		</p><br>
	</div>

	<h3 class="orange">Is verifying my ID secure?</h3>
	<div class="margin-left-10">
		<p>
		The information you provide Sublease U during the <span class="orange">Verified ID</span> process is governed by our <span class="orange">Privacy Policy</span> and transmitted using SSL- the same secure encryption that websites use to transmit credit card numbers.<br><br>

		When we receive information from your driver’s license or passport, we store the number in an encrypted form, so you should only have to verify your ID once. For countries with knowledge-based authentication, we don't store the questions or your answers.<br><br>

		Only a small number of authorized Airbnb employees are allowed access to your original documentation for troubleshooting or internal purposes.<br><br>

		Our third-party partners store information from the Verified ID process according to our written instructions and under our Privacy Policy.
		</p><br>
	</div>

	<h3 class="orange">Why didn't I receive my email notification?</h3>
	<div class="margin-left-10">
		<p>If you didn’t receive an email notification from us, there are a few different steps you can try to figure out the issue.</p><br>
		<b class="black-text">Make sure your email address is correct</b><br><br>
		<p>
		We might be sending emails to an old or incorrect email address. To check the email being used:<br><br>

		1. Go to <span class="orange">Edit Profile.</span><br>
		2. Look for the Email Address field. Make sure your address is correct.<br>
		3. If it’s incorrect, add the correct address, scroll to the bottom of the page, and click Save.
		</p><br>

		<b class="black-text">Check your email notification settings</b><br><br>

		<p>
		We'll only send the emails you tell us you want. Check your notification settings to make sure you haven't opted out of the email type you're looking for:<br><br>

		1. Go to your <span class="orange">Notification Settings.</span><br>
		2. Look for the "Email Settings" field. Make sure you’ve chosen the email types you want to receive.<br>
		3. After adding or removing checkmarks from the right boxes, scroll to the bottom of the page and click Save.

		</p><br>

		<b class="black-text">Search all messages in your email inbox</b><br><br>
		<p>
			Sometimes emails can get lost in your inbox. In your email account, search for terms like "Sublease", "reservation", "verification", or other words related to the email you're looking for.

		</p><br>

		<b class="black-text">Check your spam and other email filters</b><br><br>

		<p>
		It's possible your email provider mistakenly sent our messages to your spam or junk folder. To avoid this:<br>
		• Remove Sublease U messages from your spam list<br>
		• Add automated@subleas U.com, express@sublease U.com, and response@sublease U.com to your personal email address book<br><br>

		If you have other filters or routing rules in your email account that may have sorted Airbnb emails elsewhere, be sure to check those, too.


		</p><br>

		<b class="black-text">Check for issues with your email service provider</b><br><br>
		<p>
			Depending on your provider, emails can take up to a few hours to be delivered. If undelivered or delayed emails continue to be an issue, check with your provider to see if there are any configuration issues or problems with their network that might be affecting your account.
		</p><br>
	</div>
</div>