<div data-ng-include="'partials/partial-help-head.html'"></div>
    <div class=" container margin-bottom-120">
      <div class="text-center margin-top-10 margin-bottom-30">
        Payments
      </div>
      <div class="row icon-color weight-normal margin-bottom-20 text-center">
        <div class="col-md-5"></div>
        <div class="col-md-2 padding-bottom-20">
          <div class="border-grey padding-40-10 help-boxes">
            <i class="fa fa-credit-card icon-size-2 padding-bottom-30" aria-hidden="true"></i>
            <br>
            Payments
          </div>
        </div>
        <div class="col-md-5"></div>
      </div>
      <div class="padding-lr-60">
        <h3 class="orange">How does the Sublease U payment system work?</h3><br><br>
        <p>Sublease U payment system is designed to make transferring money between guests and hosts as simple and reliable as possible. Here’s how it works:
        <br><br>
        1. Guests pay Sublease U when they book a place
        2. Sublease U releases the money to hosts 24 hours after the guest checks in
        <br><br>
        Using Sublease U payment system is required to make a reservation, and it helps ensure that both parties are protected under our Terms of Service, cancellation policies, Guest Refund Policy, and other <span class="orange pointer">safeguards.</span>
        <br><br>
        Sublease U automatically includes service fees in each transaction, and some government-required taxes where applicable.</p><br><br>
        <p class="size-20 black-text">Related topics for guests:</p>
        <ul class="no-margin-ul">
          <li class="orange">Prices & Fees</li>
          <li class="orange">Payments Method</li>
        </ul>
        <p class="size-20 black-text">Related topics for hosts:</p>
        <ul class="no-margin-ul">
          <li class="orange">How Payouts Work</li>
          <li class="orange">Payout References</li>
        </ul>
      </div>
    </div>