<div class="padding-10">
  <div class="row margin-left-20 text-center">
    <div class="margin-top-10 margin-bottom-30">
        <div class="form-group">
          <select class="form-control width-auto display-inline" id="sel1">
            <option value="" disabled selected>All payout methods</option>
            <option>N/A</option>
            <option>n/a</option>
            <option>n/A</option>
            <option>N/a</option>
          </select>
          <select class="form-control width-auto display-inline" id="sel1" >
            <option value="" disabled selected>All listings</option>
            <option>N/A</option>
            <option>n/a</option>
            <option>n/A</option>
            <option>N/a</option>
          </select>
        </div>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Type</th>
          <th>Details</th>
          <th>Paid To</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <h5 class="text-center">No Transactions</h5> 
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-1">
            <div class="input-border padding-5 width-auto border-radius-5">
              <i class="fa fa-angle-double-left" aria-hidden="true"></i>
            </div>
          </div>
          <div class="col-md-1">
            <div class="input-border padding-5 width-auto border-radius-5">
              <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </div>
          </div>
        </div>
  </div>
</div>