<div class="container">
	<h2 class="margin-top-50">Sara's Wishlist (2)</h2>
	<div class="row margin-top-60">
		<div class="col-md-6 ">
			<center>
				<div class="margin-30 width-full">
					<img src="images/search/gxv.jpg" class="img-responsive" /*style="opacity:0.5"*/>
					<div class="white carousel-caption padding-bottom-p-30 size-20">Brooklyn, NY</p>
				</div>
			</center>
		</div>
		<div class="col-md-6">
			<center>
				<div class="margin-30 width-full">
					<img src="images/search/g.jpg" class="img-responsive" /*style="opacity:0.5"*/>
					<div class="white carousel-caption padding-bottom-p-30 size-20">Wheaton College, NY</p>
				</div>
			</center>
		</div>
	</div>
</div>