<style type="text/css">
.full {
    background: url('images/handshake.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 100%;
    
}
</style>

<div style="position: relative;margin-top: 105px;">

<div class="container-fluid" style="position: relative;top: -5px;">
    <div class="row">
        <div class="container-fluid full">
            <div class="row" style="margin-top:100px;">
                <div class="col-md-4 col-lg-4 col-sm-4 col-sx-4"></div>
                <div class="col-md-4 col-lg-4 col-sm-4 text-center">
                    <i class="fa fa-users" style="font-size:200px;color:white;" aria-hidden="true"></i>
                </div>
                <div class="col-md-4 col-lg-4 col-xs-4 col-sm-4"></div>
            </div>
            <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4"></div>
                <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4 text-center">
                    <div style="margin-top:10px;">
                        <h4 class="white" style="display:inline">
							Welcome more guests who fit your Hosting Style
						</h4>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4"></div>
            </div>
            <div class="row" style="margin-top:200px"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3 border-grey white-bg" style="margin:10px 6%;padding:20px 40px">
            <b class="black-text">
				
				Your rules

			</b>
            <p>
                Automatically filter guests who meet your requirements and agree rules.
            </p>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3 border-grey white-bg" style="margin:10px;padding:20px 40px">
            <b class="black-text">
				
				Less effort

			</b>
            <p>
                With request automatically taken care of, you can connect with your guests
            </p>
        </div>
        <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3 border-grey white-bg" style="margin:10px;padding:20px 40px">
            <b class="black-text">
				
				More bookings

			</b>
            <p>
                Many hosts with Instant Book get an average of 2X more bookings.
            </p>
        </div>
    </div>
    <div class="row">
        <center>
            <hr style="width:80%;">
        </center>
    </div>
    <div class="row">
        <div class="col-md-9 col-lg-9 col-sm-9 col-xs-9 border-grey white-bg" style="margin:10px 10%;padding:20px 40px">
            <b class="black-text">
				
				You're the Boss

			</b>
            <p>
                Decide which guests can book automatically <span style="padding:5px 5px ;background:rgb(239,64,54);color:white;">New</span>
            </p>
            <p>
                No parties? No problem. Love kids, but have a no pet policy? That’s okay, too. New filters make it easy for you to personalize who can instantly book your listing.
            </p>
            <p>
                Have more control over your calendar
            </p>
            <p>
                Sync your Google Calendar, Apple Calendar, VRBO, and Homeaway so booked days are reflected on your Sublease U calendar.
            </p>
        </div>
    </div>
    <div class="row">
        <center>
            <hr style="width:80%;">
        </center>
    </div>
    <div class="row">
        <span class="col-md-5 col-lg-5 col-sm-5 col-xs-5 border-grey white-bg" style="margin:10px 10%;padding:20px 40px">

			<div class="text-center">
				
				<b class="black-text">
					
					Penalty-free cancellations

				</b>


			</div>
		
			<div class="text-center" style="margin-top: 5px;font-size:160px;">

					<i class="fa fa-thumbs-up" aria-hidden="true"></i>

				
			</div>

			<div class="text-center">
			
				<p>If you’re uncomfortable with your Instant Book guests’ behavior before or during their stay, cancel at any time.</p>
			
			</div>

	</span>
        <br>
        <span class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
		<p>
			<b class="black-text">
				We've got your back
			</b>
		</p>
		<p>
			Unprecedented protection

		</p>

		<p>
			
			Our Host Guarantee protects eligible hosts for damages up to ₹6,00,00,000.

		</p>

		<p>
			
		<b class="black-text">
			Host-approved guests
		</b>


		</p>


	</span>
    </div>
    <div class="row" style="padding:10px;height:200px;background:rgb(239,64,54);">
        <center>
            <h3 style="color:white;margin-top:40px">

				Set your controls and try Instant Book
				
			</h3>
        </center>
        <div class="text-center" style="margin-top:30px">
            <div style="display:inline;background:white;color:black;padding:10px;">Set your Controls</div>
        </div>
    </div>
    <div class="row" style="background:#F2F2DD">
        <div class="col-md-5 col-lg-5 col-sm-5 col-xs-5 border-grey white-bg" style="margin:10px 10%;padding:20px 40px">
            <div style="font-size:20px">
                <b class="black-text">
					
					Spend time getting to know your guests, not figuring out logistics

				</b>
            </div>
            <div style="margin-top:30px;">
                <p>
                    Now that initial reservations are instant, you can focus on making meaningful connections with guests from all over the world.
                </p>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:20px">
        <div class="col-md-4 col-lg-4 col-xs-4 col-sm-4"></div>
        <div class="col-md-4 col-lg-4 col-xs-4 col-sm-4 border-grey" style="padding:50px;margin-top:10px;background:#f2f2f2">
            <b class="black-text">
					Let us know what you think.		
				</b>
            <p>
                Like everything we do, we want Instant Book to make hosts’ lives easier. The more you tell us, the better it will get.
            </p>
        </div>
        <div class="col-md-1 col-lg-1 col-lg-1 col-sm-1 col-xs-1"></div>
    </div>
</div>
</div>