<div class="container margin-bottom-120">
     
     <div class="padding-lr-60">
    
      <h3 class="orange">What are house rules?</h3>
  
      <br>
        
        <div class="margin-left-10">
              
              <p>
                
                Hosts share their House Rules to set expectations with their guests, like limits on smoking, areas beyond the listing space that are off-limits, and permission to have visitors.
              
              </p>
              
              <p>To add or edit House Rules after you’ve listed your space:</p>
              
              <p>

              <ol>
                
                <li>Go to Manage Listings</li>
                <li>Click on the listing you want to edit</li>
                <li>Hover on the left side of the page to open the menu</li>
                <li>Under Hosting, click on Booking</li>
                <li>Under House Rules, enter your expectations and rules for guests</li>


              </ol>
                

              </p>

              <p>If a guest breaks a house rule, either before or during their stay, you can <span class="orange">cancel their reservation </span> without penalty.</p>

              <p>House rules appear on your listing page, and guests must review and agree to them before requesting a reservation. They’re also sent directly to a guest once they’ve a confirmed reservation.</p>

        
        </div><br>

        <h3 class="orange">What should I do if something's missing or not as expected when I check in?</h3><br>

        <div class="margin-left-10">
          
          <p>If you notice that something is missing, not working, or otherwise not what you expected when you check in, contact your host right away. Your host is often in the best position to help you—giving them the chance to fix an issue can be the fastest way to make sure you get what you need, and can continue on with your reservation as planned.</p>

          <p>In the event that you experience a <span class="orange">travel issue</span>, and you and your host aren't able to resolve the issue on your own, please take the following required steps within 24 hours of your check-in to make sure you're covered by our Guest Refund Policy:</p>

          <p>
            
            <li><span class="orange">Contact us</span> to document the issue and place a hold on the host's payment.</li>

            <li><span class="orange">Message your host</span> on Sublease U to notify them of the issue. We'll need to verify this in your account.</li>

            <li>Take photographs to document the situation. It's important that your photos show what's happening and where (in relation to the rest of the room or space) so we can verify what's going on.</li>

          </p>

          <p>If your host is unreachable or unresponsive, we'll work on issuing you an adequate partial refund if you decide to stay, or a full refund if you decide to leave, as we deem appropriate. You can see a complete explanation of coverage in our Guest Refund Policy.</p>

          <p>The Guest Refund Policy doesn't apply beyond 24 hours after check-in, but we can always help you mediate with your host if you've tried reaching out with no response.</p>

        </div>
    
    </div>
  
</div>