<div class="container-fluid">
	
	<div class="row">
		
		<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 no-padding border-grey pointer white-bg" style="">
			<div class="text-center " ui-sref='.property-step-1'>
				<img src="images/hometheatre-128.png" class="pull-left size-20 property-img img-responsive">
				<h3 class="text-muted md-font">Step 1</h3>
				<b class="black-text md-font xs-font">Start with the Basics</b><br>
				<span class="black-text md-font xs-font">(Roommates, Amenities etc.)</span>
			</div>
		</div>

		<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 no-padding border-grey pointer white-bg" style="">
			<div class="text-center ">
                
				<img src="images/nopic.png" class="pull-left size-20 property-img img-responsive">
				<h3 class="text-muted md-font">Step 2</h3>
				<b class="black-text md-font xs-font">Show them your place</b><br>
				<span class="black-text md-font xs-font">(Photos, Description etc.)</span>
			
            </div>
            
		</div>
		<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 no-padding border-grey pointer white-bg" style="">
			<div class="text-center ">
				<img src="images/calendar-icon-in-black_318-9776.png" class="pull-left size-20 property-img img-responsive">
				<h3 class="text-muted md-font">Step 3</h3>
				<b class="black-text md-font xs-font">Setup Price, Calendar</b><br>
				<span class="black-text md-font xs-font">Conditions &amp Cancellation</span>
			</div>
		</div>
		<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 no-padding border-grey pointer white-bg" style="">
			<div class="text-center ">
				<img src="images/Credit_Card_Payment_Safe_Secure_Shopping_Ecommerce_Pay-512.png" class="pull-left size-20 property-img img-responsive">
				<h3 class="text-muted">Step 4</h3>
				<b class="black-text md-font xs-font">Payment</b><br><br>
			</div>
		</div>
	</div>
</div>

<div ui-view></div>
