<div class="col-sm-9 padding-20 margin-top-30">
  <div class="border-grey white-bg padding-20 margin-bottom-40 padding-bottom-80">
    <h4>Promote yourself with Sublease U badges</h4>
    <p class="margin-top-20">Click a badge to get the HTML code. Paste it on your website or blog to tell the world that you’re part of Sublease U. The reviews and ratings will automatically update as they do on your profile.</p>
    <div class="table-responsive margin-top-20">
      <table class="table">
        <thead>
          <tr>
            <th>Your Badges</th>
          </tr>
        </thead>
        <tbody>
          
        </tbody>
      </table>
    </div>
    <div class="table-responsive margin-top-20">
      <table class="table">
        <thead>
          <tr>
            <th>Your Listing</th>
          </tr>
        </thead>
        <tbody>
          
        </tbody>
      </table>
    </div>
  </div>
</div>
