<div class="margin-top-40 container margin-bottom-60" ng-controller='searchCtrl' ng-init="canvasImg()">
	
    <div class="row">
		<div class="orange-dark pull-right">
			<b>Save &amp Exit </b>
		</div>
	</div>
	
    <div class="row">
		<h2 class="orange-dark margin-bottom-40 padding-lr-60">Show them your place</h2>
	</div>
	
    <form  class="padding-left-195" name="FStep2" id="FStep2">
        
		<label class="black-text margin-bottom-20">Name your place</label><br>
        
			<input type="text" name="nplace" class="property-options" ng-model='user.nameProperty' required><br>
		
        <label class="black-text margin-bottom-20">Describe your place</label><br>
			
            <textarea class="property-options-textarea" name="dplace" ng-model='user.propertyPlaceDescription' required></textarea><br>
		
        <label class="black-text margin-bottom-20">Upload up to 5 photos of your place <br>
		( including Kitchen, Bathroom, Bedroom, Living space and an extra photo )</label><br>
		
        <div class="white-bg width-80 border-grey upload-photos-property">
			
            <div>
				
                <div class="row">
                    
					<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
				
                        <center>
                    
                            <input type="file" id="userPhoto" name="userPhoto[]" ng-model='userPhoto' multiple base-sixty-four-input> 
                            
                        </center>
                            
                      
                            
						
					</div>
                    
				</div>
                
				
			
            </div>
            
		</div>
        
        <center>
            
              

<!--
                        <button class="padding-20 orange-bg white no-border" ng-click="uploadFile()">
					
                        
         <i class="fa fa-upload" aria-hidden="true"></i> &nbsp Upload Photos
					
                    
    </button>
-->

        
            <button class="no-border orange-bg white padding-20 margin-top-30 width-30" ng-click="FStep2.$valid && step2()">
            
                Save &amp Continue to STEP 3
        
            </button>
        
        </center>
        
        
	</form>
    
</div>
	

<!--
                    <input type="file" id="userPhoto" name="userPhoto" ng-model='userPhoto' accept="image/*" multiple maxsize="5000" base-sixty-four-input/>
                    
-->
                    
<!--				    <span ng-show="FStep2.files.$error.maxsize">Files must not exceed 5000 KB</span>-->
                    
<!--
                    <button  type="submit" class="padding-20 orange-bg white no-border" ng-click="uploadFile()">
					
                        <i class="fa fa-upload" aria-hidden="true"></i> &nbsp Upload Photos
					
                    </button>
-->
                                
<!--                    <br>-->
                    
<!--
					<span class="black-text">or <br>
					drag and drop</span>
-->
