<div class="col-sm-9 padding-20 margin-top-30">
          <div class="border-grey white-bg margin-bottom-40">
            <div class="navbar-header width-full border-side-none background-grey padding-5">
              <h4>Connecting Apps</h4>
            </div>
            <div class="padding-20 padding-top-10">
              <div class="row text-center">
                <p>You haven’t connected any apps to your account.</p>
              </div>
            </div>
          </div>
</div>
