<div data-ng-include="'partials/partial-help-head.html'"></div>

<div class="container margin-bottom-120">
     

      <div class="padding-lr-60">
        
        	<center>
	        	
	        	<h3>Home Safety Terms And Conditions</h3>
	        
	        </center>

	        <div class="margin-left-10">
	          
	          <p>Updated January 15, 2016</p>
	        
	        </div>

	        <div class="margin-left-10">
	        	
	        	<p><b class="black-text">How it works</b></p>

	        	<p>
	        		This website www.subleaseu.com ("Website") and its mobile application ("Application") are owned and operated by Oravel Stays Private Limited ("Sublease U"), a company incorporated under the laws of India, having its registered place of business at Delhi Rectangle Regus, Level 4, Rectangle 1, Commercial Complex D-4, Saket, New Delhi - 11017, India and its corporate office at 6th Floor, Spaze Itech Park, Tower B3, Sector 49, Sohna Road, Gurgaon – 122018, Haryana, India, which enables the user of the Website to connect with independent third party hotel owners ("Channel Partner") offering renting of various guest houses/ hotels/ accommodations listed on the Website/ Application ("Services").

	        	</p>

	        	<p>

	        		<b class="black-text">
	        			
	        			Eligibility

	        		</b>
	        		
	        	</p>

	        	<p>If you are not agreeable to all the Usage Terms in their entirety, you must not use this Website/ Application and should exit/logout immediately. Your use of the Website/ Application implies that You agree with the Usage Terms in their entirety. You agree, acknowledge and recognize that the contract of sale is made in India, is governed exclusively by laws of India and is subject to the exclusive jurisdiction of the courts in Delhi to the exclusion of all other courts.</p>

	        	<p>
		        	<b class="black-text">
		        		Offer
		        	</b>
	        	</p>

	        	<p>
	        		We reserve the right to amend, modify, change, add or terminate (collectively “Changes”) the terms, contained herein at our sole discretion or discontinue this Offer without any further notice. You should make sure you view these Terms periodically to ensure that you are familiar with the most recent version.
	        	</p>

	        	<p>
	        		<b class="black-text">
	        		Payment Terms
	        			
	        		</b>
	        	</p>

	        	<p>
	        		We do not accept responsibility for any defects that may exist or for any costs, loss of profits, loss of data or consequential losses arising from the Offer/Event. We exclude all liability whether in contract, tort (including liability for negligence) or otherwise for the accuracy, suitability, quality or completeness of any information and the value and integrity of goods and services offered. We may suspend or vary the whole or any part of the service offered for any reason, at any time at our sole discretion without liability to you.
	        	</p>

	        	<p>
	        		
	        		<b class="black-text">
	        			Your Responsibilities
	        		</b>

	        	</p>

	        	<p>
	        		
	        		Your responsibility to pay any AAA filing, administrative and arbitrator fees will be solely as set forth in the AAA Rules. However, if your claim for damages does not exceed $75,000, Sublease U will pay all such fees unless the arbitrator finds that either the substance of your claim or the relief sought in your Demand for Arbitration was frivolous or was brought for an improper purpose (as measured by the standards set forth in Federal Rule of Civil Procedure 11(b)). <span class="orange" ui-sref="hstos">Terms of Service</span>

Changes. Notwithstanding the provisions of the "Modification" section above, if Sublease U changes this "Dispute Resolution" section after the date you first accepted these Terms (or accepted any subsequent changes to these Terms), you may reject any such change by sending us written notice (including by email) within 30 days of the date such change became effective, as indicated in the "Last Updated" date above or in the date of Sublease U's email to you notifying you of such change. By rejecting any change, you are agreeing that you will arbitrate any Dispute between you and Sublease U in accordance with the provisions of this "Dispute Resolution" section as of the date you first accepted these Terms (or accepted any subsequent changes to these Terms).


	        	</p>

	        	<p>
	        		<b class="black-text">
	        			Purchase from Manufactrer or Distributor
	        		</b>

	        	</p>

	        	<p>

	        		"Order" means a paper or electronic document sent by Buyer to Supplier, or where
provided for in an Agreement, an entry on a Buyer web site, to initiate the ordering of
Goods or Services, such as a purchase order, a scheduling agreement, or other
authorization or Order, and including change notices, supplements or modifications
thereto. The phrase "in connection with the Order" includes performance of the Order,
performance in anticipation of the Order, and preparation of a bid or proposal for the
Order. Where the context permits, the term Order includes Agreement.
	        			
	        	</p>

	        	<p>
	        		
	        		<b class="black-text">Limitations</b>

	        	</p>

	        	<p>
	        		<b class="black-text">Limited quantities</b>
	        	</p>

	        	<p>
	        		Customers often ask us about shipping small amounts of hazardous materials by air. The fact is that IATA Dangerous Goods Regulations contains provisions for shipping limited quantities of Dangerous Goods that can save you both time and money. These regulations can be confusing at times. 
	        	</p>

	        	<p>
	        		<b class="black-text">
	        			Limited time only
	        		</b>


	        	</p>

	        	<p>
	        		The promotional discount is only available for items purchased from a Kindle Fire with Special Offers enabled.
You may only purchase one unit of each product at the promotional discount. Each deal is subject to two time restrictions. The first restriction is for the overall deal and is displayed on the specific deal. The item must be added to the Shopping Cart before time expires to be eligible for the promotional discount. The second restriction applies after a deal item has been placed in the Shopping Cart and expires after a very limited time as indicated when adding the deal to cart. 
	        	</p>

	        	<p>
		        	
		        	<b class="black-text">Void where prohibited</b>

		        </p>

		        <p>
		        	
		        	This Program is void where prohibited

		        </p>

		        <p>
		        	<b class="black-text">
		        	
		        	Severability

		        	</b>

		        </p>

		        <p>

		        clause states that the terms of the contract are independent of each another, so that if a term in the contract is deemed unenforceable by a court, the contract as a whole will not be deemed unenforceable. It may contain two parts: (a) savings language to preserve the validity of all other terms in the event that one term is determined to be unenforceable, and (b) reformation language to scale back overly broad provisions to terms and scope that are enforceable (such as limiting the time and geographic scope of non-compete covenants).
		        	
		        	
		        </p>

		        <p>
		        	
		        	<b class="black-text">
		        		
		        		Manufactrer or Distribution Discretion

		        	</b>

		        </p>

		        <p>
		        	
		        	The manufacturer distributor and/or Sublease U shall have the right to refuse any detector order in its discretion

		        </p>

		        <p>
		        	
		        <b class="black-text">
		        	
		        	Sales Tax and other taxes
		        </b>

		        </p>

		        <p>
		        	
		        	We will pay for applicable sales taxes on the detectors we pay for under this program but you are responsible for all applicable taxes.

		        </p>

		        <p>
			        <b class="black-text">
			        	
			        	Substitute Devices and Discontinuation of Program


			        </b>
			        	
		        </p>

		        <p>
		        	
		        	If the manufacturer or distributor is unable to fulfill your order for a detector under this program, they (or another manufacturer or distributor) may provide a detector with similar or equivalent functionalities. We reserve the right to discontinue the program at any given time for any reason or no reason without any replacement or compensation being due.


		        </p>

		        <p>
			        <b class="black-text">
			        	Inaccurate or False Information

			        </b>
		        </p>
		        
		        <p>
		        	
		        	Sublease U and the manufacturer or distributor are not responsible for inaccurate or false information you may provide in applying for a detector, including by falsely representing you will use this detector in your Sublease U listing. We reserve the right to disqualify your order if you provide any inaccurate or false information.



		        </p>
		        <p>
		        	
		        	<b class="black-text">
		        		
		        		Personal Information

		        	</b>

		        </p>

		        <p>
		        	
		        	We will forward the information you submit to the manufacturer or distributor so they can fulfill your order and ship the detector to you. Sublease U will treat your information under our Privacy Policy. We entered into binding agreements with the distributors and they represented they will comply with applicable data protection rules and they promised they will not use the information we forward for any other purposes than fulfilling the order.


		        </p>

		        <p>
		        	<b class="black-text">
		        		
		        		Contracting party



		        	</b>

		        </p>
		        <p>
		        	This program is offered to U.S. Hosts by Sublease U, Inc., 888 Brannan St, San Francisco, California 94103, United States of America. This program is offered to Non-U.S. Hosts by Sublease U Ireland, Watermarque Building, South Lotts Road, Ringsend, Dublin 4, Ireland.

		        </p>

		        <p>
		        	
		        	<b class="black-text">
		        		
		        		Updates to These Terms


		        	</b>

		        </p>

		        <p>
		        	
		        	We can update these terms at any time without prior notice. If we modify these terms, we will post the modification and the modified terms will be effective upon posting. By applying for this promotion after we have posted updated terms, you agree to be bound by the updated terms. If the updated terms are not acceptable to you, your only recourse is to not use the Home Safety promotion.
		        </p>


	        </div>
        
        </div>


</div>