<div data-ng-include="'partials/partial-help-head.html'"></div>
    <div class="container margin-bottom-120">
      <div class="margin-top-10 margin-bottom-30 text-center">
        Manage your profile
      </div>
      <div class="row icon-color weight-normal margin-bottom-20 text-center">
        <div class="col-md-5"></div>
        <div class="col-md-2 padding-bottom-20">
          <div class="border-grey padding-40-10 help-boxes">
            <i class="fa fa-credit-card-alt icon-size-2 padding-bottom-30" aria-hidden="true"></i>
            <br>
            Booking a Reservation
          </div>
        </div>
        <div class="col-md-5"></div>
      </div>

      <div class="padding-lr-60">
        
        <h3 class="orange">How do I book a place on Sublease U?</h3>
        
        <p class="margin-left-10">When you book a place on Sublease U, you’re making arrangements to stay in someone’s home. Each host has their own style of hospitality, starting with how they like to get to know their guests. Some hosts want to approve reservations, while others are comfortable letting you book their place instantly without waiting for approval.</span><br><br>

        <span class="orange">1. Complete Your Profile</span><br>

        <p class="margin-left-10">In either case, it’s important to know that Sublease U is a community that relies on trust. Complete your profile before you request a reservation with a host, so they can know a little bit about you when they confirm. Your profile should include photos and verifications, especially because some hosts require guests to have a <span class="orange">profile photo</span> or <span class="orange">Verified ID </span> in order to book.</p><br><br>

        <span class="orange">2. Find The Right Place</span><br><br>

        <p class="margin-left-10">With over 800,000 unique listings around the world, you’ll want to make sure the place you choose has everything you need for a comfortable and memorable trip.</p><br>

        <p class="margin-left-10">
          When <span class="orange">searching for a place,</span>make sure to include your dates and number of guests to get the most accurate pricing. Read reviews, descriptions, house rules, and amenities for each place to see if it’s the right fit for Prospective Sublesae. You can always <span class="orange">contact the host</span> if you have any questions about their home.
        </p><br><br>

        <span class="orange">3. Book It!</span><br><br>
        
        <p class="margin-left-10">
          You’ve found the perfect place, and now it’s time to make it official. This is where the host’s preferred way of booking will determine how you’ll confirm your reservation.
        </p><br>

        <span>Instant Book</span><br><br>

        <p class="margin-left-10">
          
          For hosts who don’t want to approve each reservation, you’ll see a button on their listing that says <span class="black">Instant Book</span>. Like the name suggests, you can confirm a reservation at these places right away. Learn more about <span class="orange">Instant Book</span>.

        </p><br>

        <span>Request to Book</span><br><br>

        <p class="margin-left-10">
          
          Many hosts prefer to approve reservations before they’re final. In this case, you’ll see a button on their listing that says Request to Book. To submit a reservation request, you’ll need to enter your payment details. Hosts have 24 hours to accept your request, and your reservation is automatically confirmed once they do. Learn more about <span class="orange">submitting a reservation request.</span>
        </p><br>


        <span>Pre-approvals and Special Offers</span><br><br>

        <p class="margin-left-10">
          If you decide to contact the host to ask questions before attempting to book, the host may respond to your message by inviting you to make a reservation with either a pre-approval or Special Offer. A pre-approval is an invitation to finish booking for the dates and number of guests you noted in your message. A Special Offer gives the host the opportunity to provide special pricing, dates, and other reservation details before you book. Learn more about <span class="orange">booking a pre-approval or Special Offer</span>.

        </p><br>
        
      </div>

    </div>