<div class="col-sm-9 padding-20 margin-top-30">
          <div class="border-grey white-bg margin-bottom-40">
            <div class="navbar-header width-full border-side-none background-grey padding-5">
              <h4>Change Your Password</h4>
            </div>
            <div class="padding-20 padding-top-10">
              <div class="row">
                <div class="col-md-3">
                  <label class="pull-right">Old Password</label>
                </div>
                <div class="col-md-6">
                  <input class="pull-left width-65 " type="text" name="first" placeholder="Enter old password">
                </div>
              </div>
              <div class="row margin-top-10">
                <div class="col-md-3">
                  <label class="pull-right">New Password</label>
                </div>
                <div class="col-md-6">
                  <input class="pull-left width-65 " type="text" name="first" placeholder="Enter new password">
                </div>
              </div>
              <div class="row margin-top-10">
                <div class="col-md-3">
                  <label class="pull-right">Confirm Password</label>
                </div>
                <div class="col-md-6">
                  <input class="pull-left width-65 " type="text" name="first" placeholder="Repeat new password">
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-12">
                <button class="orange-bg white width-30 margin-right-30 margin-bottom-20 padding-10 pull-right no-border">
                  Update Password
                </button>
              </div>
            </div>
          </div>
          <div class="border-grey white-bg margin-bottom-20">
            <div class="navbar-header width-full border-side-none background-grey padding-5">
              <h4>Login Notifications</h4>
            </div>
            <div class="padding-20 padding-bottom-0">
              <div class="row margin-bottom-5">
                <div class="col-md-1">
                  <input type="checkbox" width="20px" checked>
                </div>
                <div class="col-md-11 ">
                  <p>Turn on login notifications</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <p>Login notifications are an extra security feature. When you turn them on, we’ll let you know when anyone logs into your Sublease U account from a new browser. This helps keep your account safe.<br></p>
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-12">
                <button class="orange-bg white width-30 margin-right-30 margin-bottom-20 padding-10 pull-right no-border">
                  Save 
                </button>
              </div>
            </div>
          </div>
          <div class="border-grey white-bg margin-bottom-20">
            <div class="navbar-header width-full border-side-none background-grey padding-5">
              <h4>Login History</h4>
            </div>
            <div class="padding-20 padding-bottom-0">
              <table class="table">
                <thead>
                  <tr class="black-text">
                    <th>Browser/Device</th>
                    <th>Location <i class="fa fa-question-circle" aria-hidden="true"></i></th>
                    <th>Recent Activity</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      Chrome
                      <br>
                      Windows 7
                    </td>
                    <td>Delhi, DL, India</td>
                    <td>1 day ago <i class="fa fa-question-circle" aria-hidden="true"></i>
                      <br>
                      3 more <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </td>
                    <td class="orange">
                      Logout
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Chrome
                      <br>
                      Linux x86_64
                    </td>
                    <td>New Delhi, DL, India</td>
                    <td>3 days ago <i class="fa fa-question-circle" aria-hidden="true"></i>
                      <br>
                    </td>
                    <td class="orange">
                      Logout
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="row">
              <div class="col-md-12">
                <p class="width-30 margin-right-30 margin-bottom-20 pull-right no-border">
                  If ou see something unfamiliar, <a href="" class="orange">change your password.</a>
                </p>
              </div>
            </div>
          </div>
</div>
