		<nav class="navbar-default-header navbar-static-top">
        <div class="navbar-header">
          <a class="navbar-brand margin-top-30 margin-top-10 margin-top-5" ui-sref="/">LOGO</a>
        </div>
        <div class="vertical-rule"></div>
        	<div class="search">
        		<i class="fa fa-search"></i>
          	
                <input type="text" placeholder="Select University" class="navbar-brand customize-input margin-top-30" ui-sref="#">
        	
            </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav pull-right">
          	<li>
          		<button class="header-btn-transparent grey-color border-grey header-btn margin-top-20 navbar-brand">
          			Sublease Your Place
          		</button>
          	</li>
          	<div class="vertical-rule"></div>
            <li class="margin-top-20 text-center"><i class="fa fa-commenting-o icons margin-bottom-10" aria-hidden="true"></i><br>Message</li>
            <div class="vertical-rule"></div>
            <li class="margin-top-20 text-center"><i class="fa fa-life-ring icons margin-bottom-10" aria-hidden="true"></i><br>Help</li>
            <div class="vertical-rule"></div>
            <li class="margin-top-20 text-center"><i class="fa fa-exclamation-triangle icons margin-bottom-10" aria-hidden="true"></i><br>Disclaimer</li>
            <div class="vertical-rule"></div>
            <li class="margin-top-5 text-center">
            	<img class="profile-image circular-image" src="images/Woman Reading Study Plan.jpg">
            	Name
            </li>
          </ul>
      </div>
    </nav>

    <!-- Static navbar -->
    <nav class="navbar-default-inbox navbar-static-top">
      <div class="container">
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          	<li><a ui-sref="dashboard">Dashboard</a></li>
            <li><a ui-sref="inbox">Inbox</a></li>
            <li><a ui-sref="property">Your Property</a></li>
            <li><a ui-sref="prospective">Prospective Subleases</a></li>
            <li class="active"><a ui-sref="profile">Profile</a></li>
            <li><a ui-sref="account">Account</a></li>
          </ul>
        </div>
      </div>
    </nav>