<div class="container padding-top-30">
    <div class="row">
        <div class="col-sm-3 col-sm-offset-1">
          <div class="sidebar-module sidebar-module-inset" ui-sref='.edit'>
            <h4 class="pointer">Edit Profile</h4>
          </div>
          <div class="sidebar-module">
            <ol class="list-unstyled">
              <li><a ui-sref=".trust">Trust and Verification</a></li>
              <li><a ui-sref=".reviews">Reviews</a></li>
              <li><a ui-sref=".references">References</a></li>
              
            </ol>
          </div>
          <div class="sidebar-module">
            <button class="profile-btn white-bg margin-top-30" ui-sref='profileView'>
              View Profile
            </button>
          </div>
        </div>
        <div ui-view></div>

      </div>
</div>