<div>
  
</div>
<div header-mainn style="position: relative;margin-bottom: -20px;"></div> -->
<div data-ng-include="'partials/partial-help-head.html'"></div>
    <div class=" container margin-bottom-120">
      <div class="text-center margin-top-10 margin-bottom-30">
        
      </div>
      <div class="text-center row icon-color weight-normal margin-bottom-20">
        <div class="col-md-5"></div>
        <div class="col-md-2 padding-bottom-20">
          <div class="border-grey padding-40-10 help-boxes">
            <i class="fa fa-list-alt icon-size-2 padding-bottom-30" aria-hidden="true"></i>
            <br>
            Terms & Policies
          </div>
        </div>
        <div class="col-md-5"></div>
      </div>
      <div class="padding-lr-60">

        <h3 class="orange">What is Sublease U Anti-Discrimination Policy?</h3>
        <div class="margin-left-10">
          <p>Sublease U is an open marketplace. Through their experiences on Sublease U, we hope that our guests and hosts build meaningful connections with people from all over the globe.<br><br>

          To that end, we prohibit content that promotes discrimination, bigotry, racism, hatred, harassment or harm against any individual or group, and we require all users to comply with local laws and regulations.<br><br>

          Many countries, including the U.S., have laws preventing discrimination on the basis of race, religion, national origin, disability, sex, sexual orientation, or age. In the U.S., anti-discrimination laws apply to discrimination by any inn, hotel, motel, or other establishment that provides lodging to guests.<br><br>

          The Americans with Disabilities Act prohibits discrimination in public accommodations on the basis of disability, which may include things such as access and service dogs.<br><br>

          In addition, fair housing laws often prohibit discrimination in the selling or renting of such housing based on race, national origin, religion, sex, familial status or disability.<br><br>

          As a host, you should be familiar with the laws that apply to you and your listing.<br><br>

          If you believe a listing or person on the site is in violation of this position, <span class="orange">let us know.</span></p><br>
        </div>
      
        <h3 class="orange">Standards & Expectations</h3>
        <div class="margin-left-10">
          <p>To help keep our community safe and trusted, we’ve published <span class="orange">Standards and Expectations</span> for all of our hosts and travelers.<br><br>

          We developed these standards based on our extensive experience interacting with members of the Sublease U community. These standards are intended to gather together our existing policies into a single framework that will help members of the Sublease U community better understand what to expect from us and what we expect of them.</p><br>

          <b class="black-text">How will the standards be enforced?</b><br><br>
          <p>
          Each enforcement decision is the result of careful and detailed work by a team of experts devoted to ensuring we make the right call. Our responses to violations of these policies have been and will continue to be based on the seriousness of the issue. We will strive to take the circumstances of each situation into account when reaching our enforcement decision, but we have limited discretion in our response to serious violations of the policies.
          </p><br>

          <b class="black-text">What can I do if I disagree with a decision?</b><br><br>
          <p>
          Our enforcement teams are made up of dedicated professionals, but they’re still human. So, in rare cases, enforcement decisions may be incorrect. If you disagree with a decision we’ve made, you can <span class="orange">contact us</span> and we’ll re-review the decision carefully. The definitions of the standards and expectations themselves aren’t subject to review.
          </p><br>

          <b class="black-text">Will the standards change over time?</b><br><br>
          <p>
          We’re always learning and growing and the standards and expectations will evolve over time. Make sure to review the standards if you have any questions about a particular situation.
          </p><br>
        </div>

        <h3 class="orange">Extenuating Circumstances Policy</h3>
        <div class="margin-left-10">
          <p>Sublease U empowers hosts to set and manage their cancellation policies. If a host or guest needs to cancel a reservation, it’s their responsibility to cancel as soon as possible. At times, certain circumstances outside of a host or guest’s control can impact their ability to meet the terms of a reservation.<br><br>

          In rare instances, if Sublease U determines that a Guest’s reason for cancellation falls within Sublease U Extenuating Circumstances Policy, Sublease U may override the Host's cancellation policy (ex: flexible, moderate, strict) and make refund decisions. If Sublease determines that a Host’s reason for cancellation falls within Sublease U Extenuating Circumstances policy, Sublease U may waive the host cancellation penalties outlined in Sublease U Terms of Service and Sublease U Payments Terms of Service.</p><br>

          <b class="black-text">What might be covered?</b><br><br>
          <p>
          Valid extenuating circumstances include:<br><br>

          • Unexpected death or serious illness of a host, guest or immediate family member<br>
          • Serious injury that directly restricts a guest’s ability to travel or a host’s ability to host<br>
          • Significant natural disasters or severe weather incidents impacting the location of destination or location of departure<br>
          • Urgent travel restrictions or severe security advisories issued after the time of booking, by an appropriate national or 
          international authority (such as a government office or department)<br>
          • Endemic disease declared by a credible national or international authority (such as the US Center for Disease Control 
          or the World Health Organization)<br>
          • Severe property damage or unforeseen maintenance issues that directly impact the ability to host safely<br>
          • Government-mandated obligations issued after the time of booking<br>
          </p><br>

          <b class="black-text">If you need to make a claim</b><br><br>
          <p>
          Claims can only be considered after a reservation has been canceled. Once you have informed your host or guest and canceled a reservation, if you feel that your reason for cancellation is covered by Airbnb’s Extenuating Circumstances Policy, contact Sublease U for consideration. We generally require claims to be submitted no later than 14 days from the original check-in date and we may require valid supporting documentation.

          </p><br>
        </div>

        <h3 class="orange">Guest Refund Policy</h3>
        <div class="margin-left-10">
          <div class="border-grey white-bg" style="margin:10px 10%; padding:20px 40px">
            If your <span class="orange">host canceled your reservation</span>, you can transfer your payment to a new Sublease U reservation or request a refund.
          </div>
          <p>If you experience a travel issue that prevents you from being able to complete a trip with Sublease U, and you’re unable to <span class="orange">resolve with your host</span>, our <span class="orange">Guest Refund Policy</span> may be applied in certain circumstances.</p><br>

          <b class="black-text">Eligible travel issues</b><br><br>
          <p>
          Situations that may be eligible for a refund under this policy generally fall into one of three categories:<br><br>

          • The host fails to provide reasonable access to the booked listing.<br>
          • The listing booked is misrepresented (ex: number of bedrooms, location, lacks promised amenities).<br>
          • The listing isn't generally clean, is unsafe, or there's an animal in the listing that wasn't disclosed prior to booking.<br><br>

          Sublease U will either provide you with a refund or use reasonable efforts to find and book you at another comparable 
          accommodation for any unused nights left in your reservation. The amount of any refund will depend on the nature of 
          the travel Issue suffered.
          </p><br>

          <b class="black-text">Submit a valid claim for refund</b><br><br>
          <p>
          To submit a valid claim for your reservation, you are required to:<br><br>

          • <span class="orange">Contact us</span> within 24 hours of check-in to document the issue and place a hold on the host's payment. Include 
          photographs or other evidence of the issue as part of your claim.<br>
          • Be responsive to our requests for additional information and cooperation.<br>
          • Not have directly or indirectly caused the Travel Issue.<br>
          • Have used reasonable efforts to remedy the circumstances of the Travel Issue with the host prior to making a claim, 
          including messaging <span class="orange">your host</span> on Sublease U to notify them of the issue. We'll verify this in your account.<br><br>

          Review the <span class="orange">Guest Refund Policy Terms</span> for more details, including more information about the minimum quality 
          standards for accommodations, and what qualifies as a travel issue.

          </p><br>
        </div>

        <h3 class="orange">What is the Sublease U Host Guarantee?</h3>
        <div class="margin-left-10">
          <p>The Sublease U Host Guarantee provides protection for up to $1,000,000 to a host for damages to covered property in the rare event of guest damages above the security deposit—or if no <span class="orange">security deposit</span> is in place.<br><br>

          The Host Guarantee Program doesn't cover cash and securities, collectibles, rare artwork, jewelry, pets or personal liability. We recommend that hosts secure or remove valuables when renting their place. The program also doesn't cover loss or damage to property due to wear and tear. For these types of incidents, hosts can add a security deposit in their pricing settings.<br><br>

          The Host Guarantee Program isn't insurance and doesn't replace your homeowners or renters insurance. Make sure you review and understand the terms of your insurance policy and what it covers and doesn't cover. Not all insurance will cover damage or loss to property caused by a guest renting your space. Filing a host guarantee request doesn't preclude a guest from financial responsibility for the damages claimed if Airbnb determines a guest was at fault.<br><br>

          Learn more about the Host Guarantee at: <span class="orange">www.subleaseU.com/guarantee.</span><br><br>

          View the Host Guarantee terms and conditions at: <span class="orange">www.subleaseU.com/terms/host_guarantee.</span> If you can't view this page, the country you're accessing Sublease U from doesn't have Host Guarantee coverage right now.
          </p><br>
        </div>

        <h3 class="orange">Content Policy</h3>
        <div class="margin-left-10">
          <p>By posting content on Sublease U, you agree to abide by these guidelines and other Sublease U policies. We reserve the right to remove content, in whole or part, that violates these guidelines or the Sublease U <span class="orange">Terms of Service</span>, or for any other reason at our sole discretion.<br><br>

          In the event of repeated or severe violations, we may suspend or permanently deactivate the account(s) in question. <br>
          Sublease U determination on whether any specific content is prohibited will be final and conclusive.<br><br>

          You can <span class="orange">contact us</span> or flag Group posts to report content that violates our Terms of Service or Content Guidelines.
          </p><br>

          <b class="black-text">Listings and Profiles</b><br><br>
          <p>
          We expect Hosts to create listings that are honest, clear, and helpful to potential guests. We prohibit:<br><br>

          • Advertising or other commercial content.<br>
          • Content that endorses or promotes illegal or harmful activity or violence, or is profane, vulgar, obscene, defamatory, threatening, or discriminatory.<br>
          • Political, religious, or social commentary.<br>
          • Attempts to impersonate another person.<br>
          • Content that is fraudulent, false, misleading or deceptive.<br>
          • Content that refers to an Sublease U investigation.<br>
          • Content that violates another person or entity’s rights, including intellectual property rights and privacy rights.
          </p><br>

          <b class="black-text">Reviews and Neighborhood Feedback</b><br><br>
          <p>
          Genuine reviews are the cornerstone of our community. We prohibit:<br><br>

          • Reviews that do not represent users’ personal experience.<br>
          • Reviews unrelated to the actual reservation (ex: political, religious, or social commentary).<br>
          • Content that endorses or promotes illegal or harmful activity or violence, or is profane, vulgar, obscene, defamatory, threatening, or discriminatory.<br>
          • Content that violates another person or entity’s rights, including intellectual property rights and privacy rights (ex: publishing another person’s full name, address or other identifying information without permission).<br>
          • Content that is proven to be used as extortion.<br>
          • Content that refers to an Airbnb investigation.<br>

          </p><br>

          <b class="black-text">Groups</b><br><br>
          <p>
          Sublease U Groups are a way for people around the world to connect and build community. When you create a Group, you are responsible for determining its membership. You may accept or remove members at your discretion. In addition, we prohibit:<br><br>

          • Advertising or other commercial content (ex: advertising for your business).<br>
          • Discussions or posts unrelated to Sublease U community building (ex: Groups devoted to investing or building a property management business).<br>
          • Content that endorses or promotes illegal or harmful activity or violence, or is profane, vulgar, obscene, defamatory, threatening, or discriminatory.<br>
          • Political, religious, or social commentary.<br>
          • Attempts to impersonate another person.<br>
          • Content that refers to an Airbnb investigation.<br>
          • Content that violates another person or entity’s rights, including intellectual property rights and privacy rights. For example, sometimes people use Groups to create local meetups. In these circumstances, please make sure to get permission before publishing another person’s real name or other identifying information.

          </p><br>
        </div>

        <h3 class="orange">Extortion Policy</h3>
        <div class="margin-left-10">
          <p><span class="orange">Reviews</span> are a way for Sublease U guests and hosts to share their experiences with the community. Any attempt to use reviews or review responses to force a user to do something they aren’t obligated to do is a misuse of reviews, and we don’t allow it.<br><br>

          This policy applies to situations including, but not limited to:<br><br>

          • Guests threatening to use reviews or ratings in an attempt to force a host to provide refunds, additional compensation, or a reciprocal positive review.<br>
          • Hosts requiring a guest to leave a positive review or rating, or to revise a review in exchange for a partial or full refund, or reciprocal review. Hosts also can’t offer a free or discounted stay in exchange for a guest revising an existing review.<br>
          • Hosts asking a guest to take specific actions related to a review in exchange for a resolution to a dispute between the parties.<br><br>

          This policy does not prohibit:<br><br>

          • A guest from contacting a host with a problem prior to leaving a review.<br>
          • A host from asking a guest to leave an honest positive review or rating reflecting a positive experience.<br>
          • A host or guest from revising a review within the <span class="orange">time constraints</span> for revision.<br><br>

          Hosts and guests cannot edit reviews after they are published.<br><br>

          By posting a review, you agree to follow all Sublease U guidelines and policies, including the Extortion Policy, which Sublease U may enforce at our sole discretion. Failure to do so may result in the restriction, suspension or termination of your Sublease account.<br><br>

          If you think you've experienced extortion, please <span class="orange">contact us</span>
          </p><br>
        </div>

      </div>
    </div>
    <div footer-index></div>