<div class="margin-top-40 container" ng-controller='searchCtrl'>
	<div class="row">
		<div class="orange-dark pull-right">
			<b>Save &amp Exit</b>
		</div>
	</div>
	<div class="row">
		<h2 class="orange-dark margin-bottom-40 padding-lr-60">Setup Price, Calendar, Conditions, and Cancellation</h2>
	</div>

	<form class="padding-left-195" name="fstep3" id="fstep3">
        
		<div ng-controller="highchartsCtrl">
			Price per month
			<div id="highchart" style="width:65%; height:auto; margin-bottom:30px;"></div><br>
			
            <center>
				
                <p class="black-text">Set a price</p>
				<i class="fa fa-usd" aria-hidden="true" style="position: relative; top: 2px; font-size: 20px; left: 40px;"></i>
				
                <input type="number"  min=1  id="price" name="price" ng-model="user.price" ng-init="user.price=1" value="{{user.price}}" placeholder="Enter price" class="padding-20 margin-bottom-20" style="text-align:center;" required>
                
				<p class="black-text">Remember to check boxes for things included in price</p>
			
            </center>
		</div>
		<label class="black-text margin-bottom-20">Calendar</label><br>
			<div id="">
    			<input data-format="dd-MM-yyyy" type="date" ng-model='user.startdate' required></input>
    			<input data-format="yyyy-MM-dd" type="date" ng-model='user.enddate' required></input>
    		</div>
		<label class="black-text margin-bottom-20">Conditions</label><br>
			<textarea class="property-options-textarea" ng-model='user.condition' placeholder="Put when and where the rent is due. Write here any information pertaining to how utilities are paid and how money will be exchanged for this property." required></textarea><br>
		<label class="black-text margin-bottom-20">Cancellation</label><br>
		<select class="form-control property-options" ng-model='user.refundTime' ng-options='x for x in refundTime'>
			<option ng-if="!refundTime" value="">Select Refund Time</option>
		</select>
	
    <center>
	
        <button class="no-border orange-bg white padding-20 margin-top-30 width-30" ng-click="fstep3.$valid && step3()">
		
            Post Property
	
        </button>
    
    </center>
	

    </form>



</div>