<!-- <div ng-controller="propertyCtrl" ng-init="IsLoggedIn()">
    <div ng-hide="signIn" header-mainn></div>
</div> -->

<div class="container-fluid" style="top:100px;position: relative;" ng-controller='searchCtrl'>
    <div class="row text-center" style="background: rgba(0,0,0,.1);">
        <div class="col-lg-2 col-md-2 col-sm-0 col-xs-0">
        </div>
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12" style="margin-top:6px;">
            <div id="filter-panel" class="filter-panel pull-left col-lg-8" style="display: inline-block;">
                <div class="panel panel-default" style="background: #fff;border: 0px;box-shadow: 0px 0px 0px inset;">
                    <div class="panel-body" style="border:1px solid transparent;">
                        <form class="form-inline" role="form">
                            <div class="form-group pull-left">
                                <div class="input-group">
                                    <span class="input-group-addon" style="color:red;background:#fff;border-radius: 0px; border:0px;">
        
        								<i class="glyphicon glyphicon-search" ></i>
      
      							</span>
                                    <input type="text" class="form-control" id="my_address" name="my_address" required style="border: 0px;box-shadow: 0px 0px 0px inset">
                                </div>
                            </div>
                            <div class="form-group pull-left" style="border-left: 1px solid #dfdddd ">
                                <div class='input-group date' id='datetimepicker2'>
                                    <span class="input-group-addon" style="color:red;background:#fff;border-radius: 0px; border:0px;">
                                  <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                    <span>
                                	<input class="form-control" type="date" style="border:0px ;box-shadow: 0px 0px 0px inset;" ng-model='user.startdate' required ng-change="locations()"></input>
                                </span>
                                    <span>
                                	<input  type="date" class="form-control" style="border:0px;
                                	border-left: 1px solid #dfdddd; box-shadow: 0px 0px 0px inset;" ng-model='user.enddate' required ng-change="locations()"></input>
                                </span>
                                </div>
                            </div>
                            <!-- <div class="form-group pull-left">

                            	
                                
                            </div> -->
                        </form>
                    </div>
                </div>
            </div>
            <div class="pull-left col-lg-1">
                <center>
                    <button class="btn green-button-bg white border-radius-0 " style="height:56px;margin-left: -28px;" ng-click="myform.$valid && thik()">
                        SEARCH
                    </button>
                </center>
            </div>
        </div>
    </div>
    <!-- <div class="row" style="top:50px;position: relative; background: white;">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 width-full">
                
                    <h4 class="black">Find a current lease at any university in the USA.</h4>
                    <form class="form-inline">
                        <div class="clearfix margin-top-10 form-group">
                            <select class="form-control-index width-full border-radius-0" id="sel1">
                                <option disabled selected>Select a University:</option>
                                <option>A</option>
                                <option>B</option>
                                <option>C</option>
                                <option>D</option>
                            </select>
                        </div>
                        <div class="clearfix margin-top-10 form-group">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <select class="form-control-index width-full border-radius-0" id="sel1">
                                    <option disabled selected>Seeking a roommate:</option>
                                    <option>A</option>
                                    <option>B</option>
                                    <option>C</option>
                                    <option>D</option>
                                </select>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <select class="form-control-index width-full border-radius-0" id="sel1">
                                    <option disabled selected>No. of roommates:</option>
                                    <option>A</option>
                                    <option>B</option>
                                    <option>C</option>
                                    <option>D</option>
                                </select>
                            </div>
                        </div>
                        <div class="clearfix margin-top-10 form-group">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <select class="form-control-index width-full border-radius-0" id="sel1">
                                    <option disabled selected>Property Type:</option>
                                    <option>A</option>
                                    <option>B</option>
                                    <option>C</option>
                                    <option>D</option>
                                </select>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <select class="form-control-index width-full border-radius-0" id="sel1">
                                    <option disabled selected>Amenities:</option>
                                    <option>A</option>
                                    <option>B</option>
                                    <option>C</option>
                                    <option>D</option>
                                </select>
                            </div>
                        </div>
                    </form>
               
            </div>
        </div> -->
    <div class="row" style="background: #fff;">
        <div class="col-lg-1 col-md-1 col-sm-0 col-xs-0"></div>
        <div class=" col-lg-2 col-md-2 filter" style="margin-bottom: 40px;background: #fff;">
            <!--  <p class="lead">Gender</p> -->
            <div class="list-group">
                <!-- form group [roommate] -->
                <div class="form-group">
                    <div class="panel-heading">
                        <h4 class="panel-title">
							<a data-toggle="collapse" href="#collapse0" style="list-style-type: none;text-decoration: none;">
								 Gender
							</a>
						</h4>
                    </div>
                    <div id="collapse0" class="panel-collapse collapse in">
                        <ul class="list-group" ng-repeat="x in preference">
                            <li class="list-group-item">
                                <div class="checkbox">
                                    <label>
                                        <input type="radio" value="" name="gender" id="{{x}}"> {{x}}
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- <select class="form-control" id="roommate" name="roommate" ng-model='roommate' ng-change="locations()" > -->
                    <!-- <option ng-if="!roommatePreference" value="" >Seeking a roommate:</option> -->
                    <!--  <div ng-repeat='x in preference'>
                        <label>
                            <input type="radio" ng-if="!roommatePreference" name="options" id="{{x}}" autocomplete="off">{{x}}
                        </label>
                    </div> -->
                    <!-- </select> -->
                </div>
            </div>
            <div class="list-group">
                <!-- form group [roommate] -->
                <div class="form-group">
                    <div class="panel-heading">
                        <h4 class="panel-title">
							<a data-toggle="collapse" href="#collapse1" style="list-style-type: none;text-decoration: none;">
								 Roommates
							</a>
						</h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <ul class="list-group" ng-repeat="x in number">
                            <li class="list-group-item">
                                <div class="checkbox">
                                    <label>
                                        <input type="radio" name="roommate" id="{{x}}"> {{x}} mates
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- <p class="lead">Roommates</p>
            <div class="list-group">
                 /*form group [roomate]*/
                <div class="form-group">
                    <select class="form-control" ng-model='no' ng-change="locations()" ng-options='x for x in number'>
                        <option ng-if="!roommateNumber" value="" class="light-grey-color">No. of roommates:</option>
                    </select>
                </div>
            </div> -->
                </div>
            </div>
            <div class="list-group">
                <!-- form group [roommate] -->
                <div class="form-group">
                    <div class="panel-heading">
                        <h4 class="panel-title">
							<a data-toggle="collapse" href="#collapse2" style="list-style-type: none;text-decoration: none;">
								 Property
							</a>
						</h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse in">
                        <ul class="list-group" ng-repeat="x in type">
                            <li class="list-group-item">
                                <div class="radio">
                                    <label>
                                        <input type="checkbox" name="roommate" id="{{x}}"> {{x}}
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- 
            <p class="lead">Property Type</p>
            <div class="list-group">
                /* form group [property]*/
                <div class="form-group row-hidden">
                    <select class="form-control" ng-model='pro_type' ng-change="locations()" ng-options='x for x in type'>
                        <option ng-if="!propertyType" value="" class="light-grey-color">Property Type:</option>
                    </select>
                </div>
            </div>
            -->
                </div>
            </div>
            <div class="list-group">
                <!-- form group [roommate] -->
                <div class="form-group">
                    <div class="panel-heading">
                        <h4 class="panel-title">
							<a data-toggle="collapse" href="#collapse3" style="list-style-type: none;text-decoration: none;">
								 Amenities
							</a>
						</h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse in">
                        <ul class="list-group" ng-repeat="x in amenities">
                            <li class="list-group-item">
                                <div class="radio">
                                    <label>
                                        <input type="checkbox" value=""> {{x}}
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!--   <p class="lead">Amenities</p>
                    <div class="list-group">
                        /*form group [amenities]*/
                        <div class="form-group row-hidden">
                            <select class="form-control" ng-model='amenities_2' ng-change="locations()" ng-options='x for x in amenities'>
                                <option ng-if="!amenitiesIncluded" value="" class="light-grey-color">Amenities Included:</option>
                            </select>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="col-md-9" ng-controller="propertyCtrl">
            <!-- <div ng-hide="0" class="row" style="top:200px;position: relative;">
                <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12">
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12" style="vertical-align: middle;">
                    <div ng-show="1" class="alert alert-danger">
                        <a href="#" c lass="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>! No Property Found</strong>
                        <div>
                            Post a new Property Now
                        </div>
                        <div class="btn btn-primary">
                            Post Property
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-xs-12 col-sm-12"></div>
            </div> -->
			 
            <div class="row"  ng-repeat="x in listing">
                <div ng-hide="datas" class="col-sm-4 col-lg-4 col-md-4" ui-sref="university({ id: '{{ x._id }}' })">
                    <div class="thumbnail">
                        <img src=" {{ x.upload_photo[0] }}" alt="" height="150" width="320">
                        <div class="caption">
                            <h4 class="pull-right"><i class="fa fa-inr" aria-hidden="true"></i>{{ x.set_price }}</h4>
                            <h4><a href="#">{{ x.name_place }}</a>
                                </h4>
                            
                        </div>
                        <div class="ratings">
                            <p class="pull-right">15 reviews</p>
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-sm-4 col-lg-4 col-md-4">
                    <h4><a href="#">Like this template?</a>
                        </h4>
                    <p>If you like this template, then check out <a target="_blank" href="http://maxoffsky.com/code-blog/laravel-shop-tutorial-1-building-a-review-system/">this tutorial</a> on how to build a working review system for your online store!</p>
                    <a class="btn btn-primary" target="_blank" href="http://maxoffsky.com/code-blog/laravel-shop-tutorial-1-building-a-review-system/">View Tutorial</a>
                </div> -->
            </div>
        </div>
    </div>
   <!--  <div class="row">
        <div ng-hide="signIn" footer-index></div>
    </div> -->
</div>
<!--
						<div class="clearfix margin-top-10 form-group">
                            
							<div class="col-md-6 col-sm-6 col-xs-12 input-black">
								 <input class="form-control-index border-radius-0  black" placeholder="Start Date:"><i class="fa fa-calendar green calendar-end" aria-hidden="true"></i>
							</div>
							
                            <div class="col-md-6 col-sm-6 col-xs-12 input-black">
								  <input class="form-control-index  border-radius-0" placeholder="End Date:"><i class="fa fa-calendar red-color calendar-end" aria-hidden="true"></i>
							</div>
						
                        </div>
					-->
<!--                     <center>
                        <hr class="margin-top-20"> Slider
                        <hr>
                    </center>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 width-half">
                                
                 <div id="Gmap" height="500"></div>

            </div>
        </div>
    </div>
</div> -->
<!-- <div class="padding-20 white-bg">

    <div class="container">
        <div class="row margin-bottom-20">
            <div class="col-md-6">
                <button class="pull-left border-grey white-bg padding-20 black-text dropdown-toggle" type="button" data-toggle="dropdown">
                    Filter
                </button>
                <ul class="dropdown-menu no-padding border-grey">
                    <li class="border-bottom-grey">
                        <div class="container width-full">
                            <div class="row white-bg padding-20">
                                <div class="col-md-6">
                                    <p class="text-center">Property Type</p>
                                </div>
                                <div class="col-md-6">
                                    <p class="text-center">Amenities</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="container">
                            <div class="row padding-20 background-grey ">
                                <div class="col-md-6 filter-list">
                                    <ul class="list-style-none">
                                        <li>
                                            <label class="control control--checkbox"> <i class="fa fa-home" aria-hidden="true"></i> Home
                                                <input type="checkbox" checked />
                                                <div class="control__indicator"></div>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="control control--checkbox"> Townhome
                                                <input type="checkbox" checked/>
                                                <div class="control__indicator"></div>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="control control--checkbox"> Apartment
                                                <input type="checkbox" checked/>
                                                <div class="control__indicator"></div>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="control control--checkbox"> Duplex
                                                <input type="checkbox" checked />
                                                <div class="control__indicator"></div>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-6 filter-list">
                                    <ul class="list-style-none">
                                        <li>
                                            <label class="control control--checkbox"> Electric
                                                <input type="checkbox" checked/>
                                                <div class="control__indicator"></div>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="control control--checkbox"> Gas
                                                <input type="checkbox" checked/>
                                                <div class="control__indicator"></div>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="control control--checkbox"> <i class="fa fa-tint" aria-hidden="true"></i> Water
                                                <input type="checkbox" checked />
                                                <div class="control__indicator"></div>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="control control--checkbox"> Cable TV
                                                <input type="checkbox" checked />
                                                <div class="control__indicator"></div>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="control control--checkbox"> <i class="fa fa-wifi" aria-hidden="true"></i> Wi-Fi
                                                <input type="checkbox" checked />
                                                <div class="control__indicator"></div>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="control control--checkbox"> Room may be Shared
                                                <input type="checkbox" checked/>
                                                <div class="control__indicator"></div>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="control control--checkbox"> Connected Bathroom
                                                <input type="checkbox" checked />
                                                <div class="control__indicator"></div>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="control control--checkbox"> Shared Bathroom
                                                <input type="checkbox" checked />
                                                <div class="control__indicator"></div>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="control control--checkbox"> Furnished
                                                <input type="checkbox" checked/>
                                                <div class="control__indicator"></div>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="control control--checkbox"> Near Transit Stop
                                                <input type="checkbox" checked />
                                                <div class="control__indicator"></div>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="control control--checkbox"> Yard
                                                <input type="checkbox" checked />
                                                <div class="control__indicator"></div>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="control control--checkbox"> Gym
                                                <input type="checkbox" checked />
                                                <div class="control__indicator"></div>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="control control--checkbox"> Pool
                                                <input type="checkbox" checked />
                                                <div class="control__indicator"></div>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="control control--checkbox"> <i class="fa fa-paw" aria-hidden="true"></i> Pet Friendly
                                                <input type="checkbox" checked />
                                                <div class="control__indicator"></div>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="control control--checkbox"> Cleaning Service
                                                <input type="checkbox" />
                                                <div class="control__indicator"></div>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <div class="pull-right">
                    <ul class="nav navbar-nav pull-right">
                        <li>
                            <select class="pull-left border-grey search-color-bg padding-10 width-full black-text size-normal ">
                                <option value="" disabled="" selected="">Language</option>
                                <option>A</option>
                                <option>B</option>
                                <option>C</option>
                                <option>D</option>
                            </select>
                        </li>
                        <li>
                            <select class="pull-left border-grey search-color-bg padding-10 width-full black-text size-normal">
                                <option value="" disabled="" selected="">Currency</option>
                                <option>A</option>
                                <option>B</option>
                                <option>C</option>
                                <option>D</option>
                            </select>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <h1>upLOADS PHOTOS HERE............</h1>
            <div class="col-md-4 col-sm-6 col-xs-12 black-text margin-bottom-20" >
                <div ui-sref="university({ id: '{{ x._id }}' })">
                    <span class="header-btn-transparent white pull-right price-room"> $ {{ x.set_price }}</span>
                    <img src=" {{ x.upload_photo[0] }}" width="450" height="300"> {{ x.name_place }}
                    <br> Shared Apartments. {{ x.guest }} guests
                    <br>
                    <br> 26 reviews <i class="fa fa-star yellow" aria-hidden="true"></i><i class="fa fa-star yellow" aria-hidden="true"></i><i class="fa fa-star yellow" aria-hidden="true"></i><i class="fa fa-star yellow" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i>
                </div>
            </div>

        </div>
        <div class="padding-20"> -->
<!--
	<p class="orange">United States > New York<br><span class="black-text">Places Nearby:</span></p>
	<br>
	<div class="row">
        
        <div class="col-lg-1 col-md-1 col-sm-1"></div>
		<div class="col-lg-3 col-md-3 col-sm-2 col-xs-1">
			Southhampton Vacation Rentals
		</div>
		<div class="col-lg-4 col-md-4 col-sm-3 col-xs-1 search-city">
			Bronx
		</div>
		<div class="col-lg-4 col-md-4 col-sm-3 col-xs-1 search-city">
			Toronto
		</div>
	
    </div>
    
	<div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1"></div>
		<div class="col-lg-3 col-md-3 col-sm-2 col-xs-1">
			Washington
		</div>
		<div class="col-lg-4 col-md-4 col-sm-3 col-xs-1 search-city">
			Boston
		</div>
		<div class="col-lg-4 col-md-4 col-sm-3 col-xs-1 search-city">
			Queens
		</div>
	</div>
    
	<div class="row">
		 <div class="col-lg-1 col-md-1 col-sm-1"></div>
		<div class="col-lg-3 col-md-3 col-sm-2 col-xs-1">
			Montreal
		</div>
		<div class="col-lg-4 col-md-4 col-sm-3 col-xs-1 search-city">
			Long Island City
		</div>
		<div class="col-lg-4 col-md-4 col-sm-3 col-xs-1 search-city">
			Staten Island
		</div>
	</div>
	<div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1"></div>
		<div class="col-lg-3 col-md-3 col-sm-2 col-xs-1">
			West New York
		</div>
		<div class="col-lg-4 col-md-4 col-sm-3 col-xs-1 search-city">
			Astoria
		</div>
		<div class="col-lg-4 col-md-4 col-sm-3 col-xs-1 search-city">
			Brooklyn
		</div>
	</div>
	-->
<!--         </div>
    </div>
</div> -->
