<div class="container margin-bottom-120">
     
     <div class="padding-lr-60">
    
      <h3 class="orange">What is the Resolution Center?</h3>
  
      <br>
        
        <div class="margin-left-10">
              
              <p>The Resolution Center lets you request or send money for things related to your Sublease U trip. To open a refund or payment request, go to <span class="orange"> www.subleaseU.com/resolutions</span>.</p>

              <p>You have up to 60 days after your reservation's checkout date to submit a Resolution Center request.</p>

              <p>
	              <b class="orange">Asking for help from Sublease U</b>
              </p>
              
              <p>
              	
              	If you’re unable to reach an agreement, you can ask Sublease U to make the final decision 72 hours after the request was opened. To involve Sublease U:

              </p>

              <p>
              
              	<ol>
              		
              		<li>Wait 72 hours after you open the request</li>
              		
              		<li>Go to <span class="orange">www.sublesaeU.com/resolutions</span></li>
              		
              		<li>Select the correct reservation</li>
              		
              		<li>Click Involve Sublease u</li>

              	</ol>
              
              </p>

              <p>When you involve Sublease U, our team will be notified and a dedicated team member will be assigned to your case. They’ll review the information provided by you and your host or guest, before making a final decision. In some cases, we may need to contact you to gather additional information, before we can make a decision.</p>
        
        </div><br>

        <h3 class="orange">What should I do if my host needs to cancel?</h3><br>

        <div class="border-grey white-bg" style="margin:10px 10%;padding:20px 40px">

              <b class="black-text">Remember</b>
              
              <span>
                  
                  If your host already canceled your reservation, you can transfer your payment to a new Sublease U reservation or <span class="orange">request a refund</span>.


              </span>
          
        </div>
        <br>

        <div class="margin-left-10">
          
          <p>f your host let you know that they can’t accommodate your stay anymore, don’t cancel for them. If you cancel, you may not be eligible for a full refund depending on the host’s<span class="orange"> cancellation policy</span>.</p>

          <p>Instead, send your host a cancellation request to make sure you receive a full refund.</p>

          <p>To send a cancellation request:</p>

          <p>
            
            <ol>
              
              <li>Go to Prospective Sublease U</li>
              <li>Next to the trip, click Change Reservation</li>
              <li>Click Cancel Reservation</li>
              <li>Choose My host needs to cancel</li>
              <li>Click Send a Cancellation Request</li>


            </ol>


          </p>

          <p>If your trip starts within a week, the host has 24 hours to respond to the request. Otherwise, they have 48 hours to respond. If your host accepts the request, or doesn’t respond, you’ll have the option to find a new space for your stay or request a full refund including service fees. If they decline the request, your host is letting you know that they can still host your stay.</p>

        </div><br>

        <h3 class="orange">What happens to my payment if my host cancels my reservation?</h3><br>

    <div class="margin-left-10">
        <p>In the event that your reservation is canceled by a host, you have two options:</p>

        <p>
        
          <li>Transfer your payment to a new Sublease U reservation</li>
          <li>Get a refund</li>
        
        </p>

        <p>
        <b class="orange">Transfer your payment to a new Sublease U reservation</b>
        </p>

        <p>Your money is immediately available to use towards a new reservation. Once you've found a new place, we'll automatically transfer your original payment to your new reservation request, along with any <span class="orange">eligible credit</span> from Sublease U.</p>

      </div><br>

      <h3 class="orange">
        Request a refund
      </h3><br>

      <div class="margin-left-10">
        
          <p>If you’d prefer not to book another place on Sublease U, you can ask for a full refund online at any time. To get a refund:</p>

          <p>
            
            <ol>
              
              <li>Go to <span class="orange"> Sublease U</span></li>

              <li>Find your canceled reservation.</li>

              <li>Click Request a refund.</li>

            </ol>

          </p>

          <p>To ask for a refund, you’ll need to log into your airbnb.com account on a computer. At the moment, refunds can't be requested using the Sublease U app or mobile website.</p>

      </div><br>


      <h3 class="orange">What should I do if something's missing or not as expected when I check in?</h3><br>

      <div class="margin-left-10">
        
        <p>If you notice that something is missing, not working, or otherwise not what you expected when you check in, contact your host right away. Your host is often in the best position to help you—giving them the chance to fix an issue can be the fastest way to make sure you get what you need, and can continue on with your reservation as planned.</p>

        <p>In the event that you experience a travel issue, and you and your host aren't able to resolve the issue on your own, please take the following required steps within 24 hours of your check-in to make sure you're covered by our Guest Refund Policy:</p>

        <li>
        
          <b class="orange">Contact us</b>
          to document the issue and place a hold on the host's payment.
        
       </li>
        
        <li>
        
          <b class="orange">Message your host</b>
          on Sublease U to notify them of the issue. We'll need to verify this in your account.</li>

          <li> Take photographs to document the situation. It's important that your photos show what's happening and where (in relation to the rest of the room or space) so we can verify what's going on.</li>

          <p>If your host is unreachable or unresponsive, we'll work on issuing you an adequate partial refund if you decide to stay, or a full refund if you decide to leave, as we deem appropriate. You can see a complete explanation of coverage in our<span class="orange"> Guest Refund Policy</span>.</p>

          <p>The Guest Refund Policy doesn't apply beyond 24 hours after check-in, but we can always help you mediate with your host if you've tried reaching out with no response.</p>

          <div class="border-grey white-bg" style="margin:10px 10%;padding:20px 40px">

              <b class="black-text">Remember</b>
              
              <span>
                  
                  In an emergency situation, or if your personal safety is threatened, contact local police or emergency services immediately.


              </span>
          
        </div>

      </div><br>

        <h3 class="orange">
          What if a host informs me that the listing I already paid for is now unavailable but they have an alternative?
        </h3><br>

        <div class="margin-left-10">
          
          <p>Even if you’ve already booked your reservation, it’s your choice whether to accept or decline a host’s offer to book an alternate listing.</p>

          <p>
            <b class="orange">Before paying for a reservation</b>
          </p>

          <p>If you don’t yet have a confirmed reservation and the host offers you a different listing from the one you discussed, you can book your reservation at this listing or simply look for a new place. You have no obligation to accept the new listing and you should make sure that it would work for your trip before booking.</p>

          <p><b class="orange">After you’ve paid for your reservation</b></p>

          <p>If your host is asking you to stay in a different listing than you originally booked and you’re okay with a switch, either you or your host can <span class="orange">change your reservation</span>. Make sure to check the details of the new listing before accepting a change.</p>

          <p>If you’re not okay with a switch or your host is asking you to switch without officially changing the reservation on Sublease U, ask the host to cancel your reservation so you can get a full refund or find another home that better accommodates your stay.</p>

          <p><b class="orange">After you’ve checked in</b></p>

          <p>If you’ve already checked in and you feel the listing is not what you booked on the site, <span class="orange"> follow the steps to document the issue</span> and our Guest Refund Policy will make sure you either get the listing you booked or receive a refund.</p>

        </div><br>

        <h3 class="orange">What if I can't get in touch with my host?</h3><br>

        <div class="margin-left-10">
          
          <p>If you’re having trouble getting in touch with your host after you’ve made a reservation, consider a few things:</p>

          <p>
            
            <li>Most hosts respond within a few hours.</li>
            
            <li>We recommend giving the host a few days to respond. Sometimes things come up or your host might be on a different schedule from you.</li>
            
            <li>
            Try contacting your host using a different form of communication. For example, you can try reaching them through:

            <ol>
            
                <li><b class="black-text">
                  Airbnb message:
                </b>

                  Find your host in your <span class="orange">Messages</span> and send them a note.

                </li>

                <li><b class="black-text">
                  Email or phone: 
                </b>Go to Prospective Sublease U, click View Itinerary next to your reservation, and use the email address or phone number listed.</li>

                <li>If your trip is starting or about to start, <span class="orange">contact us</span>.</li>

            </ol>

            </li>

            <li>If your trip is starting or about to start, <span class="orange">contact us</span>.</li>


          </p>

        </div>

     </div>

</div>