<div class="col-sm-8 padding-20 margin-top-30">
          <div class="border-grey white-bg">
            <div class="navbar-header width-full border-side-none background-grey padding-5 margin-bottom-10">
              <h4 class="margin-left-10">Verify your ID</h4>
            </div>
            
              <div class="padding-10"> 
              
                <div class="margin-top-30 margin-bottom-10">
                
                  <div class="row padding-10">
                  
                      <div class="col-md-12 padding-left-30">
                    
                          <center>
                      
                              <p>Getting your verified ID is the easiest way to help build trust in the Sublease U community.We'll verify you by matching  information from an online account to an official ID.<a class="red-color">Learn more</a></p>
                    
                              <br>
                    
                              <p>Or, you can choose to only add the verifications you want below..</p>
                    
                      
                              <button class="header-btn  no-border green-bg margin-top-30 padding-5 white">
                        
                                  Verify Me
                      
                              </button>
                      
                          </center>
                  
                      </div>
                
                  </div>
              
                </div>
                
            
              </div>
              
            <div class="navbar-header width-full border-side-none background-grey padding-5 margin-top-10 margin-bottom-10 ">
              <h4 class="margin-left-10">Your Current Verifications</h4>
            </div>
            <div class="padding-10">
              
                <div class="row padding-10">
                
                    <div class="col-md-12">
                    
                        <p>Your number is only shared with another Sublease U member once you have confirmed</p>
                
                    </div>
              
                </div>
            
              </div>
            
              <div class="navbar-header width-full border-side-none background-grey padding-5 margin-top-10 margin-bottom-10">
              <h4 class="margin-left-10">Add More Verifications</h4>
            </div>
            <div class="padding-10">
              <div class="row margin-left-10 padding-10">
                <div class="col-md-12">
                  <p class="font-medium">Email address</p>
                </div>
              
              <div class="margin-top-10 padding-10">
                <div class="col-md-12">
                  <p>Please Verify your email address by clicking the link in the message we just sent  to :
                   <br><span class="blue-mail">sarapaton4@gmail.com</span></p>
                </div>
              </div>
              <div class="margin-top-10 padding-10">
                <div class="col-md-12">
                  <p>Can't find our message? Check your spam folder or <span class="red-color">resend the confirmation mail.</span></p>
                </div>
              </div>
              <div class="margin-top-10 padding-10">
                <div class="col-md-12">
                  <label class="font-medium">Facebook</label>
                </div>
                <div class="col-md-7">
                  <p>Sign in with Facebook and discover your trusted connections to hosts and guests all over the world.</p>
                </div>
                <div class="col-md-5">
                  <button class="header-btn header-btn-transparent grey-color width-65 margin-left-10">
                    Connect
                  </button>
                </div>
              </div>
              <div class="margin-top-10 padding-10">
                <div class="col-md-12">
                   <label class="font-medium">Google</label>
                </div>
                <div class="col-md-7">
                  <p>Connect your Sublease U account to your Google account for simplicity and ease.</p>
                </div>
                <div class="col-md-5">
                    <button class="header-btn header-btn-transparent grey-color width-65 margin-left-10">
                      Connect
                    </button>
                </div>
              </div>
              <div class="margin-top-10 padding-10">
                <div class="col-md-12">
                  <label class="font-medium">LinkedIn</label>
                </div>
                  <div class="col-md-7">
                    <p>Create a link to your professional life by connecting your Sublease U and LinkedIn accounts.</p>
                  </div>
                  <div class="col-md-5">
                    <button class="header-btn header-btn-transparent grey-color width-65 margin-left-10">
                      Connect
                    </button>  
                  </div>
              </div>
            </div>
              <center>
                <button class="green-bg padding-10 margin-30 no-border width-20 white">
                  SAVE
                </button>
              </center>
            </div>
          </div>
        </div>