<div class="container">

	<div class="row">
	
		<div class="col-md-1"></div>
		
		<div class="col-md-10">
			
			<div class="border-grey white-bg" style="margin:10px 10%;padding:20px 40px">

				<div class="row">
					
					<div class="text-center" style="color:red">Our Co-Partners</div>

				</div>

				<div class="row padding-5"></div>

				<div class="row">
					

					<div class="col-md-1"></div>

					<div class="col-md-4">
						
						<div class="row text-center">
							
							<img src="images/original.jpg" alt="IMAGE1" height="200" width="200">

								<br>
								<small>Co-founder</small>
						
						</div>

						<div class="row">
						
											
						<p>	
						Joe Gebbia is the co-funder and cpo of sublease U, serving on the board of directors and executive staff. And enterpreneur from an early age.</p>

						</div>



					</div>

					<div class="col-md-1"></div>

					<div class="col-md-5">
						
						<div class="row text-center">
							
							<img src=" images/original (1).jpg"  style="transform:rotate(270deg)" alt="IMAGE2" height="200" width="200"/><br>

							<small>CTO & Co-Founder</small>
						
						</div>
						
						<div class="row">

							<p>Nathan is the co-founder and cto at the company sublease U. He oversees the technical strategy</p>
							
						</div>


					</div>



				</div>	


        	</div>


		</div>

		<div class="col-md-1"></div>

	</div>

	<div class="row">
		
		<div class="col-md-1"></div>

		<div class="col-md-10">
			
			<div class="border-grey white-bg" style="margin:10px 10%;padding:20px 40px">

				<div class="row">
					
					<div class="text-center" style="color:red">About us</div>

				</div>

				<div class="row">

					<div class="col-md-12">
						
						<p>
						Sublease U is an IT company creating Mobile Applications and Websites for all major mobile platforms and are constantly striving for innovation while maintaining high quality standards.</p>

					</div>

					<div class="col-md-12">
					
					
						<p>we also specialise in brand development and design services, elevating brand presence and customer reach via digital media channels using SEO, SMO, and SMM. The main emphasis is upon delivering quality at appropriate time.</p>
	


					</div>

					
					
				</div>

				<div class="row">
					
					<div class="col-md-12" style="height:310px;background:url('images/Inline.png');">
						


					</div>

				</div>



        	</div>


		</div>

		<div class="col-md-1"></div>

	</div>

</div>