<div>
      <img src="images/Backpackers-and-Travellers-Taking-Pictures-of-Mountains.jpg" class="width-full">
    </div>
    <div class="container section-block-top">
      
      <div class="padding-lr-60">
        
        <div class="white-bg padding-60 text-center">
          
          <div class="margin-bottom-30 row">

            <div class="col-md-12 col-xs-12 col-lg-12">

              <div class="input-group xxs-hidden-img">

                  <input type="text" style="height:50px;" class="form-control" placeholder="Search for...">
                  
                  <span class="input-group-btn">
                    
                    <button class="btn btn-secondary orange-bg" style="height:50px;color:white;">Invite Friends</button>

                  </span>
              
              </div>

              </div>

          </div>
          
          <div class="row padding-lr-60 pull-left margin-bottom-30">
            
            <h3>Import your contacts from: &nbsp <img src="icons/gmail.png" height="30" width="30"> <a ng-click="fun()"
              >Gmail</a> &nbsp <img src="icons/Yahoo.png" height="30" width="30"> Yahoo! Mail &nbsp <img src="icons/outlook_mail_logo.jpg" height="30" width="30"> Outlook Mail</h3>
          
          </div>

          <div class="row margin-bottom-30">
            
            <div class="col-md-12 col-xs-12 col-lg-12">
              
              <div class="input-group xxs-hidden-img">

                  <textarea type="text" class="width-full" style="height:90px">
                
                  </textarea>
                  
                  <span class="input-group-btn">
                    
                    <button class="btn btn-secondary" style="margin-right: 0%;margin-top:-6%;height:93px;color:white;" type="button">Copy</button>

                  </span>
              
              </div>
            
            </div>

          </div>

          <div class="margin-bottom-30 row">
            
            

            <div class="col-md-6 col-xs-6 col-sm-6 col-lg-6 pull-left">

               
               
                    <button class="white messenger-blue no-border padding-20">
                
                        Messenger
               
                    </button>
                    
                
               
               

            </div>

            

            <div class="col-md-6 col-xs-6 col-sm-6 col-lg-6 pull-right">
                
               
                
                    
                    <button  class="white facebook-blue no-border padding-20"> 
                    
                        Facebook
                  
                    </button>
                    
                

            </div>

           
          
          </div>
        
        </div>
      
      </div><!-- /.row -->

    </div><!-- /.container -->