<div class="container margin-bottom-120">
     

      <div class="padding-lr-60">
        
        
	        	
	        	<h3 class="orange">Terms of Service</h3>
	        
	        

	        <div class="margin-left-10">

	        	<p>

	        	IF YOU RESIDE IN THE UNITED STATES, PLEASE NOTE: SECTION 34 OF THESE TERMS OF SERVICE CONTAINS AN ARBITRATION CLAUSE AND CLASS ACTION WAIVER. IT AFFECTS HOW DISPUTES WITH Sublease U ARE RESOLVED. BY ACCEPTING THESE TERMS OF SERVICE, YOU AGREE TO BE BOUND BY THIS ARBITRATION PROVISION. PLEASE READ IT CAREFULLY.
	        		
	        	</p>

	        	<p>
	        		
	        		PLEASE READ THESE TERMS OF SERVICE CAREFULLY AS THEY CONTAIN IMPORTANT INFORMATION REGARDING YOUR LEGAL RIGHTS, REMEDIES AND OBLIGATIONS. THESE INCLUDE VARIOUS LIMITATIONS AND EXCLUSIONS, A CLAUSE THAT GOVERNS THE JURISDICTION AND VENUE OF DISPUTES, AND OBLIGATIONS TO COMPLY WITH APPLICABLE LAWS AND REGULATIONS.

	        	</p>
	        	
	        	<p>

	        	IN PARTICULAR, HOSTS SHOULD UNDERSTAND HOW THE LAWS WORK IN THEIR RESPECTIVE CITIES. SOME CITIES HAVE LAWS THAT RESTRICT THEIR ABILITY TO HOST PAYING GUESTS FOR SHORT PERIODS. THESE LAWS ARE OFTEN PART OF A CITY'S ZONING OR ADMINISTRATIVE CODES. IN MANY CITIES, HOSTS MUST REGISTER, GET A PERMIT, OR OBTAIN A LICENSE BEFORE LISTING A PROPERTY OR ACCEPTING GUESTS. CERTAIN TYPES OF SHORT-TERM BOOKINGS MAY BE PROHIBITED ALTOGETHER. LOCAL GOVERNMENTS VARY GREATLY IN HOW THEY ENFORCE THESE LAWS. PENALTIES MAY INCLUDE FINES OR OTHER ENFORCEMENT. HOSTS SHOULD REVIEW LOCAL LAWS BEFORE LISTING A SPACE ON Sublease U.
	        		

	        	</p>

	        	<p>
	        		
	        		Last Updated: March 29,2016

	        	</p>

	        	<p>
	        		
	        		<b class="black-text">Key Terms</b>

	        	</p>

	        	<p>
	        		
	        		Sublease U provides an online platform that connects hosts who have accommodations to rent with guests seeking to rent such accommodations(collectively, the "Services"), which Services are accessible at <span class="orange">www.Sublease U.com</span> and any other websites through which Sublease U makes the Services available (collectively, the "Site") and as applications for mobile, tablet and other smart devices and application program interfaces (collectively, the "Application").

					If you are using the Site, Application or Services and you reside in the USA, these Terms of Service are between you and Sublease U, Inc. If you reside outside of the USA, these Terms of Service are between you and Sublease U Ireland. If you initially reside in the USA and contract with Sublease U, Inc., but subsequently change your residence to outside of the USA, you will contract with Sublease U Ireland from the date on which your place of residence changes, and vice versa. (Sublease U, Inc. and Sublease U Ireland are each hereinafter referred to as "Sublease U", "we", "us", or "our"). Sublease U Payments, Inc. and Sublease U Payments UK Ltd. (individually and collectively, as appropriate, "Sublease U Payments") handle any and all payments and payouts conducted through or in connection with the Site, Application or Services ("Payment Services"). Payment Services provided by Sublease U Payments are subject to the <span class="orange"> Payments Terms of Service </span> ("Payments Terms").

	        	</p>

	        	<p>
	        		
	        		<b class="black-text">
	        			
	        			Terms of Service

	        		</b>


	        	</p>

	        	<p>
	        		
	        		By using the Site, Application or Services, you agree to comply with and be legally bound by the terms and conditions of these Terms of Service ("Terms"), whether or not you become a registered user of the Services. These Terms govern your access to and use of the Site, Application and Services and all Collective Content (defined below), and your participation in the Referral Program (defined below), and constitute a binding legal agreement between you and Sublease U. Please also read carefully our Privacy Policy at <span class="orange"> www.Sublease U.com/terms/privacy_policy</span>.

					In addition, certain areas of the Site and Application (and your access to or use of certain aspects of the Services or Collective Content) may have different terms and conditions, standards, guidelines, or policies posted or may require you to agree with and accept additional terms and conditions. If there is a conflict between these Terms and terms and conditions posted for a specific area of the Site, Application, Services, or Collective Content, the latter terms and conditions will take precedence with respect to your use of or access to that area of the Site, Application, Services, or Collective Content.

					If you do not agree to these Terms, you have no right to obtain information from or otherwise continue using the Site, Application or Services. Failure to use the Site, Application or Services in accordance with these Terms may subject you to civil and criminal penalties.

					THE SITE, APPLICATION AND SERVICES COMPRISE AN ONLINE PLATFORM THROUGH WHICH HOSTS MAY CREATE LISTINGS FOR ACCOMMODATIONS AND GUESTS MAY LEARN ABOUT AND BOOK ACCOMMODATIONS DIRECTLY WITH THE HOSTS. YOU UNDERSTAND AND AGREE THAT Sublease U IS NOT A PARTY TO ANY AGREEMENTS ENTERED INTO BETWEEN HOSTS AND GUESTS, NOR IS Sublease U A REAL ESTATE BROKER, AGENT OR INSURER. Sublease U HAS NO CONTROL OVER THE CONDUCT OF HOSTS, GUESTS AND OTHER USERS OF THE SITE, APPLICATION AND SERVICES OR ANY ACCOMMODATIONS, AND DISCLAIMS ALL LIABILITY IN THIS REGARD TO THE MAXIMUM EXTENT PERMITTED BY LAW.

					IF YOU CHOOSE TO CREATE A LISTING ON Sublease U, YOU UNDERSTAND AND AGREE THAT YOUR RELATIONSHIP WITH Sublease U IS LIMITED TO BEING A MEMBER AND AN INDEPENDENT, THIRD-PARTY CONTRACTOR, AND NOT AN EMPLOYEE, AGENT, JOINT VENTURER OR PARTNER OF Sublease U FOR ANY REASON, AND YOU ACT EXCLUSIVELY ON YOUR OWN BEHALF AND FOR YOUR OWN BENEFIT, AND NOT ON BEHALF OF OR FOR THE BENEFIT OF Sublease U. Sublease U DOES NOT CONTROL, AND HAS NO RIGHT TO CONTROL, YOUR LISTING, YOUR OFFLINE ACTIVITIES ASSOCIATED WITH YOUR LISTING, OR ANY OTHER MATTERS RELATED TO ANY LISTING, THAT YOU PROVIDE. AS A MEMBER YOU AGREE NOT TO DO ANYTHING TO CREATE A FALSE IMPRESSION THAT YOU ARE ENDORSED BY, PARTNERING WITH, OR ACTING ON BEHALF OF OR FORTHE BENEFIT OF Sublease U, INCLUDING BY INAPPROPRIATELY USING ANY Sublease U <span class="orange">INTELLECTUAL PROPERTY</span>.

					YOU ACKNOWLEDGE AND AGREE THAT, BY ACCESSING OR USING THE SITE, APPLICATION OR SERVICES OR BY DOWNLOADING OR POSTING ANY CONTENT FROM OR ON THE SITE, VIA THE APPLICATION OR THROUGH THE SERVICES, YOU ARE INDICATING THAT YOU HAVE READ, AND THAT YOU UNDERSTAND AND AGREE TO BE BOUND BY THESE TERMS AND RECEIVE OUR SERVICES (INCLUDING, WHERE APPLICABLE, PROGRAMS SUCH AS THE <span class="orange">HOST PROTECTION INSURANCE PROGRAM</span>, WHETHER OR NOT YOU HAVE REGISTERED WITH THE SITE AND APPLICATION. IF YOU DO NOT AGREE TO THESE TERMS, THEN YOU HAVE NO RIGHT TO ACCESS OR USE THE SITE, APPLICATION, SERVICES, OR COLLECTIVE CONTENT. If you accept or agree to these Terms on behalf of a company or other legal entity, you represent and warrant that you have the authority to bind that company or other legal entity to these Terms and, in such event, "you" and "your" will refer and apply to that company or other legal entity.


	        	</p>
	        	<p>
	        		
	        		<b class="black-text">Modification</b>

	        	</p>
	        	<p>
	        		
	        		Sublease U reserves the right, at its sole discretion, to modify the Site, Application or Services or to modify these Terms, including the Service Fees, at any time and without prior notice. If we modify these Terms, we will either post the modification on the Site or via the Application or otherwise provide you with notice of the modification. We will also update the "Last Updated" date at the top of these Terms. By continuing to access or use the Site, Application or Services after we have posted a modification on the Site or via the Application or have provided you with notice of a modification, you are indicating that you agree to be bound by the modified Terms. If the modified Terms are not acceptable to you, your only recourse is to cease using the Site, Application and Services.

	        	</p>

	        	<p>
	        		
	        		<b class="black-text">
	        			
	        			Eligibility

	        		</b>


	        	</p>

	        	<p>
	        		

	        		The Site, Application and Services are intended solely for persons who are 18 or older. Any access to or use of the Site, Application or Services by anyone under 18 is expressly prohibited. By accessing or using the Site, Application or Services you represent and warrant that you are 18 or older.

					For users in the United States, Sublease U may, to the extent permitted by applicable laws and if we have sufficient information to identify a user, obtain reports from public records of criminal convictions or sex offender registrations of the user. For users outside the United States, we may, to the extent permitted by applicable laws and if we have sufficient information to identify a user, obtain the local version of background or registered sex offender checks in our sole discretion. You agree and authorize us to use your personal information, such as your full name and date of birth, to obtain such reports, including from Sublease U's vendors.


	        	</p>

	        	<p>
	        		<b class="black-text">
	        			
	        			How the Site, Application and Services Work

	        		</b>
	        	</p>

	        	<p>
	        		
	        		The Site, Application and Services can be used to facilitate the listing and booking of Accommodations. Such Accommodations are included in Listings on the Site, Application and Services by Hosts. You may view Listings as an unregistered visitor to the Site, Application and Services; however, if you wish to book an Accommodation or create a Listing, you must first register to create an Sublease U Account (defined below).

					As stated above, Sublease U makes available an online platform or marketplace with related technology for Guests and Hosts to meet online and arrange for bookings of Accommodations directly with each other. Sublease U is not an owner or operator of properties, including, but not limited to, hotel rooms, motel rooms, other lodgings or Accommodations, nor is it a provider of properties, including, but not limited to, hotel rooms, motel rooms, other lodgings or Accommodations and Sublease U does not own, sell, resell, furnish, provide, rent, re-rent, manage and/or control properties, including, but not limited to, hotel rooms, motel rooms, other lodgings or Accommodations or transportation or travel services. Unless explicitly specified otherwise in the Sublease U platform, Sublease U's responsibilities are limited to facilitating the availability of the Site, Application and Services.

					PLEASE NOTE THAT, AS STATED ABOVE, THE SITE, APPLICATION AND SERVICES ARE INTENDED TO BE USED TO FACILITATE HOSTS AND GUESTS CONNECTING AND BOOKING ACCOMMODATIONS DIRECTLY WITH EACH OTHER. Sublease U CANNOT AND DOES NOT CONTROL THE CONTENT CONTAINED IN ANY LISTINGS AND THE CONDITION, LEGALITY OR SUITABILITY OF ANY ACCOMMODATIONS. Sublease U IS NOT RESPONSIBLE FOR AND DISCLAIMS ANY AND ALL LIABILITY RELATED TO ANY AND ALL LISTINGS AND ACCOMMODATIONS. ACCORDINGLY, ANY BOOKINGS WILL BE MADE OR ACCEPTED AT THE MEMBER'S OWN RISK.


	        	</p>


	        </div>

	   </div>
</div>