<div class="col-sm-9 padding-20 margin-top-30">
          <div class="border-grey white-bg margin-bottom-20">
            <div class="navbar-header width-full border-side-none background-grey padding-5">
              <ul class="nav navbar-nav no-navbar-nav">
                <li>
                 <a href="#" ui-sref='.completed'>Completed Transactions</a>
                </li>
                <li>
                  <a href="#" ui-sref='.future'>Future Transactions</a>
                </li>
                <li>
                  <a href="#" ui-sref='.earnings'>Gross Earnings</a>
                </li>
              </ul>
            </div>
            <div ui-view></div>
          </div>
</div>