<div class="container" ng-controller="P_request">
	<div class="row">
		<select class="pull-right margin-bottom-20 padding-10 background-grey margin-top-20 width-half">
			<option selected>BK-CHARM~Clean Modern</option>
			<option>A</option>
			<option>B</option>
			<option>C</option>
		</select>
	</div>
	
	<div class="row white-bg" style="padding-bottom:15px">

		<div class="col-md-8 col-sm-12 col-xs-12 col-lg-8">
			
            <center>
                
                <div class="col-md-4 col-sm-4 col-xs-12 xxs-hidden-img">
			
                    <div class="dashboard-img-block">
				 
                        <img src="images/4.JPG">
			
                    </div>			
		
                </div>
				
                <h4 class="orange margin-top-30">You're almost done with your property listing.</h4>
				<div class="padding-10" style="width:300px; height: 50px; ">
					<div class="container-fluid">
						<div class="row border-grey">
							<div class="col-md-8">
								<div class="orange-bg"></div>
							</div>
							<div class="col-md-8">
								<div class="white-bg"></div>
							</div>
						</div>
					</div>
				</div>
				
				<h4 class="black-text margin-bottom-20">BK CHARM~Clean Modern</h4>
				
                <div class="col-md-5"></div>
                
                <div class="col-md-7">
                
                    <button class="white-bg padding-10 margin-right-10 btn btn-default">
					
                        Finish the listing
				
                    </button>
				
				
                    <button class="white-bg padding-10 btn btn-default">
					
                        Preview
				
                    </button>
                
                </div>
				

			</center>
            
		</div>
        
		
        
	</div>
	
	<div class="row">
		
		<div class="">
		
				<h4 style="" class="margin-top-50 margin-bottom-30">Pending</h4>

		</div>
		
		<h5>Requests (1)</h5>
		<span class="margin-bottom-0">You have one pending request</span>
		<hr style="border:2px solid; margin:0;">
		
		<div class="row margin-top-30 margin-bottom-10" ng-hide="ctrl">	
			
			<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 xxs-hidden-img">
				<img src="images/original.jpg">
			</div>

			<div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
				<div>
				<b class="black-text">Jennifer Grassick</b>
				<span >13/06/2016</span>
				<span class="pull-right">27 Aug - 29 Aug  |  1 Guest  |  $ 25</span>
				</div>
				<p class="black-text">Hello vidhi... I’d like to stay at your place.. It seems nice.. please send me some more details.</p>
			</div>

		</div>

		<div ng-hide="ctrl">
		<center>
					
					<button ng-hide="hidder"  class="padding-10 orange-bg white no-border margin-left-10 margin-right-10 width-15">
						Approve
					</button>
					<button ng-hide="hidder"  ng-click="RemoveEle()" class="padding-10 orange-bg white no-border margin-left-10 margin-right-10 width-15">
						Decline
					</button>
					
					<button ng-hide="hidder"  class="padding-10 orange-bg white no-border margin-left-10 margin-right-10 width-15">
					Dismiss
					</button>
			
			

				<button  ng-hide="hidder"  ng-click="request()" class="padding-10 orange-bg white no-border margin-left-10 margin-right-10 width-15">
				Respond
				</button>
				
				<div class="col-md-1">
					
				</div>
				<div  ng-show="hidder">
				
					<div class="input-group" >
    					
    					<textarea class="form-control custom-control" rows="3" style="resize:none"></textarea>
					    <span class="input-group-addon btn btn-warning" ng-click="request()">Cancel</span>
					    <span class="input-group-addon btn btn-success" ng-click="">Submit</span>
					
					</div>

				</div>
				
			<br><br>
			<p class="orange margin-bottom-10">See full conversation</p>
		</center>
		</div>
		<h5>Alerts (2)</h5>
		<span>You have two pending requests</span>
		<hr style="border:2px solid; margin:0;">
		<p class="black-text margin-top-30">Please confirm your email address by clicking on the link we just emailed you. If you cannot find the email, you can <span class="orange">request a new confirmation email</span> or <span class="orange">change your email address.</span></p>
		<p class="black-text margin-bottom-30">Connect with Facebook to complete your profile and make it easy to log in.</p>
		
		
		<h4 class="margin-bottom-30">Reservation</h4>
		<span>You have no upcoming reservation at the moment.</span>
		<hr style="border:2px solid; margin:0;">
	
	</div>

</div>