<div class="padding-lr-60">
    <h3 class="orange">How do references work?</h3>
	<div class="margin-left-10">
		<p>
			Hosts and guests can receive public references from friends, family members, and colleagues to help build their profile. References help people throughout the Sublease U community get to know you, and feel more comfortable booking a reservation with you.<br><br>

			You need an Sublease U account to request and write references, and references will only display on the recipient’s profile if the author of the reference has a profile photo.<br><br>

			To request a reference:<br><br>

			1. Go to <span class="orange">Profile</span><br>
			2. Select References<br>
			3. Use the Request References section to send emails to the people you want to get a reference from<br><br>

			In the References About You section, you'll see references that you’ve received. You have to approve each reference before it will appear on your profile.<br><br>

			In the References By You section, you’ll see reference requests you’ve received. The only way you can write a reference for someone else in the Sublease U community is in response to a reference request—you can’t proactively leave a reference for someone.<br><br>

			References are different from <span class="orange">reviews</span>, which hosts and guests write after a completed trip.
		</p><br><br>
	</div>
</div>