<div class="col-sm-9 padding-20 margin-top-30">
          <div class="border-grey white-bg margin-bottom-40">
            <div class="navbar-header width-full border-side-none background-grey padding-5">
              <h4>Social Connections</h4>
            </div>
            <div class="padding-20 padding-bottom-0">
              <div class="row">
                <div class="col-md-12">
                  <p >Social Connections highlights your Sublease U activity, which may include your username, Facebook profile photo, and recent locations you visited to your Facebook friends who are also on Sublease U.<br><br>
                If you turn off this feature, you will still be connected to Facebook, but your Sublease U activity will not be shared to other Facebook friends on Sublease U. Your public Sublease U activity (such as wish lists and public reviews) on the platform will still be shown to other Sublease U users.<br><br>
                If you want to disconnect your Facebook account from Sublease U, go to <a href="" class="orange"> Trust and Verifications </a>to learn more.<br></p>
                </div>
              </div>
              <div class="row margin-bottom-5">
                <div class="col-md-1">
                  <input type="checkbox" width="20px" checked>
                </div>
                <div class="col-md-11 margin-left--40">
                  <p>Share my activity with my Facebook friends that are on Sublease U (recommended)</p>
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-12">
                <button class="orange-bg white border-radius-5 width-30 margin-right-30 margin-bottom-20 padding-10 pull-right">
                  Save Social Connections
                </button>
              </div>
            </div>
          </div>
          <div class="border-grey white-bg margin-bottom-20">
            <div class="navbar-header width-full border-side-none background-grey padding-5">
              <h4>Your Listings and Profile in Search Engines</h4>
            </div>
            <div class="padding-20 padding-bottom-0">
              <div class="row">
                <div class="col-md-12">
                  <p >Search engines attract lots of traffic to your listing and generate interest and bookings for our hosts.<br><br>Perhaps you want to be listed on Sublease U but have concerns about your listings and profile being advertised more widely.<br> You can turn off search indexing, preventing search engines such as Google and Bing from displaying your pages in their search results.<br><br>
                  <b>Note:</b> This may reduce your bookings and will take a few days to take effect.<br></p>
                </div>
              </div>
              <div class="row margin-bottom-5">
                <div class="col-md-1">
                  <input type="checkbox" width="20px" checked>
                </div>
                <div class="col-md-11 margin-left--40">
                  <p>Include my profile and listing in search engines like Google and Bing (recommended)</p>
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-12">
                <button class="orange-bg white border-radius-5 width-30 margin-right-30 margin-bottom-20 padding-10 pull-right">
                  Save Findability
                </button>
              </div>
            </div>
          </div>
</div>
