<div class="padding-lr-60">
    <h3 class="orange">How do I edit my Profile settings?</h3>
	<p class="margin-left-10">You can edit information that appears on your Sublease U profile, such as your main profile photo or email address. If you’re host looking to make changes to your listing profile, learn how to <span class="orange">edit your listing.</span><br><br>

	To edit your profile information:<br><br>

	1. Go to <span class="orange">Edit profile</span><br>
	2. Use the option from above different sections.<br><br>

	The different section of your profile includes:<br><br>

	<b class="black-text padding-bottom-20">Edit profile:</b> Update the basics about you are and where you live, including phone number and email address you’ll share when you have a confirmed resevation. You can upload photo from your computer. Click Save at the bottom of the page to save your changes.<br>
	<b class="black-text">Trust and Verification:</b> Add verifications to complete your <span class="orange">Verified ID</span>, which is required by some hosts.<br>
	<b class="black-text">Reviews:</b> After you complete a reservation, write and read reviews that have been left for you.<br>
	<b class="black-text">References:</b> To build trust in the community, you can request friends, family members, and colleagues to <span class="orange">post a references</span> on your profile explaining why you’re a great host or guest.</p><br>

	<h3 class="orange">Why do I need to have an profile photo?</h3>
	<p class="margin-left-10">Your profile is a great way for others to learn more about you before they book your space. When your profile is reboust, it helps others feel that you’re reliable, authentic and committed to the spirit of Sublease U. Whether you’re host or guest, the more complete your profile is, the more reservations you are likely to book, too.<br><br>

	We require all hosts to have a profile photo, and we require all guests to upload a photo before making their first reservations.<br><br>

	A great profile includes:<br>
	• At least one profile photo.<br>
	• Multiple <span class="orange">Verifications</span> and a Verified ID.<br>
	• A description of atleast 50 words highlighting why you decided to join Sublease U community, your interests and hobbies, or anything else you think someone would want to know.<br><br>

	To view someone’s profile just click on the profile photo.</p>
</div>