<div id="mySignUpModal" class="modal">

	  <!-- Modal content -->
	  <div class="modal-content">
	    <span class="close close1">x</span>
	    <div class="padding-30">
			<button class="header-btn margin-top-20 btn-primary width-full">
				<i class="fa fa-facebook pull-left padding-5" aria-hidden="true"></i>
			    	Sign Up with Facebook
			</button>
			<button class="header-btn margin-top-20 header-btn-transparent grey-color border-grey width-full">
				<img class="google-icon-image pull-left" src="icons/G_is_For_Google_New_Logo_Thumb.png">
			    	Sign up with Google
			</button>
			<h4 class="hr-text"><span> Or </span></h4>
				<input type="text" name="username" placeholder="User Name" class="width-full padding-10 margin-top-10 input-border">
			    <input type="text" name="email" placeholder="Email Address" class="width-full padding-10 margin-top-10 input-border">
			    <input type="text" name="password" placeholder="Password" class="width-full padding-10 margin-top-10 input-border"> 
	    	<button class="header-btn margin-top-20 btn-danger width-full">
	    		Sign Up
	    	</button>
	    	<hr>
	    	<div class="row">
	    		<div class="col-md-7 margin-top-10">
	    			<h5><span class="text-muted padding-5"> Already have an account?</span></h5>
	    		</div>
	    		<div class="col-md-5">
	    			<button class="header-btn border-red header-btn-transparent pull-right width-full margin-bottom-10 red-color">
	    				Log In
	    			</button>
	    		</div>
	    	</div>
	    </div>
	  </div>
	</div>