<!DOCTYPE html>
<html >
<head>
	
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Add Property | Sublease</title>


    <link href="//cdnjs.cloudflare.com/ajax/libs/octicons/3.5.0/octicons.min.css" rel="stylesheet"/>
    
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" />
    
    <link href="dist/css/bootstrap-colorpicker.min.css" rel="stylesheet">
    
    <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css" />
    
    <link rel="stylesheet" type="text/css" href="dist/css/add.css" />
</head>

<body>

    <div id="wrapper">

       <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="">Add Property</a>
            </div>
            <div class="overlay">
            <div class="warpper"></div>

            <div class="collapse navbar-collapse navbar-ex1-collapse" >
                
                <!--Side Bar Navigation-->
                <ul id="active" class="nav navbar-nav side-nav" style="border-right:1px solid black;border-top:1px solid black;">
                    <li class="selected"><a href="dash.html"><i class="fa fa-bullseye"></i> Home</a></li>
                    <li><a href="showproperty.html"><i class="fa fa-tasks"></i> Show Property</a></li>
                    <li><a href=""><i class="fa fa-plus"></i>  Add Property</a></li>
                    
<!--
                    <li>
                            <a  href="#" data-toggle="collapse"  data-target="#clist"><i class="fa fa-user">
                            </i> Users <i class="fa fa-fw fa-caret-down"></i></a>
                            <ul id="clist" class="collapse">
                                <li>
                                    <a href="addUser.html"><i class="fa fa-user"> Add</i></a>
                                </li>
                                <li>
                                    <a href="removeUser.html"><i class="fa fa-user"> Remove</i></a>
                                </li>
                            </ul>
                        </li>
-->
                    <li><a href="showusers.html"><i class="fa fa-user"></i> Show Users</a></li>
<!--                    <li><a href="#"><i class="fa fa-gear"></i> Settings</a></li>-->
                    
                </ul>

                <!--End Of The Side Bar Navigation-->

                <ul class="nav navbar-nav navbar-right navbar-user">
                    
                    <li class="divider-vertical"></li>
                    <li>
                    	
                    		<a href="index.php"> <i class="fa fa-sign-out"> Sign Out</i> </a>
                    </li>
                </ul>

            </div>
            </div>
        </nav>

    <div id="page-wrapper" ng-app="subAdmin" ng-controller="myCtrl">

        <div id="row">

            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-0"></div>

            <div class="col-md-5">
                
             <form class="padding-left-195" name="fstep1" id="fstep1">
        
		<label class="black-text margin-bottom-20">In which location are you subleasing?</label><br>
		
            <div>
            
                <input type="text" class="form-control property-options margin-bottom-20" id="my_address" name="my_address" ng-model="user.my_address" required/>    
        
            </div>
            
		<label class="black-text margin-bottom-20">Guest Preference?</label><br>
		<select class="form-control property-options" name="guest_preference" ng-model='user.guest_preference' ng-options='x for x in preference' required>
			<option ng-if="!selectPropertyPreference" value="">Looking for</option>
		</select>
		<label class="black-text margin-bottom-20">How many guests can your place accomodate?</label><br>
		
            <select class="form-control property-options" name="guest" ng-model='user.guest' ng-options='x for x in number' required>
            
			
                <option ng-if="!selectPropertyNumber" value="">Number of guests</option>
		
            </select>
		
            <label class="black-text margin-bottom-20">What kind of the property you have?</label><br>
		
		
            <select class="form-control property-options" name="property_type" ng-model='user.property_type' ng-options='x for x in type' required>
			
                <option ng-if="!selectPropertyType" value="">Property Type</option>
		
            </select>
		
		<div ng-switch="selectPropertyType">
		     
		     <div ng-switch-when="House">
		        <input class="form-control property-options " name="street" ng-model='user.street' placeholder="Street">
				<input class="form-control property-options width-30 property-options-extend" name="city" ng-model='user.City' placeholder="City">
				<input class="form-control property-options width-30 property-options-extend" name="state" ng-model='user.State' placeholder="State">
				<input class="form-control property-options width-30" name="zip" ng-model='user.Zip' placeholder="Zip Code">
		     </div>

		     <div ng-switch-when="Townhome">
		        <select class="form-control property-options" ng-model='selectedComplex' ng-options='x for x in complex'>
					<option ng-if="!model" value="">Complex Name</option>
				</select>
				<div ng-switch='selectedComplex'>
					<div ng-switch-when='Add a Complex'>
						<input class="form-control property-options" name="complexname" ng-model='user.complexName' placeholder="Complex Name">
						<input class="form-control property-options" name="complexaddress" ng-model='user.complexAddress' placeholder="Complex Address">
						<input class="form-control property-options width-30 property-options-extend" name="buildingnum" ng-model='user.buildingNumber' placeholder="Building Number">
						<input class="form-control property-options width-30 property-options-extend" name="unitnum" ng-model='user.uunitNumber' placeholder="Unit Number">
						<div class="margin-left-20-p">
							<button class="width-30 no-border padding-20 orange-bg white">
								SUBMIT
							</button>
						</div>
					</div>
				</div>
		     </div>
		     
		     <div ng-switch-when="Apartment" id="complex" ng-controller="complexctrl">
		        <select class="form-control property-options" ng-model='selectedApartmentComplex' ng-options='x for x in complex'>
					<option ng-if="!model" value="">Complex Name</option>
				</select>
				<div ng-switch='selectedApartmentComplex'>
					<div ng-switch-when='Add a Complex'>
						<input class="form-control property-options" name="apartmentname" ng-model='user.apartmentName' placeholder="Complex Name">
						<input class="form-control property-options" name="apartmentaddress" ng-model='user.apartmentAddress' placeholder="Complex Address">
						<input class="form-control property-options width-30 property-options-extend" name="buildingnum" ng-model='user.apartmentBuildingNumber' placeholder="Building Number">
						<input class="form-control property-options width-30 property-options-extend" name="unitnum" ng-model='user.apartmentUnitNumber' placeholder="Unit Number">
						<div class="margin-left-20-p">
							<button class="width-30 no-border padding-20 orange-bg white" ng-click="hideme()">
								SUBMIT
							</button>
						</div>
					</div>
				</div>
		     </div>
		     <div ng-switch-when="Duplex">
		        <div id="duplex" ng-controller="complexctrl">
				        <input class="form-control property-options " name="street" ng-model='user.duplexStreet' placeholder="Street">
						<input class="form-control property-options width-30 property-options-extend" name="city" ng-model='user.duplexCity' placeholder="City">
						<input class="form-control property-options width-30 property-options-extend" name="state" ng-model='user.duplexState' placeholder="State">
						<input class="form-control property-options width-30" name="zip" ng-model='user.duplexZip' placeholder="Zip Code">
						<div class="margin-left-20-p">
							<button class="width-30 no-border padding-20 orange-bg white" ng-click="hideme()">
										SUBMIT
							</button>
						</div>

				</div>
		     </div>
		</div>
		<div class="margin-top-20">
            
			<div class="inline-block">
				
                <label class="black-text margin-bottom-20">How many beds?</label><br>
                
                <div class="center">
                    
                    
                    <div class="input-group">
                    
                        <span class="input-group-btn">
                    
                            <button type="button" class="btn btn-default btn-number" ng-if="user.bedCount>0" ng-click="user.bedCount = user.bedCount - 1" data-type="minus" data-field="quant[1]">
                    
                                <span class="glyphicon glyphicon-minus"></span>
                    
                            </button>
                    
                        </span>
                        
                        <span>
                            <input type="number" name="quant[1]" class="form-control input-number" ng-model="user.bedCount" ng-init="user.bedCount=0" ng-minlength="0" placeholder="{{user.bedCount}}" value="{{user.bedCount}}" readonly required value="1">
                        </span>
                        
                        <span class="input-group-btn">
                    
                            <button type="button" class="btn btn-default btn-number" ng-click="user.bedCount = user.bedCount + 1" data-type="plus" data-field="quant[1]">
                    
                                <span class="glyphicon glyphicon-plus"></span>
                    
                            </button>
                    
                        </span>
                    
                    </div>
                    
                    
                </div>
                
            </div>
			
            <div class="width-31 inline-block">
				
                <label class="black-text margin-bottom-20">How many bathrooms?</label><br>
                
                <div class="center">
                    
                    
                    <div class="input-group">
                    
                        <span class="input-group-btn">
                    
                            <button type="button" class="btn btn-default btn-number" ng-if="user.bathroomCount>0" ng-click="user.bathroomCount = user.bathroomCount - 1" data-type="minus" data-field="quant[1]">
                    
                                <span class="glyphicon glyphicon-minus"></span>
                    
                            </button>
                    
                        </span>
                        
                        <span>
                            
                            <input type="number" name="quant[1]" class="form-control input-number" ng-model="user.bathroomCount" ng-init="user.bathroomCount=0" ng-minlength="0" placeholder="{{user.bathroomCount}}" value="{{user.bathroomCount}}" readonly required>
                        

                        </span>
                        
                        <span class="input-group-btn">
                    
                            <button type="button" class="btn btn-default btn-number" ng-click="user.bathroomCount = user.bathroomCount + 1" data-type="plus" data-field="quant[1]">
                    
                                <span class="glyphicon glyphicon-plus"></span>
                    
                            </button>
                    
                        </span>
                    
                    </div>
                    
                    
                </div>
                 
            </div>
			
            </div>

            </div>

              <div class="col-md-5">
                

            <div class="width-40 inline-block"></div>
            
            <div class="width-40 inline-block">
                <div class="bathroom-radio-input">
                    <input id="sharedBathroom" type="radio" name="bathtype" ng-model="user.bathtype" value="shared" required/> Shared
                </div>
                <div class="bathroom-radio-input">
                    <input id="privateBathroom" type="radio" name="bathtype" ng-model="user.bathtype" value="private" /> Private
                </div>
                
                <br/>
            </div>


             <label class="black-text margin-bottom-20">What are the amenities you want to provide?</label><br>
        
            <select class="form-control property-options" name="amenities" ng-model='user.selectPropertyAmenities' ng-options='x for x in amenities' required>
            
                <option ng-if="!selectPropertyAmenities" value="">Amenities</option>
        
            </select>
            
        
            <label class="black-text margin-bottom-20">What are the safety features you want to provide?</label><br>
        
            <select class="form-control property-options" name="safety_features" ng-model='user.selectPropertySafetyFeatures' ng-options='x for x in safetyFeatures' ng-multiple='true'>
            
                <option ng-if="!selectPropertySafetyFeatures" value="" selected="true" >Safety Features</option>
        
            </select>
    
        
        </div>

        </div>

        <div class="row">

                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-0"></div>

                
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 text-center">
                    

                    <button class="no-border orange-bg white padding-20 margin-top-30" style="width:65%"  ng-click="fstep1.$valid && addnow() " >
                        
                            Submit
                       
                        </button>



                </div>

                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-0"></div>
            
        </div>

        </form>
            
        </div>
        
    </div> 

</div>


<script src="dist/js/angular.js"></script>

    <script src="dist/js/jquery-2.2.3.min.js"></script>
    
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    
    <script type="text/javascript" src="dist/js/Script.js"></script>
    
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyCbveSbcPvASH02FnUxKxqF_72TG7uIKa4"></script>


</body>

</html>