<html>
<head>
	
	<title>Sublease Login</title>

	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Latest compiled and minified CSS -->

	<link rel="stylesheet" type="text/css" href="dist/css/main.css">


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
	<script type="text/javascript" src="dist/js/angular.js"></script>
    
    <script type="text/javascript" src="dist/js/Script.js"></script>

</head>

<body>
<!--
    you can substitue the span of reauth email for a input with the email and
    include the remember me checkbox
    -->
    <div class="container">

        <div class="card card-container" ng-app="subAdmin">

            <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" />
            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>-->
            
            
            <form class="form-signin" name="myForm" action="/users/adminlogins" method="post">

	            <!--User Field-->
                <span><label for="usr">Email:</label></span>
      			<span><input type="email" class="form-control col-lg-8 col-md-8 col-sm-8 col-xs-8" name="email" ng-model="user.email" ng-minlength="3" placeholder="Enter The Username"  required autofocus></span>
      			
      			<span class="error col-lg-4 col-md-4 col-sm-4 col-xs-4" ng-show="myForm.user.$touched && myForm.user.$invalid && myForm.user.$error.required" style="color:red;">Required!</span>

				<br>

      			<!--Pwd Field-->
      			<span><label for="pwd">Password:</label></span>

                <input type="password" name="password" ng-model="user.password" ng-minlength="3" class="form-control col-lg-8 col-md-8 col-sm-8 col-xs-8" placeholder="Password" required>
                
                <span class="error col-lg-4 col-md-4 col-sm-4 col-xs-4" ng-show="myForm.password.$invalid && myForm.password.$error.required &&myForm.password.$touched" style="color:red;">Required!</span>
                
                <button class="btn btn-lg btn-primary btn-block btn-signin" ng-disabled="myForm.$invalid" type="submit"> Sign in</button>
            
            </form><!-- /form -->
            <a href="#" class="forgot-password">
                Forgot the password?
            </a>
        </div><!-- /card-container -->
    
    </div><!-- /container -->

</body>
</html>