<!DOCTYPE html>
<html >
<head>
	
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Add Property | Sublease</title>


    <link href="//cdnjs.cloudflare.com/ajax/libs/octicons/3.5.0/octicons.min.css" rel="stylesheet"/>
    
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" />
    
    <link href="dist/css/bootstrap-colorpicker.min.css" rel="stylesheet">
    
    <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css" />
    
    <link rel="stylesheet" type="text/css" href="dist/css/add.css" />
    
    
    <script src="dist/js/angular.js"></script>

    <script src="dist/js/jquery-2.2.3.min.js"></script>
    
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    
    <script type="text/javascript" src="dist/js/Script.js"></script>

</head>

<body >

    <div id="wrapper">

       <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="dash.php">Add_Propperty</a>
            </div>
            <div class="overlay">
            <div class="warpper"></div>

            <div class="collapse navbar-collapse navbar-ex1-collapse" >
                
                <!--Side Bar Navigation-->
                <ul id="active" class="nav navbar-nav side-nav" style="border-right:1px solid black;border-top:1px solid black;">
                    <li class="selected"><a href="dash.html"><i class="fa fa-bullseye"></i> Home</a></li>
                    <li><a href="showproperty.html"><i class="fa fa-tasks"></i> Show Property</a></li>
                    <li><a href="addproperty.html"><i class="fa fa-plus"></i>  Add Property</a></li>
                    
<!--
                    <li>
                            <a  href="#" data-toggle="collapse"  data-target="#clist"><i class="fa fa-user">
                            </i> Users <i class="fa fa-fw fa-caret-down"></i></a>
                            <ul id="clist" class="collapse">
                                <li>
                                    <a href="addUser.html"><i class="fa fa-user"> Add</i></a>
                                </li>
                                <li>
                                    a href="removeUser.html"><i class="fa fa-user"> Remove</i></a>
                                </li>
                            </ul>
                        </li>
-->
                    <li><a href="dealer.php"><i class="fa fa-user"></i> Show Users</a></li>
<!--                    <li><a href="#"><i class="fa fa-gear"></i> Settings</a></li>-->
                    
                </ul>

                <!--End Of The Side Bar Navigation-->

                <ul class="nav navbar-nav navbar-right navbar-user">
                    <li class="divider-vertical"></li>
                    <li>
                        <form class="navbar-search">
                            <input type="text" placeholder="Search" class="form-control">
                        </form>
                    </li>
                    <li class="divider-vertical"></li>
                    <li>
                    	
                    		<a href="index.php"> <i class="fa fa-sign-out"> Sign Out</i> </a>
                    </li>
                </ul>
            </div>
            </div>
        </nav>

    <div id="page-wrapper" ng-app="subAdmin" ng-controller="mainCtrl" ng-init="showuser()">
	

			
			<div ng-repeat="x in data">
			
			
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 black-text margin-bottom-20" >
			
				<span class="header-btn-transparent white pull-right price-room"> {{ x.username }}</span>
			
				{{ x.bathtype }}<br>
			
				{{x.location}} 
				</div>
				
			
			</div>
               
            
			
     

</div>